[2020-02-17 20:45] yugushihuang commented on #613
@hadiTab
I have checked on autoware side, the vehicle model has error: vehicle model parameter robot description does not exist.

[2020-02-17 21:35] yugushihuang commented on #613
@pedroexenberger Good to hear you solve the problem! I still cannot duplicate the example. There is no vehicle show up in my RVIz!

[2020-02-17 21:37] yugushihuang commented on #613
@hadiTab
![image](https://user-images.githubusercontent.com/6857484/74687923-d4353f80-51a3-11ea-9732-41acb7f6994d.png)

[2020-02-17 22:33] pedroexenberger commented on #613
Hi @yugushihuang.
Some hints from my recent experience.

(1) and (3) are not actually a problem to reproduce the start guide. The same happened to me and I could do it even though. (1) is a problem that happens while loading the map on rviz (not sure why exactly), but has been mentioned in other issues (e.g., https://github.com/lgsvl/simulator/issues/411#issuecomment-538521227). The solution for s

[2020-02-18 01:52] DarrenWong commented on #599
@yugushihuang  no..  tries many many times...

[2020-02-18 03:02] yugushihuang commented on #613
@pedroexenberger Thank you so so much for such a thorough and detailed answer!
I have never tried launch my_mission_planning.launch as I strictly follow the instruction of first clicking map then sensing. And supposedly, the vehicle should appear. But in my case, the vehicle never appear and I got vehicle model error message in Rviz as the pic I attached. I have never saw the red line appear at al

[2020-02-18 03:51] Martin20 commented on #627
It does not help me. Which part of the [old issue](https://github.com/lgsvl/simulator/issues/166) solves this problem?

[2020-02-18 04:12] ntutangyun commented on #627
on Jun 6, 2019,  yanbec replied:

do check out the file `modules/planning/traffic_rules/traffic_light.cc` if the stopping reason is due to traffic light. You could even comment out the following part to let the vehicle ignore the traffic light:

[code]

I don't have the solution either, besides commenting this part out...

[2020-02-18 05:19] ntutangyun opened #639 "Apollo 5.0 Gomentum Map lane missing"
Hi team,

Just found that for [Apollo 5.0 Gomentum Map](https://github.com/lgsvl/apollo-5.0/tree/simulator/modules/map/data/gomentum),

there is `lane_238` in base_map.bin,  but there is no `lane_238` in the routing_map.bin.

I've used javascript to parse the protobuf binaries. Kindly check and let me know if I'm wrong. Thanks.

[2020-02-18 08:49] pedroexenberger commented on #613
@yugushihuang you are welcome.

Do you mean a draw of a vehicle in RViz? You actually don't need it. What is important is to have the sensors working. That will be clear when the lidar point cloud appears in RViz. I just ignored the error in the vehicle module. I think the problem is that you are asking RViz for a topic that is not provided by anyone. I think you can uncomment the `` line inside t

[2020-02-18 10:01] mehmetdogru opened #640 "Autoware Vector Map doesn't work in op_planner"
Hi,

The vector maps created for autoware doesn't work with "Autoware 1.13 -> op_planner"
Have you tried using these vector maps in op_planner?

Op_planner checks version (version 1 and version 2) for vector maps. When the vector maps data provided by lgsvl (autoware-data) is loaded, op_planner says it is version 2 vector map however when it reads the data it gives a segmentation error at the end

[2020-02-18 16:08] yugushihuang commented on #613
@pedroexenberger Thank you very much!

So for the start guide to succeed, I should get my vehicle in LGSVL move autonomously(driving by autoware) right? I think I have the point cloud correctly loaded. But still no, after I click the run button in LGSVL, my vehicle just stay still.

I have viewed the youtube video you attached of using the '2D pose estimate' functionality. I cannot find an open pl

[2020-02-18 16:19] michaelhany55 commented on #632
@luqiang21 @shalinmehtalgsvl  @martins-mozeiko
Can anyone help me with this issue, it's persisting and I can't solve it. I also couldn't find any other issue that is similar to mine.

Thanks.

[2020-02-18 17:37] pedroexenberger commented on #613
@yugushihuang The video was just to show you how to use the 2D pose estimation (placing the arrow in the road, that's it), all the rest is in a different context, so don't take it in account.

Also, you have to play the LGSVL simulation (the play button) before you use the 2D pose estimation. The LGSVL simulation is what provides the lidar data to autoware (and which can be visualized as the conce

[2020-02-18 18:03] hadiTab commented on #627
@Martin20, I've encountered the issue you are describing when the traffic light goes out of the view of the camera. That is, it initially detects the traffic light and begins to stop, but right at the stop location the traffic light is just a bit outside the view of the camera and it fails to detect it and just shows "unknown". Once you go forward a little bit, you will have entered the intersecti

[2020-02-18 18:06] luqiang21 commented on #632
@michaelhany55 I cannot see anything causing `perception` not working from the screenshots. Since the `perception` is not working, we should try only this module. Steps should be:
- Run `Localization` in dreamview
- Run `Transform` in dreamview
- Run `Perception` in terminal by running `perception.sh start_fe`, check whether there are errors.

And also run `cyber_monitor` in terminal to check whet

[2020-02-18 19:52] EricBoiseLGSVL commented on #637
@riveranb Yes, you need to look at our changes to HDRP that we include in the source code to see how we enable LiDAR detection.  It is in the Packages folder on the root.  Normally this is just a JSON file of packages and versions but we move it to apply shader changes we need.  You can create your own but it still may need modification in HDRP.  Be aware that Unity makes changes to HDRP and can b

[2020-02-18 19:54] EricBoiseLGSVL commented on #638
@luqiang21 does autoware support this?

[2020-02-18 19:56] EricBoiseLGSVL commented on #639
@ntutangyun our importer might have simplified the lane data to work better in Simulator.  We can check, thanks

[2020-02-18 19:56] EricBoiseLGSVL commented on #639
@luqiang21 did we update Gomentum after our importer fixes?

[2020-02-18 22:44] AIasd commented on #599
I encountered the same problem (system: ubuntu18.04 GPU: RTX2080TI). Does anyone solve it?

[2020-02-19 13:34] michaelhany55 commented on #632
@luqiang21 I tried these steps and the same errors occurred:

- `[cyber_launch_27492] ERROR Process [mainboard_default_27492] has finished. [pid 27516, cmd mainboard -d /apollo/modules/drivers/tools/image_decompress/dag/image_decompress.dag -p mainboard_default_27492 -s CYBER_DEFAULT].`

- `[cyber_launch_27491] ERROR Process [mainboard_default_27491] has finished. [pid 27523, cmd mainboard -d /apo

[2020-02-19 19:06] luqiang21 commented on #632
@michaelhany55 Thank you for your reply. Errors for `lidar16_front_up_novatel_extrinsics.yaml` file missing doesn't matter since we are not using these sensors. The duplicated process should be because you somehow ran the process twice through dreamview and terminal. But I believe all these cannot give me a clue on the cause.

As you mentioned, you cannot start `dreamview`, I guess something wrong

[2020-02-19 19:10] cyberphysicalrobotics commented on #638
@pedroexenberger Which map were you using?

[2020-02-19 23:39] pedroexenberger commented on #638
@cyberphysicalrobotics I'm testing with BorregasAve map. I also tried setting up the San Fran. map (to check if it was a map issue), but it was too slow because the map is too large and I'm running both LGSVL and autoware in the same host. The single lane map does not have traffic lights. Haven't tried with other maps.
Thank you for the help.
Cheers.

[2020-02-20 02:11] EricBoiseLGSVL commented on #638
@pedroexenberger cubetown has lights to check.

[2020-02-20 08:22] michaelhany55 commented on #632
@luqiang21 thanks for your quick reply. I also have to note (regarding building apollo again) that I followed the instructions here [debug dreamview start problem](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_debug_dreamview_start_problem.md) and found out that my CPU does not support AVX instruction; therefore, I had to remove the `--copt=-mavx2` line. Would this affect anyt

[2020-02-20 08:28] SeymurSm opened #641 "Gps outputs data with offset"
Hi Guys,

We are working with Gps sensor and Autoware to apply localization by means of Autoware. We noticed that the Gps sensor has returns longitude value with offset that is shown on below snapshot. I think both latitude and longitude should be values near to 0 if our map built near to Unity global origin. When I change 'IgnoreMapOrigin' flag to false on pre-built maps such as BorregasAvenue it

[2020-02-20 10:41] pedroexenberger commented on #638
@EricBoiseLGSVL Thank you for the input! I'll give it a try and report the outcome later.

[2020-02-20 13:43] etendue commented on #617
I finally got it work.
I just add the proxy information to httpClient(). It is not a elegant solution, but it works.

[2020-02-20 15:26] pedroexenberger commented on #638
@EricBoiseLGSVL  and @cyberphysicalrobotics, thank you for the help so far. I tried proceeding with the traffic light detection in the cubetown map, as suggested. Unfortunately it also didn't work.

I also noticed that the /roi_signal topic is not even there.

![Screenshot from 2020-02-20 14-57-05](https://user-images.githubusercontent.com/8921809/74946286-58343500-53f9-11ea-822b-b2b3129bf66a.png)

[2020-02-20 18:10] luqiang21 commented on #632
@michaelhany55 Sorry I am not very familiar with AVX, but our apollo repo did some change on AVX2 [here](https://github.com/lgsvl/apollo-5.0/commit/cf43e41c). You can refer to it.

Were you able to run `perception` after rebuild?

[2020-02-21 07:30] MaxandreOgeret opened #642 "Map is shifted"
Hello,

I was using the version 2019.09 and the map BorregasAve to make my tests and I updated to the last version 2020.01 and now the map is totally shifted, hundreds of meters away, and the gps localization is not aligned anymore.

[2020-02-21 07:46] ntutangyun commented on #642
@MaxandreOgeret Hi could you try to download the new maps from [lgsvl content map](https://content.lgsvlsimulator.com/maps/)

[2020-02-21 13:46] yugushihuang commented on #613
@pedroexenberger Sorry for the late response, but it seems my car finally find itself in the map! Thank you so much for all the patience!!!

[2020-02-21 14:02] pedroexenberger commented on #613
@yugushihuang nice to hear that! I think if that is all you can close the issue :)

[2020-02-21 14:40] pedroexenberger commented on #642
@MaxandreOgeret may I ask you how do you get gps localization to work? I read autoware only accepts Japanese coordinates. NDT algorithm is fine, but sometimes the car gets lost while driving, so I think having gps along NDT would be better. Thank you!

[2020-02-21 14:43] pedroexenberger opened #643 "Add static obstacle"
Hi all.
Is there a manner to place a static obstacle (say a car or a person) in the middle of the road? I want to try out the obstacle avoidance module, and that would be helpful. Can I do something like that in the simulator (or any other manner to place a static object)?
I'm using autoware 1.12.0 and LGSVL 2020.01.

Thank you!

[2020-02-21 15:59] michaelhany55 commented on #632
@luqiang21 sorry it took me a while to reply, but I was trying to build it in different ways, but nothing worked. I am really stuck and frustrated with not being able to make it work. Any suggestions would be useful.

[2020-02-22 01:52] simon13579 commented on #636
There is no point_cloud topics inside cyber_monitor, only camera related topic. Is it correct that simulator only output the camera message?
![0222-01](https://user-images.githubusercontent.com/38149116/75083958-b9721a80-5557-11ea-812e-a1adedcaf074.png)

And I check some document of Apollo 3.5, it seems that its perception don't requires lidar data.
In dreamviewer the warning message "Raw IMU mess

[2020-02-22 07:53] liiiu opened #644 "Can't import lgsvl"

[2020-02-22 07:56] liiiu opened #645 "Can't import lgsvl into editor"
hi, lg

I cloned the latest repository from github and used unity editor to open the project with an error.

[code]

I hope to get a solution. thx.

[2020-02-22 09:17] simon13579 opened #646 "Lidar point_cloud message is not received (Apollo 5.0)"
I am running Apollo 5.0 and Simulator 2019.12. In simulator's bridge view, there is a point_cloud message rolling, but in cyber_monitor  there is only camera related messages.

![Screenshot from 2020-02-22 16-50-41](https://user-images.githubusercontent.com/38149116/75089752-28bb2f00-5597-11ea-9fc2-a72fb551e8a2.png)

[2020-02-23 07:01] NCTUyoung opened #647 "Using Autoware with Python-api"
I am using **Autoware1.12** and **LGSVL 2020.1** on linux.
For some reason I need to control dynamic object/signal using python-api.

I can successfully run Autoware with LGSVL or Python Api alone , but fail to connect these two things.
Is there any way to run LGSVL with Autoware and Pythonapi at the same time ?

The most similar tutorial in document is [https://www.lgsvlsimulator.com/docs/api-exa

[2020-02-23 07:34] ntutangyun commented on #644
@liiiu If this is related to PythonAPI, make sure you've installed the package with `pip install . `

[2020-02-23 07:38] ntutangyun commented on #646
@simon13579 coud you try to press 'PageDown' button in `cyber_monitor` terminal. looks like some topics are in next page...

try to run `cyber_monitor` in a more larger terminal window.

[2020-02-23 07:44] ntutangyun commented on #643
you could use the PythonAPI to spawn agents, like NPC vehicles or pedestrians.

Check out the docs [here](https://www.lgsvlsimulator.com/docs/python-api/).

[2020-02-23 10:27] riveranb commented on #637
Though you are right, you had opened source codes there. But there are just too many sources to read/research (HDRP + LGSVL parts).
However, after several days trying, finally I found clues in generated HDRP/Lit.shader codes.
After I add shader passes references from generated HDRP/Lit.shader, passes about Lidar-pass, sematic-pass, depth-pass.
Then my shader works in LGSVL simulator runtime! That'

[2020-02-23 17:43] ntutangyun commented on #639
I have found another lane data mismatch:
(Latest map files are pulled just before this comment)

in borregas_ave's the traffic light junction:

<img width="920" alt="borregas_ave_junction_0" src="https://user-images.githubusercontent.com/16061105/75116746-7b374100-56a6-11ea-922e-04dc7e385f45.png">

It's clear that `lane_41` should be successor of `lane_17`.
However this relation is missing from bo

[2020-02-24 10:21] pedroexenberger commented on #643
Thank you! I'll take a look.

[2020-02-24 12:21] simon13579 commented on #646
@ntutangyun thanks, all the topics are shown when I run in a larger terminal window. But the problem is that the perception is turned off for unknown reason.
![Screenshot from 2020-02-24 19-43-29](https://user-images.githubusercontent.com/38149116/75151888-b25b3000-5742-11ea-8c44-c18551d2a4cc.png)

I run cyber_launch start xx/xx/perception.launch to start the perception module, but only perception

[2020-02-24 12:56] michaelhany55 commented on #632
@luqiang21

1. I removed all apollo images and local git repository and tried to follow the instructions starting from pulling the docker image.
2. Commented out the `--copt=-mavx2` line in `apollo.sh` file.
3. Entered docker.
4. `./apollo.sh build_gpu`
5. `bootstrap.sh`
6. `bridge.sh`
7. Started the simulator with a LinkolnMKZ vehicle having all Apollo 5.0 sensors and BorregasAve map.
8. Started

[2020-02-24 14:10] ntutangyun commented on #646
@simon13579 I'm also new here. But somehow looks like the three submodules of perception are running.  How do you know that only `motion_service` is running and the other two crashed ?

If they do crash, does it happen before they receive any messages or after they processed some messages ?

You could try to bring up the perception module for a while, before starting `bridge.sh`, see if they crash

[2020-02-25 01:52] #644 closed

[2020-02-25 01:52] #645 closed

[2020-02-25 02:15] liiiu opened #648 "Ubuntu 16.04 build failed"
hi, lg

I went to the last step according to your documentation, and I got an error when I built the simulator.

What's wrong? thx.

![2020-02-25 10-12-22屏幕截图](https://user-images.githubusercontent.com/49083466/75208842-b37a7480-57b7-11ea-98b0-0e8ac1ed7d2b.png)

[2020-02-25 11:42] simon13579 commented on #646
Since the frame ratio of apollo/perception/obstacles and apollo/perception/traffic_light is zero, I guess they are crashed because they are not called at an interval.
My graphic card is GTX 1660ti whose memory is 6G, I am afraid that the performance of my graphic card might be an problem.

[2020-02-25 19:45] EricBoiseLGSVL commented on #648
@liiiu Can you post the editor logs please?

[2020-02-26 01:22] shalinmehtalgsvl commented on #642
Hi @MaxandreOgeret ,

Changes had been made to maps so that they match real-world positions and orientations. We updated the HD maps with the latest release.

https://content.lgsvlsimulator.com/maps/borregasave/

[2020-02-26 01:23] liiiu commented on #648
I have solved the problem because of mu nvidia driver.
thx

[2020-02-26 01:24] #648 closed

[2020-02-26 01:45] hadiTab commented on #641
What versions of Autoware and the Simulator are you using?
GNSS localizer in Autoware only works in the Japanese coordinate system. There are also some issues related to working in coordinates near (0, 0).

[2020-02-26 01:53] hadiTab commented on #647
@NCTUyoung are you actually using Autoware 1.2 or did you mean to say 1.12? Version 1.2 is very old and I don't think we ever supported it.

Have you looked at [this](https://github.com/lgsvl/PythonAPI/blob/master/quickstart/22-connecting-bridge.py) quickstart example for the PythonAPI? I think it's a good example for what you are trying to achieve.

[2020-02-26 02:41] ck-leo commented on #633
@EricBoiseLGSVL I have the same issue, My graphics card is GeForce RTX 2060 6G

the error file is :
Desktop is 1920 x 1080 @ 144 Hz
[Vulkan init] extensions: count=1
[Vulkan init] extensions: name=VK_EXT_debug_report, enabled=0
Vulkan error VK_ERROR_INCOMPATIBLE_DRIVER (-9) file: ./Runtime/GfxDevice/vulkan/VKContext.cpp, line: 333
Vulkan error./Runtime/GfxDevice/vulkan/VKContext.cpp:333
Vulkan det

[2020-02-26 03:42] ntutangyun commented on #639
I've searched all the junction lanes (those connecting lanes that belong to junctions),
* junction one, `lane_41` has no predecessor lane,
* junction two, `lane_48` has no predecessor lane.

and they are quite similar cases, both are filter lanes of right turning.
Kindly help check it out.  thank you.

[2020-02-26 05:39] daohu527 opened #649 "How to find the ground truth of the point cloud?"
1. You can obtain the ground truth through the "GroundTruth3DSensor", but its frequency may not be the same as the "LidarSensor", so you cannot accurately obtain the ground truth of the current point cloud.
2. You can use lidar save api to get the pcd file of the point cloud. But cannot get the groud truth of the 3d objects.

How to solve this ? I think maybe should add the ground truth to the lid

[2020-02-26 14:45] #613 closed

[2020-02-26 15:26] skycrawlers123 opened #650 "HDRP Issues"
After I download the Windows source zip and open the project in Unity, I'm hit with 999+ errors. Most are related to the HDRP shaders, HDRP files not being able to be read, and namespaces not being found.

[2020-02-26 22:09] JAckLosingHeart opened #651 "Lidar Localization in Apollo5.0 and LGSVL simulator"
Hello,

Recently I tried to run Apollo5.0 with the simulator using MSF Localization. However, I always got a warning in Dreamview which's "Warning: Lidar Localization Is Abnormal." The messages in the Localization log are like "PcdProcess: Discard a lidar msg because can't get predict pose. " and "Receive a lidar msg, but can't query predict pose." The Lidar Localization didn't seem to work. Then

[2020-02-26 23:09] EricBoiseLGSVL commented on #633
@ck-leo Please see if this [issue 287](https://github.com/lgsvl/simulator/issues/287) helps.

[2020-02-27 07:45] ck-leo commented on #633
OK, Thanks.

——
------------------------------------------------------------------
发件人：Eric Boise <notifications@github.com>
发送时间：2020年2月27日(星期四) 07:09
收件人：lgsvl/simulator <simulator@noreply.github.com>
抄　送：ck-leo <ck_leo@aliyun.com>; Mention <mention@noreply.github.com>
主　题：Re: [lgsvl/simulator] Simulator crashed from "LGSVL Simulator Configuration" (#633)

@ck-leo Please see if this issue 287 he

[2020-02-27 08:31] ozguradas opened #652 "I can't control the car in Lgsvl with Logitech G920"
Hello all,
I am currently using the lgsvl 2020.01 version. Before we add our map and car, we tried to control standard map (Single road or san fran.) and standard car (Jaguar with no bridge and bridge autoware). Anyway i'm new on this. Is there anything that i have to do before plug in the g920.

I can control the car with keyboard in Lgsvl.
I downloaded and installed Logitech G Hub and Logitech G

[2020-02-27 16:23] pedroexenberger opened #653 "How to sync messages timestamp between LGSVL sensors and Autoware"
Hi all.
I'm facing a problem while running LGSVL (20.01) with Autoware (1.12.0), which I descibe above. I would really appreciate any kind of help here.

**Summary of the problem:**
 Basically the timestamp from lidar (velodyne), published in the /points_raw topic is increasingly behind the ROS time. This leads to problems in some modules I want to use.

*Question: **Is there a way to synchronize

[2020-02-27 19:33] tgif73 opened #654 "Publishing to LGSVL from rosbridge"
Hello,

I'm trying to use LGSVL to send/receive data to/from our own AD stack, which will be ros based.
Currently, I'm evaluating/testing with 2020.01 version (binary) on windows 10 and running rosbridge (ros melodic) on windows WSL (linux). I'm trying to subscribe/publish simple data to/from LGSVL from terminal.
That being said, I can subscribe to sensor data coming from LGSVL ($rostopic echo /<t

[2020-02-27 22:10] EricBoiseLGSVL commented on #640
@luqiang21
Do you know what could be the issue here?
@mehmetdogru Do you have any logs that you can post?

[2020-02-27 22:12] EricBoiseLGSVL commented on #650
@skycrawlers123 We use gitlfs.  You need to clone with lfs enabled. See documentation [here](https://www.lgsvlsimulator.com/docs/build-instructions/).

[2020-02-27 22:13] EricBoiseLGSVL commented on #651
@hadiTab Do you know what is failing here?

[2020-02-28 00:27] pranavbajoria93 commented on #445
I am facing the same problem. I am using the rosbridge fork and getting an alternating connected-disconnected error in the rosbrisge terminal and a flickering screen in the simulator.

I am not using docker images but have the simulator and ROS melodic running in an Ubuntu 18.04 system. I am using a GM200 [GeForce GTX TITAN X]. My drivers seem to be up to date. Here is my Nividia SMI

![image](htt

[2020-02-28 00:34] tgif73 commented on #654
Problem solved. I needed to $source devel/setup.bash before starting the roslaunch.

[2020-02-28 00:34] #654 closed

[2020-02-28 01:02] EricBoiseLGSVL commented on #652
@ozguradas we have issues with Unity recognizing the Logitech drivers sometimes,  I usually just unplug and re-plug the usb ports.  You can check that Unity is reading the drivers correctly with the Input system debug panel.  Window -> Analysis -> Input Debugger
Also, be sure to add a [WheelControlSensor](https://www.lgsvlsimulator.com/docs/sensor-json-options/#wheel-control).

[2020-02-28 01:04] EricBoiseLGSVL commented on #445
@hyunjaecho94 @christian-lanius @pranavbajoria93 We are still looking into this issue.  This could be a driver issue.  I would try re-installing the driver.  This issue may help [287](https://github.com/lgsvl/simulator/issues/287)

[2020-02-28 01:07] EricBoiseLGSVL commented on #649
@daohu527 We are looking at ways to solve this, hopefully have a solution soon.

[2020-02-28 01:14] daohu527 commented on #649
Thanks, look forward to this feature coming online!

[2020-02-28 08:21] ozguradas commented on #652
Well, thanks for the answer. I didn't know the input debugger section. Now i can control the car via g920.

[2020-02-28 09:18] #652 closed

[2020-02-28 13:23] ozguradas opened #655 "Setting default follow camera location"
Hey again,

I want to change default follow camera location. Is it possible ? I am currently using a truck on LGSVL . So, when i locked the follow camera, i can only see back window of the truck which is not cool for driver.

Let me know if there is a script about that topic.
simualtor ver: 2020.01

[2020-02-28 14:35] SeymurSm commented on #641
@hadiTab  sorry for late reply.
We are using simulator version 2019 by using ignore map origin flag as true in our GPS configuration.
Changin  `double x = easting - 500000d;` to ` double x = easting;`     in  MapOrigin.Conversion.cs has solved our problem.

![Screenshot from 2020-02-28 17-33-34](https://user-images.githubusercontent.com/8245619/75557098-7da3ed00-5a50-11ea-967c-2f7a2796451e.png)

[2020-02-28 15:41] mehmetdogru commented on #640
@EricBoiseLGSVL Here is the terminal output however .log files are empty.

$roslaunch op_global_planner op_global_planner.launch
... logging to /home/leo-sim/.ros/log/fa0d6d1a-57b4-11ea-a2e9-3497f625a91c/roslaunch-leosim-pc-30362.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to interrupt
Done checking log file disk usage. Usage is <1GB.

started roslaunch server htt

[2020-02-28 17:08] pedroexenberger commented on #653
I think I solved it.

Apparently I had an issue with the **rosbridge**. It was not capable of sending data in the required rate.

I then tried _changing the Bridge Type from ROS to ROS2_ when configuring the cars, on the Vehicle tab in the LGSVL UI (on the browser). Surprisingly the bridge was still working and perfectly in sync with ROS time. So I'm sticking with this config even though I'm using

[2020-02-28 17:38] EricBoiseLGSVL commented on #632
@michaelhany55 hardware looks fine, must be software side.  @luqiang21 Thanks for helping Michael.  We will find a solution

[2020-02-28 20:44] EricBoiseLGSVL commented on #655
@ozguradas CameraManager and SimulatorCamera.cs is what you need to edit.  You can also use the WASD keys to move the camera. This works if free and follow mode

[2020-02-28 21:00] TNAV1 opened #656 "LGSVL launch issue"
Last year I used LGSVL 2019.05 with Autoware 1.12.0.  I have since deleted and would like to start again.  I see that 2019.05 is no longer available so I am using 2020.01.
1) When I launch the .exe file it allows me to pick the graphics options.  When I click done it closes the window and nothing happens.
2) When I load the source code into Unity 2019.1.10f1 and run it produces the following error

[2020-02-28 23:25] chronofei opened #657 "GPS data error"
The GPS data in simulator is different from the one in the nmea_sentence msgs? I don't know where is wrong.

[2020-02-29 00:09] pranavbajoria93 opened #658 "Unable to get consistent connection through ROS bridge - screen flickers"
I am trying to setup LGSVL with ROS on a ubuntu 18.04 with NVIDIA Titan X graphics card with all the latest drivers installed fine.

Without the ROS bridge, the simulator runs smoothly. But upon connection with ROS bridge, the screen starts flickering and the connection status continuously fluctuates from connected to disconnected at both the simulator's end and the rosbridge's end.

[Ros_bridge_f

[2020-02-29 00:20] cyberphysicalrobotics commented on #649
Two sensors frequency is set same. But ground truth 3D sensor is less frequency than 10 Hz. Lidar and ground truth 3D data is not synchronized each other. I'll share this with my team.

[2020-02-29 00:31] pranavbajoria93 commented on #658
Player log:

[code]

[2020-02-29 00:39] pranavbajoria93 commented on #658
An excerpt from my player log:

`2/28/2020 5:33:03 PM|Fatal|WebSocket.connect|Connection refused
2/28/2020 5:33:03 PM|Fatal|WebSocket.connect|Connection refused
2/28/2020 5:33:03 PM|Fatal|WebSocket.connect|Connection refused
2/28/2020 5:33:03 PM|Fatal|WebSocket.connect|Connection refused
2/28/2020 5:33:03 PM|Fatal|WebSocket.connect|Connection refused
2/28/2020 5:33:05 PM|Error|WebSocket.sendBytes|

[2020-02-29 01:40] EricBoiseLGSVL commented on #656
@TNAV1
1) You may need to update drivers.  Can you post driver details?
2) Are you cloning and do you have git lfs installed?

[2020-02-29 01:41] EricBoiseLGSVL commented on #657
@hadiTab Do you know what could be the issue?

[2020-02-29 17:22] luodewei commented on #656
I have the same 2. problem, and I am run Unity 2019.1.10f1 on Windows10 not ubuntu

[2020-02-29 20:04] Avps1 opened #659 "Error message while running lgsvl : ''Invalid: Out of date Vehicle AssetBundle''"
Hi,
I got this message : `Invalid: Out of date Vehicle AssetBundle. Please check content website for updated bundle or rebuild the bundle.` while trying to run the lgsvl simulation (See attached screenshot). So I reinstalled lgsvl (linux 2020.01 version) from the latest repo [(https://github.com/lgsvl/simulator/releases/latest)] and ran it again, but with no luck. The same error message appears. I

[2020-03-01 02:56] TNAV1 commented on #656
git config --get-regex lfs
filter.lfs.clean git-lfs clean -- %f
filter.lfs.smudge git-lfs smudge -- %f
filter.lfs.process git-lfs filter-process
filter.lfs.required true

+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.59       Driver Version: 440.59       CUDA Version: 10.2     |
|-------------------------------+----------------------+-------------

[2020-03-01 06:16] ntutangyun commented on #659
please download the latest vehicle assetBundle from [here](https://content.lgsvlsimulator.com/vehicles/)

[2020-03-01 21:14] kanbei opened #660 "Traffic light can't be recognized and large offset on trajectory"
Hello!
I ran Apollo5.0 with Lgsvl, and met some problems.
First, the perception module could be enabled but traffic light couldn't. Once the car run to the intersection, it always stop, although the traffic light become green.
Second, when automatically driving, the car could hardly run along the path, it turned left and right, seemed that large offset on the trajectory.
Finally, if I want to know

[2020-03-02 00:51] luqiang21 commented on #660
@kanbei Have you checked your fps on simulator? If it is less than 30, that means you need a better GPU. It happens also on our machine if the fps is about 10. The traffic light module failure could also due to the same reason.

[2020-03-02 02:02] ntutangyun commented on #660
@kanbei besides a better GPU, in my case, your CPU and memory might also constrain the fps, as it involves huge amount of data transferred between LGSVl simulator and Apollo stack.

[2020-03-02 02:54] NCTUyoung commented on #647
@hadiTab  Sorry for the mistake, It should be 1.12.
I  try this quickstart , but it does not work.
I also check  the version PythonAPI(2020.01).
Finally, I downgrade the LGSVL version to **2019.10-rc1** , and it  work well.

Thank for your kindly reply

[2020-03-02 08:14] luodewei opened #661 "Can‘t open Jaguar2015XE model normally, all colors are pink"
Hello,
I downloaded  Jaguar2015XE https://content.lgsvlsimulator.com/vehicles/jaguarxe2015/,
and open it in unity editor(windows10), why the car colors are all pink?
seem most shader all lost.
![image](https://user-images.githubusercontent.com/16020477/75657300-db2e7880-5ca0-11ea-873b-d9c2b9cf1e33.png)

[2020-03-02 12:47] pedroexenberger commented on #653
Ok, so I was naive.
ROS2 bridge can send data to autoware, which allows me to perform tracking. But I was doing that with the car stopped.

Today I was proceeding my tests and noticed that the car does not follows the path when i try to drive following the vector map. If I go back to the ROS rosbridge (instead of ROS2), it starts driving.

So I noticed that the topic types for the /vehicle_cmd top

[2020-03-02 14:12] vatna opened #662 "Define Apollo route programmatically"
I am using Apollo 5.0 with the Python API and would like to be able to define the route in Apollo programmatically instead of having to do this manually. This was requested before in issue #449 and I was wondering if there was any further news on this? Also, #449 mentioned that LG do this with some Python code over websocket. Would you be able to publish the code to do this?

[2020-03-02 14:45] vatna opened #663 "Logging ground truth data from LG simulator"
I am using Apollo 5.0 with the Python API and would like to log the ground truth data of all vehicles from the LG simulator. Is there a way to do this? A similar question was asked in issue #493 and it was suggested that we log Apollo data. The problem with this is that if Apollo doesn't see the other NPC vehicles, for example it is too far away, there will be no data. So the best way would be to

[2020-03-02 15:09] atinfinity opened #664 "How to restore default setting"
I tried to use LGSVL Simulator 2020.01 on Ubuntu 18.04.
But, I accidentally deleted the setting of Map and Vehicle using Web UI.
Is there a way to restore default setting?

[2020-03-02 16:39] TNAV1 opened #665 "LGSVL LIDAR signal modification"
I would like to modify the LIDAR signal before LGSVL sends it out as /points_raw.  I am new to LGSVL and having trouble finding the proper file to modify.
Any help is appreciated.

[2020-03-02 18:30] EricBoiseLGSVL commented on #661
@luodewei  this is an indicator that you are missing the textures or you are using the non HDRP shaders.  Be sure when you clone the Jaguar repo, you have git lfs installed.

[2020-03-02 18:33] EricBoiseLGSVL commented on #663
@vatna I would suggest creating a new sensor plugin that gets all data from NPC and pedestrian managers.  You would need to write some code for collision status but it wouldn't be much.

[2020-03-02 18:48] EricBoiseLGSVL commented on #662
@vatna We are looking into solutions for this level of control but we do not have it in our current roadmap.

[2020-03-02 18:58] EricBoiseLGSVL commented on #664
@atinfinity Navigate to the project persistent data path and just delete the data.db and backup.db.  Download the latest exe and run it.  It will re-download all settings and maps/vehicles.

This is my windows path
![DataPath](https://user-images.githubusercontent.com/45106230/75707966-b9b79780-5c74-11ea-886b-548c44048f11.PNG)

[2020-03-02 19:01] EricBoiseLGSVL commented on #665
@TNAV1 Look into the LidarSensor.cs file in Assets -> Scripts -> Sensors folder.  I recommend creating a new sensor so you don't have conflicts when you pull changes

[2020-03-02 20:37] codezs09 commented on #641
@SeymurSm I tried your solution and it works to correct GPS lat long. But it seems that the GPS_odometry sensor output also changes correspondingly. So if one is using the odometry information, it may not be a good idea to change that line.

[2020-03-02 21:09] vatna commented on #662
Thanks for the update @EricBoiseLGSVL. Would you be able to publish the code mentioned in #449, or give some tips as to how to do it?

[2020-03-02 22:01] vatna commented on #663
I've had a look at the sensor plugin documentation which seems to create a new camera. When you mention getting "all the data from NPC and pedestrian managers", would you be able to provide more details on how to do it, or point me to the relevant documentation? I haven't used Unity before unfortunately, so I have quite a bit to learn in order to do this.

[2020-03-02 22:06] EricBoiseLGSVL commented on #656
@TNAV1 @luodewei Please post Playerlogs for editor and player. Drivers look fine for @TNAV1 Windows should not have this issue.

[2020-03-02 23:40] atinfinity commented on #664
@EricBoiseLGSVL Thank you for your reply. It's usefull information!

I found setting file in `${HOME}/.config/unity3d/LG Silicon Valley Lab`.
So, I removed this directory. As a result, I could restore default setting.

[2020-03-02 23:40] #664 closed

[2020-03-03 02:16] EricBoiseLGSVL commented on #663
@vatna No worries, I'll try to break up steps.  Glad you are using Unity and our Simulator.
1) Since you are new to Unity, let's just make a new sensor, not a plugin.
2) In an empty scene create a new GameObject in the Hierarchy panel, name it GroundTruthSceneSensor and zero out it's position and rotation and set Scale to 1,1,1.
3) Now let's just duplicate GroundTruth3DSensor.cs because it will be

[2020-03-03 08:31] pedroexenberger commented on #390
@Oasis-Guo it's been a while since this issue were open but what do you mean by using ros_bridge from ROS? I'm facing a similar problem with version 2020.01, but I think it already uses rosbridge from ROS (/opt/ros/kinetic/.../rosbridge..). Was using a rosbridge from that path (from ROS) your solution? Or am I missing something?

Any help is appreciated. Thank you.

[2020-03-03 10:23] asgardus opened #666 "Custom or Unity assets work in a Unity project but not in the simulator project"
I am trying to create custom scenarios with externally created assets and also assets from the Unity store. The custom assets like vehicle body, traffic signs, trees etc are mostly in the .fbx format while some tree assets I imported from Unity Store are .spm format.

The external or store assets imported and work fine in a normal Unity project, but when imported into the simulator project they be

[2020-03-03 18:35] vatna commented on #663
Thanks for all those instructions. I'll work my way through them!

[2020-03-03 18:35] #663 closed

[2020-03-03 19:59] MikeLGSVL commented on #666
@asgardus The SPM file, is a Speedtree file. Change the shader type to HDRP/Lit and on the BroadLeaf tree object, change the Fade Mode to Cross Fade or None. Whichever better suites your project.

[2020-03-03 20:02] Martin20 commented on #627
Thank you @hadiTab. Actually, I turn the camera sensor inside the dreamview and see the image below:
![Capture](https://user-images.githubusercontent.com/24797708/75813675-990f4080-5d4d-11ea-8656-c9fcbbcb2853.JPG)

Is that enough for the detection?

I run cyber_monitor and see the channel for the traffic_light and its module delay is less than 1 second in Module Delay panel. After a while, i.e. 2

[2020-03-03 20:30] EricBoiseLGSVL commented on #666
@asgardus Simulator is an HDRP project.  You will need to convert any assets to HDRP materials.
Edit -> Render Pipeline -> Upgrade project materials to High Definition materials.
Most purchased assets with work fine once updated except custom shaders.  Those will need to be rewritten or use an equivalent HDRP shader and settings.

[2020-03-04 00:52] TNAV1 commented on #656
@EricBoiseLGSVL I am running Ubuntu 18.04, ROS Melodic, Autoware 1.12.0, Unity 20919.1.10f.1, LGSVL 2020.01.  Does that give any additional insight?

[2020-03-04 00:56] EricBoiseLGSVL commented on #656
@luodewei @TNAV1 we think we have seen this bug with ROS and autoware.  We ended up hard booting the pc and it was fixed but we are still investigating.  For Windows we are also trying to update to see if this is causing the issue.  I think it is the ROS bridge on simulator side.  Please post any other details as you debug and we will do the same.

[2020-03-04 01:06] TNAV1 commented on #656
@EricBoiseLGSVL I have rebooted with the same results.  Not sure what you mean for the playerlogs.  A disc search did not turn up anything.  Could you tell me where to look for them in Ubuntu?

[2020-03-04 01:30] EricBoiseLGSVL commented on #656
@TNAV1 logs are [here](https://docs.unity3d.com/Manual/LogFiles.html)
When you cloned did you have git lfs installed.  It looks like you are missing files.  Also can you screen shot your packages installed, Window -> Package Manager

[2020-03-04 01:39] TNAV1 commented on #656
@EricBoiseLGSVL
[Player.log](https://github.com/lgsvl/simulator/files/4284599/Player.log)
[Editor.log](https://github.com/lgsvl/simulator/files/4284600/Editor.log)
[upm.log](https://github.com/lgsvl/simulator/files/4284601/upm.log)

[2020-03-04 01:46] TNAV1 commented on #656
![Screenshot from 2020-03-03 20-44-16](https://user-images.githubusercontent.com/56484500/75836431-dac0db00-5d8f-11ea-82a3-35195ced552c.png)
![Screenshot from 2020-03-03 20-44-04](https://user-images.githubusercontent.com/56484500/75836433-dac0db00-5d8f-11ea-9902-78985732b122.png)
![Screenshot from 2020-03-03 20-43-52](https://user-images.githubusercontent.com/56484500/75836435-dac0db00-5d8f-11ea-

[2020-03-04 02:12] EricBoiseLGSVL commented on #656
@TNAV1 can you post packages in project, not all please.  It's a toggle top left

[2020-03-04 02:19] EricBoiseLGSVL commented on #656
@TNAV1 what map are you trying to load? What is your GPU mem, 6gb?  If You have a large map you maybe running out of memory.

[2020-03-04 02:26] TNAV1 commented on #656
![Screenshot from 2020-03-03 21-25-49](https://user-images.githubusercontent.com/56484500/75839017-a8b27780-5d95-11ea-8533-8db6fad188ea.png)

Sorry, I misunderstood.

[2020-03-04 02:28] TNAV1 commented on #656
I don't even get to the option to select a map.

[2020-03-04 02:35] EricBoiseLGSVL commented on #653
@pedroexenberger we are investigating an issue with ROS.  I think you are having a similar issue.  We will continue to debug this.  Any findings please post here

[2020-03-04 02:39] TNAV1 commented on #656
@EricBoiseLGSVL, I am probably doing something wrong on a very basic level.  See video
https://drive.google.com/file/d/1j8rpQr2XYvMt7VAEzkyzDOLrX8BCaY0f/view?usp=sharing

[2020-03-04 03:04] martins-mozeiko commented on #656
Your Unity uses OpenGL for rendering (you can see in title "OpenGL 4.5" string). HDRP rendering in Unity on Linux requires to use Vulkan on Linux. Make sure you have `libvulkan1` package installed on Ubuntu. You can verify that Vulkan works correctly by running `vulkaninfo` in commandline.

[2020-03-04 06:01] ck-leo commented on #656
[Player.log](https://github.com/lgsvl/simulator/files/4285313/Player.log)
@EricBoiseLGSVL I have encountered the problem that I cannot open browser when I click the button "open browser ..." in the LGSVL simulator window.
![image](https://user-images.githubusercontent.com/48859422/75849727-8ade2480-5e20-11ea-9c24-7896d8864b79.png)
My computer configuration is follow:
Windows 10
i7 9750H @2.60GHz
1

[2020-03-04 06:44] luodewei commented on #661
Yes, I have git lfs installed, and clone the Jaguar repo under Ubuntu and open it in windows10. The size of repo I clone is 31.8MB, I think it is correct

[2020-03-04 08:27] asgardus commented on #666
Thanks for the help!

[2020-03-04 08:27] #666 closed

[2020-03-04 10:49] YiruLyu commented on #653
Hi,
I am facing the same problem, but using Autoware V1.13. I think it might be possible to edit the Autoware source code, just to remove the "LookUpTransform" function related lines so as to let it continue running the code. Up till now it is working fine with me. But I only tried this with "ray_ground_filter", which do this timestamp check in Autoware V1.13 but not in V1.12.
I guess this sync is

[2020-03-04 11:59] pedroexenberger commented on #653
Thank you @EricBoiseLGSVL and @YiruLyu for your input. It is a relief to know I'm not the single one facing this.

I'm taking a look at the LGSVL simulator source code, searching up the differences between ROS and ROS2 bridges. Since publishing the point cloud with ROS2 worked with Autoware, I thought it would be a good starting point to understand why Rosbridge performs well under ROS2 but not un

[2020-03-04 13:09] ozzdemir opened #667 "GpsOdometrySensor publishes inaccurate orientation and velocity."
First of all, I am using autoware and lgsvl in CubeTown.
I observed this problem when I compared orientations found by ndt_maching and odom published by the GpsOdometrySensor.
Does this happen to anyone else?
My solution procedure to this problem is as follows.

Btw, sensor config is as follows.(Configured with respect to change in position)
[code]
The problem is due to unity being left-handed (an

[2020-03-04 13:51] hlezki opened #668 "Angle Between True North"
Hello,

I want to find out direction cosine matrix in order to transform body coordinate frame into local navigation frame (NED / north-east-down). How can I obtain roll, pitch and yaw angles between NED coordinate frame & vehicle corrdinate frame?

[2020-03-04 16:39] pedroexenberger commented on #361
I now this is a closed issue, but I'm facing the same problem. I'm trying to build the simulator from scratch to try solve issue #653. Had the same problem at step 14 of the [instructions](https://github.com/lgsvl/simulator/blob/master/Docs/docs/build-instructions.md)
I followed the steps suggested by @martins-mozeiko (entering the simulator folder to press Ok when selecting the project in Unity H

[2020-03-04 18:34] EricBoiseLGSVL commented on #656
@martins-mozeiko Yes, thanks for finding that.  Linux requires vulkan.  @TNAV1 Also, I see your materials and textures are blank.  This is because you have not unpacked the git lfs files.  Please make sure git lfs is installed and then git pull.  Please be sure you are cloning the repo, not downloading a zip of the project.  It needs to be cloned so git lfs can even work.  Let me know if this help

[2020-03-04 18:51] EricBoiseLGSVL commented on #661
@luodewei Are the shaders on the materials for the vehicle HDRP/Lit?  Have the shaders compiled?  Please go to Edit -> Render Pipeline -> Update Project materials to High Definition materials

[2020-03-04 19:09] TNAV1 commented on #656
@martins-mozeiko - vulkan was the issue thanks.

[2020-03-04 21:22] pranavbajoria93 commented on #445
@EricBoiseLGSVL I have tried reinstalling drivers and made sure that the vulkan drivers are correctly installed. But I am still unable to get a stable connection over ROS bridge. I have mentioned the issue in detail in https://github.com/lgsvl/simulator/issues/658. Could you please see what I might be missing.

[2020-03-04 21:56] EricBoiseLGSVL commented on #658
@hadiTab do you know what might be the issue here?

[2020-03-04 22:00] EricBoiseLGSVL commented on #445
We are looking into updating Unity to see if it helps with the resolution issue.  @pranavbajoria93 I have pinged someone on the team that may be able to help with ROS issues

[2020-03-04 22:16] EricBoiseLGSVL commented on #668
@hlezki you will need to convert from Unity's left handed coord system to the system you need

[2020-03-04 22:17] EricBoiseLGSVL commented on #667
@hadiTab has found this as well and is looking into a fix

[2020-03-05 00:11] TNAV1 commented on #656
@EricBoiseLGSVL - I cloned the repo and git lfs is installed to the best of my knowledge.  It seems to have gotten further.  However, I was expecting to see the "choose map" screen when I launched the player.
https://drive.google.com/file/d/1cu3aw0q6hln6XQZEp-NaqKGrKzwgXo4j/view?usp=sharing

[2020-03-05 00:33] EricBoiseLGSVL commented on #656
@TNAV1 that video didn't record the screen, just the one window

[2020-03-05 00:58] ck-leo opened #669 "cannot open web browser localhost:8080 after launching LGSVL simulator"
I have encountered the problem that I cannot open browser when I click the button "open browser ..." in the LGSVL simulator window.
![image](https://user-images.githubusercontent.com/48859422/75936676-c8dd5600-5ebd-11ea-868b-323df32cddf2.png)
![image](https://user-images.githubusercontent.com/48859422/75936688-d561ae80-5ebd-11ea-94f1-802425ab67ae.png)
And in the website https://account.lgsvlsimula

[2020-03-05 00:59] TNAV1 commented on #656
@EricBoiseLGSVL sorry about that...
https://drive.google.com/file/d/1TvKIB3eeYPSJxP0xC0kK2dmF0k8yQwyQ/view?usp=sharing

[2020-03-05 01:58] ntutangyun commented on #361
hi, @Iqbalparvi ,  after you opened up the Unity editor, try to open the default loader scene at `Assets/Scenes/LoaderScene` by double-clicking it.

[2020-03-05 02:06] ntutangyun commented on #669
@ck-leo Ali-ren ?  you need to build the frontend before opening it in browser.

try:
[code]

[2020-03-05 03:42] TNAV1 commented on #656
The executable works, but still need to get the source code working in Unity.
![LGSVL_1](https://user-images.githubusercontent.com/56484500/75945838-65c1d400-5e69-11ea-8b69-9c1bf586ef2b.png)

[2020-03-05 03:51] TNAV1 commented on #656
@EricBoiseLGSVL for the Unity approach I only cloned.  Did I need to make or build the files.  (I am new to Ubuntu).

[2020-03-05 09:15] joshwapohlmann opened #670 "Custom Sensor not loading properly"
I tried implementing a custom sensor, building upon the [ComfortSensor](https://github.com/lgsvl/ComfortSensor) using the [information in the docs](https://www.lgsvlsimulator.com/docs/sensor-plugins/).
After successfully compiling the sensor, I get a NullReferenceException.
Turned out one item in the Sensor list stored in `Simulator.Web.Config.Sensors` is null.
This lead to `RuntimeSettings.Instan

[2020-03-05 09:29] ntutangyun commented on #670
could you provide more details like simulator logs ?

[2020-03-05 09:36] joshwapohlmann commented on #670
After creating this issue, I found that I failed to update the Sensor Prefab with the Sensor Component attached.

So for people coming after me or the dev team implementing some safety measures:
Your sensor WILL compile as an asset bundle even if you failed to add the Sensor Component to your prefab gameobject. If you happen to find a `null` value in your sensors list it is because while loading t

[2020-03-05 09:36] #670 closed

[2020-03-05 10:01] Amina88 commented on #258
Hi guys, I have installed autoware and ros on wsl. i'm new to it does anyone know how can i see/ read the vehicle_cmd topic. Really struggling would appreciate any help. thank you

[2020-03-05 10:28] ctgloglu opened #671 "[SOLVED] How can I create my own map?"
How do I create my own map in unity

[2020-03-05 10:52] pedroexenberger commented on #361
Hi @ntutangyun, I'm assuming your message was for me (since this issue has been closed for a few months before my comment).

I double-clicked the LoaderScene, but it does not change the Unity Ui, especially the Simulator tab on the top bar menu.

![Screenshot from 2020-03-05 11-48-06](https://user-images.githubusercontent.com/8921809/75974525-377add80-5ed7-11ea-944a-2857e5cda938.png)

Any advice?

[2020-03-05 11:53] luodewei commented on #661
Finally I open the vehicle model normally, thanks @EricBoiseLGSVL
follows are the steps:
1.Create a HDRP project, then create a scene
2.Assets-Create-Rendering-HDRP Asset
3.Edit-Project Settings-Graphics-Scriptable Render Pipeline Settings, Drop 2. HDRP Asset to here
4.Copy the Jaguar2015XE repo to project Assets folder
5.Open Jaguar2015XE.prefab
6.Edit -> Render Pipeline -> Update Project materia

[2020-03-05 11:53] #661 closed

[2020-03-05 11:54] pedroexenberger commented on #258
You can run `rostopic echo vehicle_cmd` in the environment you have ROS set up.
rostopic has also other options (e.g., general topic info: `rostopic info vehicle_cmd`).

You can also see the topics info in the 'Topics' tab in Autoware. You might need to refresh the list of topics and check the 'echo' option.

[2020-03-05 12:18] Amina88 commented on #258
Thanks Pedro. its giving me error unknown topic
 wsl
$ cd autoware.ai
$ rostopic echo vehicle_cmd
ERROR: Cannot load message class for [autoware_msgs/VehicleCmd]. Are your messages built?
$ rostopic info vehicle_cmd
ERROR: Unknown topic /vehicle_cmd
Any ideas how to go about fixing this. Thank you

[2020-03-05 13:15] ntutangyun commented on #671
how about starting with loading one of the existing maps and messing things around ?

[2020-03-05 13:20] ntutangyun commented on #361
@pedroexenberger I've never seen the errors without any information in Unity like that in your screenshot. Are you able to actually run the editor ?

[2020-03-05 13:38] ctgloglu commented on #671
First of all thank you for your answer.As far as I can see on the internet, maps are loaded from the simulator menu.I don't have that menu either.How do I install the simulator menu unity.

[2020-03-05 13:45] ntutangyun commented on #671
@ctgloglu welcome.
the maps are usually loaded from AssetBundles, which are available at [lgsvl Content website](https://content.lgsvlsimulator.com/maps/).  You could download existing maps and vehicles there.

Once you've downloaded the maps, you could
1. start simulator in Unity Engine,
2. add new map entries in simulator webUI, with the address to the downloaded map assetbundle files.
3. run th

[2020-03-05 13:48] pedroexenberger commented on #258
Are you running both autoware and lgsvl simulator, including the rosbridge setup like explained [here](https://www.lgsvlsimulator.com/docs/autoware-instructions/)?

[2020-03-05 13:49] pedroexenberger commented on #361
@ntutangyun Sorry, I've never used Unity before. What do you mean by running the editor?
Thank you.

[2020-03-05 13:55] ctgloglu commented on #671
<a href="https://ibb.co/McbqfsT"><img src="https://i.ibb.co/2vwXSy2/resim.jpg" alt="resim" border="0" /></a>

There is no simulator menu. How can I install

[2020-03-05 13:57] pedroexenberger commented on #361
@ntutangyun  In time, when I proceeded with the installation of Unity 2019.1.10f1 there was no 'support for linux' option (as suggested in the [build instructions](https://github.com/lgsvl/simulator/blob/master/Docs/docs/build-instructions.md) (step 2). I checked Unity, Windows, and WebGL in this case..

![Screenshot from 2020-03-05 14-53-40](https://user-images.githubusercontent.com/8921809/75988

[2020-03-05 13:59] Amina88 commented on #258
Yes I am :(

[2020-03-05 14:08] Amina88 commented on #258
![rviz](https://user-images.githubusercontent.com/9854362/75989102-8ed67900-5eea-11ea-9b61-fdda3acfcd22.png)
![autoware](https://user-images.githubusercontent.com/9854362/75989175-b4fc1900-5eea-11ea-889a-c1ba996284d7.png)

[2020-03-05 14:09] Amina88 commented on #258
Also would the autoware display like that the more i navigate through it. Any ideas what reason would be ??

[2020-03-05 14:17] ck-leo commented on #669
@ntutangyun because I use ali source, then I registered an ali-email.
I have installed node and npm, and then run the command:
cd simulator_project_root/WebUI/
npm install
npm run pack
But I still could not open the browser .

[2020-03-05 14:30] ck-leo opened #672 "error response from daemon when bash ./docker/scripts/dev_into.sh"
I followed the instruction in the website https://www.lgsvlsimulator.com/docs/apollo5-0-instructions/, and got an error when  running bash ./docker/scripts/dev_into.sh. Details are as following :
![image](https://user-images.githubusercontent.com/48859422/75990788-5a85ab80-5f30-11ea-8aad-03251ecf8cc5.png)
And my platform is :
Ubuntu 16.04
i3 8100 @3.60GHzX4
16G DDR4
Intel® HD Graphics (Coffeelake

[2020-03-05 14:38] pedroexenberger commented on #258
Can you check if the bridge is connected? You can check that while running the lgsvl simulator as depicted [here](https://github.com/lgsvl/simulator/issues/613#issuecomment-582047527).

Also, you may try to click on the 'Topics' tab on autoware and search for the topic you want in there. Refresh the topics to make sure you are looking to an up-to-date list of available topics. If you don't find th

[2020-03-05 14:39] pedroexenberger commented on #361
I tried following the same steps in a Ubuntu 16.04 machine that I have access too (I was running on my Ubuntu 19.10 machine previously). In the ubuntu 16, the simulator tab appeared.
Given that, I'm using this Ubuntu 16 machine to build the simulator as I can't afford much time to debug this problem on Ubuntu 19.10 in-depth right now.

Thank you for your help @ntutangyun·

[2020-03-05 15:02] YiruLyu commented on #653
@pedroexenberger Find a solution for my system now! Please consider this:
1. Add in the json of the vehicle in LGSVL browser to publish a "/clock" topic. You can use https://www.lgsvlsimulator.com/docs/sensor-json-options/ .
2. Set the parameter "/use_sim_time" to True for autoware. I did this in terminal by just run "ros param set /use_sim_time True", then the RViz ros time will follow the /clock

[2020-03-05 15:20] Amina88 commented on #258
Thanks for helping out really appreciate it. here is what i get
$ ./run.sh -t 1.12.0
Using options:
        ROS distro: melodic
        Image name: autoware/autoware
        Tag prefix: 1.12.0
        Cuda support: on
        Pre-release version: off
        UID: <1000>
Launching autoware/autoware:1.12.0-melodic-cuda
./run.sh: line 154: docker: command not found

[2020-03-05 16:38] ctgloglu commented on #671
https://github.com/lgsvl/simulator
I get an error when integrating the files in unity
<a href="https://ibb.co/6yw60wF"><img src="https://i.ibb.co/kGBY2BX/error.jpg" alt="error" border="0"></a>

[2020-03-05 19:42] luqiang21 commented on #671
@ctgloglu Did you install git lfs?

[2020-03-05 19:58] luqiang21 commented on #632
@michaelhany55 For me, sometimes `perception` also failed to start, then I do `bootstrap.sh stop` and `bootstrap`. Everything starts to work again. Maybe you can try this to see if it helps.

[2020-03-05 20:23] EricBoiseLGSVL commented on #656
@TNAV1 in editor you need to open Simulator -> Developer Settings and select the vehicle you have setup in the WebUI.  It reads the vehicles saved in database file in persistent data folder and loads that bundle.  If you load editor from LoaderScene.scene, just load the webui and bundles will load from that.  If you create new vehicles and maps, be sure to build with Simulator -> Build... and then

[2020-03-05 20:27] EricBoiseLGSVL commented on #669
@ck-leo this is an issue with mono.  See [here](https://github.com/mono/mono/issues/7117)

[2020-03-06 01:28] ck-leo commented on #669
@EricBoiseLGSVL Yeah, that works , thank you so much.
And @ntutangyun thank you all the same.

[2020-03-06 01:42] TNAV1 commented on #656
@EricBoiseLGSVL for the Unity approach I only cloned.  Did I need to make or build the files.  (I am new to Ubuntu).

[2020-03-06 01:44] TNAV1 commented on #656
@EricBoiseLGSVL is there documentation that you can point me to to use LGSVL in Unity?  My 1st step is I want to run SanFrancisco and the Jag (Autoware) and make minor tweaks.

[2020-03-06 02:59] TNAV1 commented on #656
@EricBoiseLGSVL I found the LoaderUI->StartButton in Unity.  Pressing it it tries to open a browser window, flashes content then goes blank.  (similar to when I did not have Vulkan installed.  Any ideas?
https://drive.google.com/file/d/1Z9s8OKAWw0Q1eX5rFpgBEcm-YBu3KsDI/view?usp=sharing

[2020-03-06 05:16] ntutangyun commented on #361
just click the arrow button to the left of the pause button, on top of the unity editor.

sounds good.

[2020-03-06 10:10] pedroexenberger commented on #653
@YiruLyu, thank you very much for sharing this solution!

Do you know if, in this case, autoware is still running in 'real-time'?

I wonder if the LGSVL /clock is being sended (and also delayed) by the rosbridge, autoware would be receiving and proceessing messages in a slower pace and slower clock, right? (I mean, two messages 1 sec apart in real life would not be 1 sec apart when reaching autowa

[2020-03-06 11:00] joshwapohlmann opened #673 "Custom sensor: Types are not converted"
In 2020.01 I created a custom sensor and used the ComfortSensor as starting point.
I implemented my own data type and everything. The problem is, that the data is not serialized properly.
Debugging showed, that in `RosBridge.cs` l. 312 writers are created with `writer = new Writer<T, object>`. This causes the serialize function (same file) in l. 743 to fail getting the fields of said data type, si

[2020-03-06 11:05] ctgloglu commented on #671
I tried to install according to the instructions written here: https://www.lgsvlsimulator.com/docs/build-instructions/

* git lfs install  output:
Git LFS initialized.

*Window ex. C:\Users\XXX\Documents\Simulator\WebUI

* npm install output:

audited 885770 packages in 12.523s
found 15999 vulnerabilities (3 moderate, 15995 high, 1 critical)
  run `npm audit fix` to fix them, or `npm audit` for de

[2020-03-06 11:11] joshwapohlmann commented on #673
Lines in Question
https://github.com/lgsvl/simulator/blob/cb937deb8e633573f6c0cc76c9f451398b8b9eff/Assets/Scripts/Bridge/Ros/RosBridge.cs#L312
https://github.com/lgsvl/simulator/blob/cb937deb8e633573f6c0cc76c9f451398b8b9eff/Assets/Scripts/Bridge/Ros/RosBridge.cs#L743

[2020-03-06 11:30] Amina88 commented on #258
Hi Guys, Anyone know how i can solve this issue.

£rosrun runtime_manager runtime_manager_dialog.py
libGL error: No matching fbConfigs or visuals found
libGL error: failed to load driver: swrast
/mnt/c/Users/Amina/autoware.ai/install/runtime_manager/lib/runtime_manager/runtime_manager_dialog.py:2865: wxPyDeprecationWarning: Call to deprecated item.
  wx.InitAllImageHandlers()

autowre still does o

[2020-03-06 11:45] ctgloglu commented on #671
I solved problem. https://www.lgsvlsimulator.com/docs/build-instructions/ I was trying to do my step manually in the 5th instruction here.Fixed the problem when doing it with cmd screen.Thank you to friends who are interested in my problem.

[2020-03-06 11:46] #671 closed

[2020-03-06 13:06] ctgloglu opened #674 "npm install error"
I get an error when I install npm.

![2](https://user-images.githubusercontent.com/54224494/76086077-66bb4880-5fc4-11ea-9953-fe88fd6414f3.jpg)

[2020-03-06 13:50] pedroexenberger commented on #258
I never run LGSVL from the autoware app (perhaps there is some config that needs to be performed, but I never went after that). Instead, I navigate to the simulator folder and run `./simulator` from terminal. Check out if this works.

Also, instead of using `rosrun` to open autoware, try `roslaunch`, because this will start various nodes, such as the master node, so it makes your life easier (you

[2020-03-06 15:05] Amina88 commented on #258
when run roslunch instead it gives me this:
RLException: Invalid roslaunch XML syntax: not well-formed (invalid token): line 1, column 1
The traceback for the exception was written to the log file
Any idea what that could be?

[2020-03-06 15:26] pedroexenberger commented on #653
Ok, an update from my side.

I didn't find out if there is any difference in the backend of the "ROS2" version of Rosbridge. So I focused on adapt the interface of ROS2 in the LGSVL code, so it could recognize the vehicle_cmd topic (and drive the car), as explained in https://github.com/lgsvl/simulator/issues/653#issuecomment-593384836.

Changed a few lines in the LGSVL simulator code, namely in `

[2020-03-06 15:43] pedroexenberger commented on #653
Ok, an update from my side (perhaps a solution).

I focused on adapt the interface of ROS2 in the LGSVL code, so it could recognize the `vehicle_cmd` topic (and drive the car), as explained in https://github.com/lgsvl/simulator/issues/653#issuecomment-593384836. I did this since using ROS2 as the bridge of the simulated car seemed to publish lidar data at the required speed to autoware.ai (even th

[2020-03-06 16:30] Amina88 commented on #258
Also when run:  rosrun runtime_manager runtime_manager_dialog.py that's what it shows. yet still opens the runtime manager yet no lgsvl or vehicle_cmd. Also what is the twist _cmd? is it same as vehicle_cmd
/mnt/c/Users/Amina/autoware.ai/install/runtime_manager/lib/runtime_manager/runtime_manager_dialog.py:2865: wxPyDeprecationWarning: Call to deprecated item.
  wx.InitAllImageHandlers()

[2020-03-06 17:39] EricBoiseLGSVL commented on #656
@TNAV1 Try Ctrl-R to refresh the page when focused on the browser

[2020-03-06 18:06] EricBoiseLGSVL commented on #674
@ctgloglu What platform are you on?

[2020-03-06 18:07] EricBoiseLGSVL commented on #672
@ck-leo I don't think non Nvidia is supported. @hadiTab ?

[2020-03-06 18:08] EricBoiseLGSVL commented on #673
@mark-gerow-lge What is @joshwapohlmann missing in the custom sensor?

[2020-03-06 18:09] EricBoiseLGSVL commented on #669
@ck-leo You are welcome.

[2020-03-06 18:09] #669 closed

[2020-03-06 18:09] ctgloglu commented on #674
Windows 10

[2020-03-06 18:47] EricBoiseLGSVL commented on #674
What version of Node.js do you have?
Can you run the executable release build?

[2020-03-06 19:40] pranavbajoria93 commented on #658
Updates to the issue:
I tried 4 different configurations with LGSVL running on Ubuntu and alternatively on Windows.
Here's what happened.

- Simulator on Ubuntu, ROSbridge websocket (LGSVL's fork) on Ubuntu:  The connection keeps alternating between connected and disconnected. The Ros topics can not echo any data even though the topics are listed.

- Simulator on Ubuntu, Rosbridge via the sensor.l

[2020-03-06 20:16] ctgloglu commented on #674
node.js version v12.16.1

[2020-03-06 21:57] EricBoiseLGSVL commented on #674
I think those are just warnings.  Can you run> npm run pack
What output do you get?

[2020-03-06 22:16] TNAV1 commented on #656
@EricBoiseLGSVL no luck

[2020-03-06 22:28] lemketron commented on #672
Apollo may or may not require an Nvidia GPU (e.g. if you don't need perception, for example) but our setup instructions assume nvidia-docker. Could you try installing nvidia-docker to see if that gets you past this particular error? If so, you'll then need to avoid enabling Apollo perception (which does require GPU).

[2020-03-06 23:07] EricBoiseLGSVL commented on #656
Can you post here the url that the webui is trying to reach? I can't see it from video

[2020-03-06 23:55] TNAV1 commented on #656
http://localhost:8080/

[2020-03-07 00:12] ctgloglu commented on #674
Creating a development build...
Browserslist: caniuse-lite is outdated. Please run next command `npm update`
        5.21 MB         dist\main.js
        35.92 KB        dist\main.css

Compiled with warnings:

./src/components/SimulationManager/FormTraffic.js
  Line 18:  React Hook useCallback does nothing when called with only one argument. Did you forget to pass an array of dependencies?  react-

[2020-03-07 04:40] lemketron commented on #672
We have confirmed that with Apollo 5.0, docker has to have nvidia-docker. So it is not possible to run with Intel/AMD GPU. A CPU-only version Apollo is not under maintenance any more.

[2020-03-07 10:31] ctgloglu opened #675 "Hd map import error"
I get an error when loading the map in apollo format.
![error-1](https://user-images.githubusercontent.com/54224494/76141699-e7874c80-6077-11ea-8617-d0dc75dbc3a6.jpg)
![error-2](https://user-images.githubusercontent.com/54224494/76141700-e81fe300-6077-11ea-9483-323c4adc16e5.jpg)

[2020-03-07 11:30] #674 closed

[2020-03-07 11:30] #675 closed

[2020-03-07 12:33] Avps1 commented on #659
Many thanks for your response.

[2020-03-07 13:17] ctgloglu opened #676 "Map error"
I can't see objects, it gives an error

![error-3](https://user-images.githubusercontent.com/54224494/76144179-eb729900-608e-11ea-8382-4b8fe8ec4318.jpg)

- Shader error in 'Shader Graphs/EnvironmentSimulation': 'NewGradient': no matching 0 parameter function at line 4839 (on d3d11)

Compiling Fragment program with INSTANCING_ON
Platform defines: UNITY_ENABLE_REFLECTION_BUFFERS UNITY_USE_DITHER_MAS

[2020-03-07 20:18] RamoramaInteractive commented on #610
After 2 months how can I find out if I included the right source Codes from https://github.com/lgsvl/simulator/pull/453 into my Unity Simulator?

Can I still use the Semantic Camera after enabling the Semantic Segmentation?

[2020-03-08 14:42] ck-leo commented on #672
@lemketron Thank you very much, then I should get an Nvidia GPU.

[2020-03-08 14:42] ck-leo commented on #672
@lemketron @EricBoiseLGSVL  Thanks very much, then I should get an Nvidia GPU.

[2020-03-08 14:55] atinfinity opened #677 "LiDAR data delayed against vehicle"
### System information (version)
- LGSVL Simulator => lgsvlsimulator-linux64-2020.01
- Operating System / Platform => Ubuntu 18.04 64bit
- NVIDIA Driver => nvidia-driver-440
- Vulkan loader library => libvulkan1(1.1.70+dfsg1-1ubuntu0.18.04.1)
- GPU => NVIDIA GeForce RTX 2080 Ti

### Detailed description
I visualized LiDAR data on LGSVL Simulator.
But, LiDAR data delayed against vehicle.

![Screens

[2020-03-08 23:23] TNAV1 commented on #656
I found this and am investigating... https://github.com/lgsvl/simulator/issues/305

[2020-03-08 23:23] #656 closed

[2020-03-09 04:08] rongguodong commented on #677
Can you explain more on your step 1? Do you mean this only happens if you run BorregasAve first, and then run WideFlatMap? How do you "changed to WideFlatMap"?

[2020-03-09 04:36] atinfinity commented on #677
@rongguodong Sorry for not explaining enough. I attached screenshot.

![image](https://user-images.githubusercontent.com/2630323/76183095-922f7480-620a-11ea-87b4-7097b990eb42.png)

![image](https://user-images.githubusercontent.com/2630323/76183143-c014b900-620a-11ea-8d32-6798b64d6a2f.png)

[2020-03-09 15:56] rongguodong commented on #677
I tried the latest build on my Linux machine and cannot reproduce this issue. See my screenshot as below:
![Screenshot from 2020-03-09 08-52-48](https://user-images.githubusercontent.com/11858549/76232375-d6f3e500-61e3-11ea-806f-fc04e787996b.png)

[2020-03-09 15:59] rongguodong commented on #677
What I did is:
* Download the latest build: https://github.com/lgsvl/simulator/releases/download/2020.01/lgsvlsimulator-linux64-2020.01.zip
* Unzip and run it
* Click "Open Browser" button to open the WebUI. (All assets will be automatically downloaded)
* Go to "Simulation" page and select the first simulation. Change its map to "WildFlatMap", and run it.

If you did anything different, please let

[2020-03-09 17:51] EricBoiseLGSVL commented on #610
@RamoramaInteractive Yes, we have looked at the merge request and it should be fine.  We have implemented the same feature and will be releasing it soon.

[2020-03-09 20:50] shalinmehtalgsvl commented on #676
Hi @ctgloglu ,

It looks like you are missing the materials or textures. In the Project Panel, in SingleLaneRoad>Models>SingleLaneRoad>Materials, there should be a SingleLaneRoadDiffuse.png. Can you see the image?

If not, did you have git lfs installed before you cloned the repo? You'll need to do `git lfs install` and then `git pull` to get the missing files.

[2020-03-09 23:20] atinfinity commented on #677
I turned up the vehicle speed by the operation of keyboard.

[2020-03-10 00:20] rongguodong commented on #677
If the speed is too fast, maybe the Lidar points are not generated fast enough to catch the ego car. As long as the ego car slow down or stops, the Lidar points should be correct.

[2020-03-10 12:34] Amina88 opened #678 "Can't run Rviz with autoware"
$rosrun rviz rviz
QStandardPaths: XDG_RUNTIME_DIR not set, defaulting to '/tmp/runtime-sneibus'
[ INFO] [1583843544.906934800]: rviz version 1.13.7
[ INFO] [1583843544.907294400]: compiled against Qt version 5.9.5
[ INFO] [1583843544.907930200]: compiled against OGRE version 1.9.0 (Ghadamon)
[ INFO] [1583843544.914675100]: Forcing OpenGl version 0.
Segmentation fault (core dumped)

[2020-03-10 12:34] Amina88 opened #679 "can't run Rviz with autoware"
$rosrun rviz rviz
QStandardPaths: XDG_RUNTIME_DIR not set, defaulting to '/tmp/runtime-sneibus'
[ INFO] [1583843544.906934800]: rviz version 1.13.7
[ INFO] [1583843544.907294400]: compiled against Qt version 5.9.5
[ INFO] [1583843544.907930200]: compiled against OGRE version 1.9.0 (Ghadamon)
[ INFO] [1583843544.914675100]: Forcing OpenGl version 0.
Segmentation fault (core dumped)

[2020-03-10 17:27] EricBoiseLGSVL commented on #679
@Amina88 duplicate

[2020-03-10 17:27] #679 closed

[2020-03-10 17:32] fabriquant commented on #663
Hello @EricBoiseLGSVL,

I am trying to follow your steps and I have a question regarding your suggested step 6, where I got stuck.

Where should I look for the JSONGroundTruth3D ? I could not find it in the repository.

Many thanks for your help

[2020-03-10 17:44] EricBoiseLGSVL commented on #663
@fabriquant No problem, glad to help.  6) is a data class found in the GroundTruth3DSensor class you duped.  You need to rename or it won't compile

[2020-03-10 17:47] fabriquant commented on #663
Thanks for you quick reply @EricBoiseLGSVL , this is awesome!

I looked for JSONGroundTruth3D in all files (even using grep) and I could not find it...

Could it exists in your fork of the repository and not on Github?
Or should it be generated by other tools?

[2020-03-10 17:55] EricBoiseLGSVL commented on #663
@fabriquant
![JSONGroundTruth3D](https://user-images.githubusercontent.com/45106230/76343690-b5ffc280-62bd-11ea-9330-f480b65687d4.PNG)

[2020-03-10 20:51] fabriquant commented on #663
Thank you @EricBoiseLGSVL ,

I have attached a screenshot of
simulator/Assets/Scripts/Sensors/GroundTruth3DSensor.cs under the **master** branch.

Do you also see that the class JSONGroundTruth3D is not implemented on version f0a7aa8422034 (my git HEAD) ?

![master-branch](https://user-images.githubusercontent.com/54078008/76357722-1c153580-6310-11ea-93ed-c3d8f78b38fd.png)

[2020-03-10 21:20] EricBoiseLGSVL commented on #663
@fabriquant Ah, sorry, this change must not be merged yet.  It's just a data class and needed to be changed to fix compile errors from duplicating the class.

[2020-03-10 22:28] fabriquant commented on #663
Thanks @EricBoiseLGSVL, in that case, I'll use your screenshot for the JSON dataclass.

[2020-03-11 08:02] guruvishnuvardan opened #680 "Request for Clarification - LGSVL Simulator"
Hi,

I am part of a startup from India and we are working on **Semi Autonomous Car Simulation for Indian Roads.**

We have created our own AD algorithm(for simulator) and we have started testing using the following Code - https://github.com/Kyushik/DRL (it's an AD simulation using Unity and DRL), but we realized, we need to run our simulations in a more real time simulator

Can you please clarify

[2020-03-11 09:32] Amina88 commented on #258
$ roslaunch runtime_manager runtime_manager_dialog.py
... logging to /home/sneibus/.ros/log/ee337b6a-6376-11ea-b10d-708bcd595ab7/roslaunch-CLAYTEX33-419.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to interrupt
Done checking log file disk usage. Usage is <1GB.

RLException: Invalid roslaunch XML syntax: not well-formed (invalid token): line 1, column 1
The tracebac

[2020-03-11 16:11] mamemo888 opened #681 "Can I add a vehicle with a local path?"
Hello,
I tried to add the vehicle AssetBundle modified by UnityEditer in WebUI.
However, despite entering the local path to the binary, the message "Failed to add vehicle: You must specify a non-empty name" is displayed.

![Screenshot from 2020-03-12 09-50-11](https://user-images.githubusercontent.com/62067993/76437702-4b55a080-63fd-11ea-9645-547c664472d7.png)

The documentation states:
"When addi

[2020-03-11 16:44] fabriquant commented on #663
@EricBoiseLGSVL , thank you very much, I am now able to clear the compilation errors.

would you have an advice to effectively :
- perform Step 17. If I understand correctly, there is an option (tickbox in simulator environement/boolean in code) that must be set to add the sensor ?

- to debug my way through when adding references to the right objects ?

Many thanks

[2020-03-11 17:47] EricBoiseLGSVL commented on #663
@fabriquant no, 17 is adding sensor in parameters in WebUI like [so](https://www.lgsvlsimulator.com/docs/sensor-json-options/).

Use the existing ground truth options to set your new sensor.

[2020-03-11 17:56] EricBoiseLGSVL commented on #681
@mamemo888 yes you can add a vehicle from a local path but it looks like you didn't build bundle with our editor tool or you renamed.  Please see [this](https://www.lgsvlsimulator.com/docs/assets/)

[2020-03-11 18:34] EricBoiseLGSVL commented on #680
@guruvishnuvardan @zelenkovsky Glad you are looking to use LGSVL Simulator.
1) We created LGSVL Simulator to use any AD stack.  You would need to make improvements to the radar sensor and just use our default map object that is created on new scene.  This has no HDMap data, just the needed game objects to compile.
2) This spec is sufficient, but be aware that the size and scope of the map effects

[2020-03-11 21:06] #659 closed

[2020-03-11 21:25] Avps1 commented on #632
@michaelhany55 , I have the exact same problem as you do '(https://github.com/ApolloAuto/apollo/issues/10814?email_token=AL6MPQJ3QE3E4S6DVSJ7JXDRGMVU3A5CNFSM4LDP25GKYY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOEOENEOQ)'.

Have you found a solution for this yet?

[2020-03-12 04:15] #662 closed

[2020-03-12 08:43] RanjaniN-10 opened #682 "Integrating UnityCloud and AWS"
Hi LG team,
I am  working with LGSVL Simulator.
I would like to modify this simulation, but it requires high-end hardware. So I prefer to use UnityCloud along with AWS.

Is it possible to integrate UnityCloud and  AWS for LGSVL Simulator training? If so can you help me with that.

Thanks
Ranjani

[2020-03-12 09:31] mamemo888 commented on #681
@EricBoiseLGSVL
Thank you for your reply.
However, I think the bundle was built. A zip file is created in the AssetBundle folder. The asset and folder names also match.

By the way, I have two new questions.
Is the location to extract the zip of the asset bundle specified?
Is the local path I need to enter in “Add new” the path to the unpacked binaries? Or something else?

[2020-03-12 14:42] guruvishnuvardan commented on #680
Thanks @EricBoiseLGSVL :)

[2020-03-12 17:44] EricBoiseLGSVL commented on #681
@mamemo888
1) Asset bundle file name should be vehicle_NewVehicle if successful.
2) The folder that contains the assets that you build in editor should be Assets/External/Vehicles/NewVehicle
3) The name of the vehicle prefab should be NewVehicle.

Does your project match this naming convention before you build?
This is required because Unity needs filenames when dealing with asset bundle loading.

[2020-03-13 04:51] mamemo888 commented on #681
@EricBoiseLGSVL
The build may not have been completed correctly, so I tried again and confirmed your point.
Look at the image below for point 1.
![Screenshot from 2020-03-13 22-33-48](https://user-images.githubusercontent.com/62067993/76590710-632e4100-6531-11ea-8e97-0b20ca67cab3.png)
The file name of AseetBundle is “vehicle_new_vehicle”.

See the image below for the contents of this zip file. Are

[2020-03-13 07:09] Allenhe123 opened #683 "build vehicle AsserBundle failed"
when doing the  build step, i got an error:
FileNotFoundException: Could not find file "/home/abc/simulator/build/AssetBundles/7e351f8f-d2f1-4221-a1ff-b6a3fe871490_environment_main_windows"

I have cloned a map and a vehicle from your repository into simulator/Assets/External/Environments/SanFrancisco  and simulator/Assets/External/Vehicles/Jaguar2015XE

My build directory is simulator/build/.

A

[2020-03-13 13:26] asgardus opened #684 "Replacing own vehicle in simulator"
I am using simulator release 2020.01. I went through the [documentation](https://www.lgsvlsimulator.com/docs/add-new-ego-vehicle/) and issues [1](https://github.com/lgsvl/simulator/issues/441) and [2](https://github.com/lgsvl/simulator/issues/401) about adding a new ego vehicle and had a query-

The documentation and issues seem to address the change of geometry and visual elements of a vehicle. W

[2020-03-13 17:14] EricBoiseLGSVL commented on #662
@vatna here is our code that we use to set EGO from python api
[dreamview-cyber-master.zip](https://github.com/lgsvl/simulator/files/4330725/dreamview-cyber-master.zip)

[2020-03-13 17:17] EricBoiseLGSVL commented on #681
@mamemo888 That looks exactly right.  Now when you link the bundle in the webUI, does it give you an error?

[2020-03-13 21:00] EricBoiseLGSVL commented on #683
@Allenhe123 sometimes building multiple bundles at once can cause issues, especially San Francisco because it has so many assets.  Can you try to just build the vehicle?  Did you make any changes to vehicle prefab or repo?

[2020-03-13 21:05] EricBoiseLGSVL commented on #684
@asgardus We are working on a release soon that lets users create their own C# dynamics class or FMI supported class.  This should be released soon.  In the meantime, yes, all those scripts are necessary to run the simulator.  You will need to edit these classes.

[2020-03-14 00:13] exoticDFT commented on #381
I just discovered this simulator and am running into the same issue after creating an account and logging in. I'm using the 2020.01 release binaries on Fedora 31.

[2020-03-15 07:26] riveranb opened #685 "Static game object settings in MAP assetbundle"
Unity allows us to set some static setting (batching static/lighting static/navigation static/collider static/....) for some optimization purposes.
But When I ran simulator in Unity editor play mode, I found that everything is set as non-static. Seems like all game object static settings are cleared during building assetbundle.
I'm not very familiar with HDRP, does this way I can still expect Unit

[2020-03-16 03:16] mamemo888 commented on #681
@EricBoiseLGSVL
I entered the file name of the bundle, but unfortunately the error did not go away.
![Screenshot from 2020-03-16 21-03-37](https://user-images.githubusercontent.com/62067993/76720317-d62cf700-677f-11ea-8ea7-6ab5fb4d38c0.png)

[2020-03-16 07:35] mamemo888 commented on #681
@EricBoiseLGSVL
By the way, I also tried the asset bundle downloaded from the official website.
https://content.lgsvlsimulator.com/vehicles/lincolnmkz2017/

However, this also showed the same error.
![Screenshot from 2020-03-17 01-33-34](https://user-images.githubusercontent.com/62067993/76733292-dc34cf00-67a3-11ea-9e17-98e76c625a05.png)

I feel like I'm making a fundamental mistake.

[2020-03-16 07:56] asgardus commented on #684
Thanks for responding, Is it possible to provide an estimate for when to expect this functionality?

[2020-03-16 09:48] mamemo888 commented on #681
@EricBoiseLGSVL
After all I did not know the underlying mechanism.
I learned from another person that I had to build an http server. I did this and solved the problem.

I am very grateful for your response so far.

[2020-03-16 09:48] #681 closed

[2020-03-16 09:50] martins-mozeiko commented on #681
The problem is that you are unzipping and providing `XXX_vehilce_main_linux` file to simulator. You should provide path to whole "zip archive" file.

[2020-03-16 10:13] atinfinity commented on #677
@rongguodong Thank you for your reply. Is there a workaround besides slowing down the car?

[2020-03-16 12:28] weiyinxie opened #686 "Invalid: Value cannot be null. Parameter name: entry"
hey as i add my own vehicle to the simulation and try get the simulation to run. i get this issue.
![捕获](https://user-images.githubusercontent.com/44968424/76758082-ea92e300-67c3-11ea-8f6f-159c5fb1fdc2.PNG)
i don't quiet understand where this issue come from... could it happen because of the following definition in my script "agent manager"? because the defintion of parameter can only be found in

[2020-03-16 13:38] meitiever commented on #398
no image published still.

[2020-03-16 16:45] EricBoiseLGSVL commented on #685
@riveranb We were not aware that Unity was clearing these settings.  It should be saved in the meta data.  We will look into this.  It shouldn't effect too much in the meantime.  We don't use static batching because it conflicts with GPU instancing, which gives a better performance boost.  Navigation static is for building nav meshes and not needed after they are created and static colliders are f

[2020-03-16 16:49] EricBoiseLGSVL commented on #686
@weiyinxie It might be an issue with asset bundle creation.  Can you show your folder structure in Assets/External/Vehicles/NewVehicle so I can see how you placed files and named them?

[2020-03-16 16:51] EricBoiseLGSVL commented on #682
@RanjaniN-10 This is not supported at this time.  We are currently developing these features.

[2020-03-16 16:52] EricBoiseLGSVL commented on #678
@Amina88 This looks like an issue with your gpu driver and Rviz.  Any ideas @luqiang21 ?

[2020-03-17 07:48] #647 closed

[2020-03-17 19:08] vatna commented on #662
Thanks @EricBoiseLGSVL ! That also contains some other code that will be extremely useful for what we're doing.

[2020-03-18 11:46] vatna opened #687 "Apollo driving straight into other vehicles"
I'm running Apollo 5.0 to control the (Lincoln2017MKZ (Apollo 5.0)) vehicle on the Cubetown map and have noticed that even when it's driving at relatively low speed, it sometimes drives straight into stationary vehicles. Looking at the Dreamview screen, it looks like it hasn't detected the stationary vehicle at all.

Attached is a screenshot where I put the ego vehicle at a junction and have anoth

[2020-03-18 13:14] ntutangyun commented on #687
several things that you could try to check:
1. check the `perceptoin/obstacle` message from `cyber_monitor`, and see if the perception module indeed does not output any obstacle
2. see if you could plot out the lidar sensor data, and see if the other vehicle is affecting the lidar sensor output.
3. check the frequencies of the messages in the `cyber_monitor` and see the message frequency of sensor

[2020-03-18 17:17] luqiang21 commented on #687
@vatna Besides @ntutangyun's solutions, I think you need to select a vehicle at the top right of `dreamview`, apollo will copy calibration files for the car to corresponding locations. Also, you need to check your simulator's fps, is it running very slow? For detecting static objects, you can check perception configuration files, it might be the `obs_enable_hdmap_input` is true in `modules/percept

[2020-03-18 17:20] luqiang21 commented on #678
@Amina88 Sorry I don't have experience on this, maybe you can refer https://github.com/ros-visualization/rviz/issues/975#issuecomment-419907750

[2020-03-18 17:23] luqiang21 commented on #398
@meitiever Did you see compressed image topics in `rostopic list`? If yes, have you followed @clepz 's solution?

[2020-03-18 18:03] ningfeiwang opened #688 "How to enable Radar in Apollo-5.0"
Hello,

I wonder how to enable radar for perception in Apollo-5.0 with LGSVL. In the json file, I file in the radar configurations. But when I turn on the button of Radar in Apollo-5.0 dreamview, It will turn off automatically. Could you please help me to deal with that?

[2020-03-18 18:20] vatna commented on #687
@ntutangyun, looking at the sensor frequencies in the simulator's "Bridge" panel, the frequency for the lidar jumps about a lot. Sometimes it's at 10Hz, which is where it's supposed to be I think, but most of the time it is at 1 or 2 Hz, and I've seen it as low as 0.5Hz. Is this low value due to the CPU or GPU? I already have the sim at it's lowest resolution and graphics quality. Is there anythin

[2020-03-18 18:20] vatna commented on #687
@luqiang21 I didn't realise selecting the vehicle was important so I'll do that. How do i check the fps of the simulator? I looked in the various panels of data within the sim & couldn't see it.

[2020-03-18 18:44] luqiang21 commented on #687
@vatna Selecting the vehicle is important for the vehicle to have correct calibration files. But you may already have a default one which is very close to the one you want, so it might not have very large effect on the performance. For the fps, I am sorry we don't have it inside the simulator right now, you can use other tools to check it.

From @shalinmehtalgsvl:

[2020-03-18 23:08] EricBoiseLGSVL commented on #688
@luqiang21 does dreamview need any extra steps for radar?

[2020-03-19 05:00] luqiang21 commented on #688
@EricBoiseLGSVL We didn't use Radar for Apollo's running.
@ningfeiwang I believe our simulator didn't simulate the raw radar data, what we simulated is the data after radar driver. So you don't need to enable the radar button on apollo. Currently, it is similar to lidar and camera, you don't need to enable their drivers in apollo as well to get sensor data in apollo.

[2020-03-19 11:25] clonatron opened #689 "Graphic card inquiry"
Hello. I'm planning to setup a simulation environment with two machines, one running linux for apollo and one Windows for LGSVL; I have read in the Apollo git that it doesn't support Titan architectures, and in the requirements it is only shown that a dedicated Nvidia card is required. First, I'd like to know if there are more specific requirements for that card, besides the architecture: informat

[2020-03-19 12:13] vatna commented on #687
@luqiang21, under Nvidia X Server settings -> OpenGL Settings, I don't see 'Enable Graphics API Visual Indicator'. I've got V435.21 of nvidia driver and V11.0 of X Server.

But maybe I don't need fps. I've been monitoring the frequency of the lidar sensor and set up a simple scenario using PythonAPI. If I use the Borregas map, I get decent frequencies but if I use the Cubetown map, it drops signif

[2020-03-19 13:38] vatna commented on #687
Do you think the lidar frequency achieved is limited by the CPU or the GPU, or something else?

[2020-03-19 16:18] ntutangyun commented on #687
@vatna not just lidar frequency, the camera sensor I think also sends quite large amount of data per second. Could you try to remove the lidar and camera sensors and test out the CPU and momory usage with `htop` and also test out the other sensor frequencies in the `cyber_monitor`

[2020-03-19 16:39] luqiang21 commented on #687
@vatna I reported this problem to our team, we are looking into this.

[2020-03-19 16:52] fabriquant commented on #663
Thanks @EricBoiseLGSVL

[2020-03-19 20:43] ningfeiwang commented on #688
Thanks for the reply. I just followed what you said (not enable the driver of Radar) and added some logging in the perception modules. Then, I use the perception.sh to launch LiDAR, camera and Radar perception. But, it seems like that the Radar perception pipeline does not have any outputs. I wonder what the Radar data you simulated is used for. Will it use for Obstacle Detection? Thank you very m

[2020-03-19 20:50] #650 closed

[2020-03-19 20:50] #655 closed

[2020-03-19 20:51] #680 closed

[2020-03-19 21:01] EricBoiseLGSVL commented on #689
@clonatron
Yes, Apollo does not support Volta and Turing architecture GPUs (Titan V and RTX GPUs
Windows running simulator requires at least 8gb.  The more powerful the better though.  Since you are running Apollo on another machine it will help.  Keep in mind the larger and more complex the map, the more ram is needed.  Hope this helps

[2020-03-19 22:36] luqiang21 commented on #688
@ningfeiwang I remember we simulated Radar for Apollo's navigation mode to use. We never tried to use it for standard mode. You can try to visualize radar output using rviz I believe. I don't have too much exposure to how Apollo's perception works with radar data yet.

[2020-03-19 22:58] vatna opened #690 "Looping through waypoints"
I have given a NPC a list of waypoints, and all waypoints are set to the same speed. I am using `npc.follow(waypoints, loop=True)` to loop through them continuously. When it reaches the last waypoint, the vehicle goes back to the first waypoint at the same speed.

But what I'd like is that when it reaches the last waypoint, it teleports instantly back to the first waypoint and then goes through al

[2020-03-20 00:09] rongguodong commented on #687
I tested both Borregas and Cubetown, and did not see any difference in Lidar publishing rate. Both are around 10Hz.
@vatna Can you provide more details on how to reproduce this issue (Lidar publishing rate drop to below 1Hz in Cubetown)?

[2020-03-20 06:20] gaohongfein commented on #475
how to install linux support in windows unity?

[2020-03-20 09:56] liuppppp opened #691 "The simulator and API communicate failed"
hi, lg team

I tried running LGSVL in a LAN environment and my host IP was 10.20.180.212.  So, I changed the hostname and api_hostname in the config.yml file.

When I started LGSVL server, I was able to access webUI through 10.20.180.212:8080,

But I failed when I used the python API to communicate, I found that my listener port state looked like this.

` [fe80::a0b2:6075:3ff1:b198%5]:8181`

I thi

[2020-03-20 12:44] vatna commented on #690
I've also tried to teleport the NPC by setting the state property of the NPC but it goes to the position at the same speed as it was moving instead of being instantly teleported there.

[2020-03-20 12:47] ntutangyun commented on #691
@liiiu 8181 is the default API port, unless it's changed in simulator's config file.

Could you check if you need to whitelist the port `8181` in firewall with `ufw`.

[2020-03-20 13:01] vatna commented on #687
The code I'm using to test this is below. When I monitor the lidar frequency in the Bridge panel of the simulator, it stays around 10Hz for Borregas and is much lower, often 1-3Hz, sometimes dropping to <1Hz.

The frequency of the cameras is fine for both maps. I have Apollo 5.0 running also. Even if I only have one module activated (localization), I see the issue. I have a GTX 1060 6GB GPU which

[2020-03-20 13:12] JockTokk commented on #676
Hello, I have the same problem with SanFrancisco
![Безымянный](https://user-images.githubusercontent.com/61880851/77166610-9b9bc500-6ac5-11ea-84bb-47eef2bba7aa.png)

[2020-03-20 14:59] mmatthe opened #692 "Sensors cannot be enabled once disabled from PythonAPI"
When creating an egoAgent with

[code]

All calls to

[code]

are received by the Simulator (checked by putting a break point to [SensorEnabledSet.cs](https://github.com/lgsvl/simulator/blob/master/Assets/Scripts/Api/Commands/SensorEnabledSet.cs#L22) )

Calling
[code]

the mentioned breakpoint is reached, and sensors are disabled.

Any subsequent call to
[code]

is not triggering the breakpoint an

[2020-03-21 02:34] liiiu commented on #691
I don't think it's the firewall.

I found the problem in `ApiManager.cs`

[code]

We can see that the code does not do IP filtering after DNS resolution

![image](https://user-images.githubusercontent.com/49083466/77217727-8bd0bf00-6b5f-11ea-86c3-c2fe7cc78bcd.png)

[2020-03-21 12:14] JockTokk opened #693 "Shader error"
Hi, LG Team, I have a problem with shader in SanFrancisco map. I've used `git lfs install`. (Windows 10)

![image](https://user-images.githubusercontent.com/61880851/77226030-07456700-6b86-11ea-9dc8-22c4befd697d.png)

Shader error in 'Shader Graphs/EnvironmentSimulation': 'NewGradient': no matching 0 parameter function at line 1537 (on d3d11)

Compiling Vertex program with UNITY_PASS_META
Platform

[2020-03-21 17:36] ozguradas opened #694 "Limiting the Steering Angle"
Hello all,

We have a vehicle on Unity, as you know there is a dynamic spec which is max. steering angle. When i changed it and rebuild, i cant see any differences on LGSVL. And then i found that line in vehicleDynamic.cs :

Tooltip("steering range is +-maxSteeringAngle")]
    public float maxSteeringAngle = 29.4f;

and as you see i changed it as 29.4f. But again it isn't working on Lgsvl. What am

[2020-03-23 11:42] chronofei opened #695 "can't load vector map"
Hey guys, I am working with lgsvl 2020 and autoware 12. Now I can load pointcloud map, but not vector map, the topic /vector_map echo nothing, /vmap_stat echo false.

[2020-03-23 15:35] EricBoiseLGSVL commented on #692
@mmatthe Thanks for finding this bug.  We will look into this.

[2020-03-23 15:38] EricBoiseLGSVL commented on #693
@JockTokk Unity shadergraph is still has some bugs.  Navigate to the shader and double click it.  This will open shadergraph editor.  In the top left, click Save Asset...  This will recompile the shader.  Let me know if this fixes the issue.

[2020-03-23 15:41] EricBoiseLGSVL commented on #694
@ozguradas when a variable in Unity C# classes are public, they are serialized and exposed in the editor inspector panel.  This inspector panel overrides the class initialized value.  This is a common issue when working with Unity.  Just select the prefab and change the value in the editor, then save the prefab

[2020-03-23 15:42] EricBoiseLGSVL commented on #695
@hadiTab  Do you know what the issue is here?

[2020-03-23 15:48] EricBoiseLGSVL commented on #690
@vatna This might require a few changes in Simulator and API.  I'll get back to you on this soon.

[2020-03-23 16:23] JockTokk commented on #693
Thank you! I will try it and I will report the result.

[2020-03-23 16:28] JockTokk commented on #693
@EricBoiseLGSVL, thank you! I will try it and I will report the result.

[2020-03-23 16:45] guruvishnuvardan commented on #682
Hi,
Can I train LGSVL Simulator using Unity and Standalone windows GPU system?

[2020-03-23 16:59] hadiTab commented on #695
@chronofei are you using the maps from our [autoware-data](https://github.com/lgsvl/autoware-data) repo?
If so, which map are you having problems with?
What steps are you following in Autoware? Do you get any errors when you load the maps?

[2020-03-23 17:03] EricBoiseLGSVL commented on #682
@guruvishnuvardan @daviduhm do we have documentation for training with simulator?

[2020-03-23 17:31] guruvishnuvardan commented on #682
@EricBoiseLGSVL - No. I don't have. I am new to LGSVL Simulator. Can you please share me the links to get the documentation for training with LGSVL Simulator

[2020-03-23 17:46] lemketron commented on #682
If you're looking for general documentation on setting up and using LGSVL Simulator, you can find it here:
https://www.lgsvlsimulator.com/docs/
https://www.lgsvlsimulator.com/docs/getting-started/

[2020-03-23 19:16] luqiang21 commented on #639
@EricBoiseLGSVL I think we updated the map.
@ntutangyun Sorry for late reply. I am not sure why `lane_238` is missing since our simulator is providing only the file `base_map.bin`, `routing_map.bin` is generated inside apollo docker. You may want to check more in apollo side.

For junction lanes missing predecessor lane problem, I am guessing it is because some lanes are having wrong `laneTurnType

[2020-03-24 00:00] rongguodong commented on #687
@vatna I can see the rate drop on Linux. Previously, I tested on Windows, and never see the rate drop. I will continue to investigate on Linux.

Are you using Windows or Linux?

[2020-03-24 02:16] Julyers commented on #674
Same, how did you solve it?

[2020-03-24 02:58] EricBoiseLGSVL commented on #674
Did you run npm update?

[2020-03-24 03:23] Julyers commented on #674
Yes, I run. But when I build WebUI in unity, it still show erros as follow.
**Failed to build WebUI. Please make sure npm is installed. Check README.md file
UnityEngine.Debug:LogError(Object)
Simulator.Editor.BuildWebUI:Build() (at Assets/Scripts/Editor/BuildWebUI.cs:40)**

[2020-03-24 04:53] Julyers commented on #674
Who can help me?
![微信图片_20200324125040](https://user-images.githubusercontent.com/59331333/77389522-6d242f80-6dce-11ea-9991-905d0316737e.png)

[2020-03-24 05:03] Julyers commented on #388
So how did you solve it in the end? I also encountered the same problem.

[2020-03-24 05:57] ozguradas commented on #694
Oh i got it, thank you Eric !

[2020-03-24 05:57] #694 closed

[2020-03-24 06:35] eungh1 opened #696 "LGSVL's nmea_sentence doesn't change"
Hello guys, I'm a student working with LGSVL wit Autoware.
I want to use LGSVL's nmea_sentence topic for localization.
So I change Map origin's parameter using Unity. But, it doesn't change.

I attach pictures.

![Screenshot from 2020-03-24 12-20-10](https://user-images.githubusercontent.com/59676885/77388883-bd05f500-6dd4-11ea-9fd3-bfb80d1687c8.png)
![Screenshot from 2020-03-24 12-20-33](https://

[2020-03-24 08:15] chronofei commented on #695
@hadiTab thank you for your reply. I am using the maps from autoware-data repo, and I have installed git-lfs. Now I have pointcloud map, but the map doesn't match the lgsvl scenes, so that the pose that ndt matching give is wrong. And the vector map can't load. I try all the maps that autoware-data repo give. I load the maps via quick start, there is no errors echo. I can load officially map data.

[2020-03-24 09:24] JockTokk commented on #693
@EricBoiseLGSVL, unfortunatelly, there are new errors.

![image](https://user-images.githubusercontent.com/61880851/77409086-c342a400-6dc9-11ea-8f48-7435239d4150.png)

[2020-03-24 09:27] joshwapohlmann commented on #673
@mark-gerow-lge Hello, any chance you could shed some light into this? We really need custom sensors/actors and their custom message types!

[2020-03-24 10:27] vatna commented on #687
@rongguodong I'm running Linux, Ubuntu 18.04.

[2020-03-24 12:48] dr563105 opened #697 "Running the simulator in Google Colab"
Hello!
I'd like to run the simulator in a cloud service such as google colab. Is it possible to do it there? If so, could you please provide me with the instructions?
Thanks.

[2020-03-24 14:30] dr563105 opened #698 "Current Simulator and Lane following tutorial don't work"
Hello!

I'm working on making the lane following tutorial work with the current Simulator release as the steering commands logic has changed since the version in which LF was developed to work(2019.5).

Lane following -- https://www.lgsvlsimulator.com/docs/lane-following/

I contacted David Uhm through email and he told me to look into how controlling ego vehicle part has changed (​​what's in a co

[2020-03-24 15:23] Allenhe123 commented on #683
Appreciate your valuable reply, Eric. I did not do any change to vehicle prefab or repo.
I will try it.

[2020-03-24 17:21] rongguodong commented on #687
@vatna I think you may use the default setup for vehicles, i.e. the MKZ is equipped with one 128 line Lidar and two color cameras (main camera and teleport camera). Can you try to remove one camera (or both), to see if the Lidar publishing rate become normal?

In my case, when I removed the teleport camera from the JSON file, the Lidar publishing rate keeps at around 10Hz.

[2020-03-24 17:30] ntutangyun commented on #674
@Julyers  Please refere to [a possible solution here](https://github.com/lgsvl/simulator/issues/388#issuecomment-536516345)

[2020-03-24 17:35] ntutangyun commented on #639
@luqiang21 Thanks for your kind pointer. Will check it out and update later. Closing for now.

[2020-03-24 17:35] #639 closed

[2020-03-24 18:30] vatna commented on #687
@rongguodong I get the same result as you when I remove the telephoto camera on the short code above. I then used that new vehicle in more complex code, which has NPCs driving around following waypoints, it does improve the lidar frequency but it is still low.

I then tried removing both cameras. The lidar frequency improves again: 10Hz most of the time with the occasional drop, e.g. to 3Hz. So th

[2020-03-24 20:06] EricBoiseLGSVL commented on #693
@JockTokk Ok, in project root, while Unity is closed, delete Library folder.  Then open Unity and it will rebuild this folder.  Let me know if this fixes the issues

[2020-03-24 20:31] EricBoiseLGSVL commented on #697
@dr563105 That is not supported at this time.

[2020-03-24 22:18] rongguodong commented on #687
@vatna Thanks for your updates.
You can delete any sensors you are not using. But according to our experience, only camera and lidar sensors consumes a lot of bandwidth of the bridge.
We are working on a better solution. It is under beta test now and will be available soon.

[2020-03-24 23:51] vatna commented on #687
Thanks @rongguodong. I'll use the workaround for now, and look forward to the update!

[2020-03-24 23:51] #687 closed

[2020-03-24 23:53] #690 closed

[2020-03-25 01:16] Julyers commented on #674
Hello, how did you solve this problem in the end? My mistake is exactly the same as yours. I've been stuck in this place for a long time. I hope you can tell me how you solved it, thank you!

[2020-03-25 01:21] Julyers commented on #674
I tried it but it didn't work. And same problem still exists. Thank you！

[2020-03-25 04:55] martins-mozeiko commented on #674
Try running npm manually in command line inside WebUI folder: `npm run pack-p` This will show more detailed error message.

[2020-03-25 06:41] JockTokk commented on #693
@EricBoiseLGSVL, I've done this instruction, but it hasn't helped.

![image](https://user-images.githubusercontent.com/61880851/77508835-adda8200-6e7c-11ea-9132-d15e4d9a7915.png)

[2020-03-25 09:04] dr563105 commented on #697
Thanks.

[2020-03-25 09:04] #697 closed

[2020-03-25 17:04] EricBoiseLGSVL commented on #693
Can you please double click on shader graph EnvironmentSimulation, click on Save Asset... in the top left.  This will recompile the shader.  The other errors are fine.  You may need to run the HDRP wizard also but try recompiling

[2020-03-25 19:32] guruvishnuvardan commented on #682
@lemketron - Thanks a ton :)

One other question - Can I use Microsoft Azure Virtual Machine and Install LGSVL Simulator for Training?

Since, We were trying to Use Unity Cloud Beta - AWS - LGSVL for training our own simulation, but I heard, We can't use AWS to train LGSVL Simulator.

Can you please suggest us a cloud platform(Virtual Machine with GPU) to install Unity -LGSVL and start training.

[2020-03-26 06:09] JockTokk commented on #693
I'am on Windows.
Unfortunatelly, all is the same

![image](https://user-images.githubusercontent.com/61880851/77615871-6f5acb00-6f41-11ea-8d2f-22822edf41f4.png)

[2020-03-26 16:12] Erdemhan opened #699 "Creating a new map"
Hi , i apologize if the question is already answered or if it is in wrong place.

I am new at lgsvl and unity we are trying to build a simulation for our autonomus vehicle using pythonAPI.
Question is we need to build our own map , actually it is a basic racecourse. We have 3d models of this racecourse i found some information about map annotations but i dont know how to create a lgsvl map with th

[2020-03-26 16:59] EricBoiseLGSVL commented on #682
@guruvishnuvardan Cloud is not supported at this time.  We are working on this feature.

[2020-03-26 17:08] EricBoiseLGSVL commented on #693
@JockTokk This seems like code in the shader is not supported by your GPU or driver issues.  What GPU are you using and what driver version are you on?

[2020-03-26 17:10] EricBoiseLGSVL commented on #696
@eungh1 We have recently updated this sensor but not released the changes.  Let me see if @rongguodong can help

[2020-03-26 17:28] EricBoiseLGSVL commented on #698
@dr563105 VehicleController.cs collects inputs from all control types.  AD, keyboard, wheel, etc.  This is then read by VehicleSMI.cs to calculate and apply force to the wheel colliders.  Look at VehicleControlSensor.cs and follow AccelInput and SteerInput vars.

1) Yes, you are on the right track to run the tutorial.  We will need to update this in a future release.
2) Setup will just be includin

[2020-03-26 17:46] martins-mozeiko commented on #693
This would be really strange if this would be GPU bug. My guess is on Unity messing up generated shader graph code.

@JockTokk Can you do following, please?

1) Double click EnvironmentSimulation shader (or click `Open Shader Editor` button from your last screenshot)
2) On the rightmost node called `Lit Master` click right mouse button and select `Show Generated Code`
3) Now scroll to line 1937 or

[2020-03-26 17:59] EricBoiseLGSVL commented on #699
@Erdemhan
Welcome to LGSVL Simulator.  We are working on updating our documentation on creating user content so you are right to have questions.

Since this is an advanced topic, I'll need to break the steps up.

1) Make sure the track model is game ready.  If the model is millions of polygons, you are going to have a terrible frame-rate.  Please look at game ready models requirements in Unity tut

[2020-03-26 18:19] JockTokk commented on #693
@EricBoiseLGSVL, NVIDIA GeForce GT 720M. Driver version: 391.35.

[2020-03-26 19:28] EricBoiseLGSVL commented on #693
@martins-mozeiko thanks, yes this has been an issue before.
@JockTokk Is your GPU 2gb?  If so, you will have many issues running simulator.  We recommend at least 8gb.

[2020-03-26 19:31] JockTokk commented on #693
@martins-mozeiko, you are right. It's related with system locale.
Line number 9759:
`Gradient _Gradient_AFE042FB_Out_0 = NewGradient(0, 5, 2, float4(0, 0, 0, 0,08529793),float4(0,8490566, 0,8490566, 0,8490566, 0,6470588),float4(1, 1, 1, 0,7617609),float4(0,1037736, 0,1027946, 0,1027946, 0,9264668),float4(0, 0, 0, 1),float4(0, 0, 0, 0),float4(0, 0, 0, 0),float4(0, 0, 0, 0), float2(1, 0),float2(1, 1

[2020-03-26 19:38] martins-mozeiko commented on #693
You changed it here? To dot?
![image](https://user-images.githubusercontent.com/39178216/77689278-a5f30e80-6f5e-11ea-862e-ecb79628134f.png)

And then closed Unity fully, including Unity Hub, and then reopened project again?

[2020-03-26 19:58] JockTokk commented on #693
@martins-mozeiko, yes.

Yes.

[2020-03-26 20:23] martins-mozeiko commented on #693
Maybe try logging out from your user and logging back on Windows. I don't remember how regional settings were applied in Windows.

[2020-03-26 20:46] JockTokk commented on #693
@martins-mozeiko I've already tried that. I've also tried to reboot system.

[2020-03-26 20:52] martins-mozeiko commented on #693
Alternative would be to open `GradientShaderProperty.cs` file and apply these changes manually: https://github.com/Unity-Technologies/ScriptableRenderPipeline/pull/5424/files#diff-c233a20539fb47175c19f9a89d09837c

This file is inside `Library/PackageCache/com.unity.shadergraph@5.16.1/Editor/Data/Graphs` folder.

After that try reimporting the shader again.

[2020-03-26 21:06] martins-mozeiko commented on #682
If you can access Remote Desktop on machine with GPU the simulator will run just fine. Exactly same as on local machine. See following issue where running in Azure was discussed: #236

[2020-03-26 21:20] JockTokk commented on #693
@martins-mozeiko I've just reinstalled project. Errors have disappeared. But...

![image](https://user-images.githubusercontent.com/61880851/77697652-4e858a80-6fc0-11ea-8304-0b31a51c0bb6.png)

In play mode

![image](https://user-images.githubusercontent.com/61880851/77697886-b6d46c00-6fc0-11ea-8b9f-1b0813beb3e1.png)

[2020-03-26 21:47] EricBoiseLGSVL commented on #693
@JockTokk Yes, in editor there is no light source.  In play mode we add the directional light.  To have lighting in scene view press the button top left of scene view panel.

![image](https://user-images.githubusercontent.com/45106230/77700048-b613e980-6f70-11ea-93b3-c2e3d3562e5c.png)

[2020-03-26 22:09] rongguodong commented on #696
@eungh1 Are you using Autowware.AI or Autoware.Auto? How do you display the nmea_sentence topic?
Can you open the GPS visualizer (by click the "eye" icon) to see if Longitude/Latitude there change when you change the map origin?

[2020-03-26 23:30] rongguodong commented on #696
@eungh1 I think I know why. If you are using our default vehicle setup for Autoware, the GPS sensor has: "IgnoreMapOrigin": true. Just change that to false to have map origin NOT ignored. :)

[2020-03-27 01:47] zhwmonkey opened #700 "How to modify the speed of NPC vehicles during simulator running"
Hi, I want to create a scene which the speed of NPC can change suddenly. Is there any way to do it?
Thanks

[2020-03-27 04:27] hadiTab commented on #695
The pointcloud map should match the scene in the simulator. Which scene are you using in the simulator?

[2020-03-27 05:54] JockTokk commented on #693
@EricBoiseLGSVL yes exactly.

[2020-03-27 06:01] eungh1 commented on #696
@EricBoiseLGSVL Thank you for kindness. :)

@rongguodong I'm using Autoware.AI and I display the nmea_sentence topic using just rostopic echo.
I changed the "IgonoreMapOrigin" to false as you told me and it solved the problem. Thank you so much!

[2020-03-27 06:25] JockTokk commented on #693
@EricBoiseLGSVL @martins-mozeiko thank you very much for the help!

For anyone, who will face this problem.

1. You need to change the decimal point in the system from the comma to the point.

![image](https://user-images.githubusercontent.com/61880851/77726868-068b5580-700a-11ea-8431-3951ea0d398c.png)

2. Reboot your computer.

3. In project right click on EnvironmentSimulation shader and choose

[2020-03-27 06:41] eungh1 commented on #696
It is different from the issue, but can I get information on the condition of the vehicle(not cmd, for example, steering angle)? It is okay to think that the vehicle moves immediately according to the cmd value?

[2020-03-27 06:46] #693 closed

[2020-03-27 08:04] gaohongfein commented on #590
@luqiang21 @ntutangyun  Hi team, have you fix the bug in annoation map? When we annotate the map in Unity, can the vehicle change the lane? have you tested?

[2020-03-27 09:12] ntutangyun commented on #590
@gaohongfein hi, in the later updated maps, the lane relationships are restored. and Now Apollo is able to change lanes where possible.

[2020-03-27 09:53] Autofoxsys opened #701 "Rebase Apollo fork?"
I've found the LG simulator to be a great way to test Apollo 5.0
Unfortunately, LG's fork of Apollo is now quite outdated and posing compatibility problems.  While the linux kernel is up to date, the same can't be said for the version of Ubuntu used, nor the Apollo code-base, where bug fixes aren't carried over.
I tried to use some profiling tools to profile Apollo (LG container and codebase) but

[2020-03-27 14:06] Erdemhan commented on #475
Unity Hub > Installs > "Choose your version and click add modules " > Linux build support

[2020-03-27 14:15] Erdemhan commented on #699
Thanks a lot , it worked fine for me.
only problem that i have is:
`Building an AssetBundle for target 'LinuxStandaloneSupport' is not allowed because the required module is not installed`
and i found the solution here:
#475

Now i have another question.
Is there any possibility for limit simulation fps?
Because in this way i have 200+ fps and %99 gpu usage in simulation and its really disturbing.

[2020-03-27 15:57] #699 closed

[2020-03-27 17:56] EricBoiseLGSVL commented on #696
@eungh1 yes.  You can get data from CanBus sensor or create your own sensor that sends what data you need.  Look at canbus as an example on how to create.  Note, if you plan on making a new sensor that is built in simulator, be sure to add prefab to RuntimeSettings.asset sensor list

[2020-03-27 18:00] EricBoiseLGSVL commented on #700
@zhwmonkey How do you plan on sending the command to change speed?

[2020-03-27 19:06] #689 closed

[2020-03-27 20:31] EricBoiseLGSVL commented on #701
@Autofoxsys This is on our roadmap and plan to release support for latest Apollo as soon as possible.

[2020-03-27 21:20] Adel-kn opened #702 "Using meshes and urdf files for Simulation of an environment and truck"
Hello everybody,
I am completely new with LGSVL simulator and have some questions:
1- I have meshes for a real environment (file.3d), can  I use them to generate a simulated environment?
2- Also I have the URDF file and meshes for my truck, can I use them to generate simulated truck?
3- The truck is equipped with particulars radars, how can one model these particular sensors in LG simulator?
Note:

[2020-03-29 08:27] chronofei commented on #695
San Francisco, but I try all the scene and pointcloud map. Maybe I make some mistakes. I don't know how to deal with it.

[2020-03-29 16:47] tleyden opened #703 "Xlib: extension "NV-GLX" missing on display ":0" error trying to launch simulator"
I downloaded and extracted [lgsvlsimulator-linux64-2020.01.zip](https://github.com/lgsvl/simulator/releases/download/2020.01/lgsvlsimulator-linux64-2020.01.zip), but when I try to start the `simulator` executable, I see this screen:

<img width="1001" alt="Screen Shot 2020-03-29 at 9 42 22 AM" src="https://user-images.githubusercontent.com/296876/77854905-df678c00-71a1-11ea-989a-0e01cc5cd230.png">

[2020-03-29 17:44] RamoramaInteractive opened #704 "Can I use custom agent callbacks for my simulation?"
After my simulation is finished, I want to execute another Python (after sim.run()).
I used Python threads, but they cause many errors. The documentary says you can use agent callbacks, but there is only a callback for the collision with a second agent.

Is it possible to write for my own agent a custom agent callback function? For example: I want to start another function, after the simulation is

[2020-03-30 01:39] eungh1 commented on #696
@EricBoiseLGSVL I know your default vehicle for Autoware.ai does not support CanBus sensor. If you support CanBus sensors for Autoware.ai, how can I use that?
Or do you mean to create a sensor that publishes the desired data? I don't know what example about canbus you are talking about. Is it found in the LGSVL document?

[2020-03-30 02:11] tleyden opened #705 "Kernel 'KSampleCopy4_1_x_8' not found while trying to build standalone executable"
I've tried to follow the [Instructions to build standalone executable](https://www.lgsvlsimulator.com/docs/build-instructions/), but running into errors in the Unity Editor:

![Screen Shot 2020-03-29 at 5 39 08 PM](https://user-images.githubusercontent.com/296876/77865935-a8b36500-71e5-11ea-81d7-fcc05c17f57d.png)

I did make sure to use the version of Unity mentioned in the docs:

![Screen Shot 20

[2020-03-30 02:18] tleyden commented on #705
After re-installing the nvidia drivers to:

[code]

based on the advice in https://github.com/lgsvl/simulator/issues/287#issuecomment-524404393, it's getting past the KSampleCopy4_1_x_8 errors, and in fact I haven't seen any errors so far while opening the project in the Unity Editor.

![Screen Shot 2020-03-29 at 7 14 33 PM](https://user-images.githubusercontent.com/296876/77869004-e8804980-71f1-1

[2020-03-30 02:18] #705 closed

[2020-03-30 04:07] tleyden commented on #703
Fixed by upgrading nvidia drivers: https://github.com/lgsvl/simulator/issues/705#issuecomment-605746862

[2020-03-30 04:07] #703 closed

[2020-03-30 09:18] Vincent-Tsui-GWM opened #706 "how to get ego car bridge type info in python api side?"
Hi,
how to get ego car bridge type info in python api side. I am writing a python script test case, and sometimes I may set ego car bridge type to no bridge just for debug of test case. So I need to some way to know the bridge type in python api side  before I run
[code]
when there is no bridge in lg sim server side, the above cmd will cause exception error.

[2020-03-30 16:06] EsquilliDev commented on #350
@chenghanzh Did you found a fix to this issue? I'm getting exactly the same log output.

[2020-03-30 17:27] EricBoiseLGSVL commented on #696
@eungh1 any vehicle can support any sensor.  You just need to alter the JSON sensor configuration in the Simulator WebUI.  You can also build Simulator with a new sensor or build a sensor plugin to send the data you need.  This is in our documentation on our website and in the repo.

[2020-03-30 20:22] EricBoiseLGSVL commented on #702
@Adel-kn Hello and welcome to LGSVL Simulator.
1 - Yes, Unity supports file.3d but I recommend using file.fbx if you can export.
2 - URDF files are not supported.  I did find a converter for Unity [here](https://assetstore.unity.com/packages/tools/modeling/urdf-importer-99316), we have not used this asset before.
3 - You can create custom sensors in simulator or as plugin sensors as bundles.  Thes

[2020-03-31 01:01] EricBoiseLGSVL commented on #704
@RamoramaInteractive

If you want a new callback, you will need to create a new sensor in simulator and add to Assets/Resources/RuntimeSettings.asset or create a sensor plugin.  This will be the what the api calls to get data.  Then, you will create a new Assets/Scripts/Api/Commands c# file.  This will tell the simulator what call back you need and prepare the data.  Finally, you will need to alte

[2020-03-31 08:53] yujie181152 opened #707 "unity package manager error"
![image](https://user-images.githubusercontent.com/4832525/78006288-6027b300-736f-11ea-9096-30053e2738cf.png)

hi,could some one can help me?
when i open the project with unity,an error occured,like the image i posted.
i don't know why this happend,i am sure i can search and load normal package with packagemanager,it's worked.
i wanne ask if your packages in project need to connected some special

[2020-03-31 14:04] PunchShadow opened #708 "Running the LGSVL simulator alongside Autoware.Auto using VNC"
Hi everyone,

I try to follow this [tutorial](https://autowarefoundation.gitlab.io/autoware.auto/AutowareAuto/lgsvl.html) to open LGSVL simulator.
I execute this on server with Ubuntu 16.04 LTS, GTX1080ti and already installed nvidia driver passing GUI by VNC.
Everything goes well till I choose the resolution and click OK

![image](https://user-images.githubusercontent.com/32506160/78035115-3dab8f

[2020-03-31 16:25] EricBoiseLGSVL commented on #706
@Vincent-Tsui-GWM You can add a new Api command in simulator, Assets/Scripts/Api/Command/AgentBridgeGet.cs.  Then, you need to add PythonAPI/lgsvl/agent.py logic to get the data.

[2020-03-31 16:26] EricBoiseLGSVL commented on #707
@yujie181152 Unity needs to connect to it's servers to download the correct packages.

[2020-03-31 17:27] EricBoiseLGSVL commented on #708
@PunchShadow We have not tested with VNC Maybe [this](https://forum.unity.com/threads/trying-to-run-a-linux-standalone-on-aws-ec2-instance.425234/) will help?

What exactly are you trying to do?  Any idea @martins-mozeiko ?

[2020-03-31 18:18] martins-mozeiko commented on #708
If you are running X11 server under VNC server, then it won't work as applications won't have access to GPU rendering - VNC server creates virtual display that X11 uses.

You need to run VNC server uinder X11 servert. Basically install and run X11 same as you would do locally. Then run VNC server that will capture desktop rendered by real GPU.

[2020-04-01 06:53] PunchShadow commented on #708
@EricBoiseLGSVL  @martins-mozeiko thanks for your fast response,
I've @martins-mozeiko 's method to use [x11vnc](https://help.ubuntu.com/community/VNC/Servers) instead of the traditional VNC server, and it solves "Xlib: extension missing display" bugs

However, it still can't successfully show the simulator after I select the resolution.
Is x11vnc the solution that @martins-mozeiko method about ?

[2020-04-01 10:05] martins-mozeiko commented on #708
Yes, x11vnc should work fine. What is the error you are getting? The logfile should have more details.

[2020-04-01 12:18] fabriquant commented on #663
Hello @EricBoiseLGSVL

I was able to generate logs from your guidance for a GroundTruthSensor (GT curve).
This is a plot comparing the GroundTruthSensor to the IMU positions of the ego vehicle :

![map_positions](https://user-images.githubusercontent.com/54078008/78135957-b140b100-741a-11ea-8b49-4030c2fa58d0.png)

Unfortunately, I observed a big time lag between the GroundTruthSensor log and data

[2020-04-01 14:48] PunchShadow commented on #708
Here's my logfile
Under the log are some suggestions

![image](https://user-images.githubusercontent.com/32506160/78150908-84b48580-746a-11ea-
9f03-5e783e7b5abe.png)

I think it's because I use `x11vnc -create` and not start X server first.
Therefore, it can't open DISPLAY successfully.
But I'm still find the way to solve it.

[2020-04-01 17:05] EricBoiseLGSVL commented on #663
@fabriquant The lag is from GT sensor writer being in Update while IMU sensor writer is in FixedUpdate.  I would move GT sensor to FixedUpdate but be aware that this will effect performance.  **Note** Move to FixedUpdate in sensor NOT in NPCController FixedUpdate.

[2020-04-01 19:37] EricBoiseLGSVL commented on #684
@asgardus We plan on a public release this week or next week with this feature

[2020-04-01 20:43] #684 closed

[2020-04-02 07:02] zhwmonkey commented on #700
I'm so sorry for replying so late. I'm going to write a python script to create a scenario that contains the initial and triggered behavior of the ego vehicle and NPC.For example, when the distance between the ego vehicle and the NPC is less than 100m, the NPC slows down to the specified speed.
Thanks a lot.

[2020-04-02 16:32] fabriquant commented on #663
Hello @EricBoiseLGSVL,

This seems to be the fix : I only changed my timestamp calculation in the GroundTruthSensor (WhileInRange callback) from :

[code]

to:

`double Timestamp = SimulatorManager.Instance.CurrentTime;`

I am a C# and Unity beginner and I am still very surprised by the fact I got a jitter of 2 seconds on top of a lag of 10 seconds when calculating the timestamp from scratch.

Man

[2020-04-02 17:28] EricBoiseLGSVL commented on #663
@fabriquant Nice! Glad you were able to find a fix.  This makes sense.  You needed to increment Timestamp in fixedUpdate, which we are doing already in SimulatorManager, and initialize TimeStamp in Awake, not every frame or fixed frame.

[2020-04-02 17:33] EricBoiseLGSVL commented on #700
@zhwmonkey No worries.  I think this will be easier by creating custom behaviors for NPC's.  We are currently refactoring and making extensional the NPC behavior class, NPCController.cs.  This should release in April.

In the meantime, I suggest creating a custom sensor with a callback for all NPC's that are within range.  Then the python api cycles through this list and sets the NPC speed.  NPCMa

[2020-04-03 06:22] ntutangyun opened #709 "Junction Lane's turn value are incorrect for San Francisco Map"
Hi team,

I found that in the `base_map` file of san francisco map, all the lanes belonging to junctions have the same `turn` attribute to be 1, which is `NO TURN` according to Apollo's map specificiation.
examples in Junction `J_0`:

![junction_0_lanes](https://user-images.githubusercontent.com/16061105/78330215-0b29ae00-75b6-11ea-9d95-d62a4644ac00.png)

`lane_659` should be labeled as right turn

[2020-04-03 07:29] ntutangyun commented on #709
Found another issue:
San Francisco Map -> Junction 70 -> lane 1312: the first two points seems to be inverted...

![junction_70_lane_1312](https://user-images.githubusercontent.com/16061105/78335235-d02c7800-75bf-11ea-99f9-e41cbd78f2db.png)

Junction 70 is here (right bottom corner)
![junction_70_location](https://user-images.githubusercontent.com/16061105/78335284-eb978300-75bf-11ea-917c-61954bc7

[2020-04-03 09:18] ntutangyun commented on #709
Here's a list of lanes within Junctions which do not but should have predecessor lanes:
* `lane_870` of junction `J_19`
* `lane_1035` of junction `J_34`
* `lane_1312` of junction `J_70`

Here's a list of lanes within Junctions which do not but should have successors lanes:
* `lane_940` and `lane_950` of junction `J_25`
* `lane_1066` of junction `J_38`
* `lane_1163` of junction `J_49`
* `lane_1333`

[2020-04-03 15:48] EricBoiseLGSVL commented on #709
@ntutangyun Thanks for finding these.  We will update when as soon as we are able.

[2020-04-05 11:27] Jiyunfeng1989 commented on #695
i also have same problem. is there anybody who solve this. thanks a lot

[2020-04-06 01:46] ajay1606 commented on #636
@simon13579 Did you fixed this issue? Am also getting the same warning message "Raw IMU message delay" and "Raw GPS message delay“ !

Could you please help me if you have already got fixed this issue?

Best Regards.

[2020-04-06 07:13] ajay1606 opened #710 "imu data not publishing"
Thanks to LGSVL for an updated version of the simulator package.
I have a few quick questions regarding simulator sensor data output to verify with the Autoware.

Working environment:
Linux 16.04 (ROS Kinetic)
LGSVL 2020.01 (released version)

1. command rostopic list output following topics:
/client_count
/connected_clients
/imu_raw
/nmea_sentence
/odom
/points_raw
/rosout
/rosout_agg
/simulator/

[2020-04-06 10:17] chronofei commented on #695
@hadiTab  hey friend, can you solve this problem?

[2020-04-06 14:20] ntutangyun opened #711 "San Francisco map - mismatch between Physical map in game and HD map file"
Hi team,

I've found three mismatches between physical map of San Francisco in game and the HD map that Apollo reads.

***Stopping line mismatch at Junction `J_90`***
https://drive.google.com/file/d/18SjuZ5lzj9yE8Q0WZHbyWMMHbydL8drE/view?usp=sharing

***Misaligned right turning junction lane at junction `J_76`***
https://drive.google.com/file/d/1QQjcvetyHRYFGlbZGqTZX81K0vn-0aRg/view?usp=sharing
I'

[2020-04-06 17:02] joshwapohlmann commented on #673
We fixed it ourself now. My guess was correct. Creating a new generic type at runtime does the trick.

[2020-04-06 18:31] EricBoiseLGSVL commented on #673
@joshwapohlmann We have a fix for this as well but we are still working on a new public release.  Glad you found a solution

[2020-04-06 19:16] EricBoiseLGSVL commented on #711
@luqiang21 can you look at this please.

[2020-04-06 19:18] EricBoiseLGSVL commented on #710
@hadiTab isn't this an issue with ROS?

[2020-04-06 21:47] alexsimon1 opened #712 "out of order odometry msgs"
Hello,

the odometry msgs in my rosbag are not in order.
I mean the position in the world not the timestamps.
the timestamps are correct.

completely random the pose of the odom msg jumps to a coordinate in the Trajectory the Vehicle took in the past.

Is this a known bug?

Is there a solution ?

thank you in advance

[2020-04-06 22:29] EricBoiseLGSVL commented on #712
@daviduhm do you know what could cause this issue?

[2020-04-06 22:36] alexsimon1 commented on #712
i should note that i changed the header timestamps of the rosbag with the timestamps of the msgs.
With 1.6 from

http://wiki.ros.org/rosbag/Cookbook

and the simulator ran in Linux.

[2020-04-07 05:18] hadiTab commented on #710
@ajay1606 what sensors do you have on the vehicle? Is it the default Autoware car?
Also what are the specs of the computer you are running it on?

Do you get any errors when you try to echo imu_raw?

[2020-04-07 05:23] hadiTab commented on #695
@chronofei can you show me a screenshot of what things look like in rviz? I'm having a hard time figuring out the issue with information provided here.

Normally when the Autoware runtime manager is running it will print a lot of log messages in the terminal when you launch nodes (such as map loader). If there are any errors loading the map they will be printed in the terminal. If the map is loade

[2020-04-07 06:08] ajay1606 commented on #710
@EricBoiseLGSVL & @hadiTab Thanks for your quick response. Currently am running LGSVL with Autoware with following specifications

OS: Ubuntu 16.04 (32GB RAM, Graphics card Titan Xp)
ROS: kinetic

Simulation setup:
![Screenshot from 2020-04-07 15-02-16](https://user-images.githubusercontent.com/29722843/78635271-cf0d8a80-78e0-11ea-8fc2-2a5d714ee04c.png)
Vehicle and map setup:
![Screenshot from 202

[2020-04-07 13:46] Erdemhan opened #713 "Control vehicle from ROS , WINDOWS"
Hi,
I am trying to control a vehicle from ros. Actually i want to:
Get camera and lidar datas from vehicle
send to my image processing script (with ros or anyway)
get instructions from my script for control the car(with ros or anyway)

I know that running simulator in windows is better . I am using ROS1 on windows i found sth about apollo and autoware but only infos i can find about these are abou

[2020-04-07 14:30] #592 closed

[2020-04-07 15:41] EricBoiseLGSVL commented on #710
@ajay1606 Can you post player.log as well as any error msg from imu_raw please

[2020-04-07 15:47] #22 closed

[2020-04-07 15:49] EricBoiseLGSVL commented on #36
@Tomoya-Sato we are currently working on finalizing this feature and will release it soon

[2020-04-07 15:49] #36 closed

[2020-04-07 15:50] #63 closed

[2020-04-07 15:50] #66 closed

[2020-04-07 15:50] #68 closed

[2020-04-07 15:52] #70 closed

[2020-04-07 15:54] EricBoiseLGSVL commented on #71
@rukie @atyshka We are finalizing a UDP solution and will be releasing soon

[2020-04-07 15:54] #71 closed

[2020-04-07 15:55] #76 closed

[2020-04-07 15:56] #79 closed

[2020-04-07 15:57] #92 closed

[2020-04-07 15:58] #94 closed

[2020-04-07 16:00] #96 closed

[2020-04-07 16:00] #104 closed

[2020-04-07 16:01] #112 closed

[2020-04-07 16:03] #133 closed

[2020-04-07 16:05] #135 closed

[2020-04-07 16:05] #136 closed

[2020-04-07 16:06] #139 closed

[2020-04-07 16:07] #141 closed

[2020-04-07 16:08] #154 closed

[2020-04-07 16:09] #155 closed

[2020-04-07 16:10] EricBoiseLGSVL commented on #156
@krishnatoshniwal we are currently working on this and hope to include in a release soon

[2020-04-07 16:10] #156 closed

[2020-04-07 16:22] #157 closed

[2020-04-07 16:23] #168 closed

[2020-04-07 16:25] #179 closed

[2020-04-07 16:25] #183 closed

[2020-04-07 16:26] #190 closed

[2020-04-07 16:27] #198 closed

[2020-04-07 16:30] #199 closed

[2020-04-07 17:06] #212 closed

[2020-04-07 17:07] #216 closed

[2020-04-07 17:14] EricBoiseLGSVL commented on #217
@muety this would be best accomplished with API and a custom sensor.

[2020-04-07 17:14] #217 closed

[2020-04-07 17:20] #218 closed

[2020-04-07 17:21] #221 closed

[2020-04-07 17:22] #223 closed

[2020-04-07 17:22] #225 closed

[2020-04-07 17:24] #232 closed

[2020-04-07 17:28] #235 closed

[2020-04-07 17:29] #238 closed

[2020-04-07 17:29] #240 closed

[2020-04-07 17:30] #241 closed

[2020-04-07 17:32] #514 closed

[2020-04-07 17:32] #248 closed

[2020-04-07 17:33] EricBoiseLGSVL commented on #249
@ZJLi2013 @daohu527 we are working on this feature and plan to release soon

[2020-04-07 17:33] #249 closed

[2020-04-07 17:33] #251 closed

[2020-04-07 17:34] #252 closed

[2020-04-07 17:36] #257 closed

[2020-04-07 17:44] EricBoiseLGSVL commented on #258
@Amina88 can you please open a new issue?  This is an old thread that might not relate.  Also, what version of Simulator are you using and PC specs.

[2020-04-07 17:44] #258 closed

[2020-04-07 17:47] EricBoiseLGSVL commented on #259
@dwx950115 yes this is not supported at this time.  We are still looking at ways to implement this while supporting road weather effects.  One way it to make invisible meshes and assign a new tag for segmentation

[2020-04-07 17:47] #259 closed

[2020-04-07 17:47] #260 closed

[2020-04-07 17:48] #262 closed

[2020-04-07 17:49] #269 closed

[2020-04-07 17:52] EricBoiseLGSVL commented on #275
@JIXIMD @alexkutsan @nachoSO We now support custom msg types.  We are also updating our Lane Following Tutorial for a future release

[2020-04-07 17:52] #275 closed

[2020-04-07 18:48] EricBoiseLGSVL commented on #276
@hyunjaecho94 we are currently working on NPC refactor that will enable extensible and plug-in behavior.  This feature will release soon

[2020-04-07 18:48] #276 closed

[2020-04-07 18:48] #277 closed

[2020-04-07 18:49] #279 closed

[2020-04-07 18:49] #280 closed

[2020-04-07 18:50] #281 closed

[2020-04-07 18:51] #287 closed

[2020-04-07 18:52] #292 closed

[2020-04-07 18:53] #293 closed

[2020-04-07 18:53] #295 closed

[2020-04-07 18:54] #297 closed

[2020-04-07 18:55] EricBoiseLGSVL commented on #298
@Francisobiagwu we will be releasing new tutorials and updated documentation soon

[2020-04-07 18:55] #298 closed

[2020-04-07 18:55] #303 closed

[2020-04-07 18:56] #313 closed

[2020-04-07 18:57] #315 closed

[2020-04-07 18:58] #319 closed

[2020-04-07 18:59] EricBoiseLGSVL commented on #322
@ax7476 we will be releasing a step by step tutorial very soon

[2020-04-07 18:59] #322 closed

[2020-04-07 19:00] #337 closed

[2020-04-07 19:02] EricBoiseLGSVL commented on #317
@daviduhm This 3d ground truth sending 0.0 velocity is fixed correct?

[2020-04-07 19:02] #317 closed

[2020-04-07 19:05] EricBoiseLGSVL commented on #326
@dwrr we are releasing the next version of simulator soon that  fixes many of these Vulkan problems.  Hopefully this solves this problem.

[2020-04-07 20:27] luqiang21 commented on #709
@ntutangyun Thank you for these detailed findings! I've checked our SF map.
- For the list of lanes wich missing predecessor/successor lanes, I inspected each lane and found that their end points are not overlapping with desired endpoints of other lanes. I manually adjusted all of them, now I can see all these lanes have predecessor/successor lanes.
- For intersection lanes' turn types, we didn't

[2020-04-07 20:34] EricBoiseLGSVL commented on #333
@yumianhuli2 OpenDrive is now supported as well

[2020-04-07 20:34] #333 closed

[2020-04-07 21:10] #335 closed

[2020-04-07 21:12] #336 closed

[2020-04-07 21:12] #340 closed

[2020-04-07 21:13] #344 closed

[2020-04-07 21:15] #345 closed

[2020-04-07 21:17] EricBoiseLGSVL commented on #347
@david-gwa @ntutangyun We are finishing up a refactor of NPC logic and should be released soon

[2020-04-07 21:17] #347 closed

[2020-04-07 21:17] #349 closed

[2020-04-07 21:21] EricBoiseLGSVL commented on #350
@EsquilliDev How much GPU memory do you have and what map are you trying to load?

[2020-04-07 21:22] #352 closed

[2020-04-07 21:23] EricBoiseLGSVL commented on #353
@moenasrallah We are looking into this bug and hope to have a fix soon

[2020-04-07 21:24] EsquilliDev commented on #350
So, I was able to run the simulator from source (Unity and executable) and it runs fine. The problem is running it from the standalone executable.

[2020-04-07 21:24] #470 closed

[2020-04-07 21:24] #355 closed

[2020-04-07 21:26] EricBoiseLGSVL commented on #364
@yumianhuli2 we are currently working on this feature but Unity RTX support is not quite ready for production.  We will have more news once the feature is ready

[2020-04-07 21:26] #364 closed

[2020-04-07 21:28] EricBoiseLGSVL commented on #368
@obi5656 we are not sure why this happens but we are glad you are getting Rviz to work with Simulator

[2020-04-07 21:28] #368 closed

[2020-04-07 21:30] EricBoiseLGSVL commented on #371
@Kailiangdong please update to latest simulator and let us know if you are still having issues

[2020-04-07 21:30] #371 closed

[2020-04-07 21:31] #372 closed

[2020-04-07 21:32] #373 closed

[2020-04-07 21:35] EricBoiseLGSVL commented on #380
@gaohongfein closing this issue, please open another if you have any further problems

[2020-04-07 21:35] #380 closed

[2020-04-07 21:36] EricBoiseLGSVL commented on #381
@enginBozkurt @exoticDFT We will look into this issue

[2020-04-07 21:39] EricBoiseLGSVL commented on #383
@david-gwa yes, Editor loads from scene file while build loads from asset bundle.  Please update to latest simulator for latest features and fixes

[2020-04-07 21:39] #383 closed

[2020-04-07 21:42] EricBoiseLGSVL commented on #384
@liiiu closing issue. if you have any other problems please open a new issue

[2020-04-07 21:42] #384 closed

[2020-04-07 21:42] #386 closed

[2020-04-07 21:45] EricBoiseLGSVL commented on #390
@Oasis-Guo @pedroexenberger Yes, we are looking into updating our bridge implementation and any insight into solutions will help others and our team improve the code base.

[2020-04-07 21:56] EricBoiseLGSVL commented on #350
@EsquilliDev Is that from a created local build or the release build?  If from the executable, do you have error logs you can post?

[2020-04-07 22:07] EricBoiseLGSVL commented on #711
@ntutangyun Thank you for letting us know about this.  We will add this to the backlog of upcoming fixes

[2020-04-07 22:14] #393 closed

[2020-04-07 22:16] #394 closed

[2020-04-07 22:17] #399 closed

[2020-04-07 22:21] EricBoiseLGSVL commented on #459
@KrzysztofDabek We are finishing a step by step tutorial for creating new environments and will be releasing it soon

[2020-04-07 22:21] #459 closed

[2020-04-07 22:24] #441 closed

[2020-04-07 22:24] #401 closed

[2020-04-07 22:38] pedroexenberger commented on #390
Hi @EricBoiseLGSVL, I created my own issue regarding this since I got no response at the time. I got a solution (for autoware.ai rosbridge and lgsvl) by adapting the ROS2 rosbridge code in LGSVL. You might check the post where I report that https://github.com/lgsvl/simulator/issues/653#issuecomment-595826566 as also the whole issue #653, which is closely related to this.

Best.

[2020-04-07 23:53] Erdemhan commented on #713
I think its not supported for windows now using it with linux

[2020-04-07 23:53] #713 closed

[2020-04-08 00:03] Erdemhan opened #714 "Apollo 3.0 Control with ROS"
Hİ,
I setup apollo 3.0 and lgsvl everything is working fine for now.
We are a team working for making a simulation for our autonomous car.
We have our own map and can use it in simulator (not annotated but can do it if needed).
We want to get main camera and lidar datas from simulator to process them  and control the vehicle with ros.
Question is : how can we get these datas  for processing (How c

[2020-04-08 02:10] ajay1606 commented on #710
@EricBoiseLGSVL I could not find the player.log file in the  location: /.config/unity3d/LG Silicon Valley Lab/
Also, sometimes I observe very strangely /imu_raw publish and pause as shown in the shared [video](https://drive.google.com/open?id=1PUvsUuWL9sQnF07EZjB7xd4ubLs6QMfw)

[2020-04-08 02:19] ntutangyun commented on #709
@luqiang21 Thanks for your prompt help.

I made the visualizer myself.
I've used Javascript protobuf tools to parse the binary files, and I used [three.js](https://threejs.org/) library to plot those points and arrows in browser.

Thanks again. Sure will follow up with this issue when i found anything.

[2020-04-08 02:58] martins-mozeiko commented on #713
Yes, Apollo and Autoware works only on Linux
But if you have ROS1 environment on Windows, then you can communicate to Simulator just fine without them. All you need to install is [rosbridge_suite](https://github.com/RobotWebTools/rosbridge_suite) package and run rosbridge_websocket.launch. After that you'll be able to talk to simulator by using regular ROS messages - both for receiving sensor mess

[2020-04-08 08:04] hadiTab commented on #710
@ajay1606 the rosbridge for ros kinetic has a lot of performance issues. Ros melodic's rosbridge does a much better job, but you can't install it on your host machine because it requires ubuntu 18.04. You can run it through docker though. I would suggest testing it out on ros melodic through a docker container to see if that improves things.

For example if you have docker installed:
1. `docker pu

[2020-04-08 08:08] ajay1606 commented on #710
@hadiTab , thanks for your efforts, I will check with ubuntu 18.04 and get back to you.

[2020-04-08 14:28] Erdemhan commented on #713
Thanks! I just tried it with linux but there is a problem. When i try to get color camera images from apollo and save it to a jpeg file everything works fine but when i try to do it same with rosbridge it gives error
`cv2.imwrite('a.jpeg',cv2.CV_LOAD_IMAGE_COLOR)
AttributeError: 'module' object has no attribute 'CV_LOAD_IMAGE_COLOR`

if i change the cv2.CV_LOAD_IMAGE_COLOR to 1 or IMREAD_COLOR it

[2020-04-08 16:46] EricBoiseLGSVL commented on #390
@pedroexenberger Thank you for posting your findings.  This will help.  Sorry about the lack of response, we are currently cleaning up issues and adding tasks. This is a high priority right now

[2020-04-08 16:49] #431 closed

[2020-04-08 16:49] #436 closed

[2020-04-08 16:50] #434 closed

[2020-04-08 16:51] #428 closed

[2020-04-08 16:52] #487 closed

[2020-04-08 16:52] #426 closed

[2020-04-08 16:53] #425 closed

[2020-04-08 16:54] #417 closed

[2020-04-08 16:57] EricBoiseLGSVL commented on #412
@Andy823 We are releasing distributed simulation soon that will support this functionality.

[2020-04-08 16:57] #412 closed

[2020-04-08 16:58] #411 closed

[2020-04-08 17:01] EricBoiseLGSVL commented on #638
@pedroexenberger We have it on our roadmap to support latest versions of Autoware soon.  We will look into this further

[2020-04-08 17:01] #409 closed

[2020-04-08 17:02] #403 closed

[2020-04-08 17:02] #485 closed

[2020-04-08 17:04] #483 closed

[2020-04-08 17:04] #474 closed

[2020-04-08 17:05] #480 closed

[2020-04-08 17:05] #467 closed

[2020-04-08 17:06] #468 closed

[2020-04-08 17:07] #714 closed

[2020-04-08 17:07] #465 closed

[2020-04-08 17:08] #463 closed

[2020-04-08 17:09] Erdemhan opened #715 "ROS bridge black camera image"
Hi,
When i try to get color camera images from apollo and save it to a jpeg file everything works fine but when i try to do it same with rosbridge it gives error:
`cv2.imwrite('a.jpeg',cv2.CV_LOAD_IMAGE_COLOR)
AttributeError: 'module' object has no attribute 'CV_LOAD_IMAGE_COLOR`

if i change the cv2.CV_LOAD_IMAGE_COLOR to 1 or IMREAD_COLOR it gives a 1x4 black image
but same code is working on ap

[2020-04-08 17:09] #472 closed

[2020-04-08 17:10] #461 closed

[2020-04-08 17:10] #460 closed

[2020-04-08 17:11] #462 closed

[2020-04-08 17:11] #458 closed

[2020-04-08 17:13] #449 closed

[2020-04-08 17:15] #442 closed

[2020-04-08 17:16] EricBoiseLGSVL commented on #445
@hyunjaecho94 @christian-lanius @pranavbajoria93 We are releasing an update to unity that solves many of these Vulkan issues.

[2020-04-08 17:16] #445 closed

[2020-04-08 17:19] EricBoiseLGSVL commented on #438
@KrzysztofDabek We are releasing a feature soon called controllables.  This can be spawned in scene and can communicate with Agent custom sensor that then communicates with bridge.

[2020-04-08 17:19] #438 closed

[2020-04-08 17:20] #451 closed

[2020-04-08 17:20] #419 closed

[2020-04-08 17:23] #488 closed

[2020-04-08 17:23] #522 closed

[2020-04-08 21:51] alexsimon1 commented on #712
is there maybe some sort of buffer for the odometry msg in the lgsvl simulator ?

[2020-04-08 21:52] #526 closed

[2020-04-08 21:52] #525 closed

[2020-04-08 21:53] #524 closed

[2020-04-08 21:53] #521 closed

[2020-04-08 21:54] #518 closed

[2020-04-08 21:55] EricBoiseLGSVL commented on #516
@duong-pa We have not started work but in the meantime you could create a custom sensor that reads data from MapManager.

[2020-04-08 21:55] #516 closed

[2020-04-08 21:57] #513 closed

[2020-04-08 21:57] #511 closed

[2020-04-08 21:58] #510 closed

[2020-04-08 21:58] #509 closed

[2020-04-08 22:00] #508 closed

[2020-04-08 22:00] #507 closed

[2020-04-08 22:01] #506 closed

[2020-04-08 22:01] #505 closed

[2020-04-08 22:03] EricBoiseLGSVL commented on #504
@yumianhuli2 We are currently working on a fix for this issue.  The problem is Linux and LiDAR sensor GPU readback

[2020-04-08 22:03] #503 closed

[2020-04-08 22:04] #501 closed

[2020-04-08 22:05] #500 closed

[2020-04-08 22:06] #498 closed

[2020-04-08 22:07] #495 closed

[2020-04-08 22:08] #493 closed

[2020-04-08 22:09] #492 closed

[2020-04-08 22:10] #489 closed

[2020-04-08 22:11] #529 closed

[2020-04-08 22:12] #531 closed

[2020-04-08 22:13] #535 closed

[2020-04-08 22:18] EricBoiseLGSVL commented on #532
@yumianhuli2 You are in ortho view mode, I suggest perspective.  Select an annotation object in the Hierarchy panel and press 'F' to focus on that object in Scene view.  Last thing, look at annotation objects transforms in Inspector panel.  If there are floating point errors messages and the values are extremely high, then you have issues importing the HDMap and MapOrigin settings.

[2020-04-08 22:18] #532 closed

[2020-04-08 22:20] #537 closed

[2020-04-08 22:21] EricBoiseLGSVL commented on #538
@daohu527 We are currently working on this feature and will be releasing news about it in the coming months

[2020-04-08 22:21] #538 closed

[2020-04-08 22:21] #540 closed

[2020-04-08 22:22] #547 closed

[2020-04-08 22:23] #546 closed

[2020-04-08 22:23] #548 closed

[2020-04-08 22:24] #549 closed

[2020-04-08 22:26] #551 closed

[2020-04-08 22:26] #552 closed

[2020-04-08 22:27] #553 closed

[2020-04-08 22:28] #556 closed

[2020-04-08 22:28] #557 closed

[2020-04-08 22:29] #558 closed

[2020-04-08 22:31] #561 closed

[2020-04-08 22:32] #564 closed

[2020-04-08 22:33] #570 closed

[2020-04-08 22:34] #571 closed

[2020-04-08 22:34] #573 closed

[2020-04-08 22:35] #574 closed

[2020-04-08 22:36] #624 closed

[2020-04-08 22:36] #619 closed

[2020-04-08 22:37] #612 closed

[2020-04-08 22:40] EricBoiseLGSVL commented on #610
@RamoramaInteractive we are releasing the instance semantic as a JSON setting in semantic camera sensors.  Thank you for your contribution.  The next public release should be in a few days

[2020-04-08 22:40] #610 closed

[2020-04-08 22:42] EricBoiseLGSVL commented on #607
@rongguodong This issue was fixed correct?

[2020-04-08 22:44] #615 closed

[2020-04-08 22:48] EricBoiseLGSVL commented on #603
@takanotume24 did you find a solution?  We have updated simulator with a new Unity version that fixes many Vulkan issues.  This should be out within the next few days.  If this doesn't help, please re-open this issue

[2020-04-08 22:48] #603 closed

[2020-04-08 22:49] #601 closed

[2020-04-08 22:51] EricBoiseLGSVL commented on #600
@daohu527 we have set NPCs and Pedestrians to spawn anywhere on first frame and at the start of annotations with no overlapping connections.  Hopefully this is a better solution.

[2020-04-08 22:51] #600 closed

[2020-04-08 22:52] #598 closed

[2020-04-08 22:54] EricBoiseLGSVL commented on #595
@MaxandreOgeret Configuration window is removed on next release, in the next few days.

[2020-04-08 22:54] #595 closed

[2020-04-08 22:55] #594 closed

[2020-04-08 22:55] #593 closed

[2020-04-08 22:56] #589 closed

[2020-04-08 22:56] #587 closed

[2020-04-08 22:56] #585 closed

[2020-04-08 22:57] #582 closed

[2020-04-08 22:59] #579 closed

[2020-04-08 23:01] EricBoiseLGSVL commented on #576
@enisotomata Your scene is too large.  You need to reduce mesh, textures and size.  Do not copy and paste files in/out of unity project because it can corrupt meta files.

[2020-04-08 23:01] #576 closed

[2020-04-08 23:04] EricBoiseLGSVL commented on #658
@pranavbajoria93 We have a new release updating Unity going out in the next few days.  This fixes many Vulkan issues.  We are also refactoring bridge code and hope to have a better solution soon

[2020-04-08 23:04] #642 closed

[2020-04-08 23:05] #634 closed

[2020-04-08 23:07] EricBoiseLGSVL commented on #633
@kanbei @ck-leo We have a new release using a newer version of Unity and should be out in a few days.  Unity update fixes many Vulkan issues but if not please re-open this issue

[2020-04-08 23:07] #633 closed

[2020-04-08 23:08] #628 closed

[2020-04-08 23:11] #631 closed

[2020-04-08 23:17] #676 closed

[2020-04-08 23:21] EricBoiseLGSVL commented on #637
@riveranb glad you were able to find a solution.  We hope to make this easier to use in the future

[2020-04-08 23:21] #637 closed

[2020-04-08 23:22] #707 closed

[2020-04-08 23:23] #688 closed

[2020-04-08 23:25] EricBoiseLGSVL commented on #683
@Allenhe123 did building one bundle at a time help?  We are refactoring bundle building to have better performance and it should release in the next few releases

[2020-04-08 23:26] #473 closed

[2020-04-08 23:28] #415 closed

[2020-04-08 23:29] #324 closed

[2020-04-08 23:30] #309 closed

[2020-04-08 23:31] #420 closed

[2020-04-08 23:33] EricBoiseLGSVL commented on #408
@andrewramacher We are no longer supporting old simulator, please update to latest for continued updates and fixes

[2020-04-08 23:33] #408 closed

[2020-04-08 23:34] #414 closed

[2020-04-09 00:29] yumianhuli2 commented on #504
ok！Could you tell me when the problem will be fixed?

[2020-04-09 02:22] ajay1606 commented on #710
@hadiTab actually I have setup ubuntu 18.04 with ROS melodic in a separate machine. But I am getting an error while starting the simulation environment.

1. Test with lgsvlsimulator-linux64-2020.03-rc1 (release version)
![Screenshot from 2020-04-09 11-18-02](https://user-images.githubusercontent.com/29722843/78851181-208a5680-7a54-11ea-9764-7434f01cbba9.png)

2. lgsvlsimulator-linux64-2020.01 (rel

[2020-04-09 02:27] hadiTab commented on #710
It seems like you had an old simulator installation on that machine.

Close the simulator and delete the folder called "LG Silicon Valley Lab" located in ~/.config/unity3d.

Launching the simulator again now should redownload all the maps and vehicles and the error should be resolved.

[2020-04-09 02:35] ajay1606 commented on #710
Excellent, billion thanks to you.

1. getting data imu_raw @ 90 hz
2. getting points_raw @10 hz

Really appreciate your help.

[2020-04-09 02:50] Erdemhan commented on #715
Found the exception
it is in code:
`cv2.imwrite('a.jpeg',cv2.CV_LOAD_IMAGE_COLOR)``
Because of differen opencv verisons (maybe because of docker idk)
its working in apollo but not working in my own ros workspace
solution is:
`cv2.imwrite('a.jpeg')`

[2020-04-09 02:50] #715 closed

[2020-04-09 03:52] rukie commented on #71
Exciting news! Thanks for the update.

[2020-04-09 07:45] #710 closed

[2020-04-09 07:59] left4taco opened #716 "Folder name of release 2020.03-rc1 doesn't contain `-rc1`"
Hi there,

We have set up CI to create volume of lgsvl simulator used by docker container. However, the job failed for release 2020.03-rc1. https://gitlab.com/ApexAI/ade-lgsvl/-/jobs/504659281

In the error trace it shows that the folder name within the zip file is `lgsvlsimulator-linux64-2020.03`. However, the job is looking for a folder called `lgsvlsimulator-linux64-2020.03-rc1`.

The behavior

[2020-04-09 13:12] Erdemhan opened #717 "vehicle_cmd Vehicle just braking"
I am using ROS and a LGSVL car with ROS bridge i am able to send and get datas but the problem is
when i send acceleration data to vehicle_cmd with:

 `rostopic pub -r 10 /vehicle_cmd autoware_msgs/VehicleCmd '{ctrl_cmd:{linear_acceleration: 1.5} , ctrl_cmd:{steering_angle: 5.0}}'`

doesn't give any erros and:
Vehice is starting to brake(brake lights turning on) and
AD Car Control says:
 ControlTy

[2020-04-09 15:43] EricBoiseLGSVL commented on #504
@yumianhuli2 we are hoping this month

[2020-04-09 15:45] EricBoiseLGSVL commented on #716
@left4taco we will look into this, thanks

[2020-04-09 15:47] EricBoiseLGSVL commented on #717
@Erdemhan do you have a VehicleControlSensor in your vehicle setup?  Did you modify it to accept your ROS msg types?

[2020-04-09 15:48] Erdemhan opened #718 "Getting vehicle speed"
Hi , i am trying to learn vehicle speed and i am not using apollo or autoware using my own ros environment when i try to get data from canbus , rosbridge give this error:
`[ERROR] [1567149251.432392]: [Client 1] advertise: Unable to load the manifest for package pb_msgs. Caused by: pb_msgs`
after that:
`Cannot infer topic type for topic /canbus as it is not yet advertised`
same issue #325

when i

[2020-04-09 16:12] Erdemhan commented on #717
I have :
[code]
in my vehicle , i can see it in rostopic list. I am trying to send ctrl_cmd.
I didnt modify it. do i have ? if yes how please.
i tried to send a message like
`'{ctrl_cmd:{linear_acceleration: 1.5} , ctrl_cmd:{steering_angle: 5.0}}'`
from terminal when i send it vehicle starts to brake and
[code]
when i stop sending messages braking stops and parameters turns to:
[code]
as expected

[2020-04-09 23:38] eagafonovlge commented on #716
@left4taco Thanks for the reporting!
We have updated zip files, folder name matches to the archive name.
Please restart CI pipeline to verify.

[2020-04-09 23:38] #716 closed

[2020-04-10 03:07] yumianhuli2 commented on #504
Nice!

[2020-04-10 19:39] CurlyWei opened #719 "How to modify the speed of pedestrian?"
Hi, the current version of "Python API", it doesn`t modify the speed of pedestrian. Is there any way to do it? Will it be released in the future?

Thanks

[2020-04-11 01:24] Erdemhan commented on #718
I got it from gps odometer no problem.

[2020-04-11 01:24] #718 closed

[2020-04-11 21:06] tleyden commented on #708
@PunchShadow I wasn't able to get good performance on any of the vnc servers from my OSX machine on my wifi network and so I switched to [NoMachine](https://www.nomachine.com/), which I can confirm works with the LGSVL simulator.  Good luck!

[2020-04-11 21:11] tleyden opened #720 "Lidar partially blocks camera view in Lexus2016RXHybrid (Autoware)"
I'm running autoware.auto + LGSVL based on [these instructions](https://autowarefoundation.gitlab.io/autoware.auto/AutowareAuto/lgsvl.html), and when I run `ros2 run rqt_image_view rqt_image_view` to view the camera, I see this:

![Screen Shot 2020-04-11 at 2 04 15 PM](https://user-images.githubusercontent.com/296876/79054933-f7a5c500-7bfd-11ea-8d78-952fffb65ad1.png)

Any suggestions on how to fix

[2020-04-12 07:12] atinfinity opened #721 "How to control vehicle using /vehicle_cmd(with ctrl_cmd, without twist_cmd)"
I tried to control vehicle using `/vehicle_cmd`(with ctrl_cmd, without twist_cmd).
The `autoware_msgs/VehicleCmd` has `twist_cmd` and `ctrl_cmd`.
https://gitlab.com/autowarefoundation/autoware.ai/messages/-/blob/1.13.0/autoware_msgs/msg/VehicleCmd.msg#L8-9

So, I refered to [BorregasAve/my_launch/my_motion_planning.launch](https://github.com/lgsvl/autoware-data/blob/master/BorregasAve/my_launch/my

[2020-04-12 14:48] PunchShadow commented on #708
@tleyden Thank you very much!
I'll try it as soon as possible.

[2020-04-12 20:32] tleyden commented on #720
Since it looks like autoware.auto is using a [customized Lexus2016RXHybridApexAI](https://lgsvl-shared.s3-us-west-1.amazonaws.com/AWFLexus2016RXHybrid/vehicle_Lexus2016RXHybridApexAI) I'm moving the issue to https://github.com/lgsvl/simulator/issues/720

[2020-04-12 20:32] #720 closed

[2020-04-13 23:00] EricBoiseLGSVL commented on #721
@atinfinity We are currently working on updating this feature.

[2020-04-13 23:07] EricBoiseLGSVL commented on #719
@CurlyWei The API cannot modify the speed of pedestrians.  If you want to change it, I would expose the LinearSpeed of the Agent in PedestrianController.cs and make a new Python command to alter.  You could also edit the create-agent to set a new speed on spawn.  What is your use case?  Can you explain more and maybe we can include in a future feature?

[2020-04-13 23:09] EricBoiseLGSVL commented on #717
@hadiTab Do you know what the issue could be?

[2020-04-13 23:44] pranavbajoria93 commented on #658
Update with the new 2020.03 release:

1.  On Ubuntu, the simulator camera doesn't flicker to the TL camera anymore and the render is constantly fixed at the follow camera. So main issue is resolved.
2. The simulator has consistent connection with the stock ROSbridge websocket and all topics can are listed and messages are being sent. However, the LGSVL's rosbridge suite continues to give the same

[2020-04-13 23:44] #658 closed

[2020-04-14 00:58] EricBoiseLGSVL commented on #658
@pranavbajoria93 Glad the update fixed Vulkan issues.  We are working on improving the bridge and hope to have a better solution soon.  Thanks for your patience.

[2020-04-14 03:44] lemketron commented on #287
As @martins-mozeiko pointed out, "Nvidia provides its own vulkan driver. mesa-vulkan-drivers package is for Intel and AMD GPU's."

I didn't explicitly install "mesa-vulkan-drivers" but it somehow ended up on my Razer Blade running Ubuntu 18.04 after installing Nvidia drivers and libvulkan1. So even though Nvidia drivers were  installed and working fine (like for glxgears), the Simulator crashed on

[2020-04-14 09:11] chen1qy opened #722 "Can I adjust the frequency of IMU and get "sensor_msgs/Image" rather than "sensor_msgs/CompressedImage"?"
I need camera data in type of "sensor_msgs/Image" , but I only can find "sensor_msgs/CompressedImage". Is there some way to get "sensor_msgs/Image" message? And the IMU sensor output at a fixed rate of 100 Hz. Can I adjust the frequency to 200Hz?

[2020-04-14 10:18] tekrajchhetri commented on #521
@EricBoiseLGSVL I have similar problem and also have asked the question in ros discussion forum https://answers.ros.org/question/349373/what-is-better-way-to-stop-vehicle-in-autoware/. Could you help on how can I apply brake using launch file or python script in autoware?

[2020-04-14 10:54] atinfinity commented on #721
@EricBoiseLGSVL

Thank you for your reply. I have two questions.

- Could you tell us the limiation of this feature at this time?
- Do you have a milestone about this feature?

[2020-04-15 04:25] bage131 opened #723 "How to use Unity scene for LGSVL simulation"
I imported "QA Modular Parking 1.01.unitypackage"  to Unity3D,Then I created AssetBundles with Demo scene.There was an error "Failed to add map: You must specify a valid AssetBundle" when I added new map with Demo scene in LGSVL.But It was OK when I added new map with environment_CubeTown.Could you tell me how to solve this problem? Are there any more details about how to use the scene in Unity fo

[2020-04-15 09:06] daviduhm commented on #712
Hi, I haven't seen this issue before and I believe [GPS odometry sensor](https://www.lgsvlsimulator.com/docs/sensor-json-options/#gps-odometry) shouldn't be like this.

@alexsimon1 I'll try to reproduce it. Could you elaborate on how you are running this in more detail? (i.e., which version/commit of simulator are you using, what sensors do you have in your sensor json, are you running any AV stac

[2020-04-15 09:32] alexsimon1 commented on #712
Hello, i‘m sorry it was a problem with my scripts. Im closing the issue.

[2020-04-15 09:32] #712 closed

[2020-04-15 17:57] EricBoiseLGSVL commented on #721
@atinfinity When we implemented autoware support, we couldn't get certain features to work and had to make our own conversions.
We should have more information within the next couple of months

[2020-04-15 20:49] Erdemhan commented on #723
I dont know what's inside your scene but if you want to do something like building a new map with unity and adding it to simulator you should build it with unity from simulator tab but there are more details about it. You can find all steps at #699

[2020-04-16 00:38] EricBoiseLGSVL commented on #521
@tekrajchhetri instead of setting ADAccelInput to 0, you can decrease over time.  We are currently working on updating our autoware features and should have a better solution soon.  This fix requires changing LGSVL Simulator source code and make a new build

[2020-04-16 03:44] askariz commented on #530
I have also come across this problem .
enviroment :
simulator pc :  run simulator 192.168.1.114
apollo pc : run apollo code stack .192.168.1.117
![image](https://user-images.githubusercontent.com/39890252/79412256-9c961880-7fd7-11ea-9246-f983a1ff16f9.png)

[2020-04-16 06:07] yujie181152 opened #724 "load assetbundle error"
hi,i have got an error when i run python example script,the error info i posted like this:

`SerializationException: Property 'assetGuid' not found on type 'Simulator.Manifest'.
YamlDotNet.Serialization.TypeInspectors.TypeInspectorSkeleton.GetProperty (System.Type type, System.Object container, System.String name, System.Boolean ignoreUnmatched) (at <00b2fecf29ac47848149aa4ed801d87f>:0)
YamlDotNet

[2020-04-16 08:51] mingw12 commented on #724
code  is not match fit . see [](url)https://github.com/lgsvl/simulator/issues/30#issuecomment-437495513
reclone simulator , add and bulid   Assets to   assetbundle.

[2020-04-16 10:35] joshwapohlmann opened #725 "Migration Guide from 2020.01 to 2020.03"
Please provide a migration guide in the docs explaining how to migrate.
* Ego Vehicles
* Sensors
* Environments
* Controllables

As well as what's new (e.g. DistributionObject|Type|...)
Thanks :+1:

[2020-04-16 10:42] joshwapohlmann commented on #725
Notes
## Vehicles
**Changes**
* Change script from `VehicleDynamics` to `VehicleSMI`
* Cluster functionality requires now, that vehicles also have a `DistributedObject` and `DistributedRigidbody` script component attached for proper simulation synchronization policies.

**New**
* (opt.) Create a custom Vehicle Dynamic component by implementing the `IVehicleDynamics` interface.

## Sensors
**Change

[2020-04-16 11:58] Martin20 opened #726 "Running the simulator issue"
I use the simulator for windows version. When I wan to start a simulation I receive the error below:

Invalid: (Line: 1, Col: 1, Idx: 0) - (Line: 1, Col: 1, Idx: 0): Exception during deserialization

[2020-04-16 12:30] Martin20 commented on #371
I updated and still have the problem.

[2020-04-16 16:02] EricBoiseLGSVL commented on #371
@Martin20 This issue is closed.  Please create a new issue so we can be sure to assign someone

[2020-04-16 16:10] EricBoiseLGSVL commented on #726
@Martin20 This is probably an issue with Yaml.  Can you please post more information?
Please post Player.log in full
What GPU are you using?
Are you running binary or from editor?
Is this an error in webUI or in the application?
What environment are you loading?
More details will help us to solve the problem as well as others that might have the same issue.

[2020-04-16 16:17] EricBoiseLGSVL commented on #725
@joshwapohlmann Migration guide is a good idea, thanks.
- Yes, we had many requests for users to be able to create their own dynamics models so this was a big change.  We are currently updating tutorial docs and videos to help migration.
- Distributed is somewhat in early we plan on documenting this more also.

[2020-04-16 16:50] EricBoiseLGSVL commented on #724
@yujie181152 please delete simulator persistent data folder located at:
- Windows C:\Users\[username]\AppData\LocalLow\LG Silicon Valley Lab\LGSVL Simulator
- Linux /home/[username]/.config/unity3d/LG Silicon Valley Lab/LGSVL Simulator

Then run binary and all correct bundles will download.  AppData folder needs you to enable hidden folders on Windows.

[2020-04-16 17:00] EricBoiseLGSVL commented on #723
@bage131 yes, @Erdemhan is correct.  If you correctly created a map, it will be named "environment_YourMap".  YourMap will match folder in External/Environments and also match YourMap.scene file in that folder.  Then Simulator -> Build... will list the map and create an Asset Bundle, not a unity package.  unity package is for creating assets to distribute internally or to sell on Unity Asset Store

[2020-04-16 17:27] EricBoiseLGSVL commented on #722
@chen1qy Yes, you can create a custom camera sensor or edit the existing sensor code to send the data that you need.  You will also need to add a custom msg type.  Be aware that a non compressed image with slow down data transfer.  Same with IMU sensor.  You can alter the frequency in the sensor code.

[2020-04-16 17:30] EricBoiseLGSVL commented on #708
@tleyden Did @PunchShadow suggestion solve this issue?  If so, please confirm and close issue

[2020-04-16 17:41] tleyden commented on #708
@EricBoiseLGSVL actually @PunchShadow opened the issue, I just noticed it and was giving a tip that worked for me.  It doesn't sound like an LGSVL issue though, so I would suggest to close it.

[2020-04-16 17:46] EricBoiseLGSVL commented on #708
@tleyden Whoops, thanks.  I flipped it :) Thanks @tleyden for suggestion, @PunchShadow did it solve your issue?

[2020-04-16 17:58] EricBoiseLGSVL commented on #504
@yumianhuli2 Are you running Clusters still on this simulation?

[2020-04-16 19:28] EricBoiseLGSVL commented on #677
@atinfinity Most AD stacks we support do not support EGO vehicles at high speed.  We are working on RTX support and UDP LiDAR sensors to improve performance but this will be in a future release

[2020-04-16 19:29] #672 closed

[2020-04-17 00:21] chen1qy commented on #722
If I use the standalone executable, where can I edit or create sensor code? the JSON configuration?

[2020-04-17 00:29] martins-mozeiko commented on #722
I think it would be much easier to use ROS [image_transport](http://wiki.ros.org/image_transport#Usage) package to receive compressed image and republish uncompressed image. It will be higher performance to do this way, as simulator would need to send less data to ROS.

As for rising IMU frequency - you cannot go above 100Hz, because IMU and other physics related sensors are tied to physics simula

[2020-04-17 00:33] EricBoiseLGSVL commented on #722
@chen1qy No, if you are not editing source code, you cannot change these parameters.  Thanks @martins-mozeiko for explaining better options

[2020-04-17 00:38] EricBoiseLGSVL commented on #667
@ozzdemir we have a fix in the next release.

[2020-04-17 00:38] chen1qy commented on #722
Thanks for your help.

[2020-04-17 00:38] #722 closed

[2020-04-17 00:40] EricBoiseLGSVL commented on #657
@chronofei we have fixes for the nmea in the latest release.  Are you still having this issue

[2020-04-17 00:48] EricBoiseLGSVL commented on #353
@moenasrallah we have a fix for this issue in next release

[2020-04-17 02:03] yumianhuli2 commented on #504
Could I understand that your team have fixed this bug?

[2020-04-17 03:34] Martin20 opened #727 "traffic light detection does not work in apollo"
Hello all,

When I run the simulator with Apollo 5.0, the traffic light detection is not working. Although I make it on in the Dreamview, after a while it becomes off. Even it is on, it cannot detect the traffic light. The vehicle just stop at the intersection with traffic light.

[2020-04-17 07:14] ntutangyun commented on #727
Hi @Martin20 ,

There are several things you may check
1. Have you included camera sensor in the vehicle config from simulator's website interface
2. Is simulator is publishing the camera data to CyberRT in `cyber_monitor`
3. Start traffic light component in a separate terminal with `cyber_launch`, see if anything goes wrong.

[2020-04-17 09:43] hadiTab commented on #717
Can you try populating the `twist_cmd` portion of the message only?
I believe that is the only part being populated by Autoware AI ans the simulator may only be listening to that.

I believe the braking means that the `twist_cmd` is getting set to all 0s.

[2020-04-17 11:03] atinfinity commented on #677
@EricBoiseLGSVL Thank you for your reply. I understood about future plan.

[2020-04-17 11:04] atinfinity commented on #721
@EricBoiseLGSVL Thank you for your answer. I understood current status.

[2020-04-17 13:03] Erdemhan commented on #717
@hadiTab @EricBoiseLGSVL  **This:**

 solved my problem it worked with `twist_cmd` thanks for helping.

[2020-04-17 13:03] #717 closed

[2020-04-17 17:20] #677 closed

[2020-04-17 17:21] EricBoiseLGSVL commented on #504
@yumianhuli2 We will have a release later this month that will resolve this

[2020-04-17 22:09] EricBoiseLGSVL commented on #727
@Martin20 Yes you need this sensor
{
    "type": "Color Camera",
    "name": "Telephoto Camera",
    "params": {
      "Width": 1920,
      "Height": 1080,
      "Frequency": 15,
      "JpegQuality": 75,
      "FieldOfView": 10,
      "MinDistance": 0.1,
      "MaxDistance": 1000,
      "Topic": "/apollo/sensor/camera/front_12mm/image/compressed"
    },
    "transform": {
      "x": 0,
      "y":

[2020-04-17 23:01] Martin20 commented on #726
Where is the palayer.log? I could not see it.
the GPU is Nvidia with driver:  Driver Version: 440.33.01
I run the binary.
it is in WebUI.
What do you mean by the environment? I run it on windows.

[2020-04-17 23:08] rongguodong commented on #726
It's at %APPDATA%\..\LocalLow\LG Silicon Valley Lab\LGSVL Simulator\Player.log

You can find it in our FAQ: https://www.lgsvlsimulator.com/docs/faq/#where-are-unity-log-files-located

[2020-04-17 23:17] EricBoiseLGSVL commented on #726
@Martin20 environment is the map that you are loading.  What is the GPU model and ram?  Also what version of simulator are you using?

[2020-04-17 23:27] Martin20 commented on #727
Hello @ntutangyun,

I think the camera is included. You can see the jetson file as below.

Moreover, I attached the cyber_monitor screenshot and the error after using the launch command.

[{"type": "CAN-Bus", "name": "CAN Bus",
            "params": {"Frequency": 10, "Topic": "/apollo/canbus/chassis"},
            "transform": {"x": 0, "y": 0, "z": 0, "pitch": 0, "yaw": 0, "roll": 0}},{"type": "GP

[2020-04-17 23:29] Martin20 commented on #727
Hi @EricBoiseLGSVL ,

I think the color camera is included in the configuration file. You can see below. Please let me know if it is not correct.
[{"type": "CAN-Bus", "name": "CAN Bus",
            "params": {"Frequency": 10, "Topic": "/apollo/canbus/chassis"},
            "transform": {"x": 0, "y": 0, "z": 0, "pitch": 0, "yaw": 0, "roll": 0}},{"type": "GPS Device", "name": "GPS",
            "par

[2020-04-17 23:47] Martin20 commented on #726
@rongguodong

the Player.log is here:

Mono path[0] = 'C:/lgsvlsimulator-windows64-2020.03-rc1/lgsvlsimulator-windows64-2020.03-rc1/simulator_Data/Managed'
Mono config path = 'C:/lgsvlsimulator-windows64-2020.03-rc1/lgsvlsimulator-windows64-2020.03-rc1/MonoBleedingEdge/etc'
Loading player data from C:/lgsvlsimulator-windows64-2020.03-rc1/lgsvlsimulator-windows64-2020.03-rc1/simulator_Data/data.uni

[2020-04-17 23:51] Martin20 commented on #726
@EricBoiseLGSVL
I load Cube Town and the model of GPU and its specifications are as below:

 VGA compatible controller: NVIDIA Corporation GP102 [TITAN Xp] (rev a1) (prog-if 00 [VGA controller])
        Subsystem: NVIDIA Corporation Device 11df
        Flags: bus master, fast devsel, latency 0, IRQ 84
        Memory at f9000000 (32-bit, non-prefetchable) [size=16M]
        Memory at e0000000 (64-b

[2020-04-18 00:04] EricBoiseLGSVL commented on #726
@Martin20 Thanks for the info it helps.
"ShaderProgram is unsupported, but because jobified rendering is enabled the ShaderProgram can not be removed."
looks like Simulator application might be using an integrated GPU instead of the Titan.  Can you try opening NVIDIA Control panel / Manage 3D Settings / Program settings and Select preferred Graphics processor for the application.

[2020-04-18 01:17] Martin20 commented on #726
However, older versions work (2019.10).

[2020-04-18 03:52] ntutangyun commented on #727
according to configs in JSON, both cameras are publishing at frequency 15Hz. But your `cyber_monitor` shows they are publishing at 60Hz. Something is wrong..

[2020-04-18 05:20] Martin20 commented on #727
@ntutangyun Thank you,

any suggestions?

[2020-04-18 07:50] yujie181152 commented on #724
thanks! how to run binary?i don't understand this command.and i wanne know that if i can use old simulator source release to load new assetbundle which from website downloaded ,for example,i use 2019.10f1 version to load the latest assetbundle ,is it ok?

[2020-04-18 09:35] yumianhuli2 commented on #504
OK! I will wait for this!Thank U!

[2020-04-19 12:34] ozguradas opened #728 "Static Obstacle and Traffic Light"
Hello LGSVL team,

I have a unity package for a map which is not created by me, so i don't have so much experinece on unity. I want to add traffic lights on that map and for sure I want to be able to control that lights. And also I need a static obstacle on the road, and I would change it's existince time to time. So let's say when i checked the traffic box on Simulator I want to see that static o

[2020-04-20 07:02] yujie181152 commented on #724
thanks! how to run binary?i don't understand this command.and i wanne know that if i can use old released simulator source  to load new assetbundle which from website downloaded ,for example,i use 2019.10f1 version to load the latest assetbundle ,is it ok?

[2020-04-20 07:09] yujie181152 opened #729 "2019.1.10f1 load new assetbundle error"
hi there, i wanne know that if i can use old released simulator source to load new assetbundle which from website downloaded ,for example,i use 2019.10f1 version to load the latest assetbundle ,is it ok?

i have tried to use 2019.10f1 build assetbundle  it shows "ouf of data ",and after that i  also have tried to load latest assetbundle from website but shows "Invalid: (Line: 1, Col: 1, Idx: 0) -

[2020-04-20 09:13] yujie181152 commented on #726
i got the same issue with you ,old vesion of unity can not load the latest assetbundle on the website...wating for the right solution,

[2020-04-20 09:28] xiao-hua-sheng opened #730 "API usage problems"
I want to load the map through the API, but it has been unsuccessful and has not reported an error. It's like it's stuck

[2020-04-20 19:18] EricBoiseLGSVL commented on #729
@yujie181152 Sorry, Unity does not support asset bundles from older versions of Unity.  You will need to update.

[2020-04-20 19:20] EricBoiseLGSVL commented on #730
@xiao-hua-sheng What map are you trying to load?  Is there any errors in what you are using to run the Python API?  What version of simulator and OS do you have?

[2020-04-20 19:22] EricBoiseLGSVL commented on #727
@Martin20 Yes, you have the correct sensor.  @luqiang21 Do you know what could be the issue?

[2020-04-20 19:27] EricBoiseLGSVL commented on #726
@Martin20 It says from your player log "Intel(R) HD Graphics 4600 (ID=0x412)" with "2048 MB" were you able to force the correct GPU?

@yujie181152 You will need to update the asset bundles for the new version of Unity and Simulator.  Either re-download or re-create local ones

[2020-04-20 19:45] EricBoiseLGSVL commented on #728
@ozguradas Thank you for using LGSVL Simulator and welcome to Unity development.  What you are asking for is an advanced topic but let's see if I can get you started in the right direction.
- First thing is to watch some tutorials on Unity especially on how to use the Editor and prefabs.
- Then look at our documentation [here](https://www.lgsvlsimulator.com/docs/). Bookmark it
- Watch [this](https

[2020-04-21 02:00] yujie181152 commented on #729
can you provide the old assetbundle which compatiable with 2019.10f1,
or the asset file i can build myself,because old assetbundle cache was deleted by mistake,now i'm stuck with this issue,thank you very much

[2020-04-21 07:11] xiao-hua-sheng commented on #730
I ran routine 05-ego-drive-in-circle.py, and there was no error. Using Windows 10, simulator version is 2020.03

[2020-04-21 10:22] xiao-hua-sheng commented on #730
Hello, I changed the simulator version to 2019.11. The following error occurred:Exception: Environment 'Shalun' is not available

These pictures show my settings。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Eric Boise"<notifications@github.com&gt;;
发送时间:&nbsp;2020年4月21日(星期二) 凌晨3:20
收件人:&nbsp;"lgsvl/simulator"<simulator@noreply.github.com&gt;;
抄送:&nbsp;"始光"<1345795357@qq.com&gt

[2020-04-21 11:08] ozguradas commented on #728
Thank you Eric, i'll study on these

[2020-04-21 16:36] EricBoiseLGSVL commented on #729
@yujie181152 You can just delete data.db and backup.db from the persistent data path [here](https://docs.unity3d.com/ScriptReference/Application-persistentDataPath.html)
On windows it is C:\Users\[YOU]\AppData\LocalLow\LG Silicon Valley Lab\LGSVL Simulator\
Once you delete these files, run the 2019.10 build and all assets will download again

[2020-04-21 16:40] EricBoiseLGSVL commented on #730
@xiao-hua-sheng not seeing any pictures.  If you are using 2020.03 you will need updated asset bundles.  That is why it isn't loading with the API,  Please delete data.db and backup.db here, C:\Users\[YOU]\AppData\LocalLow\LG Silicon Valley Lab\LGSVL Simulator on windows.  Then run the binary and all correct bundles will download.  Each release has corresponding bundles for that release

[2020-04-21 17:05] fabriquant commented on #687
Hello @rongguodong, @luqiang21,

According to the new 2020.03 Release annoncement, the Velodyne Lidar Sensor plugin "bypasses the normal bridge communication interface and instead use a direct UDP connection to communicate with the target System Under Test (AD stack)".

What are LG plans for the future of the "old" LIDAR sensor ? Are you going to deprecate it then remove it from the simulator ?

[2020-04-21 17:18] rongguodong commented on #687
"old" Lidar sensor is a general lidar model so that you can model it according to your own Lidar model, particularly if you are not using Velodyne Lidar.

The current Velodyne Lidar Sensor plugin only supports VLP-16 and VLP-32C (VLS-128 will be added soon). If you use other models of Velodyne Lidar, or non-Velodyne Lidar, and still want to bypass bridge, you may create your own Lidar sensor plugi

[2020-04-22 01:18] rongguodong commented on #687
@fabriquant You can refer to our updated documents on Lidar Sensor Plugin:
https://www.lgsvlsimulator.com/docs/lidar-plugin/

[2020-04-22 09:35] qsengshu opened #731 "Main Camera Image Crop Resize for Latencyreduction using PythonAPI and Reinforcement Learning"
Dear LGSVL,

Im trying to crop and resize the image i get from the MainCamera in the simulation.
I sent the Image to my reinforcement learning framework calling the method Sensor.save() (Python API File: sensor.py - command: "sensor/camera/save"). My goal is to reduce latency between the running simulation and my framework to reduce training time.

I tried following things

**concerning cropping:*

[2020-04-22 15:46] luqiang21 commented on #727
@Martin20 The error on your screen seems saying traffic lights cannot be projected on the image. But I checked your configuration for cameras, looks like you are using the sample configurations. Are you using map from our simulator or your own map? Is your perception working well?

[2020-04-22 19:06] fabriquant commented on #662
Hello @EricBoiseLGSVL ,

I am looking at doing the same thing but with Autoware.AI.
Would you have some pointers on how to get started ?
For example, should I publish some ROS messages to do it and would I be constrained by the Autoware GUI (so much is done in the dialog box)?

Many thanks

[2020-04-22 19:09] EricBoiseLGSVL commented on #731
@qsengshu Method 2 should be the way to reduce camera image.  We will look into why this is not working for you in sensor parameters.  @rongguodong can you test that this is not working as intended?

[2020-04-22 19:53] Martin20 commented on #727
Actually, the Module Delay in dreamview shows less than 1 second for Traffic Light. After a while, when the camera view is changed, the delay constantly increases. I think the data from camera has a problem.

[2020-04-22 19:55] Martin20 commented on #727
Hi @luqiang21,

I used your map. CubeTown. The perception works well. Just I have a problem with the traffic lights.

[2020-04-22 20:07] martins-mozeiko commented on #731
Method 2 is the way to go, but you should be changing sensor parameters in JSON configuration instead: https://www.lgsvlsimulator.com/docs/sensor-json-options/#color-camera
Values in C# code are used only during development, when you manually instantiate sensor. They are overwritten from values in sensor configuration specified in web interface.

[2020-04-22 21:47] EricBoiseLGSVL commented on #662
@fabriquant You will need to publish a ROS message.  We have not done this yet sorry

[2020-04-22 21:50] EricBoiseLGSVL commented on #731
@qsengshu @martins-mozeiko @rongguodong Ah, yes.  I thought you were changing the values in the sensor parameters, not the code.  I see that it was in the CameraSensorBase.  Don't do this.  The Sensor parameters allow you to change the resolution in the WebUI.  Let us know if that is working as intended.

[2020-04-22 22:06] rongguodong commented on #731
I just tried to change resolution in JSON and run the sample Python script (06-save-camera-image.py). The saved images have correct resolution as set in JSON.

[2020-04-22 22:30] EricBoiseLGSVL commented on #731
Thanks for confirming

[2020-04-22 22:55] luqiang21 commented on #727
@Martin20 That's very weird. I encountered situation that perception doesn't work but traffic light was working because GPU memory was almost exhausted. Did you try to only enable traffic light without perception?

[2020-04-23 01:08] Martin20 commented on #726
@EricBoiseLGSVL
No, it is not the correct GPU. Mine is an Nvidia.
How can I fix that?

[2020-04-23 01:44] Martin20 commented on #727
@luqiang21
When I turn the perception off, the traffic light detection does not work. I think it is related to the camera view. When the vehicle encounters a new scene, the traffic light module becomes off.

[2020-04-23 01:50] Martin20 commented on #727
@luqiang21
Might it be because of the old version of the simulator? I use 2019.10 on windows. I use the old version because I have a problem with the latest version. I have an open issue for that [here](https://github.com/lgsvl/simulator/issues/726#issue-600987995).

[2020-04-23 02:12] Martin20 opened #732 "Apollo 5.0 Canbus is not working"
Hello all,

I use apollo 5.0 and the Canbus module is not working. When I run it by its launch file, receive the following error:

![image](https://user-images.githubusercontent.com/24797708/80051436-ff524d00-84cc-11ea-8363-f24dd8d73d0e.png)

[2020-04-23 02:16] lemketron commented on #726
You’re running LGSVL Simulator on Windows, right?

Did you try opening the NVIDIA Control panel, going to “Manage 3D Settings“ and “Program settings“ and try selecting the preferred graphics processor for the application?

[2020-04-23 02:30] Martin20 commented on #726
I run the LGSVL on windows and remotely Apollo 5.0 on ubuntu. You mean change the settings on Windows or Ubuntu? LGSVL on windows does not use GPU because there is no GPU on my windows. I just have it on ubuntu where the Apollo is run.

[2020-04-23 02:45] lemketron commented on #726
If you don’t have a discrete GPU on the Windows machine then you should consider running LGSVL Simulator on the Ubuntu system with the Titan GPU.

https://www.lgsvlsimulator.com/docs/getting-started/#getting-started

[2020-04-23 02:58] Martin20 commented on #726
@lemketron
How an old version is working on the same machine?

[2020-04-23 03:16] lemketron commented on #726
This was confusing, because I think you’re saying that this Titan Xp is on Ubuntu (where you are running Apollo, not the simulator). Instead it seems you are running the Simulator on a Windows machine with only Intel graphics.

That may have (barely) worked for older simulator version (before HDRP), but the shaders in newer HDRP versions of the simulator have different GPU requirements, as explain

[2020-04-23 03:42] luqiang21 commented on #732
@Martin20 Our simulator is providing canbus data which is the output of Canbus driver. So you don't need to run Canbus module.

[2020-04-23 03:46] luqiang21 commented on #727
@Martin20 It is possible due to the version. But I am not clear what do you mean by "When the vehicle encounters a new scene", what is the scene here？

[2020-04-23 11:30] qsengshu commented on #731
@martins-mozeiko @rongguodong @EricBoiseLGSVL
Thank you! You have helped me a lot!

Best regards,
qsengshu

[2020-04-23 11:30] #731 closed

[2020-04-23 11:37] ozguradas opened #733 "AD Car Control can't reach the ctrl_cmd values (steering angle value)"
Hello,
I am using Lgsvl-Autoware connection rn. I tried both pure_pursuit and mpc_follower on it. And there was a problem with ctrl_cmd. I was monitoring steering value of ctrl_cmd and AD car control's steering value on lgsvl. I saw 0.6 steering angle on ctrl_cmd but ad car control showed me values between 0.23-0.3, and as you can understand vehicle couldn't make the turn. I know vehicle has max s

[2020-04-23 14:36] bage131 commented on #723
Thank you very much.But I have a new problem.I have created a  parking map in the Unity.The car is far from the ground when I  run the simulator.As shown in the picture.How to set the position on the map.Thank you.
![Car](https://user-images.githubusercontent.com/56905005/80111329-567e1d80-85b2-11ea-8d2d-0f329625e516.PNG)

[2020-04-23 15:11] Erdemhan commented on #723
You should set SpawnInfo's position.

[2020-04-23 16:53] dr563105 opened #734 "Autoware_Auto using ROS2 and accessing /vehicle_cmd"
I'd like to subscribe to /vehicle_cmd using a python script node to fetch the movement controls. However, I can't seem to access RawControlCommand from autoware_auto_msgs. I'm getting "No module found" error.

Can you please help me access this ros2 topic? I basically need this to fetch throttle and brake data.

Thanks.

[2020-04-23 17:02] dr563105 opened #735 "Created new camera sensors, the whole UI is overbright."
I created three camera sensor nodes - left, main and right adjusting the **x** variable as 0, -1 and +1 in transform sensor. In the vehicles tab I used ROS2 as bridge type and these as sensor parameters.

`[{"type": "Color Camera", "name": "Main Camera",
            "params": {"Width": 1920, "Height": 1080, "Frequency": 15, "JpegQuality": 75, "FieldOfView": 50, "MinDistance": 0.1, "MaxDistance": 1

[2020-04-23 17:19] rongguodong commented on #735
Looks like related to auto exposure. I see half of the image is dark because of shadow. So auto exposure may improve the exposure to make the whole image brighter. If you drive to somewhere with less shadow, will the whole image become less bright?

However, it should not be related to how many cameras you are using. Do you mean the image is normal if you have only one main camera, but become brig

[2020-04-23 17:23] EricBoiseLGSVL commented on #734
@luqiang21 Do you know what the issue is?

[2020-04-23 17:43] dr563105 commented on #735
I just tried it BorregasAve with no shadow, same behaviour. Happens when there is only one sensor. It was working fine until about 5 hours ago. I even deleted the LGSVL simulator config and loaded again. Over exposed UI greets me. It's weird. Logging off and back in also doesn't help.

[2020-04-23 17:51] EricBoiseLGSVL commented on #733
@ozguradas When we implemented Autoware we had to make adjustments to make the EGO drive.  These adjustments might need changed to work with 1.13.  You should look in VehicleControlSensor.cs in Autoware reader.

![SteerIssue0](https://user-images.githubusercontent.com/45106230/80132351-6402bb80-8550-11ea-8d24-6244e2ad0011.png)

@luqiang21 thoughts?

[2020-04-23 18:27] ozguradas commented on #733
Thank you for quick response @EricBoiseLGSVL , i'll play with that value which you showed me. If it is  the solution i'll let you know.

[2020-04-24 19:36] EricBoiseLGSVL commented on #735
@dr563105 How are you disabling shadows?  2020.03 has exposure post processing volumes added to give a more realistic exposure to direct sunlight.  This or screen space reflections are causing materials to reflect in shadow.  We will look into this more.

[2020-04-24 19:37] EricBoiseLGSVL commented on #735
@rongguodong adding you and pinging Eric to look at this issue

[2020-04-24 19:53] dr563105 commented on #735
@EricBoiseLGSVL I didn't do anything apart adding those camera sensors. After raising the issue, I even reset everything and tried again. No luck. All I remember is running the sim just after adding the sensor json caused this change.

Anyway here is new logs of 2020.03 Sim. That UI asking to choose resolution and graphic quality didn't appear despite deleting the config folder.
[Player_2020_03.lo

[2020-04-24 20:48] ericSterner commented on #735
@dr563105 We're currently investigating some issues with Unity's Physically Based Sky. It seems that the ground tint setting might have something to do with what you are seeing in the SF map.  This still needs to be verified but I'm looking into it right now.

[2020-04-24 20:49] ericSterner commented on #735
![Comparison](https://user-images.githubusercontent.com/49289836/80255696-4dcd2c00-8632-11ea-87c2-135ec8a4a21a.jpg)
Here's a comparison for a white ground tint (which solves some other issues we were having) and a brown tint based on Unity's default settings.

[2020-04-24 23:16] rongguodong commented on #735
I tested in SF scene, and verified it is because of auto exposure, and having nothing to do with number of camera sensor. Even with the default JSON setting, I can see the overbright effect. I tried to rotate view point in "free view" mode, and see the UI become normal as long as the overall brightness of the screen is normal. See attached screenshots for caparison.
![Screenshot from 2020-04-24 16

[2020-04-24 23:27] Martin20 opened #736 "How Can I run the simulator on a remote server"
I want to run lgsvl on an ubuntu remote server. However, when I run it, it shows the number of the display is 0 (as the image below). I think this is because I want to run it remotely on ubuntu. I could run it remotely on windows 10. Any solution?

![image](https://user-images.githubusercontent.com/24797708/80264261-6d6f4f00-8648-11ea-912e-0bbcb4f1ff43.png)

[2020-04-24 23:29] EricBoiseLGSVL commented on #735
@rongguodong @ericSterner yes, nice work on finding the issue.  If you adjust volume Physically Based Sky ground tint to black it reduces this issue.  We are looking at solutions to fix

[2020-04-25 04:19] luqiang21 commented on #734
@EricBoiseLGSVL I am not sure about this. Tae @cyberphysicalrobotics probably knows more on this.

[2020-04-25 04:48] cyberphysicalrobotics commented on #734
@dr563105 Could you see the topic name (/vehicle_control_command) on command of ros2 topic list? What's the result of ros2 topic list?

Did you use the following sensor configuration json file?
https://www.lgsvlsimulator.com/docs/autoware-auto-json-example/

autoware auto msg is defined in the following:
https://gitlab.com/autowarefoundation/autoware.auto/autoware_auto_msgs/-/tree/master/autoware_

[2020-04-25 04:50] cyberphysicalrobotics commented on #734
@dr563105 Could you see the topic name (/vehicle_control_command) on command of ros2 topic list? What's the result of ros2 topic list?

Did you use the following sensor configuration json file?
https://www.lgsvlsimulator.com/docs/autoware-auto-json-example/

autoware auto msg is defined in the following:
https://gitlab.com/autowarefoundation/autoware.auto/autoware_auto_msgs/-/tree/master/autoware_

[2020-04-25 04:52] cyberphysicalrobotics commented on #734
I mistakenly pressed close the issue. I reopened it.

[2020-04-25 05:36] dr563105 commented on #734
Thank you for your reply.

I didn't look into the sensor config page -- https://www.lgsvlsimulator.com/docs/autoware-auto-json-example/ . I just had `/vehicle_cmd` as topic in the script. In the Simulator I saw the same as topic and type as `autoware_msgs/VehicleCmd`. So just continued with that.

[code]
After adding that json into the vehicles tab in the WebUI, I see `/vehicle_control_command` wi

[2020-04-25 09:42] #635 closed

[2020-04-25 12:02] simon13579 commented on #636
@ajay1606 No, this issue is still here, please let me know if you have any solution, thanks!

Best Regards.

[2020-04-25 13:44] ntutangyun commented on #639
Hi This is to update that after commenting out the lanes `684-688` in `simulator/Assets/Scripts/Editor/ApolloMapTool.cs`, the predecessor issue is indeed solved.

Thanks for the help.

[2020-04-26 18:49] lemketron commented on #736
You could try installing the vino server with instructions here:
https://linuxconfig.org/ubuntu-remote-desktop-18-04-bionic-beaver-linux

I tried that and it worked for me with TigerVNC as a client.

Alternatively you could try xRDP with XFCE as the desktop environment (like Xubuntu, as this page indicates that xRDP has problems working with Unity and GNOME desktop environment in Ubuntu):
https://

[2020-04-26 19:56] Martin20 commented on #736
Thanks @lemketron ,

I want to connect from the windows as client. Do you have a suggestion for the client-side?

[2020-04-26 20:53] lemketron commented on #736
I would suggest investigating one of the options in this list, such as UltraVNC, TightVNC, or TigerVNC: https://www.geckoandfly.com/23203/vnc-client-viewer-windows-mac-linux/

Or, if you install XFCE and xRDP on the Ubuntu side, then you could presumably just use the Windows RDP (Remote Desktop Protocol) client (MSRDC).

[2020-04-27 04:55] PunchShadow commented on #708
@EricBoiseLGSVL @tleyden  I've tried NoMachine, but still can't open it successfully.
I refer the setting of [NoMachine Setting on headless server](https://www.nomachine.com/AR10K00710) but showing the same bugs in #314 (I've already install the recommended packages).

Here's part of my log:

Desktop is 1024 x 768 @ 0 Hz
[Vulkan init] extensions: count=16
[Vulkan init] extensions: name=VK_KHR_devi

[2020-04-28 01:30] Martin20 opened #737 "How it is possible to spawn several vehicles in Apollo 5.0"
Hello,

I want to have several vehicles on one simulation. I could run it with two machines. However, I do not have enough machines to run for all of my required vehicles. Is there any other way to spawn vehicles inside lgsvl and control by apollo?

[2020-04-28 12:08] msc9533 opened #738 "doesn't pick intensity from road marking except "BorregasAve"."
Hi, thanks for making this awesome simulator!
I tried to record lidar data. but some problem with getting intensity.
I modified [this](https://github.com/lgsvl/PythonAPI/blob/master/quickstart/07-save-lidar-point-cloud.py) code and visualized recorded lidar data on Rviz.
When I using `current_scene` as `BorregasAve`  looks no problem with getting intensity.
![Imgur](https://i.imgur.com/pT6uBhX.png

[2020-04-28 15:48] duong-pa opened #739 "where to get LG sim older version"
I have limited hardware which can not run current version of LG simulator which require 8GB GPU memory.
I used LG sim in the past when it required less . But now i could not find that version here. Wonder why you get rid of it? and where to get that version.

Thank you.

[2020-04-28 16:53] luqiang21 commented on #739
Hi @duong-pa, you can find our releases here https://github.com/lgsvl/simulator/releases

[2020-04-28 16:55] dr563105 commented on #739
Are you looking for these? https://github.com/lgsvl/simulator-2019.05-obsolete/releases

[2020-04-28 16:59] rongguodong commented on #738
Lidar intensity is set here (https://github.com/lgsvl/simulator/blob/master/Assets/Shaders/LidarPass.hlsl#L48).

For road surface, we defined "_MASKMAP", so intensity value is get from the metallic value, which is from an intensity texture. The intensity texture is created by artist matching the road surface. Currently, only Borregas map has this texture set. If you want to do this for other scene

[2020-04-28 16:59] EricBoiseLGSVL commented on #737
@Martin20 Yes, you can select multiple vehicles in the WebUI and configure each one in the Vehicles tab.  If you want the same vehicle type, be sure to create separate Vehicle configurations.  You can also run a distributed simulation with multiple EGO vehicles because your sensor configuration may need multiple GPUs for performance reasons.  This feature is still in development and we will be rel

[2020-04-28 17:01] duong-pa commented on #739
that im looking for. thank you

[2020-04-28 17:01] #739 closed

[2020-04-28 17:03] EricBoiseLGSVL commented on #708
@PunchShadow Unity requires a GPU to run.  Headless will not work.

[2020-04-28 17:05] EricBoiseLGSVL commented on #734
@cyberphysicalrobotics Thanks for helping.  @dr563105 reply is correct, right?

[2020-04-28 18:00] martins-mozeiko commented on #708
That is not quite accurate. Traditionally headless means there is no monitor attached. But as long as there is display server running, GPU present and nvidia driver installed - Unity will run fine. Regardless of where output goes (headless or no headless).

I don't know how exactly NoMachine works, but if it uses xvfb virtual framebuffer for it's display server, then it simply won't have access to

[2020-04-28 18:27] PunchShadow commented on #708
@EricBoiseLGSVL @martins-mozeiko I can run Nvidia-docker with nvidia-smi, so I think it's not the driver or GPU's problem. I'll try to operate another GPU oriented application first and figure out the more precise question. Thanks @martins-mozeiko again !

[2020-04-28 19:12] rongguodong commented on #738
Just double checked SF scene, and found it does have an intensity texture. There is a bug making intensity not working for SF. We are working on it and will fix it soon.

[2020-04-28 20:06] Martin20 commented on #737
@EricBoiseLGSVL
As I said, I do not have enough separated machines. Form your first part of explanations, I did not understand how I can have multiple vehicles on the same machine.

[2020-04-28 21:04] lemketron commented on #737
Running the full Apollo (5.0+) autonomous driving stack requires a pretty powerful machine on its own. Therefore running a single Apollo instance along with the simulator on a single machine can be challenging, but it is doable.  However, I don't believe that running multiple instances of Apollo along with the simulator on a single machine is practical.

As @EricBoiseLGSVL said, the simulator DOES