[2020-08-25 18:06] asifsid-32 commented on #938
@EricBoiseLGSVL Also I facing this problem where I am getting only the last frame image from the simulator dumped to my system. Not able to get all the images in between the starting frame and the ending frame !!!

[2020-08-25 18:18] dymons commented on #927
I understand thanks for the explanation!

[2020-08-25 18:19] #927 closed

[2020-08-25 18:43] rongguodong commented on #935
I will close this issue for now.

If anyone met the same issue, please reopen this. We really want to figure out the root cause of this. If you see the same issue, please search the error messages from PncMap::GetRouteSegments function (see my comment above for more details). This would help us to understand why this function can fail.

[2020-08-25 18:43] #935 closed

[2020-08-25 18:50] dymons commented on #933
@lemketron, @EricBoiseLGSVL Thank you for your explanation!

[2020-08-25 18:50] #933 closed

[2020-08-25 19:16] dr563105 opened #940 "Register inputs/key press even if pressed for a short period"
Hello,
Currently when I press the up arrow to accelerate, in the keyboard sensor HUD, acceleration turns 1 only when the duration of the key press is ca.0.5s. Consecutive repeated presses reflect the velocity to raise but not acceleration's discrete value. Same goes with braking(down arrow). However, the steering is fine. It registers the turns. nudges easily. How can I achieve this for accelerati

[2020-08-26 02:22] asifsid-32 commented on #938
Looping the API save method in .py

[2020-08-26 02:38] yumianhuli2 commented on #937
Thank you!

[2020-08-26 02:38] #937 closed

[2020-08-26 03:59] qwetqwe commented on #924
Hi,@EricBoiseLGSVL, I used lgsvlsimulator-linux64-2020.05 release version.

[2020-08-26 04:08] asifsid-32 commented on #938
Got it @EricBoiseLGSVL

[2020-08-26 05:51] zelenkovsky commented on #920
Requirement to register and maintain logged in status is intentional, we expect to provide more cloud based features to the simulator in very near future. It would include running cloud simulation at scale, content sharing and etc.

While running continuously improving open source version of the simulator locally will be always free, most of value added premium features will be delivered via the c

[2020-08-26 06:55] EricBoiseLGSVL commented on #924
@qwetqwe Yes, sorry for the confusion, we have not released this yet but we will soon.

[2020-08-26 07:04] qwetqwe commented on #924
@EricBoiseLGSVL ,thanks for you reply.
Expecting...

[2020-08-26 07:04] #924 closed

[2020-08-26 07:55] ntutangyun opened #941 "[cyber bridge] message size limit"
Hi team,

I've created a very big message (about 57 MB), at a frequency about 3 Hz, that's sending from Apollo to LGSVL (I've create a custom sensor to receive from this message channel)

![image](https://user-images.githubusercontent.com/16061105/91276295-ea0b6900-e7b3-11ea-9d34-77cdbf476277.png)

However, when I enable the receiving sensor, the bridge keeps getting shut down and reopens again.

[2020-08-26 09:27] ashwinsarvesh opened #942 "lgsvl_msgs: Viewing Traffic light bounding boxes"
Hello,

I am trying to view the bounding boxes for traffic light signals by subscribing to the ground truth data
I am using LGSVL fork of Apollo 5.0
But my _Apollo.5.0/lgsvl_pkgs/lgsvl_msgs_ folder is empty.
Can someone tell me what should I do next ?

[2020-08-26 10:12] gizegizem commented on #932
Thank you for answer @EricBoiseLGSVL as you said, I followed exact structure in CubeTown but as far as I see, the NPCs can do right turn after a second eventhough the light is red. But if the car tries to do left turn or go straight , it just waits and obey the traffic light. How can I manage to npc's not to turn right immediately . They just wait 1-2 sec and turn right.

[2020-08-26 10:48] wisdom-bob opened #943 "Question about import pointCloud and export Opendrive format map."
Now I can import .pcd file into the simulator. However, I find some question:
1. my .pcd file with rgb data can't be imported successfully. Can I ask what the format API database you are referring to? Or can you give me more information on how to use the point cloud import module? as below is the format I find in the project. I'm not familiar with C#. I feel that the data structure is too casual.

[2020-08-26 12:06] dr563105 commented on #942
Have you already tried to follow these instructions? -- https://www.lgsvlsimulator.com/docs/lgsvl-msgs/

[2020-08-26 12:25] gizegizem commented on #932
By the way , I also try to add speed bump however I couldn't find AutonomousStaff Speed Bump Mesh. How can I find it ? Or is there any solution

[2020-08-26 13:08] ashwinsarvesh commented on #942
@dr563105 This can be also used for Apollo 5.0 which uses the CyberRT bridge?
I see only ROS/ROS2 mentioned in the link.

[2020-08-26 14:27] alperenbayraktar commented on #932
I was dealing with the same problem earlier today, traced back the code, and saw that the MapIntersection.cs initializes the TrafficLightLoop. I had my traffic lights on the MapLaneSections, not in the MapIntersections. Also had a TrafficLight.cs but decided to delete my code and assets and just copy the traffic lights in CubeTown and thus, their code.
- Carried my MapSignals into according MapInt

[2020-08-26 16:04] rongguodong commented on #941
https://github.com/lgsvl/simulator/blob/cd0f0bfd421275b2c249971c019f11179517bd49/Assets/Scripts/Bridge/Cyber/CyberBridge.cs#L143
Current reader implementation uses a fixed size (1024) buffer. Can you change this line to the following and try?
var bytes = new List<byte>(1 + 4 + channelBytes.Length + 4 + typeBytes.Length);

[2020-08-26 19:26] EricBoiseLGSVL commented on #943
@wisdom-bob We just implemented polynomial for open drive and should be available soon.  I'll add @luqiang21 to confirm
@kamkolak Offered help in issue #921.  Is this the same issue or different?

[2020-08-26 19:30] EricBoiseLGSVL commented on #938
Can you please post the error? Also, can you post the relevant code that you are using?

[2020-08-26 19:36] EricBoiseLGSVL commented on #940
@dr563105 Steering is lerped to give gradual rotation to the wheels.  You will need to do the same for acceleration.  We did not do this because we wanted AD stack to provide raw input.  You should look at KeyboardControlSensor.cs to have this gradual acceleration instead of raw keyboard input

[2020-08-26 19:58] EricBoiseLGSVL commented on #932
@alperenbayraktar Thanks for the helpful post!

[2020-08-26 20:00] rongguodong commented on #942
@ashwinsarvesh How do you clone our fork of Apollo 5.0? You should get proto files in lgsvl_msgs. It is a submodule pointing to another repo ("proto" branch). If you cannot get it for some reason, you can manually clone them from here:
https://github.com/lgsvl/lgsvl_msgs/tree/protobuf

[2020-08-26 20:36] dr563105 commented on #940
Thanks Eric. I see it use Mathf.Movetowards(). I’d like the acceleration and braking to be just discrete values— `-1 0 1` but changing gradually with time. Can you help me figure out which math function in unity will achieve this?

[2020-08-26 21:03] rongguodong commented on #942
If you follow our instruction [here](https://www.lgsvlsimulator.com/docs/apollo5-0-instructions/#cloning-the-repository), you should automatically get its contents in "lgsvl_msgs".

[2020-08-26 21:11] EricBoiseLGSVL commented on #940
No prob.  I think if you want discrete you can check value, e.g. inputValue > 0 then 1 else < 0 then -1 else 0.  All apis for this is for incremental values not discrete.  I think this is an issue with Unity's input system. We have an older version that we need to update.

[2020-08-26 22:19] hadiTab commented on #930
@asifsid-32 I'm assuming your custom framework has some sort of mechanism for passing messages such as sensor data around. To communicate with the simulator you would need to send this data over websocket to the simulator. For example, for ROS, there are two "bridge" components. One runs as a ROS node, the other is part of the simulator. These two bridge components communicate with eachother over

[2020-08-26 22:37] martins-mozeiko commented on #941
This part of C# code is not the problem. 1024 is only initial capacity of dynamic array. C# List expands as more data is added to it - just like std::vector in C++. 1024 there is like calling reserve(1024) on std::vector. Also function with line 143 is responsible only for registering reader with bridge on startup, not actually reading data - that happens in OnEndRead & BeginReceive functions.

An

[2020-08-27 00:43] amc-nu commented on #936
Thank you for your prompt reply.
Apologies for my late reply @EricBoiseLGSVL
I was able to solve this problem recompiling the simulator binary from inside the Unity editor.
Simulator -> Build -> Build Simulator.

[2020-08-27 00:43] #936 closed

[2020-08-27 01:03] wisdom-bob commented on #943
I'm looking forward to the new feature! How about the PointCloud import function? As I know,PCL is now the most popular pcd api. However, it seems not support LGSVL import function. So which api is the designed import function reference？

[2020-08-27 02:52] luqiang21 commented on #943
@wisdom-bob Yes, we just implemented polynomial fitting within each reference line. Hope it will be helpful for you.

[2020-08-27 03:24] zijianguan0204 opened #944 "Map Data Tracking"
Hello there

We are a group of students trying to develop a high-level api library based on the Python API from LGSVL. In order to do that, we need to get the detailed data about the current map that we are using: Borregas Avenue

We saw some examples that LGSVL provided about starting point and ending point of a npc vehicle or Pedestrians can be represented using vector or coordinate. Is there an

[2020-08-27 03:33] wisdom-bob commented on #943
But, as I see in the exported .xodr file in Opendrivev1.4 format, the curve line is cut into many straight lines. As below is the exported file according to the CubeTown Annotation data. Emm....... Sorry, I think I'm wrong. I think it should be expressed by a few polynomial curve segments. However, now it's too many many segments which i think it's not necessary.

<lane id="1" type="driving" level

[2020-08-27 03:44] asifsid-32 opened #945 "Fish_eye Camera too bright"
Hii LGSVL Team, i used fish_eye camera mounted on my ego car and the output is too bright to see the scenario. Can we do anything in the json file config to reduce the brightness ?
![Screenshot (26)](https://user-images.githubusercontent.com/69885768/91381704-a8c39980-e845-11ea-89ac-26361f3c0940.png)

[2020-08-27 03:49] EricBoiseLGSVL commented on #936
@amc-nu No worries, glad you were able to solve the problem and thanks for posting your fix to help others.

[2020-08-27 04:16] yumianhuli2 opened #946 "When is the next update expected"
When is the next release for update and bug fix？
Thanks！

[2020-08-27 04:28] yumianhuli2 commented on #943
Hope to fix the Polyparam of referenceline  and the calculation of the width of laneWidth in the next version.By the way, when is the next version update expected：）？

[2020-08-27 08:18] asifsid-32 commented on #938
Hello @EricBoiseLGSVL I was able to solve the error !! Thank you

[2020-08-27 13:22] luqiang21 commented on #943
It is not released yet. And our map annotations are only discrete points, so we had to generate equations for every two points.

[2020-08-27 15:51] crankler commented on #153
@opoppo  HI, thank you for your share,
when I use this code, and add  jsk_recognition_msgs/BoundingBoxArray, I get the error of rviz:
`[ERROR] [1598542990.471080399]: Error transforming pose from frame '' to frame 'velodyne'
`
and I find the topic as follow;

[code]

[2020-08-27 15:55] rongguodong commented on #945
It is related to auto exposure feature in HDRP. We are investigating the solution for that.

[2020-08-27 17:31] EricBoiseLGSVL commented on #938
@asifsid-32 Excellent!  Please post code or a description of the solution so other users that might have the same issue can find it.  Thanks.

[2020-08-27 17:32] asifsid-32 commented on #938
Sure !! I will .

[2020-08-27 17:56] EricBoiseLGSVL commented on #946
@yumianhuli2 We are putting together now and testing, so very soon

[2020-08-27 17:58] EricBoiseLGSVL commented on #945
In the meantime you can set Exposure to fixed and 0 in PostProcessingVolume.prefab to eliminate the issue. It's in Assets/Prefabs/

[2020-08-27 21:32] clepz opened #947 "Lidar sensor gives sigsegv"
![error](https://user-images.githubusercontent.com/23841025/91494935-5d9b9c00-e8c2-11ea-8083-5700013959a1.PNG)

Hi,

I've created a custom map. The map includes these:
- Terrain (It has mountains and some texture layers),
- Roads (generated with easyroad)
- Trees (used terrain brush)
- Models (cars and houses from asset store. They are lod but i use only lod0)

Unity crashes if i use lidar sensor.

[2020-08-28 01:09] yumianhuli2 commented on #946
Looking forward to it：）！

[2020-08-28 01:09] #946 closed

[2020-08-28 02:56] UYasher opened #948 "Apollo Not Detecting Vehicles Created Using Python API"
I am trying to create scenarios with the python API which are then navigated using Apollo. As shown in the pictures below, Apollo is not detecting vehicles in the simulator when they are created with the python API. I am not sure whether this is caused by the use of the API or by something else, but Apollo is normally able to navigate properly when I connect to Apollo manually (i.e. not with the A

[2020-08-28 03:21] rongguodong commented on #948
Please post your Python script for us to reproduce it.

[2020-08-28 04:07] UYasher commented on #948
Here is a simple snippet which gives that behavior for me:

[code]

[2020-08-28 05:01] rongguodong commented on #948
Apollo's perception module is not stable now. I tried to manually drive the ego close to the NPC, and it can then detect it.
![Screenshot from 2020-08-27 22-00-03](https://user-images.githubusercontent.com/11858549/91523155-d265da80-e8b0-11ea-8ab4-075dbe262deb.png)

[2020-08-28 08:03] clepz commented on #947
I found something. If I delete terrain, everything is working.
I tried that deleting my terrain and add new terrain with no changes. But I got the same error again.

I need to use this terrain, any advice?

[2020-08-28 08:53] MarvinKlemp opened #949 "LiDAR horiziontal FoV"
Is there a way to define the horiziontal FoV for the LiDAR Sensor ?
As I'm working with SICK MRS-LiDARs which only have 80° FoV

As from the documentation I've only seen a way to change the vertical FoV

[2020-08-28 15:06] clepz commented on #947
I found an old issue about my problem and solved the problem.

[2020-08-28 15:06] #947 closed

[2020-08-28 15:52] rongguodong commented on #949
Since our LidarSensor always cover full 360 degree in horizontal, there is no need to define a horizontal FoV. This is how real Lidar sensors (e.g. Velodyne Lidar) work.
However, you can make your own DirectionalLidarSensor based on current LidarSensor. The simplest way is to add one more condition [here](https://github.com/lgsvl/simulator/blob/master/Assets/Scripts/Sensors/LidarSensor.cs#L272) to

[2020-08-28 18:42] MarvinKlemp commented on #949
Thanks a lot for the fast reply and your hard work :)!

I quickly played around without promising results.
If that's not too much work could you further elaborate how I can gain the horizontal angle of the ray from the information available in `execute()` ?

[2020-08-28 19:00] #900 closed

[2020-08-28 19:00] #939 closed

[2020-08-28 19:01] #880 closed

[2020-08-28 19:01] #884 closed

[2020-08-28 19:03] #812 closed

[2020-08-28 19:05] #843 closed

[2020-08-28 19:05] #829 closed

[2020-08-28 19:06] #822 closed

[2020-08-28 20:46] EricBoiseLGSVL commented on #949
@MarvinKlemp Are you talking about a (e.g. solid state, flash) non-spinning LiDAR?

[2020-08-28 20:57] EricBoiseLGSVL commented on #944
Hello, thank you for using LGSVL Simulator for your teams work. You can use Unity's [reference](https://docs.unity3d.com/ScriptReference/Space.World.html) to understand world coordinates in the Simulator.  As for road/lane data, objects in the scene under map annotation hold the data for local and world space positions.  There are no API's available to do this yet, but you can create a sensor plug

[2020-08-28 21:17] MarvinKlemp commented on #949
@EricBoiseLGSVL yes

Another example that actually are advertising for autonomous driving are ibeo LiDARs
For example: https://www.ibeo-as.com/en/products/sensoren/ibeoNEXTgeneric
Which has depending on the model a horiziontal resolution of 11.2 °, 32° or 60°

[2020-08-29 02:41] wisdom-bob commented on #943
Sorry, But I have to say, there seem to be a bigger trouble. I export a map in Opendrive format. Finally, I find the curve in map is expressed by several straightline so that a strange phenomenon of pavement wrinkles appears. I think the curve application is urgent needed！

[2020-08-29 20:40] AIasd opened #950 "Question: does lgsvl has things similar to CARLA scenario runner for easy scenario creation?"
Hi!
I am just wondering does lgsvl has things similar to CARLA scenario runner for easy scenario creation? For example, I may want to create a scenario where a leading car "gets triggered" to suddenly stop as my vehicle approaches it within a certain distance. If lgsvl supports such mechanism, could you point me to some reference on creating a scenario like this? Thank you!

[2020-08-30 12:37] eyadshak opened #951 "Steering wheel force feedback"
I'm using a Fanatec steering wheel with the simulator, steering and pedal use is working fine after editing the vehicle wheel as per #155, but is it possible to add force feedback too?
In addition, would it be possible to run Apollo with a steering wheel input in parallel?

I'm currently testing on Windows, but would also like to extend this to Ubuntu.

[2020-08-30 22:10] rrklearn2020 opened #952 "share the steps for LGSVL simulator to work with Xbox-360 Racing wheel EX2"
Please share the steps for interfacing the Xbox-360 Racing wheel EX2 with LGSVL simulator

[2020-08-31 07:40] ntutangyun commented on #941
If I decrease the amount of repeated data in the message, the message seems to be transmitted without error.

The unity shows error: `SocketException: The socket has been shut down`

and the `cyber bridge` terminal shows error: `boost::asio::error::fault`, meaning "Bad address" according to [here](https://www.boost.org/doc/libs/1_54_0/boost/asio/error.hpp)

[2020-08-31 10:55] amirtakouh commented on #929
@zelenkovsky could you shed some light on this? :)

[2020-08-31 12:54] yumianhuli2 commented on #931
I tried to always use the reference lines to calculate the normal direction, and then accumulated the widthValue last time, and the result was the same.Anyway, looking forward to the update and fix it these days！

[2020-08-31 15:20] dr563105 commented on #940
I'm closing this for now. Will reopen if needed.

[2020-08-31 15:20] #940 closed

[2020-08-31 15:21] dr563105 commented on #853
I think I already received the packages when I updated recently. If so, this can be closed.

[2020-08-31 16:31] EricBoiseLGSVL commented on #943
@wisdom-bob Yes, we have included this in the next release

[2020-08-31 16:34] EricBoiseLGSVL commented on #929
@amirtakouh As per another issue from @zelenkovsky
Requirement to register and maintain logged in status is intentional, we expect to provide more cloud based features to the simulator in very near future. It would include running cloud simulation at scale, content sharing and etc.

While running continuously improving open source version of the simulator locally will be always free, most of value

[2020-08-31 17:08] ntutangyun commented on #941
for example,  there is a repeated double field in the message definition.

when I add only 100 double values to the field, everything works fine. the total message size is about 1.8 KB.

But when I add all the data to the field, the message grows to over 3 Mb, and the error mentioned above happens..

[2020-08-31 18:55] EricBoiseLGSVL commented on #952
@rrklearn2020
- Please look at the WheelControlCensor already in project in Assets/Scripts/Sensors and Assets/Prefabs/Sensors
- Watch this [here](https://youtu.be/Pzd8NhcRzVo)
- Be aware that our input system package is a little old.  We plan on updating soon
- Open Assets/Scripts/Controllers/SimulatorControls.asset.  This is where you will add a set of controls for the wheel.  See the previous wh

[2020-08-31 19:00] EricBoiseLGSVL commented on #951
@eyadshak If you add a wheel control sensor and VehicleControl sensor, you can use both at the same time.  Yes, you can implement force feedback.  We had it before in the older version of simulator, with a different wheel but it requires directly communicating with the drivers and was very specific to the hardware (plus buggy on Linux).  You will probably need to support two different implementati

[2020-08-31 19:02] EricBoiseLGSVL commented on #950
@AIasd Yes, we are currently developing a Visual Scenario Editor within the Simulator that allows users to open existing scenes, add agents, set waypoints, set triggers and support playback.  This should be releasing soon.

[2020-08-31 19:04] EricBoiseLGSVL commented on #949
@MarvinKlemp We are currently looking supporting more sensor types and we will see if we can get this or something similar on the roadmap.

[2020-09-01 03:49] wisdom-bob commented on #950
Hello，the history of this issue is lost? Emm..... I want to ask when the curve annotation application will be published with matched map export function

[2020-09-01 06:54] eyadshak commented on #951
Thanks @EricBoiseLGSVL for the answer, would you be able to guide me on how to start implementing the force feedback? In this case I will stick with Windows for that implementation before moving on to Linux if needed.

[2020-09-01 07:20] wisdom-bob opened #953 "How to create a road with junction feature when annotating the map"
I was try to annotation a map to create a map in Opendrive format. I don't know how to create a 'road' with junction features. As below is the map exported from LGSVL:

        link
            predecessor elementType="road" elementId="0" contactPoint="end" /
            successor elementType="road" elementId="2" contactPoint="start" /
        /link
        ...
/road
the road connect road="0" and

[2020-09-01 07:25] EricBoiseLGSVL commented on #950
@wisdom-bob this is not that issue.  We are releasing the curve annotation exporter functionality soon

[2020-09-01 11:27] AlexandrZabolotny opened #954 "CyberRT bridge error"
Hi team!

I am trying to change my sensor JSON configuration according to [this](https://www.lgsvlsimulator.com/docs/modular-testing/)

I added the following lines

[code]
**I am getting the following error
"Invalid: Unsupported message type Simulator.Bridge.Data.SignalDataArray used for CyberRT bridge"**

![Screenshot from 2020-09-01 14-26-10](https://user-images.githubusercontent.com/61351599/91

[2020-09-01 11:58] MarvinKlemp commented on #949
Thanks @EricBoiseLGSVL

[2020-09-01 12:42] amirtakouh commented on #929
Thank you for the response.
The command line parameters already cover --username and --password, so the user can start the simulator and login from the command line. My question was mainly about the other needed configuration that is not possible through command line, such as selecting the car/map/simulation and pressing the play button. If there are any plans to accommodate these in the command l

[2020-09-01 17:25] EricBoiseLGSVL commented on #929
@amirtakouh We have a huge release planned after the next release.  This functionality is in development now and will release after.

[2020-09-01 17:31] EricBoiseLGSVL commented on #951
@eyadshak Sorry, it was done before I joined the project and the engineer has since left.  I know that he created a .dll to access the driver to implement.  I found this on the Unity Asset Store that specifically mentions Fanatec.
https://assetstore.unity.com/packages/tools/integration/ginputcontrollers-multi-joystick-and-force-feedback-manager-94949

[2020-09-01 17:40] daviduhm commented on #954
@AlexandrZabolotny What version of simulator are you running with? Modular testing is a new feature that we recently released on [2020.06](https://github.com/lgsvl/simulator/releases/tag/2020.06). Please use the 2020.06 simulator if you're trying to run modular testing with Apollo.

[2020-09-01 22:10] #853 closed

[2020-09-02 02:21] martins-mozeiko commented on #951
New Unity Input system supports haptic feedback for xbox controllers: https://docs.unity3d.com/Packages/com.unity.inputsystem@1.0/manual/Gamepad.html#rumble

So no extra packages from Asset Store are needed. Just extra code in C# to provide necessary rumble values depending on situation

[2020-09-02 02:35] luqiang21 commented on #953
@wisdom-bob You need to place corresponding intersection lanes under an `MapIntersection` object and make sure the lane is connected with its predecessor lanes and successor lanes (i.e. their end points are overlapping).

[2020-09-02 02:38] wisdom-bob commented on #953
thanks, it's covered. It's my mistake...

[2020-09-02 02:38] #953 closed

[2020-09-02 02:39] #943 closed

[2020-09-02 03:55] iamshane opened #955 "after follow the instruction to setup environment, environment cube town and vehicle file is still 0kb"
Hello, after following the build instruction, every step is OK, and after build, the file size of  envrioment_CubeTown and vehicle_Jaguar2015XE  under the AssetBundles is 0kb,  I checked the process of build instruction, no error in the entire progress, so please help me find out, how can I make it OK, thank you.

[2020-09-02 06:08] weisongwen opened #956 "Simulate Data from multiple vehicle and perform collaborative positioning"
Hi @EricBoiseLGSVL , Thanks for sharing such a great package. I am curiously about whether the simulator can simulate camera and IMU data from multiple vehicles simultaneously?  I would like to simulate the data for collaborative positioning.

Best,
Weisong,

[2020-09-02 06:35] lemketron commented on #956
Yes, multiple vehicles are supported. If you check [How to Add/Edit a Simulation](https://www.lgsvlsimulator.com/docs/simulations-tab/#how-to-addedit-a-simulation) you will see that under 2.2: "Maps & Vehicles" the "+" button is described which will let you add another vehicle to your simulation.

Each vehicle can have its own sensor bridge (and type), specified by IP address and port.

You can al

[2020-09-02 10:11] AlexandrZabolotny commented on #954
@daviduhm , Thank you for your quick response

Thank you for your quick response

I have installed the required version.
But now I have the following problem. As it seems to me, the navigation data is not formed correctly in the new version. This can be seen in the figures.
I can't figure out what the problem is. Perhaps you have idea?

**real Vehicle position**
![Screenshot from 2020-09-02 12-59-

[2020-09-02 12:30] AlexandrZabolotny commented on #954
Hi, @lemketron
I update sources.
But the error persisted.

[2020-09-02 13:18] SeymurSm commented on #947
Hi @clepz . Could you please share the way you solved the problem? I have same issue and can not solve the problem.

[2020-09-02 15:42] rongguodong commented on #954
Are you using our fork of Apollo 5.0 or Apollo master/pre6? Since the vehicle name in Dreamview is called "Lincoln2017MKZ LGSVL", I think you are using the later. If so, please choose "Mkz Lgsvl" mode.

[2020-09-03 00:35] weisongwen commented on #956
@lemketron Thanks for your fast reply. I will look into it and let you know if I have any update :-)

Best,
Weisong.

[2020-09-03 02:56] iamshane commented on #955
@EricBoiseLGSVL
Hello Eric,
Thanks for your reply. I think I have found the issue, firstly the Linux support is not installed, and then the simulator build must tick both vehicle and cubetown together after I tried several times. if do this in a seperate way, the vehicle assetbundles is just the size of 30k, which is not correct.   thank you for your answer agian.

[2020-09-03 08:05] AlexandrZabolotny commented on #954
I've tried using both Apollo master/pre6 (select the "Mkz Lgsvl" mode) and your Apollo5.0 branch. In both cases, the error is the same.

Perhaps I did not install the new version of the simulator correctly. (2020.06). Now I'll try to reinstall it.

[2020-09-03 09:15] lemketron commented on #954
Sounds like you might need to re-download the Borregas map to get the latest one.

If you remove the data.db file from "~/.config/unity3d/LG Silicon Valley Lab/LGSVL Simulator/data.db" then when you run the simulator again it will re-download all of the maps and vehicles. See if this helps.

Another option (especially if you don't want to lose all of your current Maps, Vehicles, and Simulations) w

[2020-09-03 09:56] momala opened #957 "BaseLink component inside the unity for creating a new vehicle?"
Hi,

I followed the tutorial for creating a new vehicle for LGSVL inside the unity. I found out that there is no BaseLink component that I can add to the model like what you did in the video. I used the new release 2020.06 but there was no difference.

Where should I find this script?

Thanks

[2020-09-03 10:08] kanakab opened #958 "How to build a 1:10 reduced size custom map"
Hello,

I want to build or edit a map and reduce its size to 1/10th of the actual world. I want to test a RC Car (1:10) in this map?
Please tell me if this is possible in LGSVL and how to go about it??

This is similar to http://docs.donkeycar.com/guide/simulator/. I want to acheive the same in LGSVL with my own small town.

Thanks,
Abhishek

[2020-09-03 10:17] AlexandrZabolotny commented on #954
@lemketron,  thank You
1. I followed your recommendations:
- downloaded a latest map from the source given by you;
- renamed it to "environment_BorregasAve_new"
- copied to /simulator/Sim/AssetBundles/Environments
- added a new map to http://localhost: 8080/# /Maps

Everything is working now

![Screenshot from 2020-09-03 12-51-52](https://user-images.githubusercontent.com/61351599/92102848-d1203a8

[2020-09-03 10:58] asifsid-32 commented on #930
Hii @hadiTab as the new release is out with bridge plugin functionality can you please help me with the steps that will help me as a communication mechanism between my framework and the simulator ?

Also @EricBoiseLGSVL  if I am not using Python API's since they make simulator too slow what can be done to directly run simulator and get the sensor data from simulator and pass it to my framework. Pl

[2020-09-03 11:27] hanyh1191 opened #959 "Aborted (core dumped)"
hello,lgsvl
I have a problem that has bothered me for a few days，
I installed ubuntu and windows system on my computer,
First, I downloaded and decompressed lgsvl.zip on ubuntu18.04, and running ./simulator will open the black window, and then flash back after a few seconds.
Then I  followed the tutorial to run the ./simulator in the docker container successfully, but the simulator window still cr

[2020-09-03 12:22] ntutangyun commented on #941
@rongguodong @martins-mozeiko hi, do you need anything from my side to reproduce the error ?

[2020-09-03 13:38] ntutangyun commented on #941
I've modified the `client` function to show the bytes transferred:

[code]

and below is the result I got, every time the write error shows up.
`E0903 21:34:58.617295 16271 client.cc:97] [cyber_bridge][bridge client] bytes transferred: 65536`

[2020-09-03 14:25] ntutangyun commented on #941
I think I might have found the solution to the large message size issue:

below is original code:

[code]

**main reason** (according to my understanding, please correct me if I'm wrong :smile:)

when the `msg.size()` is really big, say 100 Mb in my case :sweat_smile:, the `async_write` won't be able to transfer the data in one go.

But, since the function, `async_write` returns immediately, and a

[2020-09-03 16:01] yumianhuli2 commented on #959
GPU  required 10GB memory on one PC for apollo5.X.

[2020-09-03 16:06] yumianhuli2 commented on #958
The map changes to one tenth of the original, and the HD map read by the algorithm also needs to be modified accordingly

[2020-09-03 17:53] EricBoiseLGSVL commented on #930
@asifsid-32 Yes, the new custom bridge has been released.  We have documentation [here](https://www.lgsvlsimulator.com/docs/bridge-plugins/).
Please read the documentation and post issues that you have with the this.  We do have a small bug that we will be releasing a fix for, @hadiTab can confirm

[2020-09-03 17:55] EricBoiseLGSVL commented on #959
@hanyh1191 Unity HDRP requires GPU and for simulation and AD control applications on one machine requires 8-10gb mem like @yumianhuli2 posted.

[2020-09-03 17:57] EricBoiseLGSVL commented on #955
@iamshane no problem, glad it is working.  I think you may have found a bug because any combination of vehicle/map/binary should be able to be built.  We think it's a Unity issue but we will investigate.  Thanks for the post.

[2020-09-03 17:57] #955 closed

[2020-09-03 18:01] asifsid-32 commented on #930
@EricBoiseLGSVL this custom bridge won't be dependent on ROS and can be used simply with our framework ??

[2020-09-03 19:03] hadiTab commented on #930
@asifsid-32 yes the bridge does not depend on ROS. Also, the bug @EricBoiseLGSVL is referring to was actually fixed before the release so there should be no bugs right now.

[2020-09-03 19:44] EricBoiseLGSVL commented on #930
Awesome, thanks @hadiTab

[2020-09-03 22:17] EricBoiseLGSVL commented on #957
You need to create an empty object as a child of the vehicle and add the BaseLink.cs to the object.  Then assign that transform to the VehicleSMI.cs baselink public field.

[2020-09-03 22:19] EricBoiseLGSVL commented on #958
Yes @yumianhuli2 is correct for hdmap.  As for geometry, you can scale the root transform to whatever scale you prefer.  You might have issues with some meshes if they are not setup correctly

[2020-09-03 22:20] #942 closed

[2020-09-04 00:05] Jiaqing-Cao opened #960 "How to simulate the Lidar laser in Unity"
Hi I have run the LGSVL simulator(2020.05 version), great work.
When I am looking into the Radar and Lidar sensor part. I have a few questions:

1.The Radar senor in LGSVL simulator is using the **Collider detect** in Unity, it did not implement the Radar waves send and receive, is that right? If so, any ideas on how to simulate Radar waves send and receive in Unity ?

2.As for the Lidar part. is

[2020-09-04 00:09] rongguodong commented on #960
LidarSensor uses depth buffer. When rendering objects into depth buffer, each ray from the camera serves as the laser ray. So it does not use Unity's collider.

[2020-09-04 00:19] Jiaqing-Cao commented on #960
@rongguodong , thanks for the reply, any idea where that part code is ?

[2020-09-04 00:31] rongguodong commented on #960
All codes are in [LidarSensorBase.cs](https://github.com/lgsvl/simulator/blob/master/Assets/Scripts/Sensors/LidarSensorBase.cs) and [LidarSensor.cs](https://github.com/lgsvl/simulator/blob/master/Assets/Scripts/Sensors/LidarSensor.cs).
Particularly, the rendering happens [here](https://github.com/lgsvl/simulator/blob/master/Assets/Scripts/Sensors/LidarSensorBase.cs#L446). The render results are re

[2020-09-04 00:37] Jiaqing-Cao commented on #960
Okay, I will look into that part, thanks a lot for your reply.
Any idea about my first Radar question?

[2020-09-04 00:50] rongguodong commented on #960
We did not simulate the radar waves, but just use a predefined volume as a "detection region". Any NPC colliding with this volume will be detected by Radar sensor.

[2020-09-04 00:51] Jiaqing-Cao commented on #960
@rongguodong , yes, then do you have any ideas about how to simulate Radar waves send and receive in Unity?

[2020-09-04 00:53] rongguodong commented on #960
Not at this time. If this is needed by more use cases, we may include this feature in our future plan.

[2020-09-04 00:55] Jiaqing-Cao commented on #960
Okay, thanks a lot for your reply, I will look into the Radar part, If I could implement that, I am willing to contribute the code here.

[2020-09-04 02:43] hanyh1191 commented on #959
Thanks, but, my computer is a dual system of ubuntu and win, I can successfully use the simulator on win, why ubuntu not? is it because I need at least 8G of Graphics card memory when using simulator on ubuntu(Aborted (core dumped))? but win does not need it.

[2020-09-04 05:09] rongguodong commented on #941
It seems "boost::asio::async_write" does have problems of writing data larger than 65536 bytes. Somebody also asking this online: https://stackoverflow.com/questions/9432722/boostasioasync-write-writing-data-larger-than-65536-bytes

We will try to find a way to improve this issue soon. Thanks for bring up this to us.

[2020-09-04 06:18] martins-mozeiko commented on #941
That's a good bug to find. It's not really a problem with async_write - it's just how it works by design, as it cannot pass arbitrary large writes to OS functions, otherwise it will block. asio::buffer keeps reference to existing container and writes pieces of it as long as OS allows, thus the data needs to persist during lifetime of async_write.

Your solution though will drop messages while send

[2020-09-04 07:34] ashwinsarvesh commented on #942
Forgot to reply.
Thank you all for your answers

[2020-09-04 07:51] devynliu commented on #959
hello,i met same issue.maybe you forget install "In a terminal also install libvulkan with sudo apt install libvulkan1". i have same quetion without libvulkan.hope this for your question.

[2020-09-04 08:53] devynliu opened #961 ""Fixed 90 degree orientation offset" according to lgsvl 2020.06 vehicle gps data is Inconsistent with data in apollo master"
hello,
today,i try to run 2020.06 with Apollo master.i find a question,the gps data maybe is wrong in 2020.06.
my system :Ubuntu 18.04
NVIDIA:RTX 2080Ti,drive:440.36
apollo and lgsvl run with together in ubuntu.
i make compareness with 2020.05 and 2020.06.when i use 2020.05 simulator with same sensor configure,the data in apollo master  is right.you can see the picture below.can you help slove?
th

[2020-09-04 08:54] kanakab commented on #958
@yumianhuli2  @EricBoiseLGSVL Thanks for your inputs.

What about the other static actors such as traffic lights, parked vehicles, would they also get reduced to one tenth size?
Once I scale down the map, how to scale down the dynamic actors or NPCs to one tenth say pedestrians or cyclists??
Answers to these question will really kick start my project.

Thanks,
Abhishek

[2020-09-04 08:57] Maddy2927 opened #962 "Using linux system for editing of existing maps"
Hey LGSVL team, I wanted to edit already existing maps to use their parking lots for my framework codes. I am currently using a linux system.
1.) Is it possible for me to install unity editor and edit maps.
2.) Also, please explain in brief how it can be done. I am new to both unity and simulator to be honest.
Thanks in advance :)

[2020-09-04 09:07] Maddy2927 commented on #934
@EricBoiseLGSVL  Also codes which i want to see the output of in the simulator are all written in C++ with ROS as a wrapper. Is it possible for me to run those codes directly in the simulator. Are c++ API supported by the simulator like python?

[2020-09-04 09:14] devynliu commented on #961
because this "Fixed 90 degree orientation offset in GPS odometry sensor"? why make this change?

[2020-09-04 09:48] qmitw188 opened #963 "Use LGSVL 2020.06 version with Autoware 1.13: EGO is upside down."
We use the latest LGSVL 2020.06 version of the simulator with Autoware 1.13.
The EGO have an upside-down problem.
![Autoware_EGO_upside-down](https://user-images.githubusercontent.com/52909956/92225968-8d582e80-eed6-11ea-952a-1ca2efb8c978.png)

I found that the 2020.06 release notes mentioned that it supports Autoware 1.14.
Does this mean that 1.13 is not  supported anymore ?

Thanks.

[2020-09-04 15:53] rongguodong commented on #961
Please download the latest AssetBundle for 2020.06 [here](https://content.lgsvlsimulator.com/maps/borregasave/).

[2020-09-04 17:32] EricBoiseLGSVL commented on #934
@Maddy2927 You can create a dll of the c++ and place in simulator.  We also have custom bridge functionality that use ROS.  Please check the latest release documentation to see if that helps

[2020-09-04 17:37] EricBoiseLGSVL commented on #958
@kanakab Yes you will need to scale any actors dynamically added to scene.  For the scene if the objects have different root objects, just create one and child all scene objects to it besides the annotation (That will not scale).  To scale actors, again just scale the object root or scale fbx import settings and then move all unity objects (wheel colliders etc) Be careful, Unity physics can act od

[2020-09-04 17:38] EricBoiseLGSVL commented on #942
@ashwinsarvesh no worries, glad to help :)

[2020-09-04 17:58] EricBoiseLGSVL commented on #961
@devynliu We are very sorry for this but we had been putting off this correction for many months.  We plan on releasing a blog post very soon to explain the change and why it was necessary.

[2020-09-04 18:01] EricBoiseLGSVL commented on #963
@qmitw188 Autoware 1.13 is still supported, @hadiTab can confirm.  This might be from us correcting the 90 turn issue.  Please post the unity scene with the spawn info object selected to see the orientation gizmo

[2020-09-04 18:06] EricBoiseLGSVL commented on #962
@Maddy2927 Welcome to LG SVL Simulator.
1) yes, please look at our documentation on how to get started and how to create content.  We have step by step guides and videos to follow.
2) I recommend watching some Unity tutorials to familiarize yourself with Unity before taking on the simulator content creation.  Download Unity 2019.3.15f1 and create a new HDRP project.  Then use the example scene uni

[2020-09-06 10:57] Addi2020 opened #964 "Simulation Tab is not avalibale?"
![Screenshot from 2020-09-06 18-32-37](https://user-images.githubusercontent.com/61130487/92324274-cdecaf00-f072-11ea-9d05-33f0712f69c0.png)

[2020-09-06 11:45] eyadshak commented on #951
@EricBoiseLGSVL no problem at all, unfortunately, unfortunately, the plugin's developer has abandoned it and according to the comments force feedback isn't working properly.
@martins-mozeiko I'll have a look and try implementing it, thanks for the link.
I will post any further updates on here.

[2020-09-06 16:32] rahul14k14 commented on #912
Hi @manonechu,
I am also trying to do the same but I am newbie in this so can you please help regarding the same by providing the sample ros node of cpp or Python so that I can try the same. Also if you can provide me any document for better understanding. I am very thankful to you.

[2020-09-07 09:44] Goolo2 commented on #517
Excuse me，I couldn't find the path of the file SensorCameraSave.cs，could you tell me where is it？Thank you very much！

[2020-09-08 01:06] qmitw188 commented on #963
@EricBoiseLGSVL I uploaded the unity scene and loaded the Borregas Avenue scene. The spawn info you need is in the picture. In addition, I also uploaded the image of autoware rviz again for your analysis.

![unity_scene](https://user-images.githubusercontent.com/52909956/92422937-cb44a380-f1b1-11ea-97fd-03cce4060873.png)

![Autoware_EGO](https://user-images.githubusercontent.com/52909956/92422947-

[2020-09-08 02:00] gyp199009 opened #965 "The performance gets worse with version 2020.06 when bridge is connected"
Hello,
I found the computer gets laggy when I changed to version 2020.06 with exactly the same map and configuration, especially when the bridge is connected while there is sensor data being transfered, the former version I used is 2020.05, what is it that influences the output performance?
Thank you in advance!

[2020-09-08 11:00] dr563105 opened #966 "UML class diagram for lgsvl"
I'd like to draw a UML class diagram for lgsvl simulator. I didn't use Python API; just simulator, sensors like colour, depth, segmentation, keyboard and radar. How would I go about making one? Especially where the data originates and where it ends up.

Appreciate any assistance. Thank you.

[2020-09-08 13:18] ntutangyun opened #967 "[question] is lgsvl/apollo-5.0 still under maintenance"
Hi team,

I just noticed that there are still [recent updates](https://github.com/lgsvl/apollo-5.0/commit/666007b82ba40857677650bdbbe929a6e2fb41ef) on the [lgsvl/apollo-5.0](https://github.com/lgsvl/apollo-5.0) repository.

I wonder if this means that the apollo 5.0 version is still under maintenance for some time, for example, being compatible with future LGSVL simulator releases?

Thank you.

[2020-09-08 16:28] EricBoiseLGSVL commented on #963
Please show the spawn info object, not the ego

[2020-09-08 18:26] rongguodong commented on #961
@devynliu If you have the correct AssetBundle using the link above, it should work well with the HD map in Apollo master.
If you still have problem after using the latest AssetBundle, please let us know.

[2020-09-08 21:52] EricBoiseLGSVL commented on #912
@rahul14k14 Did you follow @hadiTab links above?  What are you exactly having issues with?  Simulator or ROS?

[2020-09-08 22:05] EricBoiseLGSVL commented on #964
@Addi2020 This is not a clear issue.  Please post what your issue is with details on how to reproduce.  If this is referencing the Simulation menu item, you need post what errors you have in the Console panel.  I am guessing that you did not enable git lfs before you cloned the repo and you have compilation errors.

[2020-09-08 22:06] EricBoiseLGSVL commented on #965
@gyp199009 this sounds like a bug.  Please post the configuration that you are using.

[2020-09-08 22:11] EricBoiseLGSVL commented on #966
@dr563105 I think the best is to start with SimulatorManager, then move down the components as they are activated.  Sensor manager, Bridge classes and then sensors, including SensorBase and CameraBase.  Just follow the bread crumbs from starting a simulation to returning the data over bridge.

[2020-09-08 22:14] EricBoiseLGSVL commented on #967
@ntutangyun This should be the last edit to Apollo 5.0 repo.  We had requests to fix an outstanding bug that maps needed to be rotated -90 degrees.  This has been an issue for a long time and we had to update.  We apologize for the confusion.

[2020-09-08 23:33] #967 closed

[2020-09-09 01:29] qmitw188 commented on #963
@EricBoiseLGSVL Sorry I misunderstood your question. Here is the spawn info object:
![BA_SpawnInfo](https://user-images.githubusercontent.com/52909956/92543529-4e333000-f27e-11ea-8633-3e7a5ee48dc4.png)

I downloaded the Borregas Avenue asset bundle from LGSVL content server.
DL URL -  https://assets.lgsvlsimulator.com/51ac9efcad040833bf2eca7bdcdd90ed42aeb6bc/environment_BorregasAve
MD5: 44ea2ac249

[2020-09-09 01:43] Addi2020 commented on #964
thank you, the issue is solved. (The project has some missing files, Colne or downloads the project again)

[2020-09-09 01:43] #964 closed

[2020-09-09 02:36] EricBoiseLGSVL commented on #963
@qmitw188 No worries, thanks.  It looks fine.  I'll need @luqiang21 or @hadiTab to help with this.  Any idea why autoware 1.13 RViz would have the vehicle on it's side?

[2020-09-09 03:05] gyp199009 commented on #965
@EricBoiseLGSVL
**Map:**  BorregasAve
**Vehicle:** Jaguar2015XE  with ROS bridge
**Sensors:**
[{"type": "Lidar", "name": "Lidar",
            "params": {"LaserCount": 32, "MinDistance": 0.5, "MaxDistance": 100, "RotationFrequency": 10, "MeasurementsPerRotation": 360, "FieldOfView": 41.33, "CenterAngle": 10, "Compensated": true, "PointColor": "#ff000000", "Topic": "/simulator/lidar", "Frame": "velo

[2020-09-09 04:20] asifsid-32 opened #968 "Mapping LGSVL sensor coordinate into Blender"
What is the origin for camera Sensor in LGSVL with respect to vehicle.

If I want to calibrate the camera I have to provide coordinates into blender.

What can be done in this scenario ??

[2020-09-09 06:18] lemketron commented on #968
According to the [sensor json documentation](https://www.lgsvlsimulator.com/docs/sensor-json-options/#how-to-specify-a-sensor), the position and orientation of the sensor is defined in the sensor json parameters which are specified in the [vehicle configuration](https://www.lgsvlsimulator.com/docs/vehicles-tab/#how-to-change-the-configuration-of-a-vehicle):

[2020-09-09 07:32] arslansarp opened #969 "Connection with Socket in Simulator Build"
Hi ! I am trying to send some commands over TCP  connection.
I managed to send some commands in Simulator over Unity Editor it actually worked really well.

However, when I tried to control over simulator build version. It doesn't work.

Here is the code snippet :

`private TcpListener tcpListener;

		/// <summary>
		/// Background thread for TcpServer workload.
		/// </summary>
		private Thread t

[2020-09-09 08:01] kanakab opened #970 "Linux build simulation error"
Hello Team,

I am trying to launch the simulation, but I am getting the following error. All the Assetbundles are latest from the LGSVL content site. Any help appreciated.
Invalid: Out of date AssetBundle, rebuild or download latest AssetBundle.
![Bildschirmfoto von 2020-09-09 09-59-57](https://user-images.githubusercontent.com/57012567/92571386-5a6dbc00-f283-11ea-915d-8a58228fc0c7.png)

[2020-09-09 12:39] asifsid-32 commented on #968
What can be done if we want to calibrate the camera? Is it possible in LGSVL ??

[2020-09-09 14:17] kanakab commented on #958
Thanks for the valuable inputs. Where I can find the documetation to do this? I tried to follow as per LGSVL map annotation ( https://www.lgsvlsimulator.com/docs/map-annotation/#annotate-lanes) guideline, and scaled everything to 0.1 but it didn't work.

I also tried to find the DuckieTown Map which was earlier available in LGSVL. Currently it's not available. Is there anyway I can load the Duckie

[2020-09-09 17:49] asifsid-32 opened #971 "Camera Calibration"
I want to calibrate my fish eye cameras which I have mounted on my ego cars.

As of now I was trying to mount cameras in blender with the same mounting positions of LGSVL simulator.

But this idea also didn't work as yaw pitch and roll got changed when I used blender.

@EricBoiseLGSVL  Is there any way to easily calibrate my fisheye camera Sensors without using any other simulator !! ??

[2020-09-09 18:59] Maddy2927 opened #972 "Error while running PythonAPI"
Hey LGSVL team, I was trying to run a python API related to adding a cone which is given in the documentation. But its giving me an error. I'm pasting the error below, please help me understand and rectify this.

" ./quickstart/28-control-traffic-cone.py
Traceback (most recent call last):
  File "./quickstart/28-control-traffic-cone.py", line 38, in <module>
    cone = sim.controllable_add("Traffi

[2020-09-09 19:26] EricBoiseLGSVL commented on #971
@asifsid-32 Blender and Unity use a different coordinate system, just like ROS uses a different system.  You will need to manually convert.  [Here](https://www.youtube.com/watch?v=bpH5ZfonExo) is a video that helps explain the differences.  One way is to just model the sensors separately, export and watch the linked video, and then make the meshes apart of the vehicle prefab, not the entire mesh.

[2020-09-09 19:34] EricBoiseLGSVL commented on #958
You can find the obsolete repo [here](https://github.com/lgsvl/simulator-2019.05-obsolete).  I do not recommend using it, we no longer support.  You cannot scale annotation.  You will need to manually annotate the map.  The scale is only for the environment meshes.  Again, it is best to model to scale, not drastically reduce a large model to a smaller scale.  This will effect Unity physics.
As for

[2020-09-09 19:36] EricBoiseLGSVL commented on #965
@gyp199009 Thanks for posting config.  @rongguodong can you please look at this issue also.  I'm not sure why there is a fps drop for the same config as 05 release.  It should be better from our testing.  Any help would be great.

[2020-09-09 21:22] EricBoiseLGSVL commented on #969
@arslansarp Can you show the usings at the top of the class? Are you using any with Editor?  What is the TCPClient?  What platform are you using?  Does this code support the platform?

[2020-09-09 21:26] EricBoiseLGSVL commented on #970
@kanakab Did you change the maps and vehicles to point at the new map/vehicle?  You also can try deleting the AppData folder for LG Simulator here C:\Users\YOU\AppData\LocalLow\LG Silicon Valley Lab\LGSVL Simulator.  Then run the binary we released, open the WebUI, sign in and all default maps and vehicles will download.  Then make the new simulation.  Your database might have old references.

[2020-09-09 21:28] EricBoiseLGSVL commented on #972
@Maddy2927 Do you have the TrafficCone asset bundle in the AssetBundles\Controllables folder?  If not, did you clone and create the assetbundle?

[2020-09-09 21:29] rongguodong commented on #965
@gyp199009 Can you post your FPS numbers of both 2020.05 and 2020.06?
I just tested on my machine using your config without bridge connected. I do see 2020.05 get around 80 FPS and 2020.06 get around 70 FPS (both with all camera and lidar sensors visualized). I will test more to see what is the root cause of the difference.

[2020-09-09 22:33] hadiTab commented on #963
@qmitw188 We actually don't technically support Autoware 1.13.
That being said, I would expect most functionality to work. How are you running localization? Are you using GNSS for localization?
GNSS localization has some issues that have been fixed in master but are not part of 1.13.

[2020-09-09 23:35] cyberphysicalrobotics commented on #963
Hi @qmitw188

I think autoware ai 1.14 would work. That's explained in documentation in lgsvl web site.
Could you try autoware ai 1.14?
How could you visualize vehicle model?

[2020-09-09 23:51] cyberphysicalrobotics commented on #963
@qmitw188

When I tried it on autoware ai 1.14, which is explained in:
https://www.lgsvlsimulator.com/docs/autoware-instructions/

with the following command:
'''
$ roslaunch vehicle_description vehicle_model.launch
''''

I could see the right robot description and point clouds.
![image](https://user-images.githubusercontent.com/14055939/92665836-69bd2b80-f2bc-11ea-916a-de77696b4435.png)

[2020-09-10 01:06] gyp199009 commented on #965
@rongguodong Sure, but how to get the FPS number?

[2020-09-10 02:05] rongguodong commented on #965
There are lots of free software. I used [Fraps](https://fraps.com/).

[2020-09-10 03:19] AIasd opened #973 "Localization is off, traffic light cannot be turned on, routing does not seem to work properly when running with Apollo"
Hi,

I am following the instruction on [Running latest Apollo with LGSVL Simulator](https://www.lgsvlsimulator.com/docs/apollo-master-instructions/) with Apollo master branch and LGSVL2020.06.

I encountered three issues:
1. localization seems off.
2. traffic light module seems to not be able to turn on.
3. the routing also does not seem to function properly. The car does not move when I set a poi

[2020-09-10 03:30] rongguodong commented on #973
This is because of the rotation of the map. Please download the latest AssetBundle of Borregas. Or you can delete the database and re-run the simulator to have it automatically download the latest AssetBundle.

[2020-09-10 03:33] gyp199009 commented on #965
@rongguodong  its around 30 FPS with 2020.05 and around 15 FPS with 2020.06 on my machine, I even can't stop running the simulation on webUI when using 2020.06, it freeses sooner after running.

[2020-09-10 03:35] rongguodong commented on #965
Did you do anything in 2020.06? Or just let it stay there doing nothing?

[2020-09-10 04:32] gyp199009 commented on #965
I did nothing but run the simulation and turned on all sensors visualization, also checked the vehicles and pedestrian

[2020-09-10 07:27] qwetqwe opened #974 "how to configure intrinsics parameters of camera?"
I see that sensor json only has DistortionParameters without  camera matrix parameter like
fx  0   cx
0   fy  cy
0    0  1
how to configure the camera matrix as my camera?

[2020-09-10 07:27] User-712 opened #975 "Subscribing sensor topics on ROS"
Hi Team,

I'm facing issue in listening sensors topics on ROS,

Currently am running LGSVL with following specifications:
OS:Linux 16.04 (memory: 31.3 GiB, processor: core i7, Graphics: GeForce GTX)
ROS: Kinetic
Simulator: LGSVL 2020.01 (released version)

I'm able to interface lgsvl simulator through kinetic rosbridge
1.roslaunch rosbridge_server rosbridge_websocket.launch
![3](https://user-image

[2020-09-10 10:14] qmitw188 commented on #963
@hadiTab Yes, we are using GNSS for localization.

@cyberphysicalrobotics We are trying to install and test on autoware 1.14. I'll get back to you the result when we finished the test.

Thanks.

[2020-09-10 10:33] rahul14k14 commented on #912
Hi @EricBoiseLGSVL,
Thank you for the reply.
I had followed the above links.
In LG simulator I am able to see SUB node for vehicle_control_cmd so I was trying to publish the data for that node but the count is still 0 for that.
Can you please help me.
How I can control vehicle in lg simulator over ros2. Is there any code available.
Waiting for your reply.
Thanks in advance.

[2020-09-10 10:33] dr563105 commented on #966
I will look into this and reopen the issue if there are any questions.

[2020-09-10 10:33] #966 closed

[2020-09-10 10:36] clepz commented on #947
Sorry @SeymurSm  i totally forgot to answer.
You need to convert terrain to obj. You can do it with http://wiki.unity3d.com/index.php/TerrainObjExporter.

[2020-09-10 14:59] arslansarp commented on #969
Somehow It actually working. I guess some bug in the build prevent it before. Thanks anyways.

[2020-09-10 14:59] #969 closed

[2020-09-10 16:25] AIasd commented on #973
Hi @rongguodong , thanks for your help. After I use the latest link of Borregas map and rerun the simulator, the localization issue is solved.

Also, when I switched to pre6 as you suggested the traffic light issue gets solved and the car can now follow the route successfully.

[2020-09-10 16:25] #973 closed

[2020-09-10 16:40] rongguodong commented on #974
The camera sensor uses pin-hole camera model. So all those can be calculated from other parameters.
Particularly, we have `fx = fy = Height / 2 / Mathf.Tan(FieldOfView / 2 * Mathf.Deg2Rad)`, and `cx = Width / 2.0`, `cy = Height / 2.0`.

[2020-09-10 17:12] asifsid-32 commented on #971
@EricBoiseLGSVL I tried but it is too complicated !!

When working with blender and trying to calibrate, mounting position i.e x,y,z these remain same that is not an issue !! Yaw roll and pitch get totally changed. Any simpler idea to map these values to blender ??

[2020-09-10 17:35] EricBoiseLGSVL commented on #912
It sounds like you are having issues running the ROS node.  Please read the ROS documentation on starting a ROS node [here](http://wiki.ros.org/ROS/Tutorials/UnderstandingNodes).  Since this is a closed issue, please create a new one if this information does not solve the problem you are having.  This makes it easier for other users to search issues.

[2020-09-10 17:59] EricBoiseLGSVL commented on #971
[Here](https://answers.unity.com/questions/319802/rotation-when-importing-from-blender.html) is another link that has some tools for Blender.

[2020-09-10 18:18] rongguodong commented on #965
@gyp199009 Can you provide more details? What is the output of nvidia-smi? Do you have latest NV driver?
In your original post, you said the performance is worse when bridge is connected. Can you do more tests? What if you do not set any bridge for ego? What if you set a bridge but did not connect it? Is there any difference between ROS and Cyber bridge? Etc, etc...
These more details will help us

[2020-09-10 18:53] EricBoiseLGSVL commented on #959
@hanyh1191 Did @devynliu help solve your issue?

[2020-09-10 22:07] lemketron commented on #959
Even if you have installed libvulkan, if you also have mesa-vulkan-drivers installed then that can cause problems.

Please take a look at (or post here) the Player.log file from ~/.config/unity3d/LG Silicon Valley Lab/LGSVL Simulator/Player.log as there are often clues in that log file.

In particular, if you see "mesa" or "Intel" mentioned in Vulkan vendor or renderer lines rather than NVIDIA, th

[2020-09-10 22:23] AIasd opened #976 "How to export the SingleLaneRoad map from lgsvl Apollo5.0 branch to Apollo pre6 branch?"
Hi lgsvl team,

I am trying to run a scenario following the instruction [here](https://www.lgsvlsimulator.com/docs/api-how-to-run-scenario/). In particular, I used Apollo pre6 branch and lgsvl2020.06 version. I edited the ego vehicle to Lincoln2017MKZ (Apollo 5.0) in the VF_S_25_Slow.py script found [here](https://github.com/lgsvl/PythonAPI/blob/master/examples/NHTSA-sample-tests/Vehicle-Following

[2020-09-10 23:13] lemketron commented on #976
Just copy the [map folder](https://github.com/lgsvl/apollo-5.0/tree/simulator/modules/map/data/single_lane_road) from the LGSVL Apollo 5.0 branch and drop it in "modules/map/data" in your Apollo master tree. Should work fine.

Just make sure you are using the latest LGSVL Simulator (2020.06) along with the latest environment (map bundle). If in doubt, remove the simulator database (`$HOME/.config/

[2020-09-11 00:10] AIasd commented on #976
Hi @lemketron , I move the [map folder](https://github.com/lgsvl/apollo-5.0/tree/simulator/modules/map/data/single_lane_road) from LGSVL Apollo 5.0 repo to the same parent folder in Apollo pre6 and now the scenario works. Thank you for the help!

There are two things I noticed in the process:

1.I need to make modification to the position of the NPC vehicle in the scenario script `VF_S_25_Slow.py`

[2020-09-11 00:10] #976 closed

[2020-09-11 01:33] lemketron commented on #976
Glad it worked for you!

I updated my comment (above) to reflect that the singlelandroad map directory should be copied INTO the modules/maps/data/ directory. Hope that's more clear for anyone else who finds this answer in the future... Thanks!

[2020-09-11 03:19] gyp199009 commented on #965
@rongguodong
Here is the output of nvidia-smi:
![image](https://user-images.githubusercontent.com/32737903/92847268-950a5c80-f41b-11ea-87c0-33c61b8d49be.png)
When simulator is running, system memory usage is around 26%, CPU usage is around 55%, video memory usage is less than 20%, while GPU usage is almost up to 100%.
If there is no bridge or with bridge disconnected, the FPS is around 30, and the

[2020-09-11 04:32] rongguodong commented on #965
@gyp199009 Thanks for detailed data! (I think they are all for 2020.06, right? Can you also gather similar data for 2020.05?)

So for 2020.06, I summarize it as:
* Without bridge or with bridge disconnected, FPS is around 30 (which is same as 2020.05?);
* With Cyber bridge connected, FPS is around 20;
* With ROS bridge connected, FPS is around 15 or even worse (you said freeze?)
Is this summary co

[2020-09-11 06:07] gyp199009 commented on #965
@rongguodong   Exactly！
And for 2020.05, it's always around 30, no matter the bridge is connected or not (same to Cyber bridge).

[2020-09-11 06:21] hadiTab commented on #975
@User-712 the performance of the Kinetic rosbridge is pretty bad and I've seen similar issues with it. Are you running it with Autoware? Since Autoware doesn't really use the camera I would suggest removing that from your sensors. That might improve things.

Overall, my first suggestion would be to try it with the Melodic rosbridge which has much better performance. If you are using Autoware, I wo

[2020-09-11 06:53] ifond opened #977 "Load the asset，check error"
Check after the map resource is loaded, but there are errors
reference ：https://www.lgsvlsimulator.com/docs/assets/

Checking...
ERROR: File 'Rain.vfx' with '.vfx' extension is not allowed inside '/Assets/Effects'
ERROR: File 'Snow.vfx' with '.vfx' extension is not allowed inside '/Assets/Effects'
ERROR: Folder 'HDRPDefaultResources' should not be inside of '/Assets'
ERROR: File 'ExampleFMU.fmu' w

[2020-09-11 09:57] asifsid-32 commented on #971
Hii @EricBoiseLGSVL can we place calib patterns in LGSVL simulator ?? I mean checker board for calibration ??

[2020-09-11 14:30] qwetqwe commented on #974
I got it.
Thanks!

[2020-09-11 14:30] #974 closed

[2020-09-11 16:40] EricBoiseLGSVL commented on #971
Sure, just create a plane object, a new material, apply the checkerboard texture to the material and then apply to plane.  You can also make in blender and import into unity

[2020-09-11 18:09] EricBoiseLGSVL commented on #977
@ifond this check is for internal development, it should not effect anything.

[2020-09-12 08:02] asifsid-32 commented on #971
@EricBoiseLGSVL

1) The camera position in lgsvl simulator is with respect to vehicle ?

2) Position x,y,z are in meters or some other unit ??

[2020-09-12 08:29] arslansarp opened #978 "Velodyne Lidar Sensor Source Code"
Hi, I am trying to find velodyne lidar 32 channel source code with udp port. However, I couldn't find the source code. I have got only build version.

I am trying to access it to look how udp works, and other stuff. Since rosbridge so exhausted  after adding so many sensors. I am considering sending other sensor datas over udp namely camera.

Could you upload the velodyne lidar sensor 32 channel w

[2020-09-13 00:43] qwetqwe opened #979 "how to load assetbundle map to unity"
Hi team,
I want to annotate BorregasAve map in unity. But I did not find it unity project in repositories. So I want to load asset bundle of the map.
So I learn the way from internet:
1. create an object
2. attach the object to a load script in inspector
3. the script is created as:
[code]
4. press the play button,but it got error:
[code]
I'm fresh of unity and c sharp. Is there any way to load as

[2020-09-13 00:44] tleyden commented on #708
@PunchShadow I may have found out why NoMachine didn't work for you -- I just hit the same error.  The way I fixed it was to first login on the machine itself (I have physical access to the machine, it's not in the cloud), then connect from NoMachine.  I think there is some subtle difference in the way NoMachine works based on what @martins-mozeiko mentioned.

Also, it's worth mentioning that olde

[2020-09-14 07:53] qmitw188 commented on #963
@cyberphysicalrobotics Sorry that it took so long to reply to the results. Unfortunately, we tried autoware 1.14 and the result was the same as autoware 1.13.

![Autoware-1 14-with-LGSVL-2020 06-release](https://user-images.githubusercontent.com/52909956/93057696-eaa36b00-f6a0-11ea-8292-e0a3bc6e31f5.png)

We used the official autoware.ai docker 1.14 vs lgsvl 2020.06 release to test, but it looks d

[2020-09-14 07:57] User-712 commented on #975
I removed camera and Lidar from the sensors, now am able to get imu and gps data continuously at proper rate.

thanks for your kindly help : )

[2020-09-14 09:09] coco721 opened #980 "How to create a custome vehicle model"
We would like to lgsvl simulator as the platform to verify our algorithm.Howerver the vehicle that we will be using is tractor in airport. So we need to modify the current model or even create new one with 3D-modeling software. Is there any instruction on how to do that,thx.

[2020-09-14 10:10] momala commented on #957
Thank you for your reply,
Should be the BaseLink.cs an empty script? because I have to create it as a new component. Then I adjust the transformation on the rear axel. actually I cant find anything in the VehicleSMI.cs to assign it. Could you please explain it more?
I should mention that In the simulator the baselink is attached to the ground at the bottom of the rear axel and it's not align with

[2020-09-14 10:41] momala opened #981 "Lidar sensor detection and mesh collider does not meet"
Hi,

I made a new vehicle from scratch and import it inside the simulator. it seems everything is fine unless the Lidar sensor detection that somehow does not meet the collider geometry.
As you can see in the picture the lidar is mounted at the top back of the vehicle. I use a simple cube as a collider similar to the vehicle size. But what is strange for me is the points that detected in front of

[2020-09-14 10:45] momala commented on #980
Hello, I am also doing sth like you.
I think this video would be useful
https://www.youtube.com/watch?v=R_Z65kimCII&ab_channel=LGSVLSimulator
for importing the cad model I think working with the Blender can help a lot.

[2020-09-14 16:30] rongguodong commented on #980
Please check this instruction:
https://www.lgsvlsimulator.com/docs/add-new-ego-vehicle/

[2020-09-14 17:24] rongguodong commented on #981
Looks like there is something invisible/transparent visible to the camera of LidarSensor.
Why do you use a collider, not the vehicle itself, for point generation? Can you check the size of the collider? How does it look like?

[2020-09-14 23:29] EricBoiseLGSVL commented on #975
Thanks @hadiTab

[2020-09-14 23:29] #975 closed

[2020-09-14 23:33] EricBoiseLGSVL commented on #978
@arslansarp We do not supply the source code for the UPD Velodyne LiDAR sensor at this time.  We are looking to release sometime later this year.

[2020-09-15 02:03] qwetqwe opened #982 "[Suggestion] add a function to pick coordinate point in simulator"
Hi team
I think picking coordinate point in map is really important. because we need absoulute coordinate to add NPCs and annotate map.It seems that lgsvl does not have this function. lgsvl can only get point by mouse in unity, but that is not convenient.Could team add a function to get point in simulator just like dreamview:
![Kazam_screenshot_00011](https://user-images.githubusercontent.com/3046

[2020-09-15 02:59] Addi2020 opened #983 "Export HD map issue?ArgumentNullException: Value cannot be null. Parameter name: key"
ArgumentNullException: Value cannot be null.
Parameter name: key
![Screenshot from 2020-09-15 10-59-15](https://user-images.githubusercontent.com/61130487/93160284-8fc25000-f742-11ea-8c33-d4ab7429942c.png)

[2020-09-15 03:38] EricBoiseLGSVL commented on #979
@qwetqwe You cannot edit the annotation BorregasAve map, sorry.  This is not a map that we released for open source, so you cannot load in Editor to edit. To create your own you can:
- Purchase assets in the Unity Asset Store and create a map (We have tutorials in our documentation)
- Import HDmap and use our tools to create a mesh from the annotation
- Contact us for digital twin services to crea

[2020-09-15 03:44] EricBoiseLGSVL commented on #982
@qwetqwe This could be a good idea.  Can you describe a bit more about the feature?
- We do have sensors that output lat/long coordinates, what UX/UI change to make this better/easier to use?
- Is it just coordinates that match dreamview? How would this work for other AD stacks?

[2020-09-15 03:50] EricBoiseLGSVL commented on #983
@Addi2020 You are missing lane data to export.  Please look at our open source map, CubeTown, to see simple annotation and what is required for HDMap export.  @luqiang21 can confirm

[2020-09-15 03:55] EricBoiseLGSVL commented on #981
@momala Nice vehicle!  Why not use a MeshCollider set to Convex?  This would give a more accurate collision.  This also might be collision happening from inside the mesh.  Do you have normals right and or faces inside the mesh?  If so, you can put these and other mesh geometry on a physics layer that is ignored by LiDAR raycast.

[2020-09-15 03:57] EricBoiseLGSVL commented on #980
@coco721 Be careful with the hitch connection and unity physics. It's not easy to work with.  I recommend looking at hinge and fixed joint tutorials to get this right.

[2020-09-15 03:58] #977 closed

[2020-09-15 04:00] EricBoiseLGSVL commented on #968
It looks like you have multiple issues about this open #971 closing this one

[2020-09-15 04:00] #968 closed

[2020-09-15 04:02] qwetqwe commented on #979
@EricBoiseLGSVL
Hi,Eric. I want to test parking function in apollo. I see that only BorregasAve has parking lot. But its HDmap does not. So I want to annotate its parking space polygon and guide a lane to parking space in apollo HDmap

[2020-09-15 04:04] EricBoiseLGSVL commented on #971
- make the plane centered to the vehicle at origin (0,0,0)  This is how we did earlier camera calibration for proprietary camera sensor testing and calibration.  Offset from origin if needed.  We then offset the real calibration textures to the real vehicle.
- In unity units are in meters

[2020-09-15 04:06] EricBoiseLGSVL commented on #708
@tleyden Thanks for the info.  I hope this helps!

[2020-09-15 04:08] EricBoiseLGSVL commented on #957
Yes, add the baselink class to the BaseLink object.  You have set the public reference correctly, it just needs the transform data for VehicleSMI.  When the sensors are being setup, they need the BaseLink class to find the component.

[2020-09-15 04:09] EricBoiseLGSVL commented on #957
If you don't have this on the VehicleSMI class, you will need to download the latest 06 release.  Note, it is a branch, not master.

[2020-09-15 04:12] EricBoiseLGSVL commented on #979
We have open source San Francisco that has parking lots you can annotate and create bundles from source.  You can also use AutonomouStuff map that has parking lots but this is not open source.

[2020-09-15 04:18] EricBoiseLGSVL commented on #979
Spot in SF that would need annotated:
![AnnotateHelp0](https://user-images.githubusercontent.com/45106230/93165008-babf8c00-f6cf-11ea-9503-7bde98759319.png)

AutonomouStuff is already annotated for this
![AnnotateHelp1](https://user-images.githubusercontent.com/45106230/93165032-ce6af280-f6cf-11ea-8198-8f44a4d05ba8.png)

[2020-09-15 04:50] luqiang21 commented on #983
@Addi2020 Are you using our latest release? Each lane needs boundary lines annotated as well. I just tried with 2020.06 release with only two new lanes, it is throwing correct error:
`There are no boundary lines for some lanes! please annotate boundary lines for each lane OR use "Create lines" button in HD Map Annotation window to generate boundary lines!`

[2020-09-15 05:06] qwetqwe commented on #982
@EricBoiseLGSVL
We can add a button in the menu or keyboard shortcut. After pressed, the mouse pointer can select point in topview in simulator. Rightdown will show the point coordinate.UTM will be better. We can also select a list of points. the points' coordinates can be copied or export a file.
That is not related with dreamview. It is just what I want.

[2020-09-15 05:17] qwetqwe commented on #982
like this:
![Kazam_screenshot_00012](https://user-images.githubusercontent.com/30464144/93168544-bd64c480-f755-11ea-98e9-50bae2005933.png)

[2020-09-15 05:49] ifond commented on #977
@EricBoiseLGSVL However, the map cannot be compiled, showing that the generated map has a size of 0

[2020-09-15 05:54] Maddy2927 opened #984 "Python API to put obstacle in a parking slot."
Hey LGSVL team, i need to write a pythonAPI wherein i can place few obstacle(pedestrian,cone) in a map and then move my pedestrian in a certain path when my ego car comes close to it.
Please let me help with the script.
Thanks in advance.

[2020-09-15 07:27] lemketron commented on #982
Like this? Just "visualize" the GPS Odometry sensor...
![GPSVisualization](https://user-images.githubusercontent.com/96521/93179209-33cbdd00-f6ea-11ea-8b24-e71253edb4b3.png)

[2020-09-15 07:51] qwetqwe commented on #982
Yes, you have to "drive"  the car to the place and it is not accurate. I think it will be better to get point directly by mouse.
I'm sorry that I can't see the youtube video. Could you describe it?

[2020-09-15 09:34] momala commented on #957
You are right, I didn't use the latest version, Now I update it to 06 release and everything is fine based on the tutorial.
Thank you very much for your support.

[2020-09-15 09:40] #957 closed

[2020-09-15 10:15] ifond opened #985 "A map with same name exists, cancelling map importing."
I want to import high-precision map, but report the following error

A map with same name exists, cancelling map importing.
UnityEngine.Debug:LogError(Object)
Simulator.Editor.ApolloMapImporter:CreateMapHolders(String, String) (at Assets/Scripts/Editor/ApolloMapImporter.cs:113)
Simulator.Editor.ApolloMapImporter:ImportApolloMapCalculate(String) (at Assets/Scripts/Editor/ApolloMapImporter.cs:79)
Si

[2020-09-15 10:17] neeraj310 opened #986 "Maximum nu of multi agents that can be supported"
Hi Support Team

I am working on a survey for LGSVL capabilities and need few clarifications regarding the number of supported agents.

a) What is the maximum number of agents that can be supported on a normal desktop(16GB RAM, GPU)

b) Is it possible to add custom vehicles. I want to design my own vehicle and use it inside simulation framework.

Neeraj

[2020-09-15 13:40] Addi2020 commented on #983
@luqiang21 , I am using 2019.3, because my project works on this release. if I use the latest version, it gives me a lot of errors.
Even i create boundry lanes , it still give an error, but i will try again.

I am working on creating HD map for a Self-driving car (Baidu Apollo5.5 Project).
I follow the folwing steps

1. Import .pcd file
2. annotate lanes , boundries, junctions, cross walk etc
3. e

[2020-09-15 16:19] luqiang21 commented on #985
@ifond This means you already have a map with same name in the scene. Please remove it or rename it so you can import your new map.

[2020-09-15 16:24] luqiang21 commented on #983
@Addi2020 I see, once you create boundary lines, make sure to link them correctly with each lane.
Here is the link to cube town: https://github.com/lgsvl/CubeTown

[2020-09-15 17:14] EricBoiseLGSVL commented on #983
@Addi2020 We highly recommend you update to the latest simulator version if you are working with Apollo5.5.  We have many fixes and improvements.  Please post issues updating here and we can help you fix them.

[2020-09-15 17:16] EricBoiseLGSVL commented on #982
@qwetqwe The video is showing our Visual Scenario Editor, where you can set NPC waypoints and replay the scenario simulation.  This has a top down view, with mouse clicked waypoints.  Is this what you are trying to do with the coordinate system?

[2020-09-15 17:21] EricBoiseLGSVL commented on #986
@neeraj310 Welcome to LGSVL Simulator
a) EGO and or NPCs/Pedestrians? What is the GPU that you are using?  Linux or Windows?  What AD stack do you plan on using?
b) Yes, we have tutorials on how to do this in our documentation for EGO vehicles.  NPCs are a little different but are easy to copy existing and add your own.

[2020-09-15 17:24] EricBoiseLGSVL commented on #984
@Maddy2927 You can create waypoints for the pedestrian to walk and add the traffic cone controllable.  As for triggers to move the pedestrian when the EGO is close, you will need to modify simulator code or use the Visual Scenario Editor to create a scenario.  This is still in development and only works with Linux because of a required runner to convert scenarios to API classes.

[2020-09-15 17:27] EricBoiseLGSVL commented on #977
@ifond Do you have both Linux and Windows support modules installed in Unity Hub?  We require both since bundles are cross platform.  Please post Editor console errors or Editor player log so we can help troubleshoot.

[2020-09-16 01:42] qwetqwe commented on #982
@EricBoiseLGSVL ,
It seems that is what I want. Is it in unity or simulator?

[2020-09-16 02:16] wisdom-bob opened #987 "Question about import point Cloud file"
Recently, I'm trying to annotation map according to pointCloud. Now, I only realise to import pointcloud with intensity feature. I hope you can give a .pcd file that can be successufully imported with color feature!

[2020-09-16 03:35] Addi2020 commented on #983
Thanks @luqiang21
@EricBoiseLGSVL
I use the latest release 2020.1.5. when i use it, My project shows a lot of errors, and also the simulator tab is not available. So I cannot import .pcd file or work on HD map annotation.
![Screenshot from 2020-09-16 11-22-20](https://user-images.githubusercontent.com/61130487/93289231-80113d00-f810-11ea-87e6-2f8b39096e68.png)

[2020-09-16 05:55] asifsid-32 opened #988 "Socket Communication in python Api's"
Hello LGSVL team,

I am trying to pass the camera output images from the simulator python api to my framework.

Can I use socket communication between python api and my framework, python api being the server ?

[2020-09-16 08:38] Maddy2927 opened #989 "Availability of yaw_rate and wheel speed parameter"
Hey LGSVL team, I'm in need of certain parameters in the simulator so that i can access those parameters information.
I found out vehicle speed and the steering angle of the vehicle. I also need yaw_rate of the vehicle and wheel rotation speed of all the 4 wheels of a ego car. Is it available in the simulator. If yes, where is it? If not, is there any alternative for me to get these info out of th

[2020-09-16 09:09] ntutangyun commented on #988
Hi,

If your framework is written in Python, you could install the Python API package and use the API to get the camera sensor outputs.

Check out the [quick start example](https://github.com/lgsvl/PythonAPI/blob/master/quickstart/06-save-camera-image.py).

In this scenario, the LGSVL simulator is the WebSocket server, and your framework with Python API installed is the client.

If your framework

[2020-09-16 10:45] Maddy2927 commented on #984
Also, @EricBoiseLGSVL i wanted to know whether for adding traffic cone in the map, is using unity necessary or directly we can change the pythonAPI and produce the cone in the map like vehicle and pedestrian.
I tried to add the traffic cone assetbundle and run the already given cone API, but was getting an error and cone was not getting spawned.

[2020-09-16 12:09] asifsid-32 commented on #988
Can i make one of python api as server for example 06-save-camera-image.py which will start simulator as well as a connection with my framework i.e client ? I tried doing that but facing some errors !! I added my driver server code to 06-save-camera-image.py and tried running it but facing errors ..

Following errors i got - >

Traceback (most recent call last):
  File "102-save_camera_image.py",

[2020-09-16 15:22] luqiang21 commented on #983
Hi @Addi2020, the latest release version is 2020.06, did you get the correct version?

[2020-09-16 16:39] EricBoiseLGSVL commented on #982
@qwetqwe It is not officially released yet.  We are putting the final touches and should be done soon, sorry.  In the meantime you can write a class that takes mouse position, raycasts to ground to get positions that you want while in free cam mode.  This can be written to a UI element you add and or output to a file.

[2020-09-16 16:49] EricBoiseLGSVL commented on #984
@Maddy2927 Unity Editor is not needed, just easier to place static objects, esp if new objects are needed.  Traffic Cone controllable should be working with the quick script, we might have missed a commit in the release.  Can you please post error log and any images that will help debug?

[2020-09-16 16:51] EricBoiseLGSVL commented on #983
Also, your Unity version is not right.  2019.3.15f1.  Our release is 2020.06.  It is a branch.  Please see the release [here](https://github.com/lgsvl/simulator/releases/tag/2020.06)
- Close Unity
- Update Unity to 2019.3.15f1 from download archive.  Be sure to have Linux and Windows build modules
- Pull latest 06 release
- Delete Library folder in the simulator repo root
- Open Unity, let it make

[2020-09-16 16:58] EricBoiseLGSVL commented on #989
@Maddy2927 You can create a custom sensor plugin that calculates this data.  Build the plugin, add to sensor config.  You can also  edit vehicleSMI class or create a new IVehicleDynamics class and attach to vehicle and build a new simulator.

[2020-09-16 19:28] EricBoiseLGSVL commented on #987
@kamkolak Did the RGB field in PCD file fix get released in 06?  I think this is a referencing #921

[2020-09-16 19:29] #921 closed

[2020-09-17 01:10] Addi2020 commented on #983
@EricBoiseLGSVL  thanks for the detail description. I will try it now.

@luqiang21 thanks for the suggestion , the map extraction problem is solved by adding boundary lines and link them with corresponding lanes.

[2020-09-17 02:04] wisdom-bob commented on #987
The problem is that most .pcd file support PCL function library. However, this tool(lgsvl-simulator) does not support .pcd / .ply files that meet PCL function library requirements, whether there is color filed or not. This is the reason why I hope you can provide me with a point cloud file with color fileds, and I can parse it by myself.

[2020-09-17 02:05] wisdom-bob commented on #987
or if you can give me some support how to create point cloud file the meets requirements of the lgsvl-simulator, I will be very very thanksful.

[2020-09-17 09:27] neeraj310 commented on #986
Hi Eric

Thanks for the quick response.
I am planning to use Linux, GEFORCE GTX 1080 GPU. As I am working on a survey, I am interested in finding the max limit of agents that can be supported simultaneously.

Neeraj

[2020-09-17 16:28] EricBoiseLGSVL commented on #986
@neeraj310 Max dynamic objects in the scene can vary depending on the sensors/bridge/polygon count/textures/materials/shaders/alpha/GPU/CPU.  1080 is an older GPU and won't be able to push the limits of Simulator or HDRP.
- Currently, we cap NPC's to max 30 and one EGO with simple sensors for lower end of the spectrum hardware in BorregasAve map with a useful FPS on a single local simulation.  Thi

[2020-09-17 17:58] alexiskovi opened #990 "KeyError: "transform" in agent state"
Hi, LGSVL team!
In my script I'm trying to check EGO position every 0.2 seconds with following lines, using Python API:
[code]
After some random time interval (about 10-15 seconds) I got the following exception and EGO agent can not move, but stop lights are react to keyboard signals.
**Exception text**:
[code]
Reducing frequency from 5 Hz to 1 Hz didn't help.

[2020-09-18 03:51] asifsid-32 commented on #988
Hii @ntutangyun and @EricBoiseLGSVL I was able to send single image using socket communication to my framework. If I want to send every frame directly without first writing it to the storage to my framework which variable should I use which will have all the image frame stored in it ??

[2020-09-18 04:55] ntutangyun commented on #988
What do you mean by this, what is your storage.

the images are generated per frame and should also be transferred one by one.
If you intend to a history of received images, you should save the images in a list or array

[2020-09-18 05:03] asifsid-32 commented on #988
We are interested in getting frame buffer handle.
We dont want to use  " s.save("main-camera.png", compression=0) " instead we want an api which should be able to give us pointer to the frame buffer.

[2020-09-18 05:27] #983 closed

[2020-09-18 05:40] Addi2020 opened #991 "Routing for lane change or switching between lanes map annotation issue or Apollo?"
Apollo 5.5

1. I did map annotation and export HD map for apollo 5.5.
2. I uploaded HD map to dream view and check the routing for the real car recorded file.
3. The routing (red line as shown) for straight-line is possible but

The problem is when I apply to route for a lane change then the routing does not work?

Is that a problem of map annotation (e.g boundary lines or width of lanes or lane o

[2020-09-18 06:50] hadiTab commented on #990
@alexiskovi would it be possible to share your code?

[2020-09-18 08:39] madara0107 opened #992 "How can i match the agent car position with the real world car position ?"

[2020-09-18 08:59] martins-mozeiko commented on #990
@alexiskovi Note that Python API is designed to be called from single thread. In case you are calling functions from multiple threads, the calls must be serialized explicitly.

[2020-09-18 09:18] martins-mozeiko commented on #988
That is not possible due to the way how modern GPU APIs's work. You cannot get pointer to framebuffer. All you can do is copy data from framebuffer to CPU memory, which then you can access on CPU. That is pretty much what `save` method on `CameraSensor` is doing - additionally it is also compressing to jpeg or png for more efficiency (to transfer fewer bytes to Python). If you don't want compressi

[2020-09-18 13:05] alexiskovi commented on #990
@hadiTab, @martins-mozeiko, multithreading is the exact problem here, I got it. Thank you a lot!

[2020-09-18 13:10] alexiskovi commented on #992
You can use [map_to_gps](https://github.com/lgsvl/PythonAPI/blob/b8b4e6f1f9a726f3a802eb4cef87328b20e9a9dd/lgsvl/simulator.py#L176) method to get real world coordinates:
[code]
More examples in [LGSVL docs](https://www.lgsvlsimulator.com/docs/python-api/#helper-functions).

[2020-09-18 16:44] EricBoiseLGSVL commented on #991
This is an issue with Apollo.  Confirming with @rongguodong

[2020-09-18 16:45] #992 closed

[2020-09-18 16:46] EricBoiseLGSVL commented on #987
Adding @daviduhm on this since I can't assign @kamkolak

[2020-09-18 17:04] rongguodong commented on #991
@Addi2020 Please check routing related messages and planning messages in cyber_monitor.

[2020-09-18 19:19] EricBoiseLGSVL commented on #987
@wisdom-bob We will need to discuss internally when we can add full PCL support to our roadmap.

[2020-09-18 22:01] luqiang21 commented on #991
@Addi2020 Can you check whether your parallel lanes are sharing correct boundary lines? Probably this is an issue of lane relations.

[2020-09-18 22:56] martins-mozeiko commented on #987
PCL is just a library that loads, processes and outputs point cloud files. The format of files it supports can be almost anything. It supports loading & writing any format.

But the simulator requires specific fields to be set in point cloud for it to make sense - like xyz for position, color/intensity for coloring. But it won't use other attributes - pcd file can have any amount of extra info ass

[2020-09-19 03:40] wisdom-bob commented on #987
just as you says, I know the simulator can not support all pcl format. I will try the #770. I hope this will help!

[2020-09-19 04:50] Addi2020 commented on #991
@luqiang21 , I checked the routing in two ways and I assign boundary lines correctly to map lanes.
1. two parallel lanes shear the same boundary line
2.  parallel lanes having separate boundary lines but these boundary lines overlap with each other.
but still, when I send two-points for routing between two lanes, the dream view shows a "Routing failed!" message.

[2020-09-19 04:52] Addi2020 commented on #991
@rongguodong
![Screenshot from 2020-09-19 12-43-11](https://user-images.githubusercontent.com/61130487/93659357-df9b6280-fa33-11ea-940c-21e127e36736.png)
![Screenshot from 2020-09-19 12-43-14](https://user-images.githubusercontent.com/61130487/93659358-e32ee980-fa33-11ea-9001-116b8cf12a3d.png)

[2020-09-19 05:09] rongguodong commented on #991
When you see routing failed, can you check the log (under /apollo/data/log) to see what errors it gave out?
When routing is success, all three channels naming "routing_xxx" should be green, but you only have one.

[2020-09-19 05:19] Addi2020 commented on #991
@rongguodong  thank you for the quick response.

When I do routing in a straight line (same lane), then everything is ok. "routing_xxx" is green. BUT the issue is, the routing for lane change is not possible.  So i am confused about this issue.

![Screenshot from 2020-09-19 13-18-34](https://user-images.githubusercontent.com/61130487/93659689-aafec980-fa7a-11ea-8fbf-c31cf1e82665.png)

[2020-09-19 12:53] sanjay1794 commented on #913
hi can any one help me how to setup dome tools ??

[2020-09-19 14:27] luqiang21 commented on #991
Can you convert your base_map.bin to base_map.txt and check the content of the map? If the lanes' relations are correct, you will see those relationships inside the map. Trying following command:
`protoc --decode=apollo.hdmap.Map modules/map/proto/map.proto --proto_path=. < /apollo/modules/map/data/your_map_folder/base_map.bin > base_map.txt` under `/apollo` inside docker.

[2020-09-19 17:21] rongguodong commented on #991
@Addi2020 Does it only happen on your own map? If so, it should be something wrong in your map.
If it also happens on one of our default maps, please share details on how to reproduce it.

[2020-09-20 16:47] User-712 opened #993 "Issue in integrating CAN-Bus and Utrasonic sensor on ROS"
Hello LGSVL team,
I have a question about using CAN-Bus and Ultrasonic sensor in LGSVL on ROS.
![canbus_error](https://user-images.githubusercontent.com/71029042/93716349-e8ec1280-fb8c-11ea-8c82-3551b580ce6b.PNG)
![ultrasonic_sensor_error](https://user-images.githubusercontent.com/71029042/93716358-f6a19800-fb8c-11ea-8234-78b56e9fcdb9.PNG)
It looks like Canbus Data and Utrasonic datatypes are not

[2020-09-21 00:33] #982 closed

[2020-09-21 00:34] qwetqwe commented on #979
thanks

[2020-09-21 00:34] #979 closed

[2020-09-21 01:48] qwetqwe opened #994 "can not establish api port"
Hi，team，
I want to use 2  PC to run simulation. One is for apollo stack,another is for simulator.
My apollo PC IP is 192.168.1.102
simulator PC is 192.168.1.99
 I change the config.yml to
api_hostname：“192.168.1.99”
api_port:8181
Sometimes it can establish port,sometimes not. I'm confused. I use 2020.06 release version
my ufw is inactive and I can use nc -l 8181 to establish listening port well.

[2020-09-21 02:38] Addi2020 commented on #991
@rongguodong  I only check this issue on my own created map. Could you please share .bin files of the default maps?

[2020-09-21 02:39] qwetqwe opened #995 "the NPC can't be static"
Hi team,
when I use api to control simulator, I add a NPC and api code is like this. But after a while, the NPC run by it self even if I set velocity to zero and follow_closest_lane to false.
[code]

[2020-09-21 02:46] ntutangyun commented on #995
what happens if you remove this lane `npc1.follow_closest_lane(False, 0)`

[2020-09-21 03:18] rongguodong commented on #991
You can find the default maps here: https://content.lgsvlsimulator.com/maps/

[2020-09-21 03:19] qwetqwe commented on #995
@ntutangyun  it is the same

[2020-09-21 03:41] Addi2020 commented on #991
@rongguodong   Got it. Thanks!

@luqiang21 , I have converted .bin file to .txt file and check the relations between lanes and boundaries. Everything looks correct.

[2020-09-21 05:00] Addi2020 commented on #991
@rongguodong I checked the default maps, Routing on two or more than two lanes are successful on default maps. Red lines as shown in the picture.
![Screenshot from 2020-09-21 12-42-11](https://user-images.githubusercontent.com/61130487/93733694-f376ce00-fbc5-11ea-9016-428ac4ecb60d.png)

I think i did some mistakes while creating my own map.
The procedure I followed is right?
1. import .pcd file
2.

[2020-09-21 08:04] qwetqwe opened #996 "the pedestrain did not follow waypoint in 2020.06"
I run 16-pedestrian-follow-waypoints.py script, but pedestrian did not walk after spawned. I use 2020.05, it works well. Is it a bug?

[2020-09-21 09:34] gyp199009 opened #997 "Problem with creating new NPC model"
Hello,
I am now creating a new NPC model under instruction by [https://www.lgsvlsimulator.com/docs/npc-plugins/#creating-npc-model-plugins] , and inside my NPC prefab I have Lights with names: LightHeadRight, LightHeadLeft, LightBrakeLeft, LightBrakeRight, IndicatorReverse, IndicatorLeftRear, IndicatorRightRear, IndicatorLeftFront, IndicatorRightFront, I also have a 3D model with parts: WheelLeftF

[2020-09-21 15:36] User-712 opened #998 "How to get position of ego vehicle"
Hi LGSVL team,

I need ego vehicle's current position information, am using rosbridge for interfacing LGSVL and ROS framework. Is there any possibility I can subscribe vehicle's current position (position and orientation) in ROS?

And for a particular map what is the default position of the ego vehicle? could you specify in which file I can modify the position value of a ego vehicle.

Note: I don'

[2020-09-21 16:10] DokurOmkar opened #999 "How can I create my own data set?"
Hello Team,

How can I create my own data set (just like BorregasAve) so that I can run simulations with Autoware for my own street? What tools do I need to achieve this?

Please advise! Thank you!

[2020-09-21 16:18] rongguodong commented on #999
Please refer to our instructions:
https://www.lgsvlsimulator.com/docs/add-new-map/
https://www.lgsvlsimulator.com/docs/add-new-ego-vehicle/

[2020-09-21 16:22] rongguodong commented on #991
@luqiang21 Do you have any suggestions on map creation? It seems his map is not correctly created?

[2020-09-21 16:39] EricBoiseLGSVL commented on #913
@sanjay1794 Can you explain dome tools please?  @jiayiyi1991 set the sensor config parameters and made an adjustment to the HDRP post processing effect Exposure.

[2020-09-21 16:49] EricBoiseLGSVL commented on #991
@Addi2020 What is this object in the hierarchy?
![AnnotateHelp2](https://user-images.githubusercontent.com/45106230/93796504-c6d7ac00-fbef-11ea-91b4-0fc1c91eef49.png)

[2020-09-21 17:27] EricBoiseLGSVL commented on #997
@gyp199009 You most likely have the pivots of the wheels in the wrong place.  Be sure to have the wheels pivot centered in the middle of the wheel.  Also, be sure to zero the other mesh pivots at origin.  Once unity runs, it creates the wheel colliders and attaches them to the wheel mesh.  If these are off then it can cause all kinds of issues.
Unity meshes and Blender are pretty much the same exc

[2020-09-21 17:28] EricBoiseLGSVL commented on #996
@qwetqwe This might be a bug, we will look at this, thanks

[2020-09-21 17:29] EricBoiseLGSVL commented on #995
@qwetqwe We will look at this to see what is going on, thanks

[2020-09-21 17:30] EricBoiseLGSVL commented on #994
@shalinmehtalgsvl Do you have any ideas why this is happening?

[2020-09-21 17:44] luqiang21 commented on #991
@Addi2020 In the screenshot, I see you are not using `MapLaneSection` for parallel lanes. That is the object that will compute relations between parallel lanes. You need to group parallel lanes under a `MapLaneSection` section. Refer [here](https://www.lgsvlsimulator.com/docs/map-annotation/#create-parent-object-lanes)

[2020-09-21 18:19] lemketron commented on #994
Are you running Linux on both or just Apollo? Ok which machine are you running python scripts? Have you tried running python scripts on the simulator machine? If simulator machine is Windows there may be a firewall enabled that is blocking external access from the script running on the Apollo machine.

[2020-09-21 18:39] EricBoiseLGSVL commented on #994
@qwetqwe can you list all ports being listened to?  Maybe you have a conflict?

[2020-09-21 18:40] EricBoiseLGSVL commented on #996
@qwetqwe Have you pulled the latest PythonApi source?  There were changes for this release

[2020-09-21 21:28] rongguodong commented on #993
The current Ultrasonic sensor is only used in ROS2 bridge. If you want to use it with ROS or Cyber bridge, you need: 1) register the corresponding publisher in the corresponding bridge factory; and 2) create the convertor to convert UltrasonicData to corresponding data structure.

You can refer to [this commit](https://github.com/lgsvl/simulator/commit/35b476526ab7b755b2c28b493a9c1bee02f5a858) to

[2020-09-21 21:29] hadiTab commented on #995
@qwetqwe I was able to reproduce this with your script. We will look into it. Thanks.

[2020-09-21 22:02] EricBoiseLGSVL commented on #998
@User-712 @hadiTab can confirm but as for the position and rotation, you can get this from the GPS sensor. This has lat/long/orientation/northing and easting.  Is this what you are looking for?
The API can place the vehicle anywhere you need in the scene or it uses spawnInfo gameobjects to spawn.  These are put in the map when we create the bundles.  You can create a map and place anywhere or use

[2020-09-21 23:38] shalinmehtalgsvl commented on #995
Hi @qwetqwe ,

I believe this is just because the NPC is getting a non-zero speed after being dropped. I edited your script to use the raycast function and get points on the ground where the NPC can be spawned.

Can you try this change? This block replaces the line `state.transform.position=state.transform.position+30*forward`
[code]

[2020-09-22 01:42] qwetqwe commented on #995
@shalinmehtalgsvl ,
 it works,and car doesn't move. I thought that `npc1.follow_closest_lane(False, 0)` can brake the car.
thanks a lot

[2020-09-22 02:23] qwetqwe commented on #996
@EricBoiseLGSVL ,I'm sorry that I didn't update the Python-api
thanks!

[2020-09-22 02:23] #996 closed

[2020-09-22 02:45] gyp199009 commented on #997
@EricBoiseLGSVL  I don't think it's about the wheels, but the "Body", because the same wheels with different bodies get different results, and I think the pivots of bodies are both at the geometric center.
Here is the body created in Unity:
![image](https://user-images.githubusercontent.com/32737903/93839643-27361e80-fcc0-11ea-9645-4e131efcfaba.png)
And here is the body created in Blender:
![image

[2020-09-22 04:26] Addi2020 commented on #991
@luqiang21 .. Got it. The issue is solve by using MapLaneSection for parallel lanes.

Thank you for your details guidance and quick response.
@luqiang21 @rongguodong @EricBoiseLGSVL

[2020-09-22 05:42] Maddy2927 commented on #972
@EricBoiseLGSVL Yes, I created the assetbundle in the specified folder.
Also, i wanted to know when we create our own PythonAPI files and try to run it, it gives error. Why so?
And when i run a custom API in my system and run the same file in another system, i cannot see the same output. for example, I spawned NPC and pedestrian on a particular location of a map, but this output was not shown at a

[2020-09-22 06:40] Maddy2927 commented on #984
@EricBoiseLGSVL Also, you mentioned trigger function to move the pedestrian when ego vehicle is close. Can this trigger function be implemented in the older version 2020.05 version as well? Or 2020.06 is necessary for it?

[2020-09-22 09:03] momala commented on #981
I converted this model from SolidWorks by using blender as a converter. first I used sheet metal for the body, and I thought maybe it was the problem because it had not any thickness. I thickened the body and give a small thickness to it and it also did not work.
here is my collider: it is almost similar to the body of the vehicle.
![Screenshot from 2020-09-22 11-47-51](https://user-images.githubu

[2020-09-22 09:48] #995 closed

[2020-09-22 10:34] asifsid-32 opened #1000 "Errors in 31-wait-for-distance-trigger.py"
Hii LGSVL Team,

I am facing following error in running the latest updated python api 31-wait-for-distance-trigger.py

Traceback (most recent call last):
  File "./quickstart/31-wait-for-distance-trigger.py", line 73, in <module>
  effector = lgsvl.TriggerEffector("WaitForDistance", parameters)
AttributeError: module 'lgsvl' has no attribute 'TriggerEffector'

Any help will be appreciated !!

[2020-09-22 11:39] ntutangyun commented on #972
HI @Maddy2927,

could you try to copy over the entire built simulator folder to the other pc, and try to run the python API scripts and see if they behaves the same?

On the pc where you're not able to spawn the NPC and pedestrian, are you able to run other simple API scripts like `01-connecting-to-simulator.py` and `02-loading-scene-show-spawns.py`?

[2020-09-22 13:03] chongxing opened #1001 "added vehicle can't move with keyboard"
I am trying to add a new vehicle with the following two tutorials.
https://github.com/lgsvl/simulator/issues/401
https://www.youtube.com/watch?v=R_Z65kimCII

what i am doing is to learn copy a Jaguar Car. I can successfully copy the vehicle ( I name it Car2).  But it doesn't react to keyboard-up-left-right event, and don't move.

I am working on Ubuntu, the Unity version is 2019.4.10f1.

https://w

[2020-09-22 15:57] alexiskovi commented on #990
I have downgraded my script to a single thread but faced the same problem. My script is about getting EGO relative position to the end point:
[code]
After sending routing request in the following point in Shalun map:
![DeepinScreenshot_select-area_20200922184848](https://user-images.githubusercontent.com/19861339/93906245-a2b9bf00-fd04-11ea-8bce-699be7e884de.png)
Car will navigate and stuck near t

[2020-09-22 17:04] EricBoiseLGSVL commented on #997
Can you please select the wheels so we can see the pivots?  It should look like this and at this angle to see relative to other objects
![NPCHelp00](https://user-images.githubusercontent.com/45106230/93913462-f8b54500-fcb9-11ea-82b6-429b41ae1c96.png)

I think I see the problems.
- First, make sure there is no collider on the body.  I can't tell bc the image cuts off the Inspector view.  If there i

[2020-09-22 17:04] #991 closed

[2020-09-22 17:13] EricBoiseLGSVL commented on #984
@Maddy2927 The VSE is still in development, sorry.  We will release this soon.  You can make a controllable that has trigger components in 05 or in 06 release.  This is a Unity API component and it doesn't matter which one.

With the new controllable class, you can create OnTriggerEnter method to trigger when an object.tag == Player happens and run any logic you want.  Please see the RadarSensor t

[2020-09-22 17:30] EricBoiseLGSVL commented on #981
@momala Sorry, it's not the collider that gets hit with the lidar but the mesh.  You can set the lidar to ignore a mesh if you set the vehicle Physics Layer to Sensor, but it will pass right through.  It looks like you have the lidar set at a radius from the lidar sensor center in a wide circumference so the beam is starting inside the vehicle.  I would change the body mesh layer to Sensor and als

[2020-09-22 18:00] EricBoiseLGSVL commented on #972
@Maddy2927
- Do you have the latest PythonAPI pulled?
- It looks like "TrafficCone" is not found.  Do you have the asset bundle in the AssetBundles folder?
- Is the controllable named "TrafficCone" or "Traffic Cone"?  Please check the spelling
- Please see if @ntutangyun comments help.
- Are the two different PC's using the same version of simulator?  Are you using a Seed to to the simulation?  Se

[2020-09-22 18:30] User-712 opened #1002 "Issue in loading map for autoware.ai with lgsvl"
Hi,

I am running latest LGSVL simulator and autoware 1.12.0, facing issue in loading map. I have followed the instructions given here https://www.lgsvlsimulator.com/docs/autoware-instructions/
https://github.com/Autoware-AI/autoware.ai/wiki/Generic-x86-Docker#run-an-autoware-docker-container

1. ./run.sh -t 1.12.0 in docker/generic directory
2. sudo apt update && sudo apt install ros-$ROS_DISTRO-

[2020-09-22 20:31] martins-mozeiko commented on #981
This happens due to near plane of lidar camera - it clips off whatever is close-by it, that's why near parts of the vehicle does not block lidar rays, and they hit vehicle from "inside" on opposite side.

Solution is either to move lidar a bit away from vehicle. Or decrease near plane distance for lidar camera - but be careful about decreasing it too much, too small values will greatly reduce lida

[2020-09-22 22:01] shalinmehtalgsvl commented on #1000
Hi @asifsid-32 ,

Have you pulled the latest PythonAPI changes?

If you have and it still isn't working, you may need to try installing it again. This is needed if you didn't initially use the `-e` parameter.

You can check where the script is importing the library from by entering the ide and doing
[code]

If you get something similar to `/PythonAPI/lgsvl/__init__.py` then you installed the libra

[2020-09-23 00:44] yumianhuli2 opened #1003 "When will the new version be released"
Hello Lgsvl Team！
When will the new version be released? Is this month all right？
Thanks！

[2020-09-23 01:58] gyp199009 commented on #997
@EricBoiseLGSVL  I found the reason, the  "Read/Write Enabled" on the inspector panel of model Import Settings should be checked!
![image](https://user-images.githubusercontent.com/32737903/93955839-45188780-fd83-11ea-9a55-534b301d0e0e.png)

[2020-09-23 03:50] EricBoiseLGSVL commented on #1001
@chongxing
- First off latest simulator is 2019.3.15f1.  Please use this version for 06 release.
- Be sure you have pulled the branch 06 release, not master.  BaseLink is a class in the project you add to an empty gameobject.  Place it where you need on the vehicle and add the BaseLink.cs component.  Then drag the transform to the BaseLink public reference on the VehicleSMI class in the inspector.

[2020-09-23 03:51] EricBoiseLGSVL commented on #1002
@User-712 Autoware 1.12 is not supported.  Please use 1.14.  Right @hadiTab ?

[2020-09-23 03:52] EricBoiseLGSVL commented on #1003
@yumianhuli2 We will have a new release soon :)

[2020-09-23 05:57] chongxing commented on #1001
@EricBoiseLGSVL  Thanks for your quick reply. I will learn and have a try later.

[2020-09-23 06:15] yumianhuli2 commented on #1003
^_^!

[2020-09-23 06:15] #1003 closed

[2020-09-23 06:33] hadiTab commented on #1002
1.12 is partially supported, but we encourage using 1.14 instead. You should be able to load the maps in 1.12 though. @cyberphysicalrobotics do you know what this is about? Thanks.

[2020-09-23 07:41] eyadshak commented on #951
The Logitech Gaming SDK on the unity store (https://assetstore.unity.com/packages/tools/integration/logitech-gaming-sdk-6630) supports implementing force feedback (tested on Windows), it works out of the box with Logitech g920 wheel and the Fanatec ClubSport Wheel Base with a minor edit.

I have implemented wheel centering and wheel control inside LGSVL, haven't tested collisions or other interact

[2020-09-23 07:41] #951 closed

[2020-09-23 10:01] Mojojojooo opened #1004 "Data frame conversion from IMU to ODOM"
1.How are the frame data of IMU and ODOM related.
2.What can be done in the source code to convert data from IMU frame to ODOM frame.

[2020-09-23 10:04] Mojojojooo opened #1005 "How is the ODOM frame defined"
With respect to what is the odom frame made. (vehicle center or the rear axle of the car )

[2020-09-23 10:05] Mojojojooo opened #1006 "How is GPS data coming in ODOM"
How is the frame conversion happening ?

[2020-09-23 14:43] alexiskovi commented on #990
@hadiTab, @martins-mozeiko, I have made a [screencast](https://drive.google.com/drive/folders/13kcWw69SzaY-Z7_Zhd4qwqR_UOKlTbCn?usp=sharing) with this bug for better understanding. File test.py, which I have executed in terminal, contains the same code which I gave in the comment above.

[2020-09-23 14:50] AlexandrZabolotny opened #1007 "Error open localhost:8080"
Hi team! Help me please if you can!

I see the following picture when I open the local host after starting the simulator

![Screenshot from 2020-09-23 17-39-43](https://user-images.githubusercontent.com/61351599/94028574-9dbc4480-fdc4-11ea-8102-2910cc04639c.png)

**Perhaps you have any ideas?**
This happened when I added a new map to /simulator/Sim/AssetBundles/Environments

[2020-09-23 16:40] ntutangyun commented on #1007
coud you try to use another browser or do a complete reload of the website.

for example for chrome, it's Shift + F5

[2020-09-23 16:43] EricBoiseLGSVL commented on #997
@gyp199009 Yes sorry, we toggled that on so long ago for npc meshes.  I'll make a note to add to the documentation.  Thanks for finding this.

[2020-09-23 16:56] dr563105 commented on #1007
Clear your cache. Close your browser and reopen the link.

[2020-09-23 17:33] EricBoiseLGSVL commented on #1007
Yes, Ctrl+R will clear cache

[2020-09-23 17:50] hadiTab commented on #1005
@Mojojojooo frames are defined by the user in the JSON configuration file in the web-ui. Can you share the JSON configuration you are using?

[2020-09-23 17:55] hadiTab commented on #1004
@Mojojojooo I'd suggest reading [this page](https://www.lgsvlsimulator.com/docs/sensor-json-options/) from our documentation which explains the how to configure the sensors on the vehicle. The relative location of the sensors is defined by the `transform` in the JSON config. By default, if no `parent` is defined for the sensor, the transform will be relative to the center of the vehicle projected

[2020-09-23 17:57] hadiTab commented on #1006
The GPS sensor publishes the global position of the sensor in the world. To define where it is positioned on the ego vehicle use the sensor configurations as I described in [this comment](https://github.com/lgsvl/simulator/issues/1004#issuecomment-697791667).

[2020-09-23 23:21] hadiTab commented on #990
@alexiskovi thanks for the details. We will look into this. Did pausing/playing the simulator at the end of your video make it start driving again?

[2020-09-24 01:34] twuser666 commented on #522
Hi, I have the same problem.
Do you solve the problem?

[2020-09-24 01:39] twuser666 commented on #404
Hi, I have the same problem.
Can you teach me how to solve this problem?
Thank for your help.

[2020-09-24 03:43] #999 closed

[2020-09-24 03:44] DokurOmkar commented on #999
Thank you @rongguodong

[2020-09-24 04:29] Mojojojooo commented on #1005
{
	"name": "simulator-web-app",
	"version": "1.0.0",
	"description": "A WebUI application for LGSVL Simulator.",
	"author": "",
	"main": "src/index.js",
	"scripts": {
		"serve": "enact serve -p 8081",
		"pack": "enact pack",
		"pack-p": "enact pack -p",
		"watch": "enact pack --watch",
		"clean": "enact clean",
		"lint": "enact lint .",
		"license": "enact license",
		"test": "enact test start --s

[2020-09-24 04:40] Mojojojooo opened #1008 "Vehicle Position to 0,0"
Hey, The Vehicle currently start at a position ( taken from GPS ) (-9,25) something. How can we make the car span at 0,0. What I mean is the where ever the car spans that has to be considered as 0,0. How can that be done.

[2020-09-24 04:52] Mojojojooo commented on #1004
So if we define the transform sensor at the center of the car and add parent entery to all other sensors then everything will be with respect to the center. Did I get it correct ?

[2020-09-24 06:41] asifsid-32 opened #1009 "Fisheye correction Model"
Hii LGSVL team,

I am working with fisheye camera. For calibrating it I need to know whether the fisheye correction Model used is kannala ?

If not what is the correction Model used ?

[2020-09-24 06:48] SungYinYang opened #1010 "Need Help in Modular Testing"
My GPU is RTX2080S.
I was running Apollo master pre6 branch

I follow the video from https://www.youtube.com/watch?time_continue=6&v=781zkzN2xMg&feature=emb_logo to do the modular testing.

When I enable localization on the modular tab, it has the following error.

Failed to load default POI. Please make sure the file exists at /apollo/modules/map/data/borregas_ave/default_end_way_point.txt

![Fai

[2020-09-24 06:56] ntutangyun opened #1011 "[documentation] Traffic behavior plugin drunkDriver link is 404"
Hi team,

at this [documentation page](https://www.lgsvlsimulator.com/docs/npc-plugins/)

just found that the drunk driver link [(https://github.com/lgsvl/ExampleNPCs/DrunkDriver)](https://github.com/lgsvl/ExampleNPCs/DrunkDriver) page cannot be found.

Also there seems no such repositories for ExampleNPCs.

[2020-09-24 06:58] #1007 closed

[2020-09-24 07:17] hadiTab commented on #1004
Yes, that is correct.

[2020-09-24 07:20] hadiTab commented on #1005
This is not the correct JSON. Once you start the simulator, click on the button to open the web ui. Inside the webui click on the vehicles tab. Each vehicle has a wrench icon. Click on the icon and a JSON formatted sensor configuration will be brought up for that vehicle.

[2020-09-24 08:16] InitialDuan opened #1012 "can't launch standalone executable file on Ubuntu"
Hello LG teams,

I downloaded lgsvlsimulator-linux64-2020.06 release and installed vulkan. When I double-click the simulator, it shows a "LGSVL simulator" window in black and crashes after one second.

I have NVIDIA GeForce GTX 960M and Nvidia driver 450.66 on Ubuntu18.04.
Nvidia-smi output looks also fine.
[code]

The ~/.config/unity3d/LG Silicon Valley Lab/LGSVL Simulator/Player.log is empty. Th

[2020-09-24 08:53] ntutangyun commented on #1011
Hi team,

following the instructions [here](https://www.lgsvlsimulator.com/docs/npc-plugins/#npc-behaviors)

I've created a custom script named `ManualLaneFollow.cs` and placed in below folder `Assets/External/NPCs/CustomNPCControllers/ManualLaneFollow/ManualLaneFollow.cs`
with following content:

[code]

And I created another api command `NPCManualLaneFollow.cs` and placed at
`Assets/Scripts/Api/

[2020-09-24 09:12] hadiTab commented on #1008
There isn't a quick and easy way to do this in the simulator. The GPS sensor is designed such that coordinates in the simulator match real world coordinates for the same location, because of this we can't have the coordinates changing each time we start a new simulation.

You can manually edit the map you are interested in so that one particular spawn point will have (0, 0) coordinates, but I woul

[2020-09-24 09:42] hadiTab commented on #998
@User-712 sorry for the late reply. I missed this somehow.
The easiest way to do that in ROS (1) would be to add the [GPS Odometry Sensor](https://www.lgsvlsimulator.com/docs/sensor-json-options/#gps-odometry) to the vehicle. Make sure to set `IgnoreMapOrigin` to `false` otherwise all positions will be relative to the origin of the map (instead of actual GPS coordinates).

The sensor outputs a `na

[2020-09-24 10:42] alexiskovi commented on #990
@hadiTab, yes, it helps

[2020-09-24 12:30] eyadshak opened #1013 "Wrong car position in Apollo 5.0"
So I am running Apollo and LGSVL on separate machines, I'm experiencing minimum latency when moving the car manually, and while observing the traffic light recognition, but the ego car's position in Apollo's Dreamview is wrong, causing the car to crash when control is enabled. It localizes in the wrong position but continues to mirror the movement of LGSVL with no delays,

![lgsvl](https://user-im

[2020-09-24 12:45] Mojojojooo commented on #1005
[{"type": "GPS Device", "name": "GPS",
            "params": {"Frequency": 12.5, "Topic": "/nmea_sentence", "Frame": "gps", "IgnoreMapOrigin": true},
            "transform": {"x": 0, "y": 0, "z": 0, "pitch": 0, "yaw": 0, "roll": 0}},{"type": "GPS Odometry", "name": "GPS Odometry",
            "params": {"Frequency": 12.5, "Topic": "/odom", "Frame": "gps", "IgnoreMapOrigin": true},
            "tr

[2020-09-24 15:58] rongguodong commented on #1009
It is based on "Unified Projection Model" (http://www.robots.ox.ac.uk/~cmei/articles/single_viewpoint_calib_mei_07.pdf)

[2020-09-24 16:00] rongguodong commented on #1010
For the error of POI, it seems having no problem to leave with it.
For dreamview error, as instructed here, please check the log file to find out the exact reason.

[2020-09-24 16:14] rongguodong commented on #1013
I believe you are using 2020.06, which requires new map asset bundle. Please delete the database so that it will automatically download the new asset bundle. Or you can manually download it [here](https://content.lgsvlsimulator.com/maps/borregasave/).

[2020-09-24 18:07] asifsid-32 commented on #1009
Can you also tell me the fish eye camera model used for LGSVL simulator ??

[2020-09-24 18:11] rongguodong commented on #1009
Please refer the above paper for more details, or simply Google "Unified Projection Model".

[2020-09-24 20:10] mosshammer opened #1014 "Depth Camera with floating point distance"
I'm trying to convert the fragment shader in DepthPass.hlsl to encode the distance inside the RGB(A) channels as a float similar to the lidar render pass. However, the fragment shader seems to be applied only to the NPCs and not the environment, it's still the default grayscale values for the environment. Is there another render pass or anything that needs to be adapted?

[2020-09-24 21:04] hadiTab commented on #1005
Yup. That's the one.

[2020-09-25 00:19] rongguodong commented on #941
The fix is now merged into Apollo master ([PR #12647](https://github.com/ApolloAuto/apollo/pull/12647))

[2020-09-25 01:02] chongxing opened #1015 "ros2 bridge report "Unknown operation received ..." Thanks"
I try to run simulator and ros2 bridge (https://github.com/lgsvl/ros2-lgsvl-bridge), what after starting running inside a map from simulator, and ros2 bridge report error, as the following:

[DEBUG] [rcl]: Initializing ROS client library, for context at address: 0x7fffb6f62eb0
[DEBUG] [rcl]: Initializing node 'bridge' in namespace 'lgsvl'
[DEBUG] [rcl]: Using domain ID of '0'
[DEBUG] [rcl]: Using

[2020-09-25 02:05] EricBoiseLGSVL commented on #522
It says compiled with warnings.  This is fine

[2020-09-25 02:16] EricBoiseLGSVL commented on #1012
@InitialDuan Our recommended spec for GPU is 8gb.  I think you are also not using the GPU.  It's hard to tell from your formatting of the NvidiaSMI please use ``` to format.  Please also look at multiple closed issues on Linux GPU setup.  I recommend a better GPU for running Simulator esp if you want to run AD stack on the same machine.

[code]

[2020-09-25 02:18] EricBoiseLGSVL commented on #1014
@kamkolak

[2020-09-25 02:20] EricBoiseLGSVL commented on #1010
@rongguodong can you edit your comment to include the link? thanks

[2020-09-25 02:25] #941 closed

[2020-09-25 03:08] asifsid-32 commented on #1009
Can you please tell me Focal length in pixels of fisheye camera and sensor size of the fisheye camera ?

[2020-09-25 03:14] rongguodong commented on #1010
When I said "as instructed here", I meant the instruction in the screenshot of the console output, which said "Please check /apollo/data/log". :)

[2020-09-25 03:29] luqiang21 commented on #1015
@chongxing Are you running another bridge instance for example inside Apollo? This is typically saying the bridge types are not correct.

[2020-09-25 03:36] rongguodong commented on #1009
This depends on the real camera you are trying to simulate. For a real camera, if you use unified projection model to calibrate, the calibration app should return all the values you need for this sensor. Please refer to the paper for more details.

If you are talking about our example JSON, the image size is 1920x1080, and the focal length can be calculated from image size and FOV (i.e. f = Height

[2020-09-25 03:40] asifsid-32 commented on #1009
@rongguodong do you have some api or mechanism for fish correction/ getting fisheye corrected images ??

[2020-09-25 03:43] rongguodong commented on #1009
I used some opensource code which can do this. But I do not have it right now. If I can find it, I will post links here. You can try to Google online in the meanwhile.

[2020-09-25 03:44] rongguodong commented on #1009
https://github.com/hengli/camodocal

[2020-09-25 03:50] asifsid-32 commented on #1009
@rongguodong This formula is for pinhole model ....

[2020-09-25 04:02] rongguodong commented on #1009
Yes, the unified projection model is in fact a pinhole model with shifted projection center (by xi). Please refer to the paper for more details. The opensouce code CamOdoCal may also help.

[2020-09-25 05:29] martins-mozeiko commented on #1015
I would guess that vehicle selected in simulator is using ROS1 bridge, or simulator version is not from 2020.06 branch - as old ROS2 bridge is using ROS1-like protocol. I'm not sure why master does not point to latest code. New ROS2 bridge was added to code in 2020.06 branch.

`71` is ascii code for `G` - and first thing ROS1 bridge and old ROS2 bridge is doing, is sending string that starts with

[2020-09-25 05:37] martins-mozeiko commented on #1014
After editing DepthPass file you need to recompile `Shaders/EnvironmentShaders/EnvironmentSimulation.shadergraph` shadergraph. Find it in project window, right click and choose Reimport. This shadergraph compiles shader that is applied to road/buildings/etc and as a separate passes includes depth, lidar & segmentation hlsl file fragments. Note that this shader will use new version only on maps tha

[2020-09-25 06:50] chongxing commented on #1015
@martins-mozeiko I am using Simulator of 2020.06 release binary (lgsvlsimulator-linux64-2020.06).

The vehicle selected is the default Jaguar2015XE (Autoware). Is it the right choice?

[2020-09-25 06:51] chongxing commented on #1015
@luqiang21 Apollo is not running. only running simulator and the bridge.

[2020-09-25 08:37] InitialDuan commented on #1012
sorry, i updated the formatting of the NvidiaSMI. I am aware of the recommended spec for GPU, but 4gb only for simulator should at least work and not to lead to a immediate crash, right? Also, can Editor.log tell me something?

[2020-09-25 09:41] mosshammer commented on #1014
Thanks! That's exactly what I was missing, it's working perfectly fine now

[2020-09-25 09:41] #1014 closed

[2020-09-25 10:09] MaisJamal commented on #819
I would like to check, when will be the new release? will it be soon?

[2020-09-25 13:32] ccc3017 opened #1016 "How to subscribe canbus topic via ros apollo bridge"
Actually, I'm beginner of this field. but Thanks to lgsvl, I'm getting better at this field.
So, This is the issue. Now, I ran the apollo 3.0 with lgsvl as you mentioned on your documentation[https://www.lgsvlsimulator.com/docs/apollo-instructions/], Of course It worked.
And then, I wanted to see canbus topic publishing on my rqt window and subscribe it. but It said "can not get message class for

[2020-09-25 14:17] twuser666 commented on #522
Thanks a lot!

[2020-09-25 16:18] SungYinYang commented on #1010
@rongguodong Thanks for answering my question fast!
I see the following error in my dreamview.info log.

      disk_spaces {
        path: "/apollo/data"
        insufficient_space_warning: 8
        insufficient_space_: 2
      }
      disk_spaces {
        path: "/media/apollo/internal_nvme"
        insufficient_space_warning: 128
        insufficient_space_error: 32
      }
    }

Any suggestio

[2020-09-25 16:20] rongguodong commented on #1010
So, you do not have enough space on hard drive?

[2020-09-25 16:22] SungYinYang commented on #1010
My hardrive have enough space. It has free space more than 178.1 GB.
Do recommend me to delete the files in /apollo/data/log and /apollo/data/core ?

[2020-09-25 16:31] duong-pa opened #1017 "How to use python API and rosbridge"
Hi,
I can get ros messages from simulator using a rosbridge and apollo3.0 from the instruction.

Now, I wan to use python API to spawn and control NPC agent (pedestrian), and Apollo 3.0 to control vehicle. Even if I use the vehicle apollo3.0 vehicle using python API by using **a = sim.add_agent("Jaguar2015XE (Apollo 3.0)", lgsvl.AgentType.EGO, state)** I dont see any ros message.

Is there away fo

[2020-09-25 16:35] rongguodong commented on #1010
If you have enough space and dreamview report insufficient space, it sounds like a Dreamview issue. Please report it to Apollo.

[2020-09-25 16:40] duong-pa commented on #1017
figure it out
`a.connect_bridge("10.195.248.183", 9090)
`

[2020-09-25 16:40] #1017 closed

[2020-09-25 17:49] martins-mozeiko commented on #1015
To know what bridge you are using, check it in web interface. Here's the link to documentation which shows editing dialog of vehicle configuration (which shows bridge type): https://www.lgsvlsimulator.com/docs/vehicles-tab/#how-to-change-the-configuration-of-a-vehicle

[2020-09-25 17:55] SungYinYang commented on #1010
@rongguodong
I am able to open my dreamview and link it to LGSVL.
I am also able to set an route and run the apollo car with perception and traffic light on.
Thus, I think I would ignore dreaview failuer in my terminal.

I follow the video again and find out that my dreamview was not able to detect traffic light signal as video show.

![image](https://user-images.githubusercontent.com/54567577/943

[2020-09-25 18:12] rongguodong commented on #1010
Are you talking about "NO SIGNAL" on top right corner? It seems not indicating if Apollo received signal result or not.
As long as you can see the traffic light changing colors in Dreamview, it means Apollo HAS received signal result.
@daviduhm Do you have more ideas on that "NO SIGNAL"? I think I have seen that sometime as well.

[2020-09-25 18:18] SungYinYang commented on #1010
Yes, I am talking about the No signal on the top right corner.
I am not able to see the traffic light changing colors in Dreamview.
My car would crash into the traffic.

Would you mind posting your setting of JSON file in the comment?
Thanks in advance.

I would give you more feedback when I find some possible errors.

[2020-09-25 18:18] #416 closed

[2020-09-25 18:34] rongguodong commented on #1010
Your JSON seems fine. Particularly, I see you have "Signal Sensor". Please confirm that `/apollo/perception/traffic_light` is green in cyber_monitor. If so, you should see the traffic lights changing color in Dreamview. For example, they are all red in your screenshot (i.e. the red dots). And they should become green when they become green in the simulator.

[2020-09-25 18:46] rongguodong commented on #530
This is because our timestamp is simulation time, not real time.
We have added sim_time support to latest Apollo. If you add a ClockSensor to ego, and set CyberRT's `clock_mode` to `MODE_MOCK`, you should not see these errors. For more details, please refer to [our document about ClockSensor](https://www.lgsvlsimulator.com/docs/sensor-json-options/#clock).

[2020-09-25 18:56] lemketron commented on #476
We know some users have managed to generate local map and enabled MSF for Apollo 5.0.

However, the same approach does not work for Apollo master (and pre6 branch). We understand that some users are now trying to make it work with Apollo master (aka Apollo 6.0). (Thanks, @rongguodong!)

[2020-09-25 18:57] #605 closed

[2020-09-25 18:58] #606 closed

[2020-09-25 19:04] lemketron commented on #614
Yes, the Mkz LGSVL configuration uses RTK localization rather than MSF (and a different value for lidar_query_tf_official in the LiDAR perception configuration file).

[2020-09-25 19:04] EricBoiseLGSVL commented on #1012
Well, if you are running other applications and trying to run a large map, using integrated GPU instead of nvidia, then yes it will crash.  Still if the logs are empty then it seems that you are failing to actually run the simulator.  It looks like the you are failing to start the application.  Are you the only user on this machine?  I have seen other Linux issues with user issues and installing p

[2020-09-25 19:05] lemketron commented on #614
Instructions for using LGSVL Simulator with Apollo master (~6.0) can be found here: https://www.lgsvlsimulator.com/docs/apollo-master-instructions/

[2020-09-25 19:05] #614 closed

[2020-09-25 19:06] #626 closed

[2020-09-25 19:09] EricBoiseLGSVL commented on #819
We have released the ability to import HDmaps and create a drive-able mesh in Unity with the latest release.  If you are looking for a more detailed Digital Twin, we have services in beta currently that can possibly do this.  @zelenkovsky can let you know who to contact

[2020-09-25 19:12] EricBoiseLGSVL commented on #1010
Don't you need a telephoto sensor for light detection?

[2020-09-25 19:30] InitialDuan commented on #1012
Yes, i am the only user and runing only the simulator. The current situation is that after using the method mentioned in https://github.com/lgsvl/simulator/issues/753#issuecomment-626269278 to reinstall vulkan, i can now open the window and browser to configure the simulation, but when i try to click the red triangle button in browser to load the simluation, the window crashes again. And the log f

[2020-09-25 19:38] EricBoiseLGSVL commented on #1011
@ntutangyun Yes, sorry we missed releasing this DrunkDriver behavior in 06 release.  We will be releasing with the next one soon.
As for the code issue it looks fine. Did you create an asset bundle of the new behavior class you created?

[2020-09-25 19:42] EricBoiseLGSVL commented on #1016
@rongguodong Do you know what could be the issue?

[2020-09-25 19:47] EricBoiseLGSVL commented on #1012
Do you have mesa drivers installed?  if so, please remove and reinstall vulkan and see if that fixes it

[2020-09-25 19:58] lemketron commented on #1012
Why is it trying to create a user directory called "my lgsvl"?

[2020-09-25 20:36] InitialDuan commented on #1012
em...It could come from when i try to add a new project on Unity Hub. But it should have no effect when i start the standalone executable file, right?

[2020-09-25 20:39] InitialDuan commented on #1012
I did, but it only helps a little. As i mentioned above, reinstalling the vulkan allows me open the window and browser, but when i try to click the red triangle button in browser to load the simluation, the window crashes again.

[2020-09-25 20:52] rongguodong commented on #1010
He is using modular testing, where the traffic light result is generated by simulator, not the perception module. If you want perception module to detect the traffic light, you do need a tele camera.

[2020-09-25 20:57] rongguodong commented on #1016
ROS-based Apollo 3.0 is very old. I am not sure if it still works well with latest version of simulator. Is it possible to use our fork of Apollo 5.0 or even Apollo master (both are CyberRT-based)?

@hadiTab @daviduhm Do you have any ideas on this ROS message type issue?

[2020-09-25 21:04] hadiTab commented on #1016
@ccc3017 apollo 3.0 uses a modified version of ROS that serializes to protocol buffers. Standard ROS cannot handle these messages. The rqt tools are all part of standard ROS and I don't think Apollo has modified any of those tools to be able to parse the protobuf messages.

Basically, you won't be able to use any of those tools on any topics that don't have standard ROS types. I believe the only s

[2020-09-25 22:28] lemketron commented on #1010
Is the "traffic light" module enabled? If so, you should turn it off since it seems you are using the "signal sensor" in the simulator which publishes the signal information on the `/apollo/perception/traffic_light` topic.

As noted above, check cyber_monitor; specifically you should locate and expand the `/apollo/perception/traffic_light` topic as shown below, where you can confirm that the traff

[2020-09-26 01:31] ccc3017 commented on #1016
@rongguodong
I will try it with other version of apollo as you said.
Anyway, You mean it should be possible to subscribe canbus topic with other version of apollo?

@hadiTab
Hmm... That makes sense. Thank you.
I'm using ubuntu 16.04.
Then, Is there any way that I can subscribe Canbus topic from simulator?

[2020-09-26 01:35] lemketron commented on #1016
What @hadiTab was saying is that the rqt (ROS) tools won't work with Apollo 3.0 (nor with 3.5 or newer, which use CyberRT instead of ROS). You can use CyberMonitor to view the messages sent to Apollo 3.5 or newer, and you can investigate other CyberRT tools at the Apollo github.

Check the following links:
https://github.com/ApolloAuto/apollo/tree/master/cyber#documents
https://github.com/ApolloAu

[2020-09-26 01:44] ccc3017 commented on #1016
@lemketron
Oh...
Then I need to run newer version of apollo and CyberRT bridge to use CyberMonitor.
I will try it and come back Thanks!

[2020-09-26 03:19] #1011 closed

[2020-09-27 01:37] chongxing commented on #1015
@martins-mozeiko

From the webui, the default bridge type is ROS. After changing to ROS2, the ros2 bridge work.
Thanks very much.

[2020-09-27 01:37] #1015 closed

[2020-09-27 05:27] ccc3017 commented on #1016
@lemketron
A new issue came up... I ran apollo 5.0 using CyberRT bridge. It worked well.
And As you mentioned above, I tried to use CyberRT monitor.
But I got this message
![error_CyberRT](https://user-images.githubusercontent.com/69423522/94356813-84b9d900-00cd-11eb-98d5-0d59237ffe31.png)
How can I fix it and run the CyberRT monitor?

[2020-09-27 10:50] #1004 closed

[2020-09-27 10:51] #1005 closed

[2020-09-27 10:51] #1006 closed

[2020-09-27 10:59] Mojojojooo opened #1018 "Changing EV span position."
Can we make the Ego vehicle span at a different location in the map just by making changes somewhere in the code without using unity or python API as my work involves changing the position frequently.

Please Help me here.

[2020-09-27 11:02] Mojojojooo opened #1019 "Does the simulator have an in built DBW control system ?"
1.Does the car have an inbuilt controller ? if yes can make any changes to it.
2. Even if has a built in controller can it be used with a personal external controller ?

[2020-09-27 12:30] eyadshak commented on #1013
It was indeed a problem with using old maps, had to replace the asset bundle and HD map info (base_map, routing_map, sim_map).
Thank you for your help!

[2020-09-27 12:30] #1013 closed

[2020-09-28 04:58] User-712 commented on #998
@EricBoiseLGSVL  am using AutonomouStuff Map, how can we make the Ego vehicle span at a different location in the map just by making changes in the simulator without using Unity editor.

could you please specify the file where i can get spawnInfo of Maps.

Thanks!

[2020-09-28 05:16] asifsid-32 opened #1020 "Synchronization of NPC"
Hello LGSVL team,

I have been using lgsvl simulator for a while now. I want to sync my ego vehicle movement and NPC. Is there any way we can do this by using python api's since changes in source code looks too complex and will need some time also.

If we are able to do it using some python api that will be a great help.

[2020-09-28 05:36] Mojojojooo opened #1021 "What is the unit of the Steering and Velocity value ?"
We have been the simulator with some values over the twist cmd message type. Can I know the unit of them ?

[2020-09-28 08:11] ntutangyun commented on #998
@User-712 Hi, I think if you're not using API mode, the simulator will use one of the default spawn points that's defined.

If you want to spawn Ego vehicle at any location, you'll need API mode.

[2020-09-28 08:14] ntutangyun commented on #1018
hi, if the position is frequently changing, I believe you're better off using API instead of Hard coding the positions in the source code

[2020-09-28 08:18] User-712 commented on #998
@ntutangyun am interfacing LGSVL with ROS framework through ROS bridge, how can I use API mode here? could you please explain in brief how to spawn Ego vehicle at different location without using unity editor.

Note: I don't want to use autoware or Apollo, I want to use my own ROS framework.

Thanks!

[2020-09-28 08:21] ntutangyun commented on #998
you could just enter API mode, use API to spawn the EGO vehicle. and if the sensors are defined properly, they will be transferring ROS messages to your ROS framework.

[2020-09-28 08:38] momala commented on #981
Thank you very much for mentioning that. Actually, you are right, As I make it farther, it can detect the windshield.
![Screenshot from 2020-09-28 10-09-30](https://user-images.githubusercontent.com/57801641/94408818-ffdac800-017d-11eb-991e-f41203f863c2.png)

Here is my setting for the lidar:
[code]
But I have another problem that I cant rotate the frame of the lidar. I change the roll pitch yaw b

[2020-09-28 08:43] Mojojojooo commented on #1018
For me, it is like I can either use API or my ROS node. So I wanted to make changes in the source code itself.

[2020-09-28 08:46] asifsid-32 commented on #1009
@rongguodong Using the DistortionParameters provided in json sensor configs how can we convert the fish_eye points into the pinhole camera models ? What specific algorithm should i refer in the paper ?

[2020-09-28 10:08] User-712 commented on #998
@ntutangyun am using BorregasAve simulation environment as shown below
![image](https://user-images.githubusercontent.com/71029042/94417309-8a7eef80-019d-11eb-9b8f-144063e5feda.png)
based on my understanding we can use any one of the simulation environment at a time. How can I enter API only mode at the same time?

Thanks

[2020-09-28 10:09] eyadshak opened #1022 "Reading Apollo control message on Windows"
How can I read Apollo control messages (/apollo/control) on a Windows machine? I tried to reach messages coming from port 9090 but I didn't get far with that approach. What format are they being sent?

[2020-09-28 12:29] ntutangyun commented on #1022
May I know your hardware and software stack here.

Is Apollo running on another ubuntu machine ? and this machine is connected with the windows machine in a local network?

[2020-09-28 12:33] ntutangyun commented on #998
@User-712 Basically you can just
1. enter API ONLY mode

2. use API to load the Borregas Ave map  ([example](https://github.com/lgsvl/PythonAPI/blob/master/quickstart/02-loading-scene-show-spawns.py))

3. spawn EGO vehicle, NPC vehicles, and/or pedestrians wherever you want. ([example](https://github.com/lgsvl/PythonAPI/blob/master/quickstart/08-create-npc.py))

4. Once your EGO vehicle is spawned

[2020-09-28 12:39] eyadshak commented on #1022
I am running Apollo 5.0 on an Ubuntu 18.04 machine, and running the latest LGSVL , built from source, on a separate Windows 10 machine. Both have a Quadro p4000 GPU.

All functionalities are working fine, including perception. The car can navigate from point A to B autonomously just fine.
Machines are on the same local network.

I want to record the control messages reaching LGSVL on the Windows 1

[2020-09-28 12:52] ntutangyun commented on #1022
hi @eyadshak  basically LGSVL communicates through a socket connection with the Apollo cyber bridge module.

The cyber bridge module supports multiple clients.

So you could write a script, set up a socket connection to the same bridge address (host and port) and register a reader for the `/apollo/control` channel.

You may refer to [this script](https://github.com/lgsvl/simulator/blob/master/Asse

[2020-09-28 12:56] eyadshak commented on #1022
@ntutangyun thank you very much, I'll have a look at the script.

[2020-09-28 12:56] #1022 closed

[2020-09-28 13:13] asifsid-32 opened #1023 "Unity Editor with LGSVL Simulator"
Hello LGSVL Team,

What all maps can be edited in lgsvl simulator, Is autonomous stuff is an open source map ? Can we place calibration patterns in it to calibrate the cameras ? What steps do we need to follow if we want to open certain map in unity editor and reflect the changes to executable ?

[2020-09-28 13:35] alexiskovi commented on #990
@lemketron, rebooting simulator making me able to finish path, but it doesn't solve problem at all, ego is still freezing in tunnel. Don't close this issue for now, please.

[2020-09-28 14:33] luqiang21 commented on #981
@momala Rotations are in degrees, did you try with degree numbers?

[2020-09-28 17:07] EricBoiseLGSVL commented on #1023
@asifsid-32 CubeTown, San Francisco, Shalun, Single Lane Road are open sourced to be edited.  Sorry, AutonomouStuff is not.  Yes, you can do this in Editor or a modeling application.  Please see our [documentation](https://www.lgsvlsimulator.com/docs/) on building maps but for edits you just need to re build the asset bundle and assign to the simulation.

[2020-09-28 17:11] EricBoiseLGSVL commented on #1020
@asifsid-32 What exactly are you trying to do?  Why do you need to sync NPC?  Python API changes are not too bad.  Just update commands in Simulator and update Python API code.  Then build a new binary.  You can test in Editor from loading scene while you develop.

[2020-09-28 17:14] asifsid-32 commented on #1020
I want my NPC to move at certain point of time. So I need to sync it with my ego vehicle. As soon as my ego vehicle is in certain range I want the Npc to move.

Now can this be done with the available API's ??

[2020-09-28 17:16] EricBoiseLGSVL commented on #1019
@Mojojojooo Yes, we have FMU support and we also have a VehicleSMI dynamics class that you can edit.  You can also write your own dynamics class as long as it uses the interface for dynamics.  Not quite sure what you mean on 2. but if you are talking about external dyamics applications, then yes.  We are currently working on supporting this but this won't be released for a while.  Hope this helps

[2020-09-28 17:20] EricBoiseLGSVL commented on #1018
You can use the API like @ntutangyun suggested and I also recommend.  You can write a loop that cycles the positions you want.  You can also raycast down to make sure the position is on the map before placing.  If you really need the hard coded places, you can edit the map and place a bunch of SpawnInfo objects and write some code to cycle these positions.

[2020-09-28 22:11] daviduhm commented on #1010
@SungYinYang With an assumption that you have set up modular testing correctly following [this](https://www.lgsvlsimulator.com/docs/modular-testing/) documentation, "NO SIGNAL" message means that either you're not running Apollo's planning module or your planning module is not working properly. On the screenshot you posted above, I don't see a green curvy band coming from the ego vehicle in Dreamv

[2020-09-29 02:17] qwetqwe opened #1024 "'follow_closest_lane' can not set speed in some scenario"
Hi team,
I want to make npc follow the lane in a 1 m/s speed. At first, it works well. After the npc pass first traffic light, it speeds up to a high speed. I don't know why.
[code]

[2020-09-29 02:28] qwetqwe commented on #994
maybe network problem

[2020-09-29 02:28] #994 closed

[2020-09-29 04:32] asifsid-32 opened #1025 "Editing Map in unity editor"
Hello Team,

I am facing issues in loading up the screen in unity editor. I have followed all the points from the given link https://www.lgsvlsimulator.com/docs/add-new-map/#import-assets. When i run the scene in unity editor i get a blank screen in which my ego car falls from the sky.

Please find attached screenshot of the same.
![unity](https://user-images.githubusercontent.com/69885768/9451287

[2020-09-29 06:32] jiameixie commented on #1002
@hadiTab I used 1.14 and followed the steps in https://www.lgsvlsimulator.com/docs/autoware-instructions/.When I load map and detect, below errors occurred.   Need I set the default.rviz?

[ERROR] [1601360598.734482481]: [createSignalMarkerArray] failed createPoleMarker: 4,4,6.75,0.4
RLException: while processing

/home/autoware/Autoware/install/vision_ssd_detect/share/vision_ssd_detect/launch/vis

[2020-09-29 06:47] hadiTab commented on #1002
@jiameixie both of those errors can be safely ignored.

Have you gone through the rest of the steps and had any issues?

[2020-09-29 06:49] momala commented on #981
Thank you very much. I thought they were in radian. Now by decreasing the MinDistance to 0.2 my problem almost solved. Thank you very much for your supports.

[2020-09-29 07:16] jiameixie commented on #1002
@hadiTab Yes, I have one. I run lgsvl simulator on my window machine and autoware.ai on a different ubuntu machine. It seems the lgsvl simulator can't connect the autoware bridge port 9090.  I set the Vehicles IP to autowarehostIP:9090, where autowarehostIP is the IP address where running autoware container.  The ref https://www.lgsvlsimulator.com/docs/autoware-instructions run both simulator and

[2020-09-29 08:14] jiameixie commented on #1002
@hadiTab The screenshot of my rivz.  It doesn't have a car on it, which is different from the demo.
![image](https://user-images.githubusercontent.com/50685847/94530973-70f9a880-026e-11eb-8628-d795f89df1aa.png)

[2020-09-29 08:25] asifsid-32 commented on #1025
Followings issues i faced when i checked it -
![unity2](https://user-images.githubusercontent.com/69885768/94532331-59fd8b00-025b-11eb-9182-9f14864817b1.png)

[2020-09-29 09:14] jiameixie commented on #1002
It's no need extra setup for the port. The container use the host network.
![image](https://user-images.githubusercontent.com/50685847/94538660-db164b80-0276-11eb-8547-67a5e3481740.png)

[2020-09-29 12:59] rajesh557 opened #1026 "Information related to WalkWaypoint Function"
Hello LGSVL team,

i wanted NPC to stop at a certain defined distance from the EGO vehicle, and NPC should move again when its distance from ego vehicle drop below defined distance.
I am using 33-wait-for-distance trigger code(modified below highlighted part)
I was using **wp = lgsvl.WalkWaypoint(position=hit.point, speed=speed, idle=0, trigger_distance=0, trigger=None)** this function to achieve

[2020-09-29 14:25] dr563105 opened #1027 "Connection and data flow between simulator and script through rosbridge"
Hey!
I made a data flow diagram for the simulator. I made webUI and simulator as two components connected to each other through `localhost:8080`. The simulator then connects to a python script through `localhost:9090`. I'm using normal ros2 nodes python scripts and not python-API. The [ros2-web-bridge ](https://github.com/RobotWebTools/ros2-web-bridge) is established in the `9090` port.

1. Am I c

[2020-09-29 15:57] EricBoiseLGSVL commented on #1024
@qwetqwe This might be a bug.  We had a refactor of NPCs and there may be a regression.  We will look into it.  If you have video and any other info on this, it would be great, thanks.

[2020-09-29 16:06] EricBoiseLGSVL commented on #1025
Don't worry about check, that is more of an internal check for assets.  Be sure to use git lfs pull to make sure you have assets.  You can check that textures are not URLs but actual .png files.

[2020-09-29 16:09] asifsid-32 commented on #1025
@EricBoiseLGSVL about the ego vehicle falling from the sky that is the issue ? Also what has to be done to load the actual map in the scene to edit it.

[2020-09-29 16:10] EricBoiseLGSVL commented on #1026
@rajesh557 trigger distance is in meters from npc to ego.  NPC waits until Ego is within the distance set, then moves.

[2020-09-29 16:13] EricBoiseLGSVL commented on #1027
@dr563105 Great image! I'll ping @hadiTab to confirm but I think you have the architecture down

[2020-09-29 16:16] EricBoiseLGSVL commented on #1025
If you do not have git lfs installed when cloning the repo, you will not have mesh assets.  If you don't have textures (you won't see anything) and if you don't have meshes (you won't have collider data) and the vehicle will fall.  It's odd you have the vehicle assets and not the map.  Did you edit the map at all?

[2020-09-29 16:20] asifsid-32 commented on #1025
I installed git lfs. No I am trying to load the scene first. Then I have to add calib patterns to it. I downloaded the single lane road map and added it to the path external/environments/singleroadmap

Not able to find out the issue here !! Can you please help ?

[2020-09-29 16:24] dr563105 commented on #1027
Thanks @EricBoiseLGSVL. If it is accurate, you can use it in the wiki for the community. Updated question #7. Basically want to understand how data transfer occurs.

[2020-09-29 16:34] ntutangyun commented on #1024
Hi @qwetqwe @EricBoiseLGSVL ,

below is my understanding:

when the `follow_cloest_lane` API is called, it calls the function `SetFollowCloestLane()` in file `NPCLaneFollowController.cs`, where the speed is passed and assigned to `normalSpeed`.
That's why it works initially.

But when NPC reached the end of its traffic lane and computing its next lane, this `normalSpeed` gets overridden as below:

[2020-09-29 16:55] ntutangyun opened #1028 "[NPCController] built-in collision avoidance is not working while turning in Junction"
Hi,

I encountered this weird scenario where NPC's built-in collision avoidance is not working while turning in junctions.

Here is a [video](https://drive.google.com/file/d/1DZh_k98svttExs-M2QMLJY-C6OcOTpw_/view?usp=sharing)

The NPCs are controlled by the slightly modified version of `NPCLaneFollowController.cs`.

I guess this behavior is caused by the following piece of code:

[code]

[2020-09-29 17:01] EricBoiseLGSVL commented on #1025
@asifsid-32 Can you please screen shot what the map looks like without running it so I can see the spawnInfo position and the collider on the road.

[2020-09-29 17:02] EricBoiseLGSVL commented on #1028
@ntutangyun yes we have some issues from a refactor.  We are looking at solutions asap. Thanks for the video

[2020-09-29 17:02] ntutangyun commented on #1028
I used this temporary modification. But not sure what side effects it introduces.

[code]

[2020-09-29 17:04] EricBoiseLGSVL commented on #7
@rongguodong lol this is you using simulator way back?

[2020-09-29 17:04] EricBoiseLGSVL commented on #1024
Thanks for the find, we will look at this asap

[2020-09-29 17:06] EricBoiseLGSVL commented on #1028
It will block no matter the vector of the blocking transform.  Should be ok but will have issues in intersections.  Still better than hitting EGO :)

[2020-09-29 17:07] asifsid-32 commented on #1025
PFA screenshots for the same ....
![Screenshot (33)](https://user-images.githubusercontent.com/69885768/94590496-5d693480-02a4-11eb-9f5e-e098c0f40478.png)
![Screenshot (32)](https://user-images.githubusercontent.com/69885768/94590503-62c67f00-02a4-11eb-8e4a-de67c104c496.png)
![Screenshot (31)](https://user-images.githubusercontent.com/69885768/94590517-6823c980-02a4-11eb-8fef-b4e8c4b48939.png)

[2020-09-29 17:27] Amina88 opened #1029 "How to load autoware_msgs?"
Hi guys, Im having issue publishing the data from topics for example vehicle cmd topic? $ rostopic echo /vehicle_cmd ERROR: Cannot load message class for [autoware_msgs/VehicleCmd]. Are your messages built? Any one has an ideas how to resolve this plzzzz. thank you
![120452847_253762439317696_878648868552781387_n](https://user-images.githubusercontent.com/9854362/94594185-5e3c9f00-0281-11eb-86f7-9

[2020-09-29 17:30] rongguodong commented on #7
I do not even remember what I was talking about. :p

[2020-09-29 17:34] EricBoiseLGSVL commented on #1025
Can you please open the Scene tab like so
![MapHelp00](https://user-images.githubusercontent.com/45106230/94595219-882d9b80-0258-11eb-9e04-9682ee1fb573.png)

[2020-09-29 17:39] EricBoiseLGSVL commented on #1029
Any idea @cyberphysicalrobotics ?

[2020-09-29 17:46] asifsid-32 commented on #1025
@EricBoiseLGSVL there's no tab as Scene, just the game tab i am able to find. Also i was able to start the loaderscene but when i run it stops at the "API Ready" page.

PFA ss from the unity
![Screenshot (35)](https://user-images.githubusercontent.com/69885768/94596442-bedfd200-02a9-11eb-8702-26836c2a9e3d.png)
![Screenshot (37)](https://user-images.githubusercontent.com/69885768/94596449-c1dac280-

[2020-09-29 17:49] asifsid-32 commented on #1025
Just Got the scene tab ..
![Screenshot (39)](https://user-images.githubusercontent.com/69885768/94596722-26961d00-02aa-11eb-83af-d2d3e4ff577b.png)

[2020-09-29 18:08] asifsid-32 commented on #1025
Following error i am getting when i opened the .png file present in the materials folder ....
So does this means that lfs wasn't installed properly ? Do i have to install it again ?
![Screenshot (43)](https://user-images.githubusercontent.com/69885768/94598525-ae7d2680-02ac-11eb-8c58-f91d0bd4b578.png)

[2020-09-29 19:23] martins-mozeiko commented on #1025
Run `git lfs ls-files` in folder where you cloned the repository. It will print out status of all files under LFS. Each file **MUST** have an asterix (`*`) next to it. If you see only dash (`-`) that means git lfs files are not downloaded. In such case run `git lfs pull` and that will fix your repository.

For more information on git lfs see documentation here: https://www.atlassian.com/git/tutori

[2020-09-29 19:24] lemketron commented on #1020
There's a great example of pretty much exactly what you want to do in quickstart script 26:
https://github.com/lgsvl/PythonAPI/blob/master/quickstart/26-npc-trigger-waypoints.py

[2020-09-29 19:27] lemketron commented on #1020
@asifsid-32 In addition, you can check out the [NPC python API documentation](https://www.lgsvlsimulator.com/docs/python-api/#npc-vehicles):

[2020-09-29 19:32] lemketron commented on #1026
I think you meant [31-wait-for-distance-trigger.py](https://github.com/lgsvl/PythonAPI/blob/master/quickstart/31-wait-for-distance-trigger.py).

[2020-09-29 19:34] lemketron commented on #1026
@rajesh557  In addition, you can check out the [NPC python API documentation](https://www.lgsvlsimulator.com/docs/python-api/#npc-vehicles):

[2020-09-29 19:39] martins-mozeiko commented on #1027
I'll let others answer first 4 questions.
But here are answers on bridges:

5) rosbridge is custom protocol implementation over websocket or TCP socket used by ROS1. It is implemented in Python. Its protocol is documented [here](https://github.com/biobotus/rosbridge_suite/blob/master/ROSBRIDGE_PROTOCOL.md) (v2.0 in name is just version of protocol, not ROS). ros2-web-bridge is same protocol implem

[2020-09-29 19:47] EricBoiseLGSVL commented on #1020
Thanks @lemketron .  Yep, npc trigger waypoint is what you want.

[2020-09-29 20:08] dr563105 commented on #1027
Great stuff. Lots to digest. Thanks a lot @martins-mozeiko .

[2020-09-29 22:22] hadiTab commented on #1027
@dr563105 as @martins-mozeiko pointed out we now have the [ros2-lgsvl-bridge](https://github.com/lgsvl/ros2-lgsvl-bridge). I'd also like to note that as of the 2020.06 release ros2-web-bridge is **NOT** supported anymore and ros2-lgsvl-bridge is the default ROS2 bridge now. So I wouldn't suggest putting a lot of effort into figuring out how ros2-web-bridge works with the simulator.

For the other

[2020-09-30 01:04] hadiTab commented on #990
@alexiskovi how do you run that Python API script? It doesn't have a `sim.run`?

[2020-09-30 02:53] qwetqwe commented on #1024
@ntutangyun
It seems right, do I need to build by unity again after modified?

[2020-09-30 03:02] jiameixie opened #1030 "Autoware path plan failed"
I followed the instructions in https://www.lgsvlsimulator.com/docs/autoware-instructions/.
The car doesn't move after I click 2D Pose Estimate and 2D Nav Goal.

1. The Vehicle mode and point raw status are error
2. All the plans are failed
Can anyone help me with it? Thanks.

![image](https://user-images.githubusercontent.com/50685847/94637934-5a555f00-030b-11eb-8af5-425f748265ec.png)
![image](htt

[2020-09-30 03:22] ntutangyun commented on #1024
Yes. Please try out first with Unity Editor. If it works the way you want. You could build and run the executable file alone.

[2020-09-30 03:38] asifsid-32 commented on #1025
@martins-mozeiko do I have to run from the loader scene or I can directly edit the map ??

[2020-09-30 03:55] ucmar17 opened #1031 "Problems with traffic light detection"
When I am trying to detect traffic light in the Cubetown simulator, it keeps detecting the yellow and red lights as green light, and I am not sure why Apollo does that. The simulator version I am running is 2020.06 and building it using Unity 2019.3.15f1. The Apollo version I am using is the lgsvl-apollo-5.0 fork which I built from source.

[2020-09-30 04:43] rajesh557 commented on #1026
The trigger distance, if used, provides a method to pause the NPC until an ego vehicle approaches. The NPC will begin to drive as soon as its distance to an ego vehicle drops below the value specified as trigger distance in the DriveWaypoint. You can receive information on progress by setting the on_waypoint_reached callback.

here in the documentation it is mentioned that NPC will pause, where wi

[2020-09-30 04:48] asifsid-32 commented on #1025
@EricBoiseLGSVL @martins-mozeiko Thanks for the support i am able to load the map in the unity editor. Now i want to place calibration patterns here. But in general i was using https://content.lgsvlsimulator.com/vehicles/lexusrx2016/ . So is it also open source or do i have to use Jaguar2015XE only. Also @EricBoiseLGSVL a little support on how to place calib patterns and reflect them back on simul

[2020-09-30 05:41] rajesh557 opened #1032 "Help in creating a scenario"
Hello team, i wanted to create a scenario where a pedestrian is moving in some waypoint defined, and it should pause when EGO vehicle comes close to it, and when its distance from ego vehicle falls below defined distance it should start moving again.

`#!/usr/bin/env python3
#
# Copyright (c) 2019 LG Electronics, Inc.
#
# This software contains code licensed as described in LICENSE.
#

import os
i

[2020-09-30 08:30] alexiskovi commented on #990
@hadiTab, simply `python3 test.py` and it works without sim.run()
I deleted line sim.run() because I don't know how to make sim.run() and request ego position in one thread

[2020-09-30 10:33] rajesh557 opened #1033 "Information related to TimeToCollision and WaitForDistance"
Hey team, can anyone explain what is the use if TimeToCollision and WaitForDistance. and where can i find its documentation.
And is there any way that i can make NPC or pedestrian to stop or move depending on its distance from EGO vehicle?

[2020-09-30 12:10] asifsid-32 opened #1034 "Editing CubeTown Map in unity editor"
Hello LGSVL team,

 Can anyone from the team please explain me how to get the mentioned file in the screen shot after building the code

Filename - "enivronment_Moderncity"
also what is the file format ?
![issue](https://user-images.githubusercontent.com/69885768/94683211-c2279c00-0343-11eb-8426-d01833073929.png)

[2020-09-30 12:38] asifsid-32 commented on #1025
Hii @EricBoiseLGSVL , @martins-mozeiko

I am not able to generate asset bundle file after making changes and building the simulator. Also when i run the loader screen it directly gets to API ready instead of open browser.

PFA screenshot for the same
![issue2](https://user-images.githubusercontent.com/69885768/94686005-d2417a80-0347-11eb-8eb7-05cccbaacb79.png)

[2020-09-30 14:26] MaxandreOgeret opened #1035 "Docker error when following ROS2 tutorial"
Hello everyone and thanks for reading this issue.

I am following [this](https://www.lgsvlsimulator.com/docs/autoware-auto-instructions/) tutorial for Autoware Auto with  LGSVL.

First of all the tutorial needs updating as `.aderc-nvidia` has been replaced with `.aderc-lgsvl`.

I followed the tutorial exactly and I get the following error when I try to start the docker container with the nvidia se

[2020-09-30 15:28] EricBoiseLGSVL commented on #1024
@ntutangyun Thanks for the help and fix.  We have added this as a task to fix asap.  Thanks @qwetqwe for the bug report.

[2020-09-30 15:29] EricBoiseLGSVL commented on #1028
@ntutangyun Thanks for the bug find, we have added this to fix asap.

[2020-09-30 15:30] EricBoiseLGSVL commented on #1030
@cyberphysicalrobotics do you know what is causing the issue?

[2020-09-30 15:31] EricBoiseLGSVL commented on #1031
@rongguodong Any idea why this is happening?

[2020-09-30 15:35] EricBoiseLGSVL commented on #1032
@rajesh557 "when its distance from ego vehicle falls below defined distance"  Are you saying that you want the pedestrian to continue the path when the EGO distance to the pedestrian is greater than the trigger distance specified?

[2020-09-30 15:42] EricBoiseLGSVL commented on #1034
@asifsid-32 file format is AssetBundle. This is a unity specific file format for engine assets.  You create a bundle from the Simulator -> Build...  Here you select the Assets/External/Environments/YourMap to build.  Make sure you don't build the binary at the same time or it takes a while.  Be aware that the first build will take a bit but following ones will be faster.  Also, be sure to have bot

[2020-09-30 15:49] asifsid-32 commented on #1034
Sorry @EricBoiseLGSVL I didn't get you !! When we build the simulator we only have option for path where executable will build..

When I built the simulator I am not able to find environment_cubetown inside asset bundle..

What can be the issue here ??

[2020-09-30 16:06] rajesh557 commented on #1032
hey i just want pedestrian to stop moving, when pedestrian's distance from ego vehicle is less than trigger distance. rest of the time pedestrian should continue its path

[2020-09-30 16:11] EricBoiseLGSVL commented on #1033
@rajesh557 Time to collision sensor takes the current velocity of the EGO and the npcs velocity and calculates the time to collision.  Wait for Distance will pause an agent until the distance to the EGO is <= agent and continues the pathing.

[2020-09-30 16:12] EricBoiseLGSVL commented on #1035
@hadiTab any idea on this issue?

[2020-09-30 16:18] EricBoiseLGSVL commented on #1032
The current behavior for wait for distance stops agent until <= distance.  It seems you are asking for the opposite behavior.  You will need to edit the PythonAPI and Simulator code for the wait for distance and invert the logic.  You could also try to add a bool flag to wait for distance logic to invert the logic.

[2020-09-30 16:22] rajesh557 commented on #1033
@EricBoiseLGSVL
`parameters = {"max_distance": 4.0}
    effector = lgsvl.TriggerEffector("WaitForDistance", parameters)
    trigger = lgsvl.WaypointTrigger([effector])
  wp = lgsvl.DriveWaypoint(position=hit.point, speed=speed, angle=angle, idle=0, trigger_distance=0, trigger = trigger)
  waypoints.append(wp)`

i am referring to 31-wait-for-distance.py code.
in the above code parameters = {"max_di

[2020-09-30 16:24] rajesh557 commented on #1033
@EricBoiseLGSVL sorry but i didnt understand Time to collision and wait for distance, can you please elaborate? or explain it with an example

[2020-09-30 16:27] asifsid-32 commented on #1034
When i built the simulator from unity i get an asset bundle  folder with following files-

![Screenshot (47)](https://user-images.githubusercontent.com/69885768/94712658-6a029100-0367-11eb-9525-241ceca8c562.png)

Also i got some files extracted from environment_CubeTown -

![Screenshot (50)](https://user-images.githubusercontent.com/69885768/94712998-d7aebd00-0367-11eb-9121-05d8eb207466.png)

Any

[2020-09-30 16:29] rajesh557 commented on #1032
@EricBoiseLGSVL where can i find the simulator code for wait for distance?

[2020-09-30 16:56] asifsid-32 commented on #1034
@EricBoiseLGSVL any suggestions ?

[2020-09-30 17:24] asifsid-32 commented on #1034
@EricBoiseLGSVL , @martins-mozeiko  What does navigate and save this to assetbundles means in the following screenshot -
![Screenshot (51)](https://user-images.githubusercontent.com/69885768/94718818-e600d700-036f-11eb-92e4-94f2d0e427c4.png)

[2020-09-30 17:27] asifsid-32 commented on #1034
Which file do we have to save in this file path ?

[2020-09-30 17:32] dr563105 commented on #1027
Thanks @hadiTab. I did my thesis with January through May versions. So I need to mention ros2-web-bridge unfortuanately.

The node.js wrapper is written because when I opened standard ROS messages present inside `~/ros2-web-bridge/node_modules/rclnodejs/generated`, I saw them written in javascript.

Well, I have to mention what happens inside simulator once data from the environment reaches. I did

[2020-09-30 17:33] EricBoiseLGSVL commented on #1026
It will pause at the waypoint you set the trigger, e.g. 31-wait-for-distance-trigger.py
[code]

Again, this is the opposite of the trigger logic that is present.  You will need to alter the code to do this in NPCWaypointBehaviour.cs.  Here it returns null when the distance to EGO is greater than the trigger distance given.  It will need another bool value for trigger data and API changes to pass t

[2020-09-30 17:48] EricBoiseLGSVL commented on #1025
Did you build the new CubeTown asset?  Did you include windows support in the installation of Unity 2019.3.15f1?  You can do this in Unity Hub.  What errors do you get when you try to make a build?  Please look up how to get Editor logs in Unity.

Jaguar2015XE is our only open source vehicle but you can create private assets for vehicles.  It is up to you.  If you want to make a new vehicle, pleas

[2020-09-30 17:54] EricBoiseLGSVL commented on #1033
@rajesh557 No worries, TimeToCollision is a sensor that outputs the pos/neg time to collision with NPC vehicles.  Wait for distance is an agent API trigger that pauses the NPC at a waypoint specified until the EGO is within the distance specified.
e.g. Taking current EGO velocity it will collide in 5 sec with NPC[0], this is sent to bridge as a msg.
e.g. NPC sedan waypoint index 3 is set to have a

[2020-09-30 17:58] asifsid-32 commented on #1025
@EricBoiseLGSVL is there a difference between building the simulator and building the CubeTown asset ? how do we have to build the CubeTown asset ?

Yes windows support is included in the istallation of unity 2019.3.15f1. When i build there were no errors and it got build successfully .

But i am not able to find the environment_CubeTown file in assetbundle folder....

Any help will be appreciable

[2020-09-30 17:59] EricBoiseLGSVL commented on #1032
#1026 has the example of the simulator code.

[2020-09-30 18:01] EricBoiseLGSVL commented on #1034
That means in WebUI, when you are choosing the path for the map, save and paste to the map setup.

[2020-09-30 18:03] EricBoiseLGSVL commented on #1034
The file created is fine, that is what it should have.  Linux and windows textures/assets and a manifest.  Point WebUI at this file.  Why is the file name environment_CubeTown_Files?  It should be the same as the repo/asset name

[2020-09-30 18:07] EricBoiseLGSVL commented on #1025
Is this a duplicate of #1034?  Please close the issue that is not needed

[2020-09-30 18:08] asifsid-32 commented on #1034
@EricBoiseLGSVL there was a zip file in assetbundle/environments/environment_CubeTown  which i extracted and showed you including linux and windows textures/assets and a manifest

[2020-09-30 18:09] asifsid-32 commented on #1034
@EricBoiseLGSVL Sorry i am not aware of this step ....

[2020-09-30 18:13] #1025 closed

[2020-09-30 18:15] asifsid-32 commented on #1034
@EricBoiseLGSVL This is the zip file which is getting generated after the build inside the assetbundle/enviroments/
![Screenshot (52)](https://user-images.githubusercontent.com/69885768/94723870-08e2b980-0377-11eb-8105-ac51f5716ace.png)

[2020-09-30 18:17] #1023 closed

[2020-09-30 18:24] asifsid-32 commented on #1034
@EricBoiseLGSVL I solved the issue... We have to provide this zip file's path while adding new map

Thanks for all the help :)

[2020-09-30 18:48] lemketron commented on #990
Your loop should call sim.run(time_limit = step_time) where step_time is some value in seconds (e.g. 1.0 or 0.1) instead of calling time.sleep(1.0). This will let the simulator run for a bit before you check for updated ego.state information.

[2020-09-30 19:00] hadiTab commented on #990
@alexiskovi what version of the simulator are you using?

[2020-09-30 19:15] EricBoiseLGSVL commented on #1034
@asifsid-32 Excellent, glad to help :)

[2020-09-30 19:26] hadiTab commented on #990
@alexiskovi I think I have figured out what is going on here!
You are running the API-only simulation in interactive mode. This **should not be possible**, however, from your video it is apparent that you have somehow entered interactive mode. The play/pause button are only available in interactive mode.

The reason you are able to get your PythonAPI script running without ever calling `sim.run` i

[2020-09-30 20:25] hadiTab commented on #1035
@MaxandreOgeret The issue is related to the nvidia docker toolkit or nvidia driver. There's a discussion about it [here](https://github.com/NVIDIA/nvidia-docker/issues/1225). There don't seem to be many good solutions there. Your driver seems up-to-date.

Just to confirm, you do have nvidia-docker installed, right?
I kind of remember having this issue in the past, and it going away by reinstalling

[2020-09-30 20:30] hadiTab commented on #1027
I guess it's fine if there is an accompanying explanation. Without an explanation it's hard to understand what they are if you are not familiar with the source code.

The ros2-web-bridge acts as a ROS 2 publisher/subscriber node. The 'script' would just be another ROS2 node that lives in the same domain as the ros2-web-bridge.

[2020-09-30 22:15] MaxandreOgeret commented on #1035
Thanks for your answer.
Yes unfortunately there doesn't seem to be any good solution anywhere. I will try to reinstall my nvidia driver and see if anything change. Thanks a lot

[2020-10-01 04:57] rajesh557 commented on #1026
@EricBoiseLGSVL can i use hit = sim.raycast() in autonomous stuff map?

[2020-10-01 06:54] XuehuanYang opened #1036 "[unity] editor crash while opening the project"
Hi,

I've install Unity 2019.3.15f1 version on a new Ubuntu 1604 desktop.

I'd like to build the simulator of release 2020.06.

However, when I tried to open the project with editor, the editor crashes.

Below is the log i got:

Player.log
[code]

Editor.log
[code]

seems that the issue is related with `(Unity:4673): Gtk-CRITICAL **: gtk_widget_get_scale_factor: assertion 'GTK_IS_WIDGET (widget)'

[2020-10-01 07:26] kotakky opened #1037 "I can't open map data with unity"
Hello,LGSVL team.

I'm amateur for LGSVL and  have some question for LGSVL's map.
I want to open, edit and annotate HD map using unity.
I read the tutorial, but I can't.
I finished LGSVL's install and unity install until now. and downloaded default map in my PC.
please tell me what I should do in detail.

[2020-10-01 08:01] hadiTab commented on #1036
Seems like it's Vulkan related. I believe only `libvulkan1` is needed for the simulator. Do you need `libvulkan-dev` for something else? If not can you try removing it and opening the editor again with only `libvulkan1` installed.

[2020-10-01 11:08] asifsid-32 opened #1038 "Vertex coordinates of Checkerboard"
Hello LGSVL team ,

I am facing problems in finding the vertices coordinates of the Checker board which are placed in the CubeTown map. I am able to get only the center position of the Checkerboard. Is there any way i can get the vertex coordinates ?
![Vertex](https://user-images.githubusercontent.com/69885768/94801968-7ab51480-0404-11eb-9e0b-c91cda1a9f38.png)

[2020-10-01 11:24] alexiskovi commented on #990
@lemketron, @hadiTab, thank you! Give me please one day, I will try and close this issue.

[2020-10-01 11:34] asifsid-32 opened #1039 "Fish_eye Camera Issue"
Hii LGSVL Team,

I am still facing the issue with the brightness of fish_eye camera on my ego vehicle. What can we do to improve this ?
![issue_new](https://user-images.githubusercontent.com/69885768/94804252-24e26b80-0408-11eb-8196-c00c90f73838.png)

[2020-10-01 17:55] EricBoiseLGSVL commented on #1026
Sure! Any map.

[2020-10-01 18:00] rajesh557 commented on #1026
But it gives an error if I use this in autonomous stuff map.
I get error in that line as it has "no attribute point'

[2020-10-01 21:27] EricBoiseLGSVL commented on #1026
What is the point that you are trying to raycast?  Is it on the map?

[2020-10-02 04:41] kotakky commented on #1037
@luqiang21
Thank you for reply.
In Unity, Simulation tab doesn't exit. And I can't understand where the downloded default map file move to.

My screen is follwing
![my unity screen](https://user-images.githubusercontent.com/45957491/94888697-e656ba80-04b4-11eb-96cb-d49f1e100467.JPG)

[2020-10-02 04:52] luqiang21 commented on #1037
@kotakky Are you using the correct version of Unity? Latest we are using 2019.3.15f1. The downloaded environment assets should be placed in `simulator/Assets/External/Environments`. You can refer here https://www.lgsvlsimulator.com/docs/assets/#adding-an-asset

[2020-10-02 06:31] kotakky commented on #1037
I downloaded  unity of latest version 2019.3.15f1.But, I cannnot find simulator directory.
so I should make simulator directory or Asset Bundle. Is it correct to refer to https://www.lgsvlsimulator.com/docs/build-instructions/?

[2020-10-02 07:54] lemketron commented on #1037
@kotakky Yes, those are the latest build instructions, and from your screen shot it doesn't appear that you have checked out or built the simulator source code. You will need to clone the simulator source code from GitHub in order to obtain the Map Annotation functionality.

There's a video tutorial on [YouTube](https://youtu.be/EsCVYI6mhL4) that explains the entire process for downloading and bui

[2020-10-02 17:28] alexiskovi commented on #990
@lemketron, @hadiTab your solution is working! Thanks a lot!
But I still have a problem. When I trying to move my car at start point with following code:
[code]
Ego camera start to fly randomly, ego respawns, but not sending data to bridge. Should I create other issue or/and send additional information about it?

[2020-10-04 03:52] Avps1 opened #1040 "Getting "Ground Truth Obstacles"(2D and 3D Bounding Boxes) from lgsvl latest version 2020.06"
Hi,
I want to get the Ground Truth Obstacles(2D and 3D Bounding Boxes)  from lgsvl for the lgsvl version 2020.06
I had already gone through the following page :
https://www.lgsvlsimulator.com/docs/perception-ground-truth/
But this is not updated for the newest version that I am using. Could you kindly tell me how to get the Bounding Boxes from lgsvl ?
I also looked into https://www.lgsvlsimulator.

[2020-10-04 10:03] kotakky commented on #1037
WebUI dosen't work well.I cannnot understand what happend in cmd.
I appreciate it if you could tell me what to do.

![WEbUI_npminstall_error](https://user-images.githubusercontent.com/45957491/95012500-0d0f1f80-0674-11eb-8db4-a5ee2428f534.JPG)

[2020-10-05 07:36] #998 closed

[2020-10-05 08:42] kotakky commented on #1037
Thank you for your help!!
I can do "bulid" in unity and make "Build" folder that contains the unity data.
But, I don't know about registration of the map and vehicle data.I cannot register by using local PC's path.
From now on, I will make my own map data. I want to register the map data in lgsvl simulator web page.
I want to know about the registration method.

[2020-10-05 09:53] momala opened #1041 "Cant get data when using multiple Lidars"
Hi,
I am using 4 lidars in our simulated vehicle. Also for merging them I use the Autoware processor feature "points_concat_filter". But it seems there is no point cloud data that was published in ROS topic. I also have some message in the info bar in LGSVL.
![Screenshot from 2020-10-05 12-44-11](https://user-images.githubusercontent.com/57801641/95065262-78ef9780-0709-11eb-9707-61ceb77dd171.png)

[2020-10-05 11:19] Mojojojooo opened #1042 "Can I know the vehicle parameter ?"
Hey, I need vehicle parameters to tune. eg: Vehicle Turn Radius. Can someone let me know or else where can I find it?

[2020-10-05 12:47] tajinder96 commented on #747
Any updates on this issue?

[2020-10-05 13:18] tajinder96 commented on #993
Hi! I noticed that you only answered the question for the ultrasonic sensor. Is it the same for the can-bus? Also, I am guessing the steps needed to use the can-bus sensor with ROS look similar to the ones you mentioned above for the ultrasonic sensor?

[2020-10-05 15:04] EricBoiseLGSVL commented on #747
@MaxandreOgeret You can define the CanBus in the bridge in Simulator source right @hadiTab ?

[2020-10-05 15:06] EricBoiseLGSVL commented on #781
@MaxandreOgeret Same with your CanBus issue.  Look how the other sensors are supported and add the converting code to simulator source. #747

[2020-10-05 15:26] tajinder96 commented on #747
@EricBoiseLGSVL I was trying this just now and I simply used the same conversion for ROS1 as defined for ROS2, and it works fine. I still need to check if any modifications to the conversion for ROS1 are required, but is there something to be particularly careful about when converting to ROS1 vs ROS2 (specifically for the can bus data message)?

[2020-10-05 16:26] EricBoiseLGSVL commented on #747
@tajinder96 Nice!  I'm not the expert on ROS, @hadiTab can let you know

[2020-10-05 17:46] EricBoiseLGSVL commented on #1038
@asifsid-32 You can write code to visualize the mesh vertices.  Use Debug.DrawRay/Line and get the vertices in Editor or use line renderer for binary.
https://docs.unity3d.com/ScriptReference/Mesh-vertices.html

[2020-10-05 17:48] EricBoiseLGSVL commented on #1039
@asifsid-32 You will need to set a fixed exposure in HDRP settings until we can work on this issue.  Since exposure is calculated async, it varies for camera rotation and gives different values.  We plan on a fix for this soon but editing HDRP will fix this now.  It will be a little dark at night.

[2020-10-05 17:53] EricBoiseLGSVL commented on #1042
@Mojojojooo In VehicleSMI.cs.  You will need to tune the dynamics class in Editor.

[2020-10-05 17:59] hadiTab commented on #1041
@momala the `VelodyneLidar` sensor does not publish ROS messges and instead publishes packets over UDP that are similar to the packets a real VelodyneLidar would send. To use it, you would need to run a Velodyne ROS driver on the ROS side and configure it to listen to your lidars and publish the correct ROS message.

I believe you want to use the `Lidar` sensor that is a generic configurable lidar

[2020-10-05 21:50] hadiTab commented on #747
@tajinder96 the LGSVL message definitions are the same for ROS1 and ROS2 so message conversions will also be the same. Nothing to watch out for. Using the same conversion for ROS1 should work fine.

[2020-10-06 09:07] tajinder96 commented on #747
@EricBoiseLGSVL @hadiTab Great, thanks a lot!

[2020-10-06 09:28] tajinder96 commented on #721
Hi wanted to check if there have been any updates so far. Is it now possible to directly use acceleration setpoints (m/s2) or is acceleration still only possible through adjusting the throttle percentage?

[2020-10-06 12:49] momala commented on #1041
Yes, Thank you for your useful information. I changed the "type" to "Lidar" and now it publishes to the ros topic. here is my setting:
`    {
        "type": "Lidar",
        "name": "VLP_Fore",
        "params": {
            "LaserCount": 16,
            "FieldOfView": 30,
            "CenterAngle": 0,
            "MinDistance": 0.10,
            "MaxDistance": 100,
            "RotationFrequenc

[2020-10-06 17:29] EricBoiseLGSVL commented on #721
@tajinder96 Yes, currently it is through throttle.  Right @hadiTab ?
Yes, you will need to edit the controller script or make a new one the uses IVehicleDynamics.  You could then ignore the inputs and get the acceleration setpoints and apply torque.  Be sure you build a new vehicle bundle and a new simulator binary with this new controller otherwise simulator won't recognize the class.

[2020-10-06 21:00] EricBoiseLGSVL commented on #1024
@ntutangyun @qwetqwe Thanks again, this will be in the 07 release.

[2020-10-06 21:00] #1024 closed

[2020-10-06 22:26] #1028 closed

[2020-10-06 23:08] #1041 closed

[2020-10-06 23:11] EricBoiseLGSVL commented on #1031
@ucmar17 It's because we don't have signal ids in cubetown.  We will be updating this in the next release.  This will happen automatically on HDmap import and existing maps will be updated. Right @rongguodong and @luqiang21 ?

[2020-10-06 23:12] #1034 closed

[2020-10-06 23:15] #353 closed

[2020-10-06 23:16] #381 closed

[2020-10-06 23:16] #405 closed

[2020-10-06 23:17] #413 closed

[2020-10-06 23:18] #454 closed

[2020-10-06 23:19] #497 closed

[2020-10-06 23:19] #530 closed

[2020-10-06 23:21] #559 closed

[2020-10-06 23:21] #667 closed

[2020-10-06 23:24] EricBoiseLGSVL commented on #581
For triggers to work, isKinematic must be false, this will not work

[2020-10-06 23:24] #581 closed

[2020-10-06 23:25] #632 closed

[2020-10-06 23:26] #617 closed

[2020-10-06 23:26] #686 closed

[2020-10-06 23:28] EricBoiseLGSVL commented on #1012
Have you been able to run without mesa drivers and find a solution for not being able to create the project folder?

[2020-10-06 23:29] #673 closed

[2020-10-06 23:31] EricBoiseLGSVL commented on #691
This is an issue with web socket library not supporting ipv6 so we made a fix for the next release

[2020-10-06 23:31] #691 closed

[2020-10-06 23:32] #616 closed

[2020-10-06 23:34] #627 closed

[2020-10-06 23:34] #730 closed

[2020-10-06 23:35] #706 closed

[2020-10-06 23:36] #704 closed

[2020-10-06 23:38] lemketron commented on #1031
From what commit did you build Apollo, and are you building from the "simulator" branch?

Also, are you sure you have the latest 2020.06 environment for CubeTown?

The signal IDs should only matter if you're trying to use the new [Modular Testing](https://www.lgsvlsimulator.com/docs/modular-testing/) feature (which uses ground truth from simulator instead of running Apollo perception and traffic l

[2020-10-06 23:40] lemketron commented on #1012
Please (review and) share Player.log file after launching and crashing for possible insights...

[2020-10-06 23:46] lemketron commented on #812
Note: This new [Modular Testing](https://www.lgsvlsimulator.com/docs/modular-testing/) feature (which uses ground truth from simulator instead of running Apollo perception and traffic light modules is now built-in as of the 2020.06 release.

If you have not tried this, I would encourage you to take a look since it makes it much easier to run Apollo and LGSVL Simulator on a single machine by publis

[2020-10-06 23:48] lemketron commented on #627
Our new [Modular Testing](https://www.lgsvlsimulator.com/docs/modular-testing/) feature (which uses ground truth from simulator instead of running Apollo perception and traffic light modules) is available in the 2020.06 release.

If you have not tried this, I would encourage you to take a look since it makes it much easier to run Apollo and LGSVL Simulator on a single machine by publishing ground

[2020-10-07 00:11] lemketron commented on #1040
You should be able to add the "2D Ground Truth" and "3D Ground Truth" sensors to your vehicle sensor json configuration as described in the link you included above.  The sensor name has not changed, and you can publish it on whatever topic you wish for your needs.

What sensor bridge are you you using and how are you trying to read the published information?

We recently published a variation of t

[2020-10-07 00:45] DaPineappleDude commented on #970
Well, if you look closely OP is running it on Linux

[2020-10-07 00:53] lemketron commented on #970
... in which case they should delete the `~/.config/unity3d/LG Silicon Valley Lab/LGSVL Simulator/data.db` file (or that entire directory).

[2020-10-07 01:09] #970 closed

[2020-10-07 04:11] asifsid-32 commented on #1032
Hii @EricBoiseLGSVL if we make following changes in the simulator source code and build it ---

 private IEnumerator NPCTriggerIE()
    {
        while(SimulatorManager.Instance.AgentManager.GetDistanceToActiveAgent(transform.position) < LaneTriggerDistance[CurrentIndex])
        {
            yield return null;
        }
        TriggerCoroutine = null;
    }

Will it work ?
Also what necessary c

[2020-10-07 04:40] Mojojojooo commented on #1042
Can I know the current dynamics of the car?

[2020-10-07 04:57] Mojojojooo opened #1043 "How to control the variable Reverse ?"
Hey, My path has a forward and reverse section. I want to initiate reverse gear. Can I know how can I do that?

[2020-10-07 08:27] ntutangyun commented on #1043
use `Page Up` and `Page Down` to toggle forward and reverse gear.

[2020-10-07 13:49] Mojojojooo commented on #1043
@ntutangyun Sorry, I forgot to mention. I want to do it using ROS and not by the keyboard.

[2020-10-07 15:30] InitialDuan opened #1044 "Is it possible to run lgsvl on windows and connect with Autoware on VM?"
I want to connect lgsvl on win10 with Autoware on VMware workstation, is that possible?
If possible, what kind of configurations needs to be done?

[2020-10-07 15:37] Amina88 opened #1045 "Do you know why my vehicle_cmd topic only returns zeros ??"
I have installed ROS melodic and autoware.ai (1.12) i can the topic being published and subscribed when using `rostopic  list -v`
Is it normal to only display zeros like below:  My aim to get something sensible from command below and to be late able to control the vehicle.

`rostopic echo /vehicle_cmd
header:
  seq: 3
  stamp:
    secs: 0
    nsecs:         0
  frame_id: ''
steer_cmd:
  header:
 

[2020-10-07 16:48] lucasnmatias opened #1046 "3D Perception does not Use Radar Data"
Hi, I work at IVEX and we work on autonomous vehicles safety assessment. We have been using Apollo and LGSVL for tests and data collection. I was configuring the 3D percpetion module and I have noticed that it seems that  no Radar data is used to run the [dag_streaming_perception.dag](https://github.com/lgsvl/apollo-5.0/blob/simulator/modules/perception/production/dag/dag_streaming_perception.dag)

[2020-10-07 17:19] InitialDuan commented on #1012
I checked it again after crashing, the Player.log is still empty. The only thing i observed is the following:
[code]
Can "Vulkan PSO: cache data not found" tell something?

[2020-10-07 19:47] EricBoiseLGSVL commented on #1032
@asifsid-32 Sure that will work, just remember to change when you pull next release.  I will see if we can support this behavior in the release after 07.

[2020-10-07 19:49] EricBoiseLGSVL commented on #1042
@Mojojojooo Sure, just read the VehicleSMI class, this is the simulated dynamics logic as well as the rigidbody settings and wheel collider settings on the vehicle prefab.  The dynamics was taken from an open source project from Jaguar, it's in the header of the class

[2020-10-07 19:56] EricBoiseLGSVL commented on #1012
What do you mean by "red triangle button in browser to load the simulation, the window crashes again".  Can you screen shot this please?  This still seems like you have issues on the OS even starting the application.  When you start the simulator you will get a playerlog.  Do you have the latest nvidia drivers?  Sorry, we haven't seen this issue before and any extra information would help to solve

[2020-10-07 20:16] InitialDuan commented on #1012
![Screencast from 07 10 2020 22_03_08](https://user-images.githubusercontent.com/51959238/95382541-15709000-08ea-11eb-96c6-85f20fe7aae3.gif)
Here is my screen shot. I did have a latest nvidia driver, as you can see from my nvidia-smi output.

[2020-10-07 20:31] EricBoiseLGSVL commented on #1012
Yes, so you are running simulator and must have a player log.  Please find that and post, thanks

[2020-10-07 20:50] InitialDuan commented on #1012
![Screencast-from-07 10 2020-22_42_19](https://user-images.githubusercontent.com/51959238/95386095-17891d80-08ef-11eb-8d21-8f68145fd1da.gif)

I take a screen shot again including viewing the Player.log. Can you check is that the right way?

[2020-10-07 21:01] InitialDuan commented on #1012
sorry, i used to use gedit to view the player.log which looked always empty, now i just open the player.log in folder:
[code]

[2020-10-07 21:46] hadiTab commented on #1045
@Amina88 the `twist_cmd` portion of the message is the only part that actually does anything. Giving an x value in the linear part will drive it forward and a z value in the rotational part will rotated the wheels. It's got some calibration issues that we haven't addressed yet but it can drive reasonably.

[2020-10-07 21:49] hadiTab commented on #1046
@lucasnmatias we would have to look into this more, but I probably won't have an immediate answer.
Back when we started supporting Apollo in the earlier versions the radar wasn't used for perception under normal operation and was only used in the "Navigation Mode". I think we have just continued to not use the radar for Apollo since then. I don't know why it's crashing though. We will need to look

[2020-10-07 22:25] ucmar17 commented on #1031
Hi @lemketron I built Apollo using the commit number 666007b82ba40857677650bdbbe929a6e2fb41ef, and yes I did build from the simulator branch. I am also sure that I am using the "release-2020.06" branch from the simulator Github to build the simulator.

I am also running the simulator and Apollo on the same machine and I am pretty sure the traffic signal information is being published to /apollo/pe

[2020-10-07 23:15] hadiTab commented on #990
@alexiskovi sorry for the late response. I haven't been able to reproduce your issue using those coordinates.
By flying randomly, do you mean the ego vehicle is falling through the ground? In general it's better to spawn the vehicle slightly above ground and allowing it to fall to avoid any possible conflicts with the ground plane.

Even if I make the vehicle fall through the ground, the bridge is

[2020-10-08 02:33] martins-mozeiko commented on #1012
Crash on something like `vk::Image::CreateImageViews` most likely means that GPU is running out of memory. Unfortunately Unity likes to crash when it runs out of GPU memory instead of showing proper error message.

Try monitory GPU memory usage when BorregasAve is loading - run `watch -n 0.1 nvidia-smi -q -d MEMORY` in separate terminal. If you see free memory quickly approaching 0 - that's the pr

[2020-10-08 03:11] asifsid-32 commented on #1032
@EricBoiseLGSVL  Do we have to change anything in the PythonAPI also ?

[2020-10-08 06:24] Mojojojooo commented on #1042
@EricBoiseLGSVL Thank you.

[2020-10-08 08:56] InitialDuan commented on #1012
Thank you so much! You are right, free memory quickly approaching 0 leads to a crash. And running with Single Lane Road map does not lead to a crash, but awaiting in the loading forever...
Obviously my GPU doesn't have enough memory for lgsvl, even though it runs smoothly on my win10 with same hardware. I opened a new issue for the help of connecting lgsvl on win10 and Autoware on virtual Machine

[2020-10-08 08:56] #1012 closed

[2020-10-08 10:33] asifsid-32 opened #1047 "Calibration details for fisheye cameras used in simulator"
Hello LGSVL team,

I am trying to calibrate the fisheye camera used in simulator. Now as provided we have DistortionParameters": [-0.25349, 0.11868, 0, 0]". Can anyone provide the camera matrix K which was used during calibrating the fisheye camera. Also gamma1, gamma2 values are also required. Since the fisheye model is different(Unified projection model) it is difficult for us to find the camera

[2020-10-08 16:14] atinfinity opened #1048 "Question about the setting of sensors"
I read <https://www.lgsvlsimulator.com/docs/sensor-json-options/#how-to-specify-a-sensor> to customize sensors.

Where is the origin of the vehicle? Is this a base_link?

[2020-10-08 16:24] rongguodong commented on #1047
![image](https://user-images.githubusercontent.com/11858549/95485792-108df980-0947-11eb-8996-37b9a592921a.png)
I have added a FAW about camera matrix. We will push it to our website soon. But here is a screenshot for your reference.

If you are not using unified projection model, you need to study this model to figure out how to make it matching the model you are using. Please refer to the followi

[2020-10-08 16:48] atinfinity opened #1049 "Question about 3D Ground Truth sensor"
I hope to add `3D Ground Truth` sensor to collect data for 3D object detection(LiDAR).
In this case, should the `transform` of `3D Ground Truth` sensor be the same as `transform` of Lidar sensor?
https://www.lgsvlsimulator.com/docs/sensor-json-options/#3d-ground-truth

And, I hope to subscribe to ground truth ROS messages and visualize 3D bounding box on RViz.
Is there a way to visualize 3D boundi

[2020-10-08 17:42] asifsid-32 commented on #1047
@rongguodong ,
If we have a fisheye image of size 1280X720 and the FOV is 50 what will be the focal length for such case ?
If that is not possible it will be better if you can directly give us the camera matrix (K) for the unified projection model, that will be a great help.

We are not able to correct the fisheye image properly from whatever camera matrix we are using.

[2020-10-08 18:02] #1042 closed

[2020-10-08 18:03] EricBoiseLGSVL commented on #1032
I don't think so because you are changing the logic in simulator from values sent from PythonAPI.

[2020-10-08 18:05] EricBoiseLGSVL commented on #1031
@ucmar17 If you are using Apollo and Simulator on the same machine you maybe running out of memory to run traffic light detection module in Apollo. Odd that it is working on Borregas and not CubeTown

[2020-10-08 18:36] rongguodong commented on #1047
720/2/tan(50/2/180*Pi) = 772.
This would be the value of f_1 and f_2 in formula (1) in the paper. So the matrix K in that formula will be:
[772   0   640
   0   722 360
   0     0     1]

[2020-10-08 18:52] lemketron commented on #1031
@ucmar17 Are you using the "modular testing" feature where simulator publishes the signal information to /apollo/perception/traffic_light? If not, try it (and leave traffic light module off in dreamview).

If this doesn't work then it could be a problem with signal ID mismatch between the Apollo map and the signal ID in the environment, but that should be fixed in the latest map and environment.

[2020-10-08 19:27] hadiTab commented on #1049
This is up to the user. If you set the transform to be the same as the Lidar sensor, the relative position of the 3D bounding boxes will be computed relative to the position the lidar is at.

As for visualizing in rviz @daviduhm might have a better idea.

[2020-10-08 23:40] ucmar17 commented on #1031
@lemketron I am not using the modular testing feature, as my project requires me to use traffic light detection through Apollo. However, I just tried it with modular testing (to test if that is at least working) and the traffic light detection is working in Cubetown as well as Borregas Ave. This means that it is probably not an issue with the signal ID mismatch.

Also, @EricBoiseLGSVL I did also r

[2020-10-09 00:27] EricBoiseLGSVL commented on #1031
@ucmar17 can you test the light detection during the evening, change time of day?  Maybe the angle of the lights to the sun is causing an issue in CubeTown?

[2020-10-09 07:17] Mojojojooo commented on #1043
@hadiTab I want to initiate a reverse maneuver so how can I control that variable?

[2020-10-09 09:58] Amina88 commented on #1045
The twist_cmd still doesn't do anything either :( Do you have a list of cmd of how you did it as i don't seen to get anything sensible

[2020-10-09 10:51] asifsid-32 commented on #1047
@rongguodong What is the horizontal FOV used in the fisheye camera sensor ? Since the only FieldOfView given is 50 and that is vertical as you mentioned. Need horizontal FOV .. ??

[2020-10-09 11:27] Taiki02 opened #1050 "How to simulate about autonomous driving?"
Hello, I'm master student. I'm interested in your nice lgsvl simulator!!

I have point cloud data of  a city and from the point cloud data I want to make HD map.  In addition, with your lgsvl simulator and autoware platform I will simulate autonomous driving .
Is it possible to do that things? I want you to tell me what kind of data and what procedure is needed to simulate automated driving in lgs

[2020-10-09 11:44] kotakky opened #1051 "What preparation beforehand is needed for editing HD map of Shalun?"
I'm studying the HD map's operation by tutorial.
I cannot understand the procedure of HD map's edition and so, I contact you.
I want to know what preparation beforehand is needed for editing HD map of Shalun that is defalt data ,and know about the procedure.
If possible, please tell me the video, youtube  etc… .

[2020-10-09 16:00] luqiang21 commented on #1051
@kotakky You can follow tutorials here: https://www.lgsvlsimulator.com/docs/map-annotation/ to learn how to annotate each element in the map. Let me know if you have any other questions when reading the document.

[2020-10-09 23:17] hadiTab commented on #1045
@Amina88 can you list the steps you are going through?
Are you trying to use Autoware.AI to control the vehicle or are you just trying to manually publish vehicle_cmd to control it with your own code?

[2020-10-09 23:54] ucmar17 commented on #1031
@EricBoiseLGSVL Yep, that worked! Thank you so much for your help. Do you think the sunlight issue will be fixed in the next release of the simulator? For now, I can continue testing during the night time, but it would be helpful for me to be able to test during daylight as well.

[2020-10-10 09:05] Amina88 commented on #1045
I'm trying to use autoware.ai to control the vehicle. in terms of steps i installed ros melodic and autoware.ai and running the rosbag demo.