[2020-04-28 23:12] ZiwenWan opened #740 "Weird behavior of Apollo control module in non real-time simulation"
Hi, thanks for making this awesome simulator!
I tried to run Apollo 5.0 with LGSVL in a non-real-time simulation mode. I found that the control module can not correctly control the car to follow the trajectory. I want to know what changes needed if I want to run Apollo along with a non-real-time simulation?

Here is some basic information:
Software version: Apollo 5.0 + LGSVL
Map: Single-lane road

[2020-04-29 00:02] lemketron commented on #603
@takanotume24 The problem may be that the M1000M GPU (Maxwell architecture) is not only old, but appears to only have 2GB of GPU memory:
https://www.techpowerup.com/gpu-specs/quadro-m1000m.c2739

The simulator requires at least 4GB and preferably 8GB. That means using a NVIDIA GTX1070 or 1080 (which are 8GB) or possibly a GTX 1060 (which only has 4GB so it wouldn't be able to load complex environm

[2020-04-29 00:17] takanotume24 commented on #603
@lemketron Thank you for sharing the details.
Incidentally, the VRAM of M1000M is customized to 4GB though it is limited to the model of my notebook PC.
I haven't tried to fix the problem after I created this issue, but it didn't boot up this time, so it's probably an old GPU problem, not a lack of VRAM.
I'll give it a try when I get a new GPU. Thank you.

[2020-04-29 01:05] EricBoiseLGSVL commented on #740
@ZiwenWan Thanks, we are glad you like the simulator.  Apollo doesn't support running slower than real time.  You should contact Apollo support to see how to support this feature.

[2020-04-29 01:05] #732 closed

[2020-04-29 01:07] #726 closed

[2020-04-29 01:07] #723 closed

[2020-04-29 01:08] #702 closed

[2020-04-29 01:09] #696 closed

[2020-04-29 01:10] EricBoiseLGSVL commented on #695
@Jiyunfeng1989 @chronofei are you still having issues?

[2020-04-29 01:11] EricBoiseLGSVL commented on #603
@takanotume24 Sorry that we couldn't help more.  Good luck and let us know if you have any issues with the new hardware

[2020-04-29 01:45] msc9533 commented on #738
Thanks for answer!

So, if I disable that `_MASKMAP`, then is it returned value from unity model's RGB or rendered RGB value include its lighting condition like camera?

[2020-04-29 06:45] CurlyWei commented on #719
Sorry for the late reply,I hava a project which pedestrian test scenarios.This content describes crash with pedestrian.
Please reference NHTSA:A Framework for Automated Driving System Testable Cases and Scenarios
In order to simulate behavior of pedestrian,I wanna modify the speed of pedestrians.
And thanks for your reply.

[2020-04-29 07:58] 373432156 commented on #530
same issue！！

[2020-04-29 18:05] ozzdemir commented on #667
@EricBoiseLGSVL, by next release, did you mean release-2020.03?
In 2020.03, I saw changes on ImuSensor but did not see related changes on GpsOdometerSensor and also its' release date is quite close to the date of your message, that's why I am confused :sweat_smile:
Btw I didn't try yet but just reviewed the changes.

[2020-04-29 19:49] Martin20 commented on #444
Hello,

I am going to buy a machine with RTX 2080 GPU. Since you mentioned in the link below that it is not suitable for apollo 5.0 simulation, do you have any update showing now apollo 5.0 works with that GPU?

https://github.com/lgsvl/apollo-5.0

**The current version of Apollo does not support Volta and Turing architectures (this includes Titan V and RTX 2080 GPUs).**

[2020-04-29 19:50] dr563105 commented on #734
An update: able to access RawControlCommand in python.

I built everything from scratch. built and local ros sourced(~/ros2_ws/install/local_setup.bash) inside the ros2_ws. I was able to access RawControlCommand. Now in terminal1 where I run (sourced melodic) "roslaunch rosbridge_server rosbridge_websocket.launch ", terminal 2(sourced Dashing) running the node and 2020.03 Simulator running, I'm ge

[2020-04-29 19:50] Martin20 opened #741 "RTX 2080 Ti GPU is fine to run apollo 5.0?"
Hello,

I am going to buy a machine with RTX 2080 Ti GPU. Since you mentioned in the link below that it is not suitable for apollo 5.0 simulation, do you have any update showing now apollo 5.0 works with that GPU?

https://github.com/lgsvl/apollo-5.0

The current version of Apollo does not support Volta and Turing architectures (this includes Titan V and RTX 2080 GPUs).

[2020-04-29 20:44] rongguodong commented on #738
It would be the average of RGB channels of albedo color, which is calculated in the [environment shadergraph](https://github.com/lgsvl/simulator/blob/master/Assets/Shaders/EnvironmentShaders/EnvironmentSimulation.shadergraph).

[2020-04-29 20:58] EricBoiseLGSVL commented on #667
@ozzdemir we made some changes to the conversions and I think it is in 2020.03, I'll check with @hadiTab

[2020-04-29 21:08] EricBoiseLGSVL commented on #741
@Martin20 Yes, Turing architecture is not supported.  We have Apollo 5.5 support on the road map which enables newer GPU architectures but that will not release for a few months.

[2020-04-29 22:47] hadiTab commented on #667
Sorry, it is not in 2020.03. The orientation issue for IMU was only fixed in 2020.03. We are starting work on the GPS Odometery orientation issue now, so hopefully next release. Thanks.

[2020-04-29 23:19] EricBoiseLGSVL commented on #719
@CurlyWei no worries.  I'll see how much work this feature will be and try to add to our roadmap.  I'll post with more details soon

[2020-04-29 23:47] EricBoiseLGSVL commented on #667
Thanks @hadiTab .  @ozzdemir We will be releasing 2020.04 soon with this fixed

[2020-04-30 05:16] Martin20 commented on #741
Thanks @EricBoiseLGSVL ,

We are going to purchase a machine. Could you let me know what is your suggestion for the GPU part? Actually, let me know the preferable model series. We need to make sure it works with Apollo 5.0

[2020-04-30 06:30] msc9533 commented on #738
Thank you so much!

[2020-04-30 06:30] #738 closed

[2020-04-30 08:11] fgrzeszc commented on #736
@lemketron does it mean you were able to use GPU of the remote Linux host with VNC? I never succeeded and at the end we switched to using Windows for simulator for this reason.

[2020-04-30 08:13] fgrzeszc opened #742 "export simulation/car/maps setup"
Hello LGSVL Team,

We are working in bigger group with LGSVL and the problem we are facing is that we don't know a way to share efficiently setup of maps/vehicles/simulations across different machines.
Is there any way to do that, eg. loading dump of database?

Thank you,
Filip

[2020-04-30 08:54] ntutangyun commented on #639
I think I've found out why the lane_238 is missing in routing_map.

Below is the code snippet used to add lanes from base_map to routing_map, taken from
`modules/routing/topo_creator/graph_creator.cc`

[code]

it has two criteria,
* lane type needs to be CITY DRIVING
* if lane turn is U-TURN, the turn radius (estimated by the first point, middle point, and the last point) should be larger than the

[2020-04-30 17:08] lemketron commented on #736
@fgrzeszc I have not tried VNC to a remote Linux host but you might find [this comment](https://github.com/lgsvl/simulator/issues/708#issuecomment-620764475) helpful:

[2020-04-30 17:49] lemketron commented on #742
We'd love to hear more about your specific needs in this area since we are looking into options to facilitate workgroup sharing. Could you email us offline at contact@lgsvlsimulator.com to discuss further?  Thanks!

[2020-04-30 18:15] lemketron commented on #444
At this point you would want a machine with a Nvidia GTX 1070 or 1080 GPU for Apollo 5.0. That might be a desktop or laptop depending on your needs.

Note that Apollo 5.5 will run on the newer (Touring architecture) RTX 2070 and 2080 GPU but Apollo 5.5 does not yet work with the LGSVL Simulator. We are looking into Apollo 5.5 support, but cannot say at this time when that will be available.

[2020-04-30 19:02] JockTokk commented on #599
@AIasd try to run the simulation in simulator and try to init position

[2020-05-01 05:25] Vicky-Raymond opened #743 "API usage problems"
Hello，LGSVL Team，
         When I ran the fifth example Python API script(05-ego-drive-in-circle.py), I only changed the vehicle name, but It was prompted with an error as shown in Figure 1 .The vehicle setting in the WebOS shows normal.
Thank you very much!

fig.1
<img width="547" alt="128c6fa3690af342dd385fb5aa5f289" src="https://user-images.githubusercontent.com/52964775/80783761-5501b600-8bad-

[2020-05-01 06:54] dr563105 commented on #743
Can you try "Jaguar2015XE" instead and see if it works?

[2020-05-01 07:05] Vicky-Raymond commented on #743
It doesn't work.

[2020-05-01 07:55] dr563105 commented on #743
Try with "Jaguar2015XE (Autoware)". It works but not with Apollo 3.0 or 5.0.

[2020-05-01 08:21] hadiTab commented on #743
@Vicky-Raymond Can you make sure you don't have a whitespace after '2015' in the name in the web UI?

[2020-05-01 08:50] Vicky-Raymond commented on #743
I rechecked it. Both names in the webUI and in code are followed by the same whitespace . According to my understanding, as long as two names are the same(consider the whitespace ), it should be OK, but it doesn't seem to be.have you got any other suggestions?

[2020-05-01 08:55] Vicky-Raymond commented on #743
The "Jaguar2015XE (Autoware)" doesn't appear in my web UI. This method doesn't work [/sad]

[2020-05-01 13:44] Vicky-Raymond commented on #743
Solution：
delete data.db and backup.db here, C:\Users[YOU]\AppData\LocalLow\LG Silicon Valley Lab\LGSVL Simulator on windows.

[2020-05-01 13:44] #743 closed

[2020-05-01 14:39] Vicky-Raymond commented on #730
@EricBoiseLGSVL
I had the same problem. No matter which Python API I call, the computer will crash. Now , I'm back in the old version, and everything is ok.

[2020-05-01 17:11] EricBoiseLGSVL commented on #730
@Vicky-Raymond Did you update your asset bundles?

[2020-05-01 17:15] EricBoiseLGSVL commented on #741
@Martin20 ASUS GTX1080 GPU-A8G- Gaming GPU Card from [here](https://github.com/ApolloAuto/apollo/blob/master/README.md)

[2020-05-01 17:28] EricBoiseLGSVL commented on #734
@cyberphysicalrobotics any idea on this issue?

[2020-05-01 17:29] Vicky-Raymond commented on #730
I'm not sure what kind of update you mean. I deleted data.db and backup.db, and then the map and vehicle were automatically downloaded again.

[2020-05-01 19:11] dr563105 commented on #734
I saw this https://github.com/lgsvl/simulator/issues/653#issuecomment-593384836 . Since it is quite similar I went ahead changed the files they made in the page. I'm yet to test the changes.
Only difference is I'm running the script outside of the autoware container only just import that particular message.
Also I tried using ros2-web-bridge between the Sim and the code, there was no transfer of d

[2020-05-01 20:02] Martin20 commented on #737
Thank you @lemketron
Actually, I need to run multiple autonomous vehicles that have the full stack of apollo and have the communication through the V2X module. As I understand, you just suggest I have different machines for each vehicle. Right? If so, my simulation is limited to the number of machines I have.

[2020-05-01 20:14] Martin20 commented on #741
Thanks @EricBoiseLGSVL ,

However, we do not want it is an ordinary PC. It should be a server. What is your suggestion for a more powerful GPU compatible with apollo?

[2020-05-01 23:32] Martin20 commented on #741
What about NVIDIA® Quadro® RTX 5000 16.0GB GDDR6 (4xDP, 1xVirtualLink). Is this Volta and Turing? Cannot be supported by apollo-5.0?

[2020-05-02 01:58] EricBoiseLGSVL commented on #734
@dr563105 Thanks and yes you need to build a new executable with the .cs changes.

[2020-05-02 02:51] EricBoiseLGSVL commented on #741
This card is Turing architecture.  We are currently working on supporting Apollo 5.5 that can use this GPU.

[2020-05-02 02:56] EricBoiseLGSVL commented on #730
@Vicky-Raymond Yes, that is what I mean.  What hardware, OS are you using?  Is it a certain map or a custom map.  Any extra information and Player.log will help.

[2020-05-02 03:29] Vicky-Raymond commented on #730
Just now I reload version 2020.03. When I run the Python API（26-npc-trigger-waypoints）, the computer crashed.
[Player.log](https://github.com/lgsvl/simulator/files/4567021/Player.log)
[26-npc-trigger-waypoints.txt](https://github.com/lgsvl/simulator/files/4567024/26-npc-trigger-waypoints.txt)

[2020-05-02 03:30] Vicky-Raymond commented on #730
Just now I reload version 2020.03. When I run the Python API（26-npc-trigger-waypoints）, the computer crashed.
[Player.log](https://github.com/lgsvl/simulator/files/4567026/Player.log)
[26-npc-trigger-waypoints.txt](https://github.com/lgsvl/simulator/files/4567027/26-npc-trigger-waypoints.txt)

[2020-05-02 06:56] zhouyapengzi commented on #614
Have you successfully bridge 5.5 with lgsvl？ I want to do exactly the same thing.

[2020-05-02 08:20] pedroexenberger commented on #614
Hi @zhouyapengzi, sorry but I gave up using Apollo and switched to autoware for my purposes.

I hope someone else can help you on this and, for this reason, I'm reopening the issue.

[2020-05-02 09:11] Martin20 commented on #741
I think Nvidia GeForce GTX 1080 Ti is based on Pascal architecture. Right? Does it work on apollo? If so or not, do you know any better in performance? It has 11 GB of RAM. How much more is required?

[2020-05-03 02:38] JackieLee-cn opened #744 "Can I write a MPC control algorithm to control Egocar by the Python API?"
![python-api-execution](https://user-images.githubusercontent.com/52964775/80897351-26f5b080-8d2a-11ea-8e22-8b252fb8b657.png)

[2020-05-03 02:57] JackieLee-cn commented on #744
How can I control the Egocar. Do all control operations need to be implemented by the Apollo or autoware platform?

[2020-05-03 05:01] rongguodong commented on #614
We are actively working on supporting latest Apollo. Will post updates here soon.

[2020-05-03 22:18] EricBoiseLGSVL commented on #741
Yes, This GPU will work with Apollo 5.0.  The more ram the better.  11gb is good

[2020-05-04 08:13] zzangupenn opened #745 "Is it possible to model a truck+trailer in LGSVL?"
I did some searching for Carla and AirSim. They are both not supporting articulated models.
We are trying to study interactions of the truck+trailer setup. Just want to know if it's possible to implement in LGSVL?

Thank you very much!

[2020-05-04 13:10] dr563105 commented on #698
Hey @EricBoiseLGSVL, is there a topic similar to /simulator/control/command which publishes control commands to the outside, present in the current sim version? I'd like not use Autoware or Apollo to fetch this info.
If not, how do I go about adding a topic, sensor to the sim files?

[2020-05-04 21:11] daviduhm commented on #698
Hi @dr563105, we've been discussing this via email some time ago, and I just wanted to let you know that recently I've been working on updating the LaneFollowing repo and adding a sensor for it to work with the latest simulator. I'll be pushing the updates soon today or tomorrow and back to you with some instructions. Sorry that it took longer than I expected.

[2020-05-04 22:05] Martin20 commented on #741
@EricBoiseLGSVL

Thanks. We have a K80. Does it work?

[2020-05-04 23:12] hadiTab commented on #734
@dr563105 it seems like you have written a ros2 node but are trying to send and receive data with the ros1 bridge. You need to use the ros2-web-bridge here.

Also the autoware_auto_msgs are custom message types for autoware_auto and the bridge is unaware of their definitions by default. You need to build the autoware_auto messages and source the setup.bash file in the same terminal you run the ros

[2020-05-05 03:11] daviduhm commented on #698
@dr563105 I've updated the docker image for Lane Following to use ros2 dashing and fixed the ros2 web bridge build issue. Please pull the latest (https://github.com/lgsvl/lanefollowing) and build again (notice that build command for ros2 packages is now `docker-compose up build_ros`).

I've also implemented a custom sensor plugin for this Lane Following model (https://github.com/lgsvl/LaneFollowin

[2020-05-05 04:13] dr563105 commented on #698
Thanks a lot David. This is excellent news. I will get to testing right away.

[2020-05-05 06:00] SFX99 opened #746 "Can you create a final report of a scenario?"
Is it possible to create a final report of a played scenario to see the end results of how the vehicle performed?

[2020-05-05 07:58] EricBoiseLGSVL commented on #746
@SFX99 we are currently working on that.  If you have a quick list of what you would find important, please let us know.

[2020-05-05 08:00] EricBoiseLGSVL commented on #745
@zzangupenn We are currently working on this feature.  It will be possible with Unity joint classes and custom joint classes

[2020-05-05 08:03] EricBoiseLGSVL commented on #741
@Martin20 We have not tested with that GPU.  Since we support integration with Apollo and not Apollo itself, I would check with Apollo/issues

[2020-05-06 02:33] MaxandreOgeret opened #747 "Unable to get can bus info in ROS 1"
Hello, I am trying to get the can bus info from ROS 1 using the websocket_bridge.

I added the sersors according to this piece of documentation : [can-bus](https://www.lgsvlsimulator.com/docs/sensor-json-options/#can-bus)

I started LGSVL from the docker dontainer.

And I get this error message from the ROS websocket bridge :

[code]

Do you know how to solve this ? Thanks !

[2020-05-06 04:52] MaxandreOgeret commented on #747
Works when setting the topic to `/can_info`.

These sensor setting works :

[code]

Its odd though.

[2020-05-06 08:20] dr563105 commented on #698
@daviduhm
Update 2: I solved getoutputtype error. I cloned release 2020.03 branch instead of master. IDataConverter.cs had a definition for the type. I added the line and build was successful.
I was able to run the data collection part of the tutorial but not autonomous part. When I do `docker-compose up drive_visual` and select `main camera and lanefollowing sensor`, the topic `/lanefollowing/ste

[2020-05-06 11:09] qsengshu opened #748 "Starting ROS2 Node in LGSVL Python API"
Dear LGSVL,

Im running the simulation through python api. starting the simulation with sanfrancisco scence, adding the agent, setting the input action and running the simulation for 0.25s. Then the simulation gets stopped and i desire to read out the main camera image. After that i repeat those steps.

When the simulation is stopped I do not want to use the existing main camera image save command

[2020-05-06 13:15] duong-pa opened #749 "Several ros topics are missing"
Hi, first of all, thank you for a great simulator.

I am following the tutorial of "How to create a ROS2-based AD stack with LGSVL Simulator"

Using lgsvl/lanefollowing docker image; run rosbridge
`root@in_dev_docker:/apollo# source /opt/ros/dashing/setup.bash
root@in_dev_docker:/apollo# rosbridge
The web socket server started on ws://localhost:9090
`
In simulator, I use the XE_Rigged-apollo vehic

[2020-05-06 13:21] duong-pa opened #750 "How to generate my own protofuf message"
Hi,

I see you are using some form of protobuf for message format, for example Assets/Scripts/Cyber/Protobuf/localization/proto/gps.cs
That file is auto-generated (in the comment section), let say I already have a protobuf, how can I do the same?

And how can I use that protobuf on the other side of bridge (not simulation side)?

Thank you.

[2020-05-06 15:14] barnaa opened #751 "Cluster simulation"
Greetings,

I'm trying to start a distributed simulation on multiple computers in the local network. So far I've been following the [Cluster Simulation Quickstart](https://www.lgsvlsimulator.com/docs/cluster-simulation-quickstart/) section in the docs, but to no avail. I've noticed the simulation runs in master mode, regardless of provided commandline arguments -- both on Linux and Windows (I've t

[2020-05-06 15:14] ntutangyun commented on #750
you could define the `xxx.proto` files and use google's `protobuf` binary to generate c# code.

[2020-05-06 21:07] EricBoiseLGSVL commented on #748
@qsengshu 1) I'm not quite sure what you are trying to do here.  The Camera sensor is saving the file to disk.  Then you can create python code to process the image(s).
2) I would create a new CameraSensor plugin that can have any custom logic you will need.
3) You could add this to the APIManager.cs AddCustom Event and edit PythonAPI but as is, this is not supported.  From my response to 1) why d

[2020-05-06 21:14] EricBoiseLGSVL commented on #751
@barnaa This is not a released feature.  We will be updating docs and Cluster Simulation in a future release.

[2020-05-06 21:15] #751 closed

[2020-05-06 21:22] EricBoiseLGSVL commented on #749
@duong-pa This part of our docs is out of date.  We are currently working on updating this tutorial to the current simulator version.  We will release this soon.  Please see issue #698 in the meantime.

[2020-05-06 21:24] EricBoiseLGSVL commented on #747
@hadiTab Any idea on this issue?

[2020-05-06 21:26] EricBoiseLGSVL commented on #744
@JackieLee-cn Yes and no.  We have a simple tutorial for LaneFollowing but it is being updated for the new simulator currently.  See issue #698

[2020-05-06 21:37] qsengshu commented on #748
My problem with saving and reading the image from the hard disk is that it is a slow operation. In reinforcement learning this leads to an increase in training time. That is why I want to get around this.

Thanks for the help! I'm gonna try this out.

Best regards,
qsengshu

[2020-05-06 22:32] martins-mozeiko commented on #750
There are some instructions here: https://github.com/lgsvl/simulator/blob/master/Assets/Scripts/Bridge/Cyber/CyberBridge.Initialize.cs#L14

[2020-05-06 22:34] martins-mozeiko commented on #748
You can instruct Python API to save image to memory disk. On Linux anything you save to `/dev/shm` folder, for example, `/dev/shm/image.jpg`, is not actually written to disk. It stays in memory. And saving/loading files from memory disk is very fast. If you don't want to write to /dev/shm, you can always create new mountpoint with tmpfs filesystem.

[2020-05-06 22:50] hadiTab commented on #747
@MaxandreOgeret it looks like we haven't actually defined the CanBus message for ROS 1. We should have mentioned this in the documentation. As it is though, the CanBus sensor only works for ROS-Apollo and CyberRT.

[2020-05-07 00:44] MaxandreOgeret commented on #747
Ok thanks ! Any idea how to deal with this problem in an elegant way as I need the can bus data ?

[2020-05-07 06:26] ozangerger opened #752 "Lincoln MKZ 2017 asset bundle download issue"
Hi,

I am trying to download Lincoln MKZ 2017 asset bundle from this link: https://content.lgsvlsimulator.com/vehicles/lincolnmkz2017/. However, I got an error saying "access denied" in an xml format. Please have a look at it when you have the chance. Links for other vehicles are working fine btw.

EDIT:
I've found the issue. The link needs to be updated as:

https://assets.lgsvlsimulator.com/ecd8

[2020-05-07 06:33] zhanghming commented on #359
@martins-mozeiko
Hello, I also encounter this problem in my ubuntu 16.04 machine. My GPU is `Quadro M5000` and I have already installed the `libvulkan1`.

When I run `./simulator`, it has the following output and I can see the `Open Browser` interface but exit soon.
[code]

[2020-05-07 07:06] martins-mozeiko commented on #359
Please check the log file for more detailed error messages.
Also try running any other vulkan application like vkinfo and vkcube before running Simulator.

[2020-05-07 08:24] qsengshu commented on #748
That sounds like a very good solution for me in this case. Thanks a lot.

Best regards,
qsengshu

[2020-05-07 08:24] #748 closed

[2020-05-07 22:40] daviduhm commented on #698
Which version/branch of simulator are you using? Supporting custom sensor plugins and custom sensor messages are quite new features. Please use the latest master branch or custom sensors might not work. I've tested those two patches working fine on the latest master.

As for the dockerfile, goal was to fix ros2 bridge issue and the solution was to update ros2 to dashing. Fixing version numbers for

[2020-05-07 23:22] EricBoiseLGSVL commented on #698
@dr563105 We are looking at why that bundle fails to download.  Should be fixed soon

[2020-05-07 23:55] daviduhm commented on #698
As for the download for Lincoln MKZ, it was missing the vehicle name at the end of the url. It's fixed now: https://content.lgsvlsimulator.com/vehicles/lincolnmkz2017/

Thanks for pointing it out.

[2020-05-07 23:55] daviduhm commented on #698
As for the download link for Lincoln MKZ, it was missing the vehicle name at the end of the url. It's fixed now: https://content.lgsvlsimulator.com/vehicles/lincolnmkz2017/

Thanks for pointing it out.

[2020-05-08 01:55] zhanghming commented on #359
I check the `Player.log` file, the contents are:
[code]

It looks like the `Culling group was not disposed. You have to call Dispose explicitly from the main thread. This will likely result in a crash. ` problem, but I can't find the solution.

I installed the vulkan by using `sudo apt-get install vulkan-utils mesa-vulkan-drivers` and when I execute `vkcube`, I get `Unable to locate vkcube`. It's

[2020-05-08 02:08] martins-mozeiko commented on #359
Culling groups are not the problem, that's some internal Unity engine message we don't care about.

The problem is this: `SocketException: Address already in use`

It means that you are running other software on port 8080.  And simulator cannot use it, so it closes down. Find what other software is running, and close it down. Or change port that simulator uses in config.yml configuration file.

[2020-05-08 16:07] EricBoiseLGSVL commented on #752
@ozangerger thanks.  Sorry about the mistake. Issue has been fixed

[2020-05-08 16:07] #752 closed

[2020-05-08 16:07] #741 closed

[2020-05-08 16:08] #740 closed

[2020-05-08 16:08] #750 closed

[2020-05-08 16:09] EricBoiseLGSVL commented on #735
@dr563105 we are currently looking at a new way to adjust lighting to reduce exposure post processing.  We hope to release this change soon

[2020-05-08 16:12] EricBoiseLGSVL commented on #730
@JackieLee-cn The log looks like you failed in the process of downloading.  Did you wait until the WebUI is finished downloading assets before running API quick script?

[2020-05-08 16:13] #685 closed

[2020-05-08 16:14] #682 closed

[2020-05-08 16:15] EricBoiseLGSVL commented on #678
@Amina88 Are you still having this issue?  Did @luqiang21 post help?

[2020-05-08 16:15] #668 closed

[2020-05-08 16:16] #665 closed

[2020-05-08 16:17] EricBoiseLGSVL commented on #660
@kanbei Was the issue low fps?

[2020-05-08 16:18] EricBoiseLGSVL commented on #638
@cyberphysicalrobotics Did you have any idea why traffic detection is not working?

[2020-05-08 17:36] dr563105 commented on #735
Thanks @EricBoiseLGSVL .There is also another minute glitch(bug) I found when I add JSON sensor parameters, change the bridge type in the Vehicles(say Hyundai2018Nexo) tab of WebUI and momentarily when I click 'submit', the dialogue box flickers with title to "Configuration" and Bridge type to "no bridge".

Screenshot of the behaviour - https://gfycat.com/wideeyedhopefulgenet

[2020-05-08 18:50] pedroexenberger commented on #638
Hi @EricBoiseLGSVL, I just saw you mentioned this issue. When I was trying to fix https://github.com/lgsvl/simulator/issues/653 I tried a lot of different configurations to make that issue work and when I solved the traffic light was working as well. Unfortunately, I don't have a track of what was the exact cause or solution (because it was solved 'unawarely').

Autoware's traffic light detection

[2020-05-08 19:44] EricBoiseLGSVL commented on #638
@pedroexenberger I'll close and we can reopen if we find out the root cause.  Thanks for the help, it might help another user

[2020-05-08 19:44] #638 closed

[2020-05-09 01:05] Gxer commented on #522
i have the same issue.

Hi
i have the same issue exactly the same as yours.
Do you solve the problem?

[2020-05-09 01:17] JackieLee-cn commented on #730
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

        Yes,  the WebUI is finished downloading assets .Thank you very much for your patience. I'm going to postpone solving this problem. Because of the epidemic , I control the computer remotely, and the computer restart brings many troubles.

    On 5/9/2020 00:12，Eric Boise<

[2020-05-09 01:20] JackieLee-cn commented on #744
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

    Thank you very much for your help.Looking forward to the release of the next version as soon as possible.On 5/7/2020 05:27，Eric Boise<notifications

    On 5/7/2020 05:27，Eric Boise<notifications@github.com> wrote：

@JackieLee-cn Yes and no.  We have a simple tutorial for La

[2020-05-09 02:11] zhanghming commented on #359
@martins-mozeiko  Thanks a lot. Follow your suggestion, I change the port 8080 to 8800, and I can open the browser to login in the LGSVL account. However, after clicked **Login In**, the interface is stuck in `Loading...`:

![image](https://user-images.githubusercontent.com/24753281/81461297-6b2afa00-91dd-11ea-9eb2-33065d4c2f6c.png)

[2020-05-09 23:09] ctgloglu opened #753 "Simulator not working"
I tried to run it by following the steps [here](https://www.lgsvlsimulator.com/docs/getting-started/#downloading-and-starting-simulator) but it didn't work.I chose the nvidia driver.I install `sudo apt install libvulkan1`.Then I tried to run the simulator but the black screen turns on and off.Please help me.

[2020-05-10 03:54] lemketron commented on #753
Please check the following:
1. Review the Player.log file (~/.config/unity3d/LG Silicon Valley Lab/LGSVL Simulator/Player.log) to look for any helpful messages or errors.
2. Check the output from this: `grep ^Vulkan ~/.config/unity3d/LG\ Silicon\ Valley\ Lab/LGSVL\ Simulator/Player.log`
3. In particular, if you see "mesa" or "Intel" mentioned in Vulkan vendor or renderer lines rather than Nvidia,

[2020-05-10 04:24] lemketron commented on #737
Yes, as mentioned [above](https://github.com/lgsvl/simulator/issues/737#issuecomment-620854334): "If you want two ego vehicles controlled by Apollo, you will likely need two machines configured with Apollo, and you would create two ego vehicle instances in the simulator settings and identify the IP address and port of the bridge for an Apollo instance to control each ego. While you could attempt r

[2020-05-10 04:24] #737 closed

[2020-05-10 04:48] ctgloglu commented on #753
~/.config/unity3d/LG Silicon Valley Lab/LGSVL Simulator/Player.log
[code]
grep ^Vulkan ~/.config/unity3d/LG\ Silicon\ Valley\ Lab/LGSVL\ Simulator/Player.log
`Vulkan detection: 0`

[2020-05-10 04:52] lemketron commented on #753
This is a problem: `No supported renderers found, exiting`

Do you have a GPU with latest NVIDIA drivers installed as described in the [getting started docs](https://www.lgsvlsimulator.com/docs/getting-started/#downloading-and-starting-simulator)?

[2020-05-10 05:55] ctgloglu commented on #753
I solved the problem by installing the PPA system. Thanks for your help.

[2020-05-10 05:56] #753 closed

[2020-05-10 09:03] ctgloglu opened #754 "How can I connect the ros in windows"
How can I connect ros bridge to my simulation.For windows

[2020-05-11 09:29] gyp199009 opened #755 "How to add a new NPC to the simulator"
How to add a new NPC to the simulator since there are only six kinds NPCs (Sedan, BoxTruck, Jeep, SchoolBus, SUV, Hatchback) originally.

[2020-05-11 16:43] EricBoiseLGSVL commented on #522
@Gxer In the log you posted it says Compiled with warnings.  This should be fine.  Does the Simulator run after the install? Do you have the dist folder described above?

[2020-05-11 18:15] dr563105 commented on #734
@hadiTab Thanks Hadi. You're right. I was messing around ros1 and ros2 bridges and couldn't access the msgs. Now I understand how to access it properly.

[2020-05-11 18:15] #734 closed

[2020-05-11 18:55] dr563105 commented on #698
Well it was suggested to use 2020.03 release instead of master. Hence I did it that way. Only by looking around and comparing, I found the missing line. https://github.com/lgsvl/simulator/releases/tag/2020.03

OK. I tried to change CUDA and TF to the latest and faced errors multiple times while building a docker image by myself which took ages to complete. Hence wondered if it is possible to have

[2020-05-11 19:22] dr563105 commented on #673
@joshwapohlmann
Hello!
I'm doing something similar to what you did -- I have extended [Lanefollowing](https://github.com/lgsvl/lanefollowing) tutorial and its [sensor plugin](https://github.com/lgsvl/LaneFollowingSensor) to my needs. This led to using custom message types to transfer data. I'm running into a few problems building the simulator in Unity. I suspect it is do with the custom messages

[2020-05-12 00:09] EricBoiseLGSVL commented on #673
@dr563105 we have a fix and should be releasing it soon

[2020-05-12 00:31] EricBoiseLGSVL commented on #755
@gyp199009 We are currently adding a feature to build external npc's and it should release soon.  If you want to add now, you can look at existing NPC prefabs as an example.

1) Edit/Create NPC model and import
Be sure to have child mesh node called Body that contains materials named:
- LightHead, LightBrake, IndicatorLeft, IndicatorRight, IndicatorReverse
Also, you need child meshes called:
- Whe

[2020-05-12 01:08] gyp199009 commented on #755
Thanks a lot!
By the way, is it almost the same way to add a new pedestrian to the simulator by taking the existing pedstrian prefabs as examples?

[2020-05-12 01:10] EricBoiseLGSVL commented on #755
@gyp199009 exactly

[2020-05-12 14:31] SandeepHari opened #756 "Object reference not set to an instance of an object Error in PythonAPI"
I am new to LGSVL simulator and Firstly, I am trying to enable the sensors using the python API. For this I tried adding the camera sensor to the "LincolnMKZ2017" and ran the example in the quickstart - 06-save-camera-image.py. But I am getting the error " Object reference not set to an instance of an Object". I am attaching the screenshots below.
![error_screenshot](https://user-images.githubuser

[2020-05-12 18:55] lemketron commented on #614
[Several PRs](https://github.com/ApolloAuto/apollo/pulls?q=is%3Apr+author%3Arongguodong+%22LGSVL+Simulator%22) have been submitted to the ApolloAuto project to add support for LGSVL simulator, several of which have already been accepted. If anyone is eager to test this, you can check out Apollo master and and then manually add in the changes in the unmerged PRs.

We will provide updated documentat

[2020-05-12 18:55] lemketron commented on #626
[Several PRs](https://github.com/ApolloAuto/apollo/pulls?q=is%3Apr+author%3Arongguodong+%22LGSVL+Simulator%22) have been submitted to the ApolloAuto project to add support for LGSVL simulator, several of which have already been accepted. If anyone is eager to test this, you can check out Apollo master and and then manually add in the changes in the unmerged PRs.

We will provide updated documentat

[2020-05-13 02:45] zqzqz commented on #632
@michaelhany55 Exactly the same error here.
Ubuntu 18.04, GTX 1660Ti, Apollo 5.0

[2020-05-13 07:13] #756 closed

[2020-05-13 09:33] chen1qy opened #757 "How can I can get the camera internal parameters like focus?"
I want to get the camera internal parameters of Color Camera, but I can only find the distortion parameter in JSON. Are there any default internal parameters？

[2020-05-13 16:16] zqzqz commented on #444
Hi @lemketron I have a confusion here. Apollo provided an option of CPU build. Is it possible to run Apollo with CPU and connect it to lgsvl? Thanks!

[2020-05-13 17:01] rongguodong commented on #757
The distortion parameters come from calibration of real camera. We do not provide any `default` parameters.

[2020-05-13 17:24] lemketron commented on #444
You can run Apollo on CPU but enabling perception requires a GPU. With Apollo 5.0 that must be a GTX-1070, 1080, or similar (Pascal), but with Apollo 5.5 and newer you can also use the RTX 2070, 2080, or similar (Touring).

See issue #614 for more information on our (in-progress) support for Apollo 5.5.

[2020-05-14 00:10] SenRamakri opened #758 "QUESTION on LGSVL documentation with Autoware.AI"
Hello,

Im trying to get Autoware.AI(version 1.13.0) running with LGSVL. To do that, I was trying to follow the documentation here - https://www.lgsvlsimulator.com/docs/autoware-instructions/
And part of the documentation provides a sample json file at - https://www.lgsvlsimulator.com/docs/autoware-json-example/

But when I look at autoware.ai repo it has sample.json for "LGSVL Simulator" at - htt

[2020-05-14 00:29] chen1qy commented on #757
What about the internal parameters of real camera?

[2020-05-14 00:32] EricBoiseLGSVL commented on #758
@SenRamakri The Autoware.AI configuration looks outdated.  @hadiTab ?

[2020-05-14 00:35] SenRamakri commented on #758
Thanks for your quick reply @EricBoiseLGSVL. I will wait for @hadiTab to respond as well.

[2020-05-14 01:38] rongguodong commented on #757
We just provide reference implementation of camera (as well as other sensors). Users can implement their own sensor plugin matching specific real sensors they are using. We implemented a sample sensor plugin for Velodyne Lidar. More details of sensor plugin can be found at: https://www.lgsvlsimulator.com/docs/sensor-plugins/.

[2020-05-14 02:07] dr563105 commented on #758
The example in autoware.ai is outdated and for the older Simulator version.

I have tried using the ones in the lgsvl documentation site, they work(don’t know if they need to be updated). You can compare them with the json already included in the vehicles tabs with autoware in web ui.

[2020-05-14 02:54] hadiTab commented on #758
Yup, the autoware.ai JSON is outdated. Please use the one in our documentation.

[2020-05-14 05:30] cjonesy20 opened #759 "Failed to build WebUI"
Following the build instructions here on Windows. Unity 2019.3.3f1.
https://www.lgsvlsimulator.com/docs/build-instructions/

-------------------------
Failed to build WebUI. Please make sure npm is installed. Check README.md file
UnityEngine.Debug:LogError(Object)
Simulator.Editor.BuildWebUI:Build() (at Assets/Scripts/Editor/BuildWebUI.cs:40)

------------------------------------

Win32Exception:

[2020-05-14 05:39] cjonesy20 commented on #759
When I click Simulator then Check in Unity I get this the following, not sure if it's relevant.

Checking...
ERROR: Folder 'HDRPDefaultResources' should not be inside of '/Assets'
ERROR: File 'ExampleFMU.fmu' with '.fmu' extension is not allowed inside '/Assets/Resources'
ERROR: File 'SimulatorShaderVariants.shadervariants' with '.shadervariants' extension is not allowed inside '/Assets/Shaders'
E

[2020-05-14 09:46] yumianhuli2 commented on #504
Hello！ Have you resolved this bug？

[2020-05-14 10:59] eniseiskaya commented on #759
I have the same problem. I try `npm start`, `npm update`, `npm run pack`, `npm run pack -p`. So it still doesn't work.

C:\projects\simulator\WebUI>npm start
npm ERR! missing script: start

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\enise\AppData\Roaming\npm-cache\_logs\2020-05-14T10_37_35_555Z-debug.log

[2020-05-14 13:17] SenRamakri commented on #758
Thanks for the answers everyone, I'll use the one from LGSVL documentation.

[2020-05-14 14:45] joshwapohlmann commented on #673
@dr563105 We fiddled in some ugly casting using introspection in `RosBridge.cs`. Without this, we couldn't make it work. So, as soon as you implement custom data types and don't fix LGSVLs broken casting system for those, I don't see a way for you.
However, you should be able to BUILD the simulator regardless this issue. The problem only reveals itself by not sending any actual data.

[2020-05-14 15:38] EricBoiseLGSVL commented on #759
@cjonesy20 @eniseiskaya The first post says "Compiled with warnings:" Which means it compiled but with warnings, which is expected.
The second is a check for when you are creating user assets to see if you are naming/placing/including and is mostly for internal development.

Steps to try for Windows
1 - Navigate to C:\Users\You\Documents\Repos\Simulator\WebUI folder
2 - Hold Shift + Right click in

[2020-05-14 15:41] EricBoiseLGSVL commented on #757
@chen1qy Yes, @rongguodong is right.  If you want different camera settings, you will need to create your own camera sensor.  You can create a plugin that can be loaded without changing simulator source, or you can add to the simulator source code/sensor list and re-compile simulator.

[2020-05-14 15:43] luqiang21 commented on #632
@Avps1 @michaelhany55 If you still have the problem for perception, I suggest to first try fake prediction on apollo by:

mainboard -d modules/tools/prediction/fake_prediction/fake_prediction.dag

With fake prediction, you can verify other modules like planning, routing, control works. After verifying those, I suggest you to monitor GPU memory while running simulator and apollo perception at the s

[2020-05-14 16:11] jonndoe opened #760 "Unable to start binary executable on linux..."
(base) latin@latin:~/PycharmProjects/lgsvlsimulator-linux64-2020.03$ ./simulator
Set current directory to /home/latin/PycharmProjects/lgsvlsimulator-linux64-2020.03
Found path: /home/latin/PycharmProjects/lgsvlsimulator-linux64-2020.03/simulator
(base) latin@latin:~/PycharmProjects/lgsvlsimulator-linux64-2020.03$

So current directory is correct as I see...Could you advice??

[2020-05-14 16:11] jonndoe commented on #760
`(base) latin@latin:~/PycharmProjects/lgsvlsimulator-linux64-2020.03$ ./simulatorSet current directory to /home/latin/PycharmProjects/lgsvlsimulator-linux64-2020.03
Found path: /home/latin/PycharmProjects/lgsvlsimulator-linux64-2020.03/simulator
(base) latin@latin:~/PycharmProjects/lgsvlsimulator-linux64-2020.03$
`

[2020-05-14 16:12] jonndoe commented on #760
`(base) latin@latin:~/PycharmProjects/lgsvlsimulator-linux64-2020.03$ ./simulator
Set current directory to /home/latin/PycharmProjects/lgsvlsimulator-linux64-2020.03
Found path: /home/latin/PycharmProjects/lgsvlsimulator-linux64-2020.03/simulator
(base) latin@latin:~/PycharmProjects/lgsvlsimulator-linux64-2020.03$
`

[2020-05-14 16:20] EricBoiseLGSVL commented on #754
@ctgloglu this is our instructions we use internally

# Installing ROS & rosbridge on Windows:
1. Install window-linux subsystem: https://docs.microsoft.com/en-us/windows/wsl/install-win10

2. Open Microsoft Store from start menu and search for ubuntu. Select Ubuntu 18.04 and install it.
   - You will be asked to setup root username and password on first startup (don't forget these!)
   - Note tha

[2020-05-14 16:25] EricBoiseLGSVL commented on #760
@jonndoe Please post player.log / system specs and any other info you can.  This is very difficult to understand what you are asking.  Can you not find the installed executable? Does it crash on start?  More information will help us see what the issue is and will help others that might have the same problem.

[2020-05-14 16:26] EricBoiseLGSVL commented on #729
@yujie181152 Did this solve your issue?

[2020-05-14 16:30] EricBoiseLGSVL commented on #504
@yumianhuli2 we plan on a release this month with this fix

[2020-05-14 16:31] #758 closed

[2020-05-14 16:36] jonndoe commented on #760
Thanks for your reply, after Ive downloaded the binary for linux [https://github.com/lgsvl/simulator/releases/tag/2020.03](url), I unziped it to the download folder and cd to it and run ./simulator . After this I have issue in my shell: Set current directory to /home/latin/downloads/lgsvlsimulator-linux64-2020.03 Found path: /home/latin/downloads/lgsvlsimulator-linux64-2020.03/simulator

[2020-05-14 16:38] jonndoe commented on #760
Should I make any extra commands to run executable?

[2020-05-14 16:45] EricBoiseLGSVL commented on #673
@dr563105 @joshwapohlmann We will have a new release this month with a fix.  I am including the diff for the changes that you both can use in the meantime.  Be aware that this hasn't been through our release testing but I hope this helps
[CustomTypeFix.zip](https://github.com/lgsvl/simulator/files/4629757/CustomTypeFix.zip)

[2020-05-14 16:51] dr563105 commented on #673
Thanks @EricBoiseLGSVL. When @daviduhm adapted the Lanefollowing tutorial for the latest simulator, he advised me to these changes. However, I was facing issues when I extended that custom sensor plugin to my needs. Hence I contacted @joshwapohlmann for help.

Thank you @joshwapohlmann for your reply.

[2020-05-14 16:51] EricBoiseLGSVL commented on #760
@jonndoe Thanks for clarifying.  Have you looked through the documentation on getting started yet?  You can find it [here](https://www.lgsvlsimulator.com/docs/getting-started/).  @luqiang21 is jon missing any steps for running the executable?

[2020-05-14 16:56] EricBoiseLGSVL commented on #673
@dr563105 Good.  Please let us know what is causing issues with the custom sensors or new features needed with the system, we would like to make this feature better and any insight to improve it will help other users.

[2020-05-14 18:27] dr563105 commented on #698
Thanks @daviduhm @EricBoiseLGSVL . I used the release branch as it was suggested to use it instead of master. No worries using master branch now.

After training the lanefollowing model I test it by executing `docker-compose up drive_visual`. In the previous old simulator, I had to select the main camera to start the autonomous drive mode display window. However in this, all I have to do is press

[2020-05-14 19:28] jonndoe commented on #760
Thank you! Works now!

[2020-05-14 19:28] #760 closed

[2020-05-14 19:38] eniseiskaya commented on #759
@EricBoiseLGSVL i did it but it doesn't work. Node.js. git lfs installed.

[2020-05-14 20:02] EricBoiseLGSVL commented on #759
@eniseiskaya Again Compiled with warnings is fine.  Why are you running npm start? It should be
3 - Type npm install
4 - Type npm pack
And then you are finished.  You can then run webui in editor from loader scene.

[2020-05-14 20:13] eniseiskaya commented on #759
@EricBoiseLGSVL I did as you wrote but there was still a written error

[2020-05-14 20:33] martins-mozeiko commented on #759
You do not need to run "npm start". Not sure where you read it to run "start", but it not needed. This is not node.js server or application. You need only to "pack" files so they are usable by web page later.

[2020-05-14 20:44] cjonesy20 commented on #759
npm works in cmd.exe, but not in Powershell. I ran repair on NodeJS.

I went into the registry editor and changed the path to include C:\Program Files\nodejs and then confirmed the path changed in Powershell. npm still won't run unless I go to the nodejs folder.

`PS C:\Users\cjone31\Documents\School\Masters Computer Science\IndStudy\simulator> (Get-ItemProperty -Path 'Registry::HKEY_LOCAL_MACHINE

[2020-05-14 21:14] eniseiskaya commented on #759
@martins-mozeiko I understood about `npm start` but first I tried to do all the instructions in order as @EricBoiseLGSVL  wrote and I checked all the components from

[2020-05-14 21:33] martins-mozeiko commented on #759
What error exactly are you getting now?

[2020-05-14 21:39] eniseiskaya commented on #759
@martins-mozeiko

UnityEngine.Debug:LogError(Object)

[2020-05-14 21:59] martins-mozeiko commented on #759
That means either you have installed npm without adding it to PATH. And Unity cannot find where is npm executable.
Or it could mean that you have not restarted Unity + Unity Hub after installing npm. Process picks up new PATH only at startup, not afterwards.

But - if you have run npm run pack in command-line, there is not need to run Simulator -> Build Web ui menu item. It does exactly same thing

[2020-05-15 02:16] radiateboy opened #761 "Under Ubuntu 18.04, drag to change the size of the client window. After starting the simulations, ubuntu os will crash"
Local environment:
Ubuntu 18.04   GTX 1080ti   i9-9900k  128G .
Nvidia Driver Version:440.59    CUDA Version: 10.2

[2020-05-15 03:00] yumianhuli2 commented on #504
very Nice！

[2020-05-15 03:03] yumianhuli2 opened #762 "About Cyberlog Parsing"
Is there a cyberlog parsing feature or script in this project？Thank you！

[2020-05-15 03:05] EricBoiseLGSVL commented on #761
@radiateboy What version of simulator are you using?

[2020-05-15 03:07] EricBoiseLGSVL commented on #762
@yumianhuli2 Is [this](https://github.com/ApolloAuto/apollo/issues/8388) what you are asking about?

[2020-05-15 03:20] radiateboy commented on #761
@EricBoiseLGSVL
I use version 2020.03 release

[2020-05-15 03:22] EricBoiseLGSVL commented on #761
@radiateboy Thanks.  This is a known issue with Unity at the moment but we will look into some possible solutions.

[2020-05-15 07:39] ctgloglu commented on #754
I ran ros bridge without any problem.Thank you for your answer.

[2020-05-15 07:39] #754 closed

[2020-05-15 08:13] radiateboy opened #763 "lgsvl/apollo-5.0 Select borregas ave map, the loading position of ego vehicle is not synchronized with that in simulator"
lgsvl/apollo-5.0 Select borregas ave map, the loading position of ego vehicle is not synchronized with that in simulator。
![20200515](https://user-images.githubusercontent.com/9248754/82027192-6cb95e00-96c6-11ea-98c4-313a93f56865.jpeg)

[2020-05-15 08:47] yumianhuli2 commented on #762
Yes similar to ros record for playback log, does cyberlog have such a playback tool in this proj?Thank you!

[2020-05-15 11:23] radiateboy commented on #763
sorry. The problem is solved. Because I used the old version apollo 5.0.

[2020-05-15 11:23] #763 closed

[2020-05-15 18:46] lemketron commented on #762
@yumianhuli2 Yes, Apollo has [Cyber RT Developer Tools](https://github.com/ApolloAuto/apollo/blob/master/docs/cyber/CyberRT_Developer_Tools.md) including cyber_recorder:

[2020-05-15 19:57] SenRamakri opened #764 "Newbie with LGSVL Websocket questions"
Hello All,

I'm new to LGSVL and have been trying to run Autoware.AI(1.13 version) with LGSVL. Im running into few issues and thought of asking them here, any help would be appreciated.

1. Can I run LGSVL without GPU and still expect things to work although I understand that things would be terribly slow? I'm currently trying to run it on a 12 core Ubuntu 18.04 system without GPU.
By the way, Im

[2020-05-15 20:08] SenRamakri commented on #764
As a sanity check, I changed the bridge string to "127.0.0.1:9090" and the error string in Player.log changed to "|Fatal|WebSocket.connect|Connection refused"

[2020-05-15 20:15] SenRamakri commented on #764
Im looking into LGSVL code and I guess that the Websocket is actually a client, is that correct? So should I be starting the websocket rosbridge for this Websocket APIs to work?

[2020-05-15 21:44] lemketron commented on #764
That is correct. According to the [Running with Autoware.AI](https://www.lgsvlsimulator.com/docs/autoware-instructions/) documentation for LGSVL Simulator:

After installing Autoware.AI and ROS, and launching the Autoware Runtime Manager, you will eventually click "Sensing" which also launches rosbridge.

Please refer to the LGSVL/Autoware instructions for full details: https://www.lgsvlsimulator.

[2020-05-16 07:11] yumianhuli2 commented on #762
Hi! how can I use it in this simulator in unity?

[2020-05-16 14:30] SenRamakri commented on #764
Thanks for the response.@lemketron. Yes, I was able to run rosbridge_server (rosbridge_websocket) and things are working now. I no longer see websocket connection error in Player.log. As of now, below is what I have.
[LGSVL Simulator]<==working==>[ROS Bridge]<==working==>[Autoware]
And when look at Player.log it shows LGSVL(Client 0) connected and subscribed to /vehicle_cmd topic.
With this workin

[2020-05-16 23:09] lemketron commented on #764
Please check out the [Quickstart](https://www.lgsvlsimulator.com/docs/python-api/#quickstart) instructions for using the Python API which should help explain the startup process. More specifically check out steps 3-7 to see if you are able to run the example script as documented.

[2020-05-17 15:11] SenRamakri commented on #764
@lemketron - Thanks again for the docs pointer. That seems to have great info I have been looking for. Is there any docs on Json spec/API as well?

[2020-05-18 03:55] miluit01 opened #765 "How export map to AssetBundle?"
Hey guys,

I want to change the traffic light positions in Shalun map and export the scene in the AssetsBundle. After export the environment_shalun file is created but can not be use in the simulator.

What I did:

git clone https://github.com/lgsvl/Shalun.git in Assets/External/Environment

build the Shalun via Simulator->Build->select Shalun in environment tab->click build

After few minutes the

[2020-05-18 04:18] miluit01 opened #766 "How to annotate map Shalun"
Hey guys,

I am following the doc try to annotate Shalun map.

When I am opening Assets/External/Environment/Shalun/Pretabs/MapShalun and just see a map without road only the traffic lights and signs show up in the gui.

![Screenshot from 2020-05-18 12-15-40](https://user-images.githubusercontent.com/1423938/82173888-6cf16d80-9901-11ea-8ba4-b1b0e9862da9.png)

Many thanks for any help!

[2020-05-18 07:40] MaxandreOgeret opened #767 "Use of GPS in Autoware and ROS1"
Hello, thanks for this project.

I would like to know how to setup GPS localization using Autoware. I am using [nmea2tfpose](https://gitlab.com/astuff/autoware.ai/core_perception/-/blob/master/gnss_localizer/launch/nmea2tfpose.launch).

It seems t work, it receives the NMEA sentence but the car is not placed correctly at all on the map.

Is there a TF to set for it to work ? I really can't get it

[2020-05-18 15:47] dr563105 opened #768 "Data gathering -- Images and control topic frame receiving rate bottleneck"
Hello!

I don't know if this is LGSVL or ROS problem. I'd like to try to seek help here.

In my data collection node, I use [approx time sync](https://github.com/ros2/message_filters/blob/master/src/message_filters/__init__.py#L242) class from the [ros2_message_filters](https://github.com/ros2/message_filters). In its argument I adjusted the queue size to 70 (as mentioned here in step [1.4](http:/

[2020-05-18 16:48] lemketron commented on #764
@SenRamakri Are you looking for docs on the sensor configuration JSON? There are several sample sensor configurations included in our documentation for various AD stacks including Autoware.AI, Autoware.auto, Apollo 5.0, and Apollo 3.0.

[2020-05-18 17:15] EricBoiseLGSVL commented on #765
@miluit01 Are you loading the new asset with Editor or a build?  If a build, what version is it and what release version are you using from GitHub?

[2020-05-18 17:20] EricBoiseLGSVL commented on #766
@miluit01 You are in Prefab view in Editor.  Go back to scene view to edit annotation.  Also be sure to enable gizmos in Editor to see the annotation.

![annotation-help](https://user-images.githubusercontent.com/45106230/82241575-3dd30000-98f1-11ea-9cd5-58db48e8b039.png)

[2020-05-18 17:24] EricBoiseLGSVL commented on #768
@dr563105 we will need to look into this.

[2020-05-18 17:37] dr563105 opened #769 "Simulator consuming so much CPU"
Hi again!

Why is the simulator consuming so much CPU on all cores? If I `cpulimit` the sim, data gathering becomes so difficult. Is there a way to reduce its consumption and also not hinder data collection? Thank you.

Screenshot of `htop` output after launching the sim but before pressing 'play'.
![Screenshot from 2020-05-18 19-32-54](https://user-images.githubusercontent.com/12048684/82242858-2

[2020-05-18 17:51] dr563105 commented on #768
Thanks Eric. You can use the latest Lanefollowing tutorial, Collect script. Just adjust the value of queue size and slop as I did. Though I expanded the control topic to include more info, it shouldn't be a problem to verify.

[2020-05-18 21:42] rongguodong commented on #614
We have all five PRs merged into Apollo now. The latest Apollo master should works with our simulator.
@pedroexenberger @zhouyapengzi You can clone latest Apollo and test it. You can follow most of instructions to Apollo 5.0 with two changes:
- Call "bootstrap_lgsvl.sh" instead of "bootstrap.sh" to launch Dreamview; and
- Select  the `Mkz Lgsvl` mode, in addition to select `Lincoln2017MKZ LGSVL` v

[2020-05-18 21:43] rongguodong commented on #626
We have all five PRs merged into Apollo now. The latest Apollo master should works with our simulator.
@mm-joseph @ntutangyun You can clone latest Apollo and test it. You can follow most of instructions to Apollo 5.0 with two changes:
- Call "bootstrap_lgsvl.sh" instead of "bootstrap.sh" to launch Dreamview; and
- Select  the `Mkz Lgsvl` mode, in addition to select `Lincoln2017MKZ LGSVL` vehicle a

[2020-05-18 22:53] SenRamakri commented on #764
@lemketron  - Yes, the sensor configuration API as well as the API for talking to API-Port(8181).
I did notice the sample Json configuration provided(for Autoware.AI) but I was looking for documentation/specification on the API, if its available.

[2020-05-18 23:05] martins-mozeiko commented on #764
I think there is misunderstand what each ports does and what kind of information is communicated.

Simulator listens on port 8080 for requests from web interface. All the actions you do in web interface results in GET/POST/etc.. calls to http server on port 8080. Protocol is internal and not documented. Although you can easily see what kind of data gets sent either from C# and JavaScript source co

[2020-05-18 23:11] SenRamakri commented on #764
@martins-mozeiko - This is really great response and clarified most of my questions. And thanks for the Urls provided, they look to be providing the info Im looking for and I'll be reviewing them in detail.
It appears you have answered most of my current questions and I'll close this issue now thankfully :-).

[2020-05-18 23:11] #764 closed

[2020-05-18 23:30] SenRamakri commented on #764
@martins-mozeiko - Just a thought, if you could somehow capture whatever you mentioned above in your comment in the documentation as well, that would be really helpful.

[2020-05-18 23:42] rongguodong commented on #764
That's a great idea. This information is a good topic under "Advanced" Section at the bottom of the document page. :)

[2020-05-19 00:40] miluit01 commented on #765
Hi Eric,

I am using a release Editor 2020.03 and build the Shalun in a download source of master branch.
Should I build the Editor of the release 2020.03 tag source code and build Shalun with this release tag as well?

Many thanks for your reply!

[2020-05-19 00:46] miluit01 commented on #766
Hi Eric,

perfect. It works! You save my day!

p.s.: some how my git lfs worked not correctly. I re-git lfs clone everything. Then activate Gizmos and annotation is show up.

Many thanks!

[2020-05-19 00:46] #766 closed

[2020-05-19 02:01] EricBoiseLGSVL commented on #769
@hadiTab Is this an issue with ROS?

[2020-05-19 02:04] EricBoiseLGSVL commented on #765
@miluit01 Yes, use the release branch, not master

[2020-05-19 06:07] miluit01 commented on #765
Hi Eric,

I switched to release-2020.03 branch and build AssetsBundle and simulator as well. But it still has the same issue. I checked the output windows in Editor and get the following error:

![Screenshot from 2020-05-19 14-00-38](https://user-images.githubusercontent.com/1423938/82290461-8e258d00-99d9-11ea-9bd4-545d996c276b.png)

I tried start the simulator in Editor via LoadScene and the buil

[2020-05-19 06:23] miluit01 commented on #765
I checked Loader.cs line 549 and get the feeling that somehow the manifest of AssetsBundle doesn't match the BundleConfig.MapBundleFormatVersion = 2

`                                if (manifest.bundleFormat != BundleConfig.MapBundleFormatVersion)
                                {
                                    zip.Close();

                                    // TODO: proper exception

[2020-05-19 08:07] hadiTab commented on #769
I'm not sure what this is. It's not a ROS issue, the bridge is barely using any CPU. Unity shouldn't really be using any before starting a simulation either.

@dr563105 what version of the simulator are you using?

I just did a test run on my PC with an i5 6600 on the latest simulator release and CPU usage was very low and only on a single core.

[2020-05-19 08:09] hadiTab commented on #767
@MaxandreOgeret what version of Autoware are you using?

[2020-05-19 08:16] dr563105 commented on #769
@hadiTab I'm using the latest version 2020.03. I expanded https://github.com/lgsvl/LaneFollowingSensor to my needs and built it in Unity. Using Unity Hub 2.3.1 and Unity editor 2019.3.3f1. This behaviour is happening also in already builtin Sim you provide in release page for the last 3 releases. Many of my colleagues too told me they experience the same behaviour.

[2020-05-19 09:52] miluit01 commented on #765
Hi Eric,

I found out, that the built environemt_shalun file is not correct generated. See previouly error message in Editor.
To compare I wget https://assets.lgsvlsimulator.com/5509eb186899e1f1596bd131e9614303e95aa19e/environment_SingleLaneRoad
The downloaded file could be errorless opened with Archiver Manager.
But the built one couldn't.
I think it was something going wrong during build process

[2020-05-19 09:55] hadiTab commented on #769
@daviduhm can you look into this?

[2020-05-19 10:52] MaxandreOgeret commented on #767
@hadiTab Right now, Autoware 1.13

[2020-05-19 17:04] EricBoiseLGSVL commented on #765
@miluit01 You need to have both linux AND windows build support downloaded from Unity.  Bundles are required to be cross platform

[2020-05-19 18:48] EricBoiseLGSVL commented on #762
@yumianhuli2 It's not used in Simulator but in Cyber

[2020-05-19 19:06] dr563105 commented on #769
I'd like to add -- I spoke with my colleagues, when I told them about this

They were adamant that upon several trials they have never seen such low CPU consumption. They have been using LGSVL simulator since last year. So yeah, this behaviour is not restricted to just lanefollowing.

[2020-05-19 19:10] dr563105 commented on #768
One thing I did was increase the queue size to 100 and slop to 2.5 seconds. In the CSV file, about 10 entries per second. So it reduces the time to my data target to 2 hrs 35 mins driving time.

[2020-05-19 23:29] #762 closed

[2020-05-20 02:02] miluit01 commented on #765
@EricBoiseLGSVL Hi Eric, After add "Window build support" AssetsBundle could be generated and used in simulator. Many thanks for your help!

[2020-05-20 03:35] rongguodong commented on #768
There are some factors limited the cap of rate you can achieve: Each camera sensor has a `Frequency` which is set to 15 by default; But even if you raise it, it also depends on how many frames your machine can render for three cameras. Furthermore, even if your machine is powerful enough to generate many frames per second, it is still limited by how much data you can send out via bridge.

We curre

[2020-05-20 04:24] dr563105 commented on #768
Thank you @rongguodong.

Do you mean to say since I use three camera sensors, it is slowing down my machine capability to process faster? What performance impact would I have if I add LIDAR into the mix?

I tried to change the buffer size of the web socket in Rosbridge.cs. It didn’t seem to have helped.

Is this something I can accomplish in a short time say a week or two? Just a small addition to

[2020-05-20 04:30] rongguodong commented on #768
@dr563105 If you add a Lidar, it definitely affect the performance. However, if your machine is powerful enough, most probably the bottleneck is the bridge bandwidth. So the publishing rate may not be very different with and without Lidar.

BTW: We have implemented the work around for Lidar sensor. The newly introduced [VelodyneLidarSensor plug-in](https://www.lgsvlsimulator.com/docs/lidar-plugin/

[2020-05-20 04:39] dr563105 commented on #768
Incidentally I even increased the UDP limit of Ubuntu to a higher number 5228220(not sure on the exact number). I already use the Lanefollowingsensor plugin. I will look into VelodyneLidarSensor plug-in.

Thanks again. This is really encouraging that I can reduce the data gathering time.

[2020-05-20 05:49] miluit01 commented on #626
@rongguodong:

Hi Guodong,

I checked LGSVL Simulator 2020.03 with Apollo 5.5. I observed the timestamps between Simulator and Apollo and found out they are not synchronized:

![Screenshot from 2020-05-20 13-13-06](https://user-images.githubusercontent.com/1423938/82407529-f472e400-9a9b-11ea-8e21-c18d0f22beb2.png)

Left: apollo.drivers.gnss.Imu topic sent from Simulator
Right: apollo.common.monito

[2020-05-20 13:13] alexsimon1 opened #771 "Wheel encoders"
Hello,

will a future update include wheel encoders?

Thanks

[2020-05-20 17:01] rongguodong commented on #626
Yes, we know the time difference between simulation time and real time. But I did not see any obvious issue caused by it. Can you describe more details of what are "unexpected result" of perception module? How can I reproduce this locally? And when you made those changes, how do you tell the results are more stable?

As for the timestamp, we are investigating several solutions, including using rea

[2020-05-20 17:35] daviduhm commented on #769
@dr563105 I can't reproduce this issue and CPU usage was only on a single core. Can you please let me know what steps to follow, preferably without running lane following (to make it a simple case) if this behavior is not restricted to just lane following.

[2020-05-20 18:57] dr563105 commented on #769
@daviduhm Sure no problem. I just tried to use Python API and the behaviour is same.

**Steps to reproduce:**

**Try 1**
1. Clone the PythonAPI and pip3 install the dependencies as given the docs. https://www.lgsvlsimulator.com/docs/python-api/
2. Download the latest built simulator from the release page(using lgsvlsimulator-linux64-2020.03) -- https://github.com/lgsvl/simulator/releases. Extract

[2020-05-20 19:30] #765 closed

[2020-05-20 19:32] EricBoiseLGSVL commented on #771
@alexsimon1 We do not have plans to add this but a custom sensor would be a great way to implement.

[2020-05-20 19:52] #771 closed

[2020-05-21 05:34] cjonesy20 commented on #759
I created a new user in Windows for an unrelated issue and when I reran npm install and pack in Powershell it installed. Then I went back to Unity and ran Build WebUI and it worked.

[2020-05-21 10:38] MaxandreOgeret commented on #767
@hadiTab Any idea ?

[2020-05-21 13:41] bxdd opened #772 "Improving measures of lidar simulation"
When I run the lgsvl lidar, I found that this simulator has two shortcomings and one error that needs to be corrected. If this error is corrected, then both of the simulator's shortcomings can be resolved.

I am an independent developer of lidar for the carla simulator. I rewrote the lowest-level code of carla to realize the GPU acceleration of lidar in carla. I found that an error in lgsvl is con

[2020-05-21 15:56] EricBoiseLGSVL commented on #772
@bxdd Thanks for the help.  I'm going to ping @rongguodong who has been improving our sensors.

[2020-05-21 16:05] rongguodong commented on #772
@bxdd Which version are you using? The screenshot seems to be from an old version. This should have been fixed in newer versions. Can you try 2020.03?

[2020-05-21 16:07] rongguodong commented on #772
Using 3 cameras will greatly increase the texture size and thus make the GPU-readback slower. With more cameras, we can have more smaller texture read-backs running in parallel.

[2020-05-22 01:38] bxdd commented on #772
Thanks for your answer, I'll try the newest version.

[2020-05-22 01:44] bxdd commented on #772
But will too many depth cameras cause point cloud tears? One suggestion is to develop two modes. One mode enables vertical synchronization to focus on point cloud quality, and the other mode focuses on frame rate.

[2020-05-22 02:58] rongguodong commented on #772
What do you mean by "point cloud tears"?

[2020-05-22 06:31] MaxandreOgeret opened #773 "PID controller frequency"
Hello everyone,

I would like to know if it is possible to tune the PID controller, especially the rate .

I believe the PID controller in nested in the "Vehicle Control" sensor :
[code]

But I couldnt find anything. In carla it would be the https://github.com/carla-simulator/ros-bridge/tree/master/carla_ackermann_control package.

Thanks for your help !

[2020-05-23 00:41] daviduhm commented on #769
@dr563105 Thanks for your detailed description. I've followed your steps exactly using `lgsvlsimulator-linux64-2020.03` and `05-ego-drive-in-circle.py`, but I still can't reproduce this issue on my linux machine. For me, the overall cpu usage across all cores is about ~30% while running simulation using the python api script (driving in circle).

I think your actual issue is that you have multiple

[2020-05-23 00:45] daviduhm commented on #769
@dr563105 Thanks for your detailed description. I've followed your steps exactly using `lgsvlsimulator-linux64-2020.03` and `05-ego-drive-in-circle.py`, but I still can't reproduce this issue on my linux machine. For me, the overall cpu usage across all cores is about ~30% while running simulation using the python api script (driving in circle).

I think your actual issue is that you have multiple

[2020-05-23 01:17] dr563105 commented on #769
Thanks David. It’s quite surprising for me that it’s only our group that are facing this issue.

We’ve tried using lgsvl across all machines. Every single one mimics this behaviour. Immediately after starting the simulator, cpu consumption spikes. Of course we mostly use Ubuntu in our systems.

I don’t know if there is a more powerful system to try than this one currently. I need to ask.

[2020-05-23 23:37] daviduhm commented on #769
From your htop screenshot, I realized that those lines in green are actually threads, not processes. So in your case, it is normal behavior that your htop has one process, the one in white, alongside multiple threads running for simulator. My htop only shows a single process because I usually hide threads with H key in htop. Sorry about the confusion.

You might already know it but just wanted to

[2020-05-24 23:48] rongguodong commented on #626
Per offline sync with @miluit01, the problem of "unstable perception" is because of wrong mode. You need to select "Mkz Lgsvl" mode (from the drop down menu left to the vehicle selection menu). With this mode in use, the perception module should work well.

[2020-05-25 20:12] David-Sola opened #774 "Adding or Findung new Maps to simulate"
Hello all together,

Is there a place where further Maps are available, e.g. for a German Autobahn or longer country roads?
Thank you,

David

[2020-05-26 02:11] miluit01 commented on #626
@rongguodong Thanks for your classification! As we offline discussed, the core issue is the timestamp diff between simulator and cyber time. I hope that you will have a solution with Baidu developer soon. Many thanks!

[2020-05-26 03:20] zhanghming commented on #626
@rongguodong Hi, I'm using the LGSVL-linux64-2020.03, I can't find the "Mkz Lgsvl" mode menu in LGSVL interface,  is this menu in browser interface or the lgsvl app interface?

What the default mode and if I didn't change this option, is it right or not?

[2020-05-26 06:35] lemketron commented on #626
@zhanghming The "setup mode" menu is found in Dreamview (in the browser), not in the LGSVL Simulator. It is to the left of the "vehicle" menu and should be set to "Mkz Lgsvl".
![image](https://user-images.githubusercontent.com/96521/82867666-1b884600-9ee0-11ea-823a-2c2c26707811.png)

[2020-05-26 07:58] dr563105 commented on #769
I didn't know that about htop. Thanks for that, David. In any case, it is consuming far more resources than you; about 70-85% in each cores.

We didn't have much time to discuss about this over the last days. As far as I know, we have tried with different pc hardware configurations and Ubuntu, the result is the same. We may try on a windows 10 pc in the next days.

Would any log file reveal the pr

[2020-05-26 09:20] zhanghming commented on #626
@lemketron Thanks for your reply.
What the Apollo repository are you use? I can not find the "Mkz Lgsvl" option in the Dreamview, there are only "Mkz Close Loop" and "Mkz Standard Debug". And I used the lgsvl/apollo-5.0 repository.

[2020-05-26 09:27] lemketron commented on #626
@zhanghming Sorry, it seems that @rongguodong and I were referring to the latest apollo (in the apollo master branch).

For lgsvl/apollo-5.0 it should be "Mkz Standard Debug" as shown in the [LGSVL Simulator docs for Apollo 5.0](https://www.lgsvlsimulator.com/docs/apollo5-0-instructions/) and [screen shot](https://www.lgsvlsimulator.com/docs/images/full_size_images/apollo5-0.png).

[2020-05-26 16:12] EricBoiseLGSVL commented on #769
@dr563105 What map are you using for these tests?

[2020-05-26 16:31] EricBoiseLGSVL commented on #774
@David-Sola We are working on creating more maps and making it easier for users to share.  We hope to release these features soon.  In the meantime, Unity has many assets to create maps in their asset store.  We have a tutorial [here](https://youtu.be/S0w2ahhEPbE) that will help you create maps that fit your needs.

[2020-05-26 16:45] dr563105 commented on #769
@EricBoiseLGSVL I used borregas avenue as in the quickstart examples. After your question, I tested with SF and GoMentum, same issue.

Just starting the sim exe, spikes the cpu on all cores. I can also confirm, this resource problems for all of us since the old Simulator version May 2019. Perhaps if some aspect has stayed constant through out these iterations, can give a clue as to the problem. Fr

[2020-05-26 17:03] EricBoiseLGSVL commented on #769
@dr563105 Odd, one more thing.  Are you testing build or Editor?

[2020-05-26 17:07] dr563105 commented on #769
Today it was the lastest March build. A few days I even tested with editor. Those screenshots are also up in the previous replies.

[2020-05-26 17:32] EricBoiseLGSVL commented on #769
Do you have any warnings or issues in Unity?  I think we should look at PlayerLogs next.  Can you post when you are able, thanks

[2020-05-26 19:15] dr563105 commented on #768
Closing this issue for now as I couldn’t solve it before my data collection task. I reckon I had to drive around for more than four hours.

[2020-05-26 19:15] #768 closed

[2020-05-26 19:24] EricBoiseLGSVL commented on #768
@dr563105 sorry we could not resolve this

[2020-05-26 19:32] dr563105 commented on #769
For tests, I used the latest pre-built version from the release page. But when I executed from Unity, with my modified build, I got no errors or warnings in the console tab. Ofcourse, when I did simulator->check, these errors were displayed.

`Checking...
WARNING: Folder 'simulator_Data' should not be inside of '/'
ERROR: Folder 'HDRPDefaultResources' should not be inside of '/Assets'
ERROR: File

[2020-05-26 20:29] EricBoiseLGSVL commented on #769
No these are fine.  This is mostly for internal testing with environment and vehicle development.  Can you post the player log from a run of the build?

[2020-05-27 05:28] hadiTab commented on #773
@MaxandreOgeret there is no PID controller for vehicle control in the simulator. People use many different types of closed loop control algorithms and we don't think it makes sense for us to implement one in the simulator and force everyone to use it.

We do provide feedback for the steering and acceleration commands which you can use to write your own controller.

[2020-05-27 11:29] eyadshak opened #775 "Creating a new environment/map based real location"
Hello LG Team,

I have been trying to figure out how to create a new map for use in LGSVL, I've seen the tutorials and some posts regarding this and I need some clarifications.

Its possible to import a point cloud file according to the tutorial (https://www.youtube.com/watch?v=6r7K3-dV1iM), but the end result is very blurry and would not work. Is it possible to generate a better looking environme

[2020-05-27 16:21] dr563105 commented on #769
Here you go. Used the packaged Simulator 2020.03 for Linux. Ran the quickstart example for `drive in a circle` in API mode.

[Player.log](https://github.com/lgsvl/simulator/files/4690112/Player.log)

[2020-05-27 17:00] EricBoiseLGSVL commented on #775
@eyadshak Hello, and welcome to LGSVL.  There are some ways to improve point cloud data but it is currently in development.  As for SF, that was built with the help of 3D artists and tools.  It really depends on the fidelity that you need for your use case.  Are you looking for hyper realism, accuracy or both?
@daviduhm @lemketron

[2020-05-27 17:08] EricBoiseLGSVL commented on #769
@dr563105 Thanks for the log.  I see that you are resizing the window, do you get the same issue if you leave full screen?  I also see a GPU read failure.  I think we have a fix for this in our next release.  This could also be a cause.

[2020-05-27 17:21] eyadshak commented on #775
Thanks for the reply Eric, we are looking for something that is similar to the maps currently available with the LGSVL simulator, so I am guessing both.

What would be the correct approach, we were exploring the idea of capturing a 3D map of the campus by aerial drones and maybe importing that into unity, would that be possible, would you know what kind of data would be needed?

Thanks for your he

[2020-05-27 18:30] dr563105 commented on #769
I reckon I was on full screen when I did the test. Any way this case, it was indeed in full screen mode. The problem exists. As you say there are a lot of GPU read errors. But, the resources increase immediately after Sim starting. May be the problem is also in those things that load upon clicking the Sim exe. Captured the log just till that.

[Player_afterStartup.log](https://github.com/lgsvl/sim

[2020-05-28 02:02] EricBoiseLGSVL commented on #769
@dr563105 I'll ask some others about this but driver looks fine.  I can't tell if it is installed correctly but if other team members are having the same issue, then it more than likely is not the issue.  We will keep digging

[2020-05-28 12:31] zhanghming commented on #626
@lemketron  Thanks a lot, I ran all things successfully.

[2020-05-28 16:31] #759 closed

[2020-05-28 16:36] EricBoiseLGSVL commented on #775
@eyadshak For point cloud to mesh you will need software to generate meshes from point could data and images.  Then you will need to cleanup mesh and apply textures from images.  Another way is to have aerial images from drones or google maps and place on a plane in Unity.  Then create/place buildings/decoration.  This is faster and easier but not as accurate.  Lastly, you can clean up the point c

[2020-05-29 09:13] gyp199009 opened #776 "traffic light control"
Hello,
I wander is there any way to control the traffic light in realtime (including getting & setting the signal), just like controlling the EGO vehicle through rosbridge.
Thanks in advance!

[2020-05-29 09:20] ntutangyun commented on #776
Hi @gyp199009 , you could check out the docs [here](https://www.lgsvlsimulator.com/docs/python-api/#controllable-objects).

[2020-05-29 14:25] eniseiskaya opened #777 "Windows or Ubuntu?"
Hello,

Sorry I'm beginner and I really need your help.
I have a task to add a car or robot with lidar and mono camera to San Francisco. I installed the simulator on Windows. Can I do my task on Windows or I must do it on Ubuntu?

Thank you for your answers!

[2020-05-29 16:36] ntutangyun commented on #777
you could use the PythonAPI as documented [here](https://www.lgsvlsimulator.com/docs/python-api/).

[2020-05-30 11:32] eniseiskaya commented on #777
@ntutangyun  Thank you!

[2020-05-30 11:32] #777 closed

[2020-05-30 22:45] ananas-jpg opened #778 "How to create 360 camera and take screenshots with coordinates ?"
Hello,
I recently started working in your program and don't have any skills in any other. I have a couple of questions that I don't understand how to solve.

1.I need to make a 360 camera but I don't really understand what xi, cubemapsize values I should set? 2.I need to take a screenshots or something like that of the intersection with the coordinates how I can do it ?

[2020-05-31 08:58] eyadshak commented on #775
Thank you for the explanation, made things a lot clearer. If anyone has any advice on any additional tools to use to ease things for me I would greatly appreciate it.

[2020-05-31 08:58] #775 closed

[2020-05-31 13:55] yumianhuli2 opened #779 "About sumo traffic"
Are there any plans to integrate the sumo traffic flow?

[2020-05-31 16:02] ntutangyun commented on #614
@rongguodong thanks for the PRs submitted to the Apollo 5.5 master.

I noticed that currently, only the Borregas Ave is available. I guess I could manually add the maps in.

Besides the maps, I wonder if the Apollo 5.5 master branch is at a similar level of integration (between LGSVL and Apollo) compared to forked 5.0 version.

I mean if there are any missing functions that's implemented in the fo

[2020-06-01 01:03] liuppppp opened #780 "Will the NPC vehicle type be updated"
I see now that there are pedestrian and NPC vehicle systems, whether you will support more diverse types, such as bicycles, motorcycles, etc

thanks.

[2020-06-01 01:04] gyp199009 commented on #776
Thank you for your information, but what I want to implement is controling the traffic light in realtime (during the simulation), is it possible to achieve that by using Python API ?

[2020-06-01 02:00] ntutangyun commented on #776
@gyp199009 I've never tried, but maybe you could try the following:

[code]

[2020-06-01 05:47] #773 closed

[2020-06-01 06:04] MaxandreOgeret opened #781 "Unable to setup radar with ROS1"
Hello,

I am trying to setup the radar with LGSVL in Docker and I can't manage to make the Radar work, I get this error in the web interface :

![image](https://user-images.githubusercontent.com/22786578/83380589-f10a2180-a3e6-11ea-9859-49f230590d5f.png)

Thanks for your help

PS : Right now I can't manage to get working :

 - Radar
 - [GPS](https://github.com/lgsvl/simulator/issues/767)
 - [CAN B

[2020-06-01 13:38] DmitryRedin opened #782 "Can not run standalone executable file"
Hello!
I downloaded the file from the link https://github.com/lgsvl/simulator/releases/tag/2020.03
I launched the terminal in Ubuntu 16.04.
sudo chmod a+x ./simulator
Then in terminal i start simulator: ./simulator
But i can not run file "simulator".
![Снимок экрана от 2020-06-01 19-25-32](https://user-images.githubusercontent.com/45751843/83414484-4b76a280-a426-11ea-86e0-36826debecad.png)

[2020-06-01 14:38] dr563105 commented on #782
Hey!
I use Ubuntu 18.04. I just tried to run the simulator from the terminal. It runs fine. I didn't change the permission nor run it in sudo mode.

Did you execute this command before launching the simulator `sudo apt install libvulkan1`?
Most often if you install libvulkan, the simulator will launch.

Please try that.

[2020-06-01 15:28] DmitryRedin commented on #782
@dr563105

Thanks. I can start simulator, but i  can not see drop-down menu at the top of the screen.

![pastedImage](https://user-images.githubusercontent.com/45751843/83424722-787e8180-a435-11ea-98c5-c2604a8a3844.png)
 I want to create HD map for simulation.

[2020-06-01 15:40] dr563105 commented on #782
I'm sorry I don't understand what you mean by "drop down menu". Do you mean simulator drop down to quit the application? or something else?

For HD map creation, you would need Unity. Have a look at this page --  https://www.lgsvlsimulator.com/docs/map-annotation/

You can find other helpful information in there as well -- https://www.lgsvlsimulator.com/docs/

[2020-06-01 15:51] DmitryRedin commented on #782
@dr563105

![annotation-window-menu](https://user-images.githubusercontent.com/45751843/83427126-e8423b80-a438-11ea-9c78-d367029b890b.png)

[2020-06-01 16:12] dr563105 commented on #782
Well that is screenshot of unity menu. The standalone executable is the result of built simulator from Unity. You can't find such drop down in the built version.

You can run also the simulator from Unity itself. For that you need the cloned version of the simulator.

[2020-06-01 16:19] DmitryRedin commented on #782
@dr563105, thanks. Can i load point cloud and image to editor HD Map? Can i export and import vector map data (csv files for Autoware and xodr file to OpenDrive) to/from editor?

[2020-06-01 16:24] dr563105 commented on #782
I don't know about those. Perhaps someone from the LGSVL team can tell you.

[2020-06-01 16:26] rongguodong commented on #614
Yes, for other maps, the temporary workaround is to copy the one you need from "https://github.com/lgsvl/apollo-5.0/tree/simulator/modules/map/data".

For vehicles, Lincoln2017MKZ is currently added into Apollo master (renamed to "Lincoln2017MKZ_LGSVL"), and you can copy others from "https://github.com/lgsvl/apollo-5.0/tree/simulator/modules/calibration/data".

Besides some maps and vehicles missi

[2020-06-01 17:01] EricBoiseLGSVL commented on #775
@eyadshak Glad to help.  @daviduhm and @lemketron might have tools you could look at

[2020-06-01 17:10] EricBoiseLGSVL commented on #782
@dr563105 Thanks for the help.  @DmitryRedin Yes, you can load HD map in the editor.  You can edit, import and export HD map data.  #775 has a link to a tutorial to load a scene with point cloud data.  You will need the Editor to build the point cloud scene.  Then, you can run an executable and add the path to the new point cloud map.

[2020-06-01 17:12] EricBoiseLGSVL commented on #780
@liuppppp Yes, we are currently working on NorthAmerican, Japanese vehicles, bicycles, trailer trucks and motorcycles.  We hope to release soon

[2020-06-01 17:13] EricBoiseLGSVL commented on #779
@yumianhuli2 Yes, we are currently working on extending NPC control to SUMO and other traffic control applications.

[2020-06-01 17:15] EricBoiseLGSVL commented on #778
@ananas-jpg @rongguodong can help explain 360 camera settings.

[2020-06-01 17:16] EricBoiseLGSVL commented on #781
@daviduhm Do know why the docker sensor is failing?  @MaxandreOgeret What version of simulator are you using?

[2020-06-01 18:30] rongguodong commented on #778
The `xi` parameter is for fisheye camera. It is not related to 360 camera.
The easiest way to create a 360 camera is to utilize Unity's Camera.RenderToCubemap and RenderTexture.ConvertToEquirect. You can build your own 360 camera sensor. In CameraSensorBase, after [we call Camera.RenderToCubemap](https://github.com/lgsvl/simulator/blob/master/Assets/Scripts/Sensors/CameraSensorBase.cs#L373), the r

[2020-06-01 18:37] rongguodong commented on #772
Does 2020.03 works well? If so, we can close this issue.

[2020-06-01 19:12] ananas-jpg commented on #778
@rongguodong I'm sorry what about parametrs for call?
` RenderTexture.ConvertToEquirect(CubemapTexture, Camera.MonoOrStereoscopicEye.monoscopic);`
I tried this but it doesn't work.

[2020-06-01 19:34] EricBoiseLGSVL commented on #778
@ananas-jpg Have you used our camera sensor with 360 capabilities or are you creating a new sensor?

[2020-06-01 19:39] ananas-jpg commented on #778
@EricBoiseLGSVL I used your camera sensor with 360 capabilities. Just deleted `LensDistortion.UnifiedProjectionDistort` and added `RenderTexture.ConvertToEquirect(CubemapTexture, Camera.MonoOrStereoscopicEye.monoscopic);`

[2020-06-01 20:56] rongguodong commented on #778
It should be CubemapTexture.ConvertToEquirect(EquirectTexture, Camera.MonoOrStereoscopicEye.Mono). The first parameter is the output texture (a 2D texture, not a cubemap one), and you should create it yourself in the init stage.

[2020-06-01 22:10] rongguodong commented on #781
@MaxandreOgeret Could you please provide more details of how to reproduce this? What docker are you using? Which version of simulator are you using? Are you following our instructions here: https://www.lgsvlsimulator.com/docs/autoware-instructions/?

[2020-06-01 23:27] ananas-jpg commented on #778
@rongguodong so I need to do a Cubemap conversion to a 2d texture? sorry I'm not very good at this, it must be something like this? If you can give me instructions or advice on how to implement this correctly please.
[code]

[2020-06-02 00:45] gyp199009 commented on #776
I don't get it, how to excute the following lines after the simulation is running ( sim.run() is excuted ) :
// set to green in real-time
control_policy = "green=5;loop"
signal.control(control_policy);

// later set to red in real-time
control_policy = "red=5;loop"
signal.control(control_policy);

..

[2020-06-02 01:29] ntutangyun commented on #776
@gyp199009 check out the following code snippet of PythonAPI

[code]

Note that the python script does not halt after calling run(), instead,  it continues to communicate with the simulator and tries to handle events from simulator with `_process_events()` function.

As a result, you could still send commands to the simulator when the simulator is running.

As for how to implement, if you know whe

[2020-06-02 01:36] ntutangyun commented on #614
@rongguodong great. thanks.

[2020-06-02 02:29] martins-mozeiko commented on #781
Radar implementation in Simulator supports only Apollo. To work with Autoware/ROS you'd need to add extra code to convert data produced by Radar sensor into whatever message ROS expects. You can see example, how this data is converted for Apollo here: https://github.com/lgsvl/simulator/blob/master/Assets/Scripts/Bridge/Ros/RosConversions.cs#L151

[2020-06-02 02:57] rongguodong commented on #778
ConvertToEquirect is a member function of class RenderTexture, and CubemapTexture is a RenderTexture (created [here](https://github.com/lgsvl/simulator/blob/master/Assets/Scripts/Sensors/CameraSensorBase.cs#L309)). So you can call CubemapTexture.ConvertToEquirect. To be able to call this function, the texture dimension must be of type TextureDimension.Cube. More details can be found at: https://do

[2020-06-02 03:09] ananas-jpg commented on #778
@rongguodong I don't understand what is parameter "equirect" and where i get it ?
cubemapRightEye.ConvertToEquirect(equirect,Camera.MonoOrStereoscopicEye.Right);

[2020-06-02 04:15] rongguodong commented on #778
You need to create it yourself. Here is another more complete example:
https://gist.github.com/MarcAlx/ee2cdfd6881ccc1faf70eaec3a191490

[2020-06-02 05:07] ananas-jpg commented on #778
@rongguodong I'm completely confused. if you can attach the code that gives you the result as shown in the screenshot.

[2020-06-02 05:41] yumianhuli2 commented on #779
Great Work！It's expected to be released on what date？

[2020-06-02 06:19] Malathi15 commented on #782
Hi @dr563105
I am using Ubuntu 18.04.
1) I have downloaded the Simulator from this link https://github.com/lgsvl/simulator/releases/tag/2020.03
2) After that in terminal I have run the following commands
sudo apt install libvulkan1
sudo chmod a+x ./simulator
./simulator
After that I have open the browser and select the vehicle and map. When I have run the simulator there is no output disply( Pleas

[2020-06-02 07:12] dr563105 commented on #782
Hey @Malathi15 !

Is this first time using the LGSVL simulator? If so you should see a few simulation setup already present. Like so with Valid status(ignore ROS2 Lane Following)
![Screenshot from 2020-06-02 09-02-55](https://user-images.githubusercontent.com/12048684/83490329-7b2cb580-a4cd-11ea-978c-dba647113744.png)

Did you modify them?

You don't need to select vehicle or map. Just go to Simul

[2020-06-02 07:36] DmitryRedin commented on #782
@dr563105 , @EricBoiseLGSVL , thank you for answers.

[2020-06-02 07:52] DmitryRedin opened #783 "About HD map"
Hello, i have some questions about HD map.
1. What information do hd maps store?
Vector map(information about lane, traffic light, stopline, etc.)
Point Cloud Data (x,y,z data)
Aerial photo from drone or plane(raster data and georeference)
Mesh( textured terrain model)
2. I have to upload HD map to your server to run the simulation or I can store data on the local machine?

[2020-06-02 08:25] ntutangyun opened #784 "[QUESTION] canbus message header timestamp"
Hi team,

I'm currently trying the Apollo 5.5 master branch with LGSVL and I noticed that the timestamp in CANBUS message's header is not matched with other sensors messages as shown in the screenshot below.
![canbus_timestamp_mismatch](https://user-images.githubusercontent.com/16061105/83497181-aecb0800-a4ec-11ea-92b3-1b17665ded13.png)

And I noticed that in the `Scripts/Api/Bridge/Cyber/CyberCon

[2020-06-02 08:32] ntutangyun commented on #783
hi @DmitryRedin
1. basically you can store anything that you believe helpful for your autonomous driving functions in the HD maps.
You could checkout [openDRIVE](https://www.asam.net/standards/detail/opendrive/) as an example.

2. You could run the simulation locally by downloading the [latest build](https://github.com/lgsvl/simulator/releases/tag/2020.03) of the LGSVL Simulator.

[2020-06-02 09:36] bage131 commented on #723
I got it.Thank you very much.

[2020-06-02 16:51] rongguodong commented on #778
OK. Here you are:
[CameraSensorBase.zip](https://github.com/lgsvl/simulator/files/4718565/CameraSensorBase.zip)

[2020-06-02 17:02] AlexandrZabolotny opened #785 "Install Unity 2019.3.3f1 on Ubuntu 16.04"
Hello, i try to install Unity Editor in Unity Hub, but i can not select Unity 2019.3.3f.
Can i install latest version of Unity? How can i install Unity 2019.3.3f?

[2020-06-02 17:30] rongguodong commented on #785
Can you try Step 2 [here](https://www.lgsvlsimulator.com/docs/build-instructions/)?

[2020-06-02 17:33] rongguodong commented on #784
measurement_time is basically convert the time into GPS Epoch time. However, setting timestamp_sec using as GPS time seems to be a bug. We will investigate on it soon. Thanks for pointing out that!

[2020-06-03 01:11] gyp199009 commented on #776
I got what you meant, thank you!
But actually I want to have the traffic light in the simulator represent the real one in real world (means that the traffic light in simulator should recieve signals sent by the physical world in real-time) , is this possible?

[2020-06-03 02:31] ntutangyun commented on #776
@gyp199009, Of course, it's possible. You may need some code to receive the signal status from the real world, and pass this data to the `signal.control()`.

[2020-06-03 02:36] ntutangyun commented on #785
Try this:
1. open a new terminal
2. `/path/to/UnityHub.AppImage unityhub://2019.3.3f1/7ceaae5f7503`

[2020-06-03 04:32] lemketron commented on #785
It should be possible to just click the 2019.3.3f1 button in the browser and have the UnityHub launch automatically but it’s not; apparently that’s a known issue with UnityHub on Linux.

To help users in the future, I’ve updated the documentation to make this more clear by including the actual command line text that works.

Sorry for the inconvenience. (I ran into this same issue myself!)

[2020-06-03 09:52] saruvora opened #786 "Cannot find borregasAve in unity hub"
Hi, I have finished till step 11 from this [link](https://www.lgsvlsimulator.com/docs/build-instructions/) But I am not able to find borregasAve in unity hub. I am using ubuntu 16.04.
I have a few more questions(I am a beginner for unity and docker):
1. what do I need to install to get access to create my own maps and get position of the vehicles?
(even for windows what do I need to install for th

[2020-06-03 10:13] AlexandrZabolotny commented on #785
@ntutangyun, thank you

[2020-06-03 10:25] AlexandrZabolotny opened #787 "Add project to Unity Hub"
Hello, i try to add project(branch master from git) to Unity Hub (step 7 from docs), but after this step i can not see any project in Hub. I use Ubuntu 16.04.
![Screenshot from 2020-06-03 13-18-09](https://user-images.githubusercontent.com/61351599/83625851-42f4a800-a59d-11ea-8a70-8c0c4e4cd2f5.png)

See next screenshot (after click button OK)
![Screenshot from 2020-06-03 13-24-44](https://user-ima

[2020-06-03 13:36] dr563105 commented on #786
Hey!
If I'm not wrong BorregasAve must be loaded as an asset -- https://www.lgsvlsimulator.com/docs/assets/#adding-an-asset and https://content.lgsvlsimulator.com/maps/borregasave/ before you can see it in Unity. Have you done this already?

To answer your questions -
1. To create maps you can see these instructions -- https://www.lgsvlsimulator.com/docs/map-annotation/
To get vehicle's position -

[2020-06-03 14:47] AlexandrZabolotny commented on #787
I solved my problem, i created new empty 3D project, then i can add simulator project.

[2020-06-03 15:11] #787 closed

[2020-06-03 17:16] EricBoiseLGSVL commented on #786
@saruvora Hello and welcome to LG SVL Simulator.

1.  To find borregas ave and all other assets we provide as open source, please look at number 14 of the guide.  [Here](https://www.lgsvlsimulator.com/docs/assets/) is the link to the guide for adding assets.
2. [Here](https://www.lgsvlsimulator.com/docs/map-annotation/) is the link for map annotation.  You can create, import and export hd maps in

[2020-06-03 17:17] #785 closed

[2020-06-04 08:06] AlexandrZabolotny opened #788 "Shader Error, during unity project build"
Hello!
Step 20 from [documentation](https://www.lgsvlsimulator.com/docs/build-instructions/).
We check Environments, Vehicles, choose folder, then click build button, then we get error in console

_Shader error in 'DiffuseDenoiser.compute': failed to open source file: 'Packages/com.unity.render-pipelines.high-definition/Runtime/RenderPipeline/Raytracing/HDRayTracingManager.cs.hlsl' at kernel Bilat

[2020-06-04 08:23] saruvora commented on #786
Great thank you to both of you :) and also for such a quick response. The asset part worked. Will see some videos before proceeding
Thank you

[2020-06-04 10:44] kuku-miku commented on #259
Hi @EricBoiseLGSVL, Do we have any progress on lane segmentation using LGSVL? is it implemented?
Thanks,

[2020-06-04 15:39] AlexandrZabolotny opened #789 "Load Autoware Format"
Can i load to scene HD map in Autoware csv format?

[2020-06-04 15:54] #786 closed

[2020-06-04 15:59] EricBoiseLGSVL commented on #259
@kuku-miku We don't support this on current open source maps but if you need to implement, create meshes for the lanes and set above the road.  They just need an alpha level of 0 in the material and a tag set for segmentation.  No need for collider.  If you want a new color, just add in SimulatorManager.prefab in editor.  Then make a new tag and assign.

[2020-06-04 16:22] EricBoiseLGSVL commented on #789
@AlexandrZabolotny We support Lanelet2 and OpenDRIVE HD map import.  Is this what you mean?

[2020-06-04 17:15] luqiang21 commented on #789
@AlexandrZabolotny Since Autoware is changing to use Lanelet2 map format, so we implemented importer and exporter for Lanelet2. If you are asking about previous Autoware Vector Map, our simulator only support exporting it.

[2020-06-04 17:39] dr563105 commented on #769
No luck @EricBoiseLGSVL. Still the same result. We discussed this and we feel somehow the CPU gets priority over GPU when Sim starts.
Do you know if I can run the Sim in a docker? Then we can confirm the problem is with NVIDIA driver and not the Sim.
Also it would be great to a system config of one of your working PCs to cross-check, install all the similar drivers afresh and see if it works. Can

[2020-06-04 22:30] ananas-jpg commented on #778
@rongguodong Thank you very much. If you sent me the correct code, then the problem is clearly not in it. I use the PythonAPI to run It, but maybe I'm wrong ? Should I need to use `CubemapSize` and `Xi` ? Attached my camera setting in JSON.
`{"type": "Color Camera", "name": "Main Camera",
            "params": {"Width":  1920, "Height": 1080, "Frequency": 15, "JpegQuality": 75, "FieldOfView": 50,

[2020-06-04 23:12] rongguodong commented on #778
What do you mean by "result still doesn't match"?
In this hack, you do not need to set CubemapSize and Xi in JSON.

[2020-06-05 00:12] ananas-jpg commented on #778
@rongguodong I mean the picture I got on main camera doesn't match picture you sent

[2020-06-05 01:31] rongguodong commented on #778
Can you post what you get?

[2020-06-05 06:27] AlexandrZabolotny commented on #783
@EricBoiseLGSVL , editor gizmos is active

![image](https://user-images.githubusercontent.com/61351599/83843598-03010280-a70e-11ea-863c-1bd3ac6bb740.png)

I load point cloud and i try to create lane linked to point cloud. But i do not see any waypoint. I am following documentation.

![image](https://user-images.githubusercontent.com/61351599/83843831-7dca1d80-a70e-11ea-8093-11b74e2d4b62.png)

I us

[2020-06-05 06:31] AlexandrZabolotny commented on #789
@EricBoiseLGSVL, yes, thank you

[2020-06-05 06:36] AlexandrZabolotny commented on #788
@EricBoiseLGSVL,
Ubuntu 16.04
How can i check what i am using(Vulcan or OpenGL)?
![image](https://user-images.githubusercontent.com/61351599/83844389-8ff88b80-a70f-11ea-8139-2b666a854cba.png)

Simulator release 2020.03

![image](https://user-images.githubusercontent.com/61351599/83844427-a30b5b80-a70f-11ea-8536-f34089bb5fee.png)

How can i check d3d11 support?

[2020-06-05 07:13] AlexandrZabolotny opened #790 "Sensors"
Hello!
How can i get and build lidar, radar, camera and GPS?

![image](https://user-images.githubusercontent.com/61351599/83847544-1bc0e680-a715-11ea-8c65-519567c5a1ab.png)

[2020-06-05 08:05] lemketron commented on #788
You can search for "Vulcan" in `.config/unity3d/LG Silicon Valley Lab/LGSVL Simulator/Player.log`.

You should see something like the following:
[code]

That's a Windows thing but will indicate whether your GPU has the needed hardware support; knowing which GPU you have would be helpful -- and that should appear as the Vulkan renderer in Player.log as noted above.

[2020-06-05 08:43] AlexandrZabolotny commented on #788
@lemketron,
[code]
Vulkan driverversion=[0x6895c040] uint=[1754644544]
Vulkan PSO: cache data not found [path=/tmp/LG Silicon Valley Lab/LGSVL Simulator/vulkan_pso_cache.bin]

[2020-06-05 08:52] ntutangyun commented on #790
You can check out the codes for those sensors at `Assets/Scripts/Sensors/`.

Customized sensors placed at `Assets/External/Sensors` will be listed in the **Sensors** section in your screenshot. Check out docs [here](https://www.lgsvlsimulator.com/docs/sensor-plugins/)

[2020-06-05 12:24] ananas-jpg commented on #778
@rongguodong
![Снимок экрана (163)](https://user-images.githubusercontent.com/66186329/83875690-38264880-a740-11ea-95bf-eb274f108a81.png)
How I call It
`import lgsvl
sim = lgsvl.Simulator(address = "localhost", port = 8181)
sim.load(scene = "SingleLaneRoad")
ego = sim.add_agent(name = "Lincoln2017MKZ (Apollo 5.0)", \
agent_type = lgsvl.AgentType.EGO, state = None)
sim.run()`
Looks like not all par

[2020-06-05 13:58] DmitryRedin opened #791 "Creating of new HD Map"
Hello.
I use Windows 10.
I try to create lane, but i can not create waypoint.
Please see video https://drive.google.com/file/d/1Br998Ax6u79S1Nyt8ZCBqKQCMDb6heQd/view?usp=sharing

[2020-06-05 15:46] osholsonel20 opened #792 "Livox Lidar / Custom Lidar Patterns [Question]"
Hey LGSVL just had a question in regards to modifying how the lidar creates a point cloud. Is there any effort in trying to recreate a Livox Lidar scan or a custom Lidar Scan? Otherwise I can always try and recreate it in my own sensor and leverage the Lidar Sensor script for the GPU async hand off optimization portion of it. Any tips or directions would be great!

https://www.livoxtech.com/mid-40

[2020-06-05 16:11] rongguodong commented on #790
This build dialogue only lists "Sensor Plugins". Those you mentioned are build-in sensors which are built with the simulator itself.

[2020-06-05 16:19] rongguodong commented on #792
We do not support Livox Lidar now. However, the [Lidar Sensor Plugin](https://www.lgsvlsimulator.com/docs/lidar-plugin/) is there for users to create their own Lidar sensors matching their specific Lidar models. We have examples of Lidar Sensor Plugin for Velodyne VLP-16, VLP-32C, and VLS-128. You can refer to them and create Livox Lidar (and contribute here if possible).

[2020-06-05 16:22] rongguodong commented on #778
@ananas-jpg You are not using Fisheye. To use Fisheye, you need both `Distorted` and `Fisheye` to be `true`. Please add `Distorted` in your JSON and try again.

[2020-06-05 16:25] EricBoiseLGSVL commented on #790
@AlexandrZabolotny @ntutangyun and @rongguodong are right.  There are two types of sensors in the simulator.

1) Built-in sensors that we provide with the source code, e.g., LiDAR, GPS, etc..  These are in Assets/Scripts/Sensors, Assets/Prefabs/Sensor and finally added to Assets/Resources/RuntimeSettings in SensorPrefabs Array. You can directly edit or duplicate these sensors to your needs. *NOTE*

[2020-06-05 16:54] EricBoiseLGSVL commented on #769
@dr563105 Yes, you can run sim in docker, we are working on making it easier currently.  Sure, I see if I can get one of our Linux users to send me a system config.

[2020-06-05 17:25] EricBoiseLGSVL commented on #791
@DmitryRedin Be sure to turn on gizmos in Scene View Panel, or you won't see the annotation objects that are created.  You also are not parenting the annotation correctly in the MapHolder object.  You need to place LaneSections as a child object under MapZuzino (This should be capitalized btw).  You also need to be closer to the ground collider to see the annotation gizmos, they are not large.  He

[2020-06-05 17:26] osholsonel20 commented on #792
Sounds good! Thanks for the heads up.

[2020-06-05 17:35] EricBoiseLGSVL commented on #783
Have you created the mesh collider?  Also, to turn on gizmos, please click the button, not the drop down.
Also, you need to show the Hierarchy Panel when taking screen shots or we have no idea how the scene is setup.  We don't need the Annotation panel open.

Here is another issue that I made some screen shots to help #791

[2020-06-05 17:41] #789 closed

[2020-06-05 18:01] ananas-jpg commented on #778
@rongguodong
![Снимок экрана (165)](https://user-images.githubusercontent.com/66186329/83907896-d4ffda80-a76e-11ea-9074-df124d2872a3.png)
 it hates me:)

[2020-06-05 18:08] rongguodong commented on #778
@ananas-jpg Can you tell more details on how did you use my hack code? Did you do the following?
* Clone latest source code
* Replace CameraSensorBase.cs with my hack
* Run in Editor in API mode
* Run your Python script

[2020-06-05 19:56] martins-mozeiko commented on #769
Instructions for running in Docker are available in [Docker](https://github.com/lgsvl/simulator/tree/master/Docker) folder.

[2020-06-05 23:06] ananas-jpg commented on #778
@rongguodong I downloaded the new release (2020.05) and modify the CameraSensorBase.cs. It works thank you !

[2020-06-06 00:00] ananas-jpg commented on #778
@rongguodong Is it possible to drive/control a vehicle using API?
 San Francisco doesn't work well.
![Снимок экрана (166)](https://user-images.githubusercontent.com/66186329/83930745-c54db980-a7a1-11ea-910e-36586fb525db.png)

[2020-06-06 05:27] Malathi15 opened #793 "Not able to use Vehicle Auto control"
Hi,
I have tried to create an Autonomous vehicle software based on Deep Reinforcement Learning.  I am using LGSVL Simulator for a research purpose.
I have downloaded LGSVL Simulator from this github page https://github.com/lgsvl/simulator also I have referred to this documentation https://www.lgsvlsimulator.com/docs/build-instructions/.
After Build LGSVL Simulator I need to run it in auto control

[2020-06-06 08:06] ntutangyun commented on #793
Hi, @Malathi15 I'm no expert here.

But if you're building an end-to-end solution, and if you want to use [ml-agents](https://github.com/Unity-Technologies/ml-agents), maybe you could refer to the codes at `Assets/Scripts/Api/Commands` on how to collect necessary **observations** (sensor data) and how to apply **actions** (controls) to the ego vehicle.

for your doubts:

1. if your solution is an

[2020-06-06 10:12] Malathi15 commented on #793
@ntutangyun Thank you so much for your reply.
I am new to LGSVL Simulator.
Can you please tell me how to change manual control to auto control?

Thanks
Malathi K

[2020-06-06 11:08] ntutangyun commented on #793
@Malathi15 could you be more specific on what types of auto control you're looking for?

Do you mean that the ego vehicle drives by itself?

[2020-06-06 11:27] Malathi15 commented on #793
I need the host vehicle drives by itself (based on the condition we have). Is it possible?

[2020-06-06 11:33] ntutangyun commented on #793
@Malathi15 I don't understand your problem here. If the host vehicle could drive by itself, then what do you use reinforcement learning for, and how do you plan to train the network?

[2020-06-06 11:52] Malathi15 commented on #793
@ntutangyun
In ML-Agent, we need to change brain type to VehicleBrain so that the host vehicle run automatically while training.
In LGSVL also have those type of control changes for training? (I am new to lgsvl simulator environment).

Thanks
Malathi K

[2020-06-06 12:03] ntutangyun commented on #793
@Malathi15 I'm not aware of such type of control change in LGSVL.

Maybe the team could help out @EricBoiseLGSVL

[2020-06-06 13:31] guruvishnuvardan commented on #793
Hi @ntutangyun,

I am Guru from @Malathi15s Team.

Answering the following question:

aren't you using deep networks to output control signals?

Answer:

Yes, We are using RL, Based on observations (sensor data), the vehicle need to pick the autonomous actions (controls) like **Accelarate, Decelerate,Turn Right / Left, Reverse, Brake** during RL training and Reinforcement Learning Training will de

[2020-06-06 14:37] ntutangyun commented on #793
Hi, @guruvishnuvardan I haven't tried ML-agents on LGSVL yet. But it should be possible. you may checkout the scripts under `Assets/Scripts/Api/Commands` to see how to get those sensor data you need and apply RL output to control the ego vehicle.

[2020-06-06 14:58] dr563105 commented on #793
I'm also not an expert. I will try to answer some of your questions based on my experience.
Since you want a vehicle drive automatically, you would need to use [PythonAPI](https://www.lgsvlsimulator.com/docs/python-api/). You program it how you want to drive. There are examples available to get you started. You then, need to add sensors as needed.

For RL there is a doc. This may be a bit outdated

[2020-06-06 15:23] eniseiskaya opened #794 "Is it real to control venicle on Windows by API?"
Hello
 Is it real to control venicle on Windows by API? I need to launch from unity and control the vehicle.

[2020-06-06 18:05] rongguodong commented on #793
I think you need an AV stack (e.g. Apollo, Autoware, or your own algorithms) to control the ego car. The simulator just simulate the environment, sensors, cars, etc. There is no AV algorithm in the simulator.
You can treat the simulator as it gives you a virtual environment and virtual car equipped with lots of sensors. But you need to provide AV software to it (or manually drive the car).

[2020-06-06 19:57] Eolion opened #795 "White screen whith LGSVL simulator"
Hello, I'm currently discovering the software and I want to install it with apollo5.0. To be able to launch the apollo docker I must have the nvidia 440 driver because with the 390 it doesn't work. My problem is that :  with this driver when I launch a simulation with LGSVL the screen displays the environment during one frame and becomes completely white.
Do you have any solution ?

[2020-06-07 02:39] ntutangyun commented on #794
yes it's possible. Please check out the docs on [Python API](https://www.lgsvlsimulator.com/docs/python-api/)

[2020-06-07 07:56] dr563105 commented on #769
Thanks @martins-mozeiko . I tried it once, the problem still persists. We will continue to investigate further.

[2020-06-07 16:26] eniseiskaya commented on #794
@ntutangyun For some reason, the example from the documentation did not work. I redid it and now it seems to be running. Thank you.
 Have you ever had such a bug? Is it possible to move the vehicle higher?
![Скриншот 07-06-2020 18_37_48](https://user-images.githubusercontent.com/55806370/83974200-38674500-a8f4-11ea-975c-011ca700114c.png)

[2020-06-08 02:26] ntutangyun commented on #794
@eniseiskaya you could try setting the `z` in `AgentState` to a higher value when spawning the ego vehicle.

[2020-06-08 11:59] #795 closed

[2020-06-08 15:04] DmitryRedin commented on #791
@EricBoiseLGSVL, thank you.
I do not understand last action: _**Be sure to create a prefab of the map annotation and save in the correct places in the Assets/External/Environments/Zuzino folders. Also be sure the top level parent holders Intersections and Lane Sections are set in MapHolder.cs references.**_
I can not export HD map. I see error: **_ArgumentNullException: Value cannot be null.
Param

[2020-06-08 16:37] EricBoiseLGSVL commented on #791
@DmitryRedin I see that at 01:00 you drag the map annotation holders out of MapHolder parent.  This is wrong.  You rename the MapHolder object to Map[YourMapName] and create annotation as children of these holder objects.  If you save your scene and open the annotation tool, you can just click create Mapholder and it will do this automatically for you and delete the initial generated one.

Lanes a

[2020-06-08 16:47] EricBoiseLGSVL commented on #793
@Malathi15 @guruvishnuvardan You could extend the VehicleSMI class to follow the HD map.  You would need to look at NPCController.cs and FollowLanes code that NPCs use to follow lanes. This could be adapted into a controller for the EGO that would use Python API data for control and decisions.  Like @rongguodong and @dr563105 has already stated, this is possible but will require a good amount of w

[2020-06-08 16:51] EricBoiseLGSVL commented on #778
@ananas-jpg This looks like the simulator environmental effects shader is not compiled.  With any updates to lgsvl simulator, I recommend deleting the Library folder in your root project so Unity can re-compile shader graphs.  Also, be sure that screen shots shows the errors that you see in the Console panel or post the player log.  This will help to solve the issues that you may have.

[2020-06-08 16:53] EricBoiseLGSVL commented on #794
@eniseiskaya Please see #778

[2020-06-08 16:57] EricBoiseLGSVL commented on #788
@AlexandrZabolotny That looks fine.  Did you delete the Library folder and re-compile shader code?

[2020-06-08 17:16] guruvishnuvardan commented on #793
Thanks @EricBoiseLGSVL, @rongguodong , @dr563105 , @ntutangyun.

We will work on the suggestions and get back to you, As we are in the process of understanding LGSVL Simulator, Vehicles, Sensors, OpenAI and RL.

Regards
Guru

[2020-06-08 19:27] ananas-jpg commented on #778
@EricBoiseLGSVL another question. where can I find a file with information about the position of the vehicle and how can I record it?

[2020-06-08 20:55] rongguodong commented on #778
If you mean the position of the ego car, you can find it in GpsSensor or ImuSensor.

[2020-06-09 00:14] yumianhuli2 commented on #504
Hi！Has this bug been fixed？

[2020-06-09 03:18] EricBoiseLGSVL commented on #504
@yumianhuli2 We have released 2020.05 and it should fix GPU read back errors on Linux.  Please let us know if you still have issues.  Are you able to run a simulation?

[2020-06-09 14:59] osholsonel20 opened #796 "Changing Horizontal FOV with a non-rotating Lidar Sensor"
Hey LGSVL, I'm slowly working through the Lidar code, and I've got the rotation to stop, but when I try and change the HorizontalAngleLimit to a specific Angle that I want, it just breaks the whole thing and nothing outputs. Have any tips on navigating this code base? Basically, I'm trying to get a sensor that still does the rings that velodyne does, but in a targeted angle without rotation.

[2020-06-09 16:19] DmitryRedin commented on #791
@EricBoiseLGSVL, thank you.
_**If you save your scene and open the annotation tool, you can just click create Mapholder and it will do this automatically for you and delete the initial generated one.**_

Where is "create Mapholder" button? I do not see this button in Annotation HD Map dialog.
============================================================

Sometimes i can not create HD Map, button Cr

[2020-06-09 16:58] rongguodong commented on #796
@osholsonel20 Can you explain more details about what you are trying to do?
Why do you get the rotation stop? Do you want to simulate directional Lidar? Even for directional Lidar, it can still be implemented in the similar way by rotating the camera with a small FOV to cover its (directional) field of view.

The variable `HorizontalAngleLimit` defines the FOV of the camera. We calculate the angle

[2020-06-09 17:07] osholsonel20 commented on #796
Yeah, so basically as you've seen before I'm trying to create the Livox Lidar. Based on some analysis i've figured out they are creating "sine" wave like patterns. My first thought was to retro fit the velodyne ring pattern, inside a specific area. As the Livox Lidar is not 360, I was going to filter it to a targeted angle, still with the ring pattern and go from there. Livox Lidar is 81.7 Horizon

[2020-06-09 17:20] rongguodong commented on #796
Even with limited horizontal FOV (81.7 not 360), does it still scan this angle one column by one column? If so, our current implementation is still valid for this.

[2020-06-09 17:32] osholsonel20 commented on #796
Kind of, I was breaking apart a bag file step by step, it has 12,000 points in one frame. Then the next frame it creates another 12,000 points on the opposite side to form a "full pointcloud". In one second of data it generates 240,000 points. Within these 12,000 points I've found 12 "sets" of 1000 points that contain either the top of the sine wave or the bottom. It's a really weird pattern and I

[2020-06-09 17:45] rongguodong commented on #796
Velodyne has a document explaining all details of how every point is generated. Without a document from the manufacture, we cannot simulate in the correct way. :)
Maybe you can contact Livox asking for similar document.

[2020-06-09 17:48] #790 closed

[2020-06-09 17:50] osholsonel20 commented on #796
Sounds good, yeah I guess it's back to the reverse engineer drawing board, I'll have to do some mapping of output values and find some commonality between these infinity symbols it's drawing. Thanks for the help!

[2020-06-09 17:51] #782 closed

[2020-06-09 17:52] #774 closed

[2020-06-09 17:52] #772 closed

[2020-06-09 19:43] zqzqz opened #797 "Measurement time is delayed"
## Environment

[2020-06-09 20:52] rongguodong commented on #797
We are aware of this issue and are talking to Apollo to see if we can find a good solution. You may reply to this Apollo issue for any suggestions:
https://github.com/ApolloAuto/apollo/issues/11317

[2020-06-09 21:11] zqzqz commented on #797
Got it. Thanks for your quick reply!

[2020-06-10 04:06] Malathi15 opened #798 "AttributeError: 'LgsvlEnv' object has no attribute 'camera'"
Hi,
I have tried to execute gym-lgsvl following this guide https://github.com/lgsvl/gym-lgsvl.
When I have execute the following command
`python -m baselines.run --alg=a2c --env=gym_lgsvl:lgsvl-v0 --num_timesteps=1e5`
 I got an Attribute Error
`AttributeError: 'LgsvlEnv' object has no attribute 'camera'`
(check the screenshot)
![Day8_4](https://user-images.githubusercontent.com/46995564/84225425-b

[2020-06-10 04:55] eyadshak commented on #791
The option to create a map holder does not appear for me if there is a holder already in the scene, it only appears if I delete the default holder.

Regarding the "Create Lane Section", I am also facing this issue. No object gets created in the scene hierarchy tab when I click on create lane section or intersection.

[2020-06-10 09:35] yumianhuli2 commented on #504
Thank you！I will try ！

[2020-06-10 12:20] xiao-hua-sheng opened #799 "Unable to start simulator"
My Ubuntu 18.04 is a new system just installed. Double click "Simulator" and there is no response.
Simulator version:lgsvlsimulator-linux64-2020.05
Execute the command:./simulator
Set current directory to /home/yons/lgsvl/lgsvlsimulator-linux64-2020.05
Found path: /home/yons/lgsvl/lgsvlsimulator-linux64-2020.05/simulator

[2020-06-10 12:52] #799 closed, assigned to nobody

[2020-06-11 01:05] EricBoiseLGSVL commented on #791
@DmitryRedin Try this, delete the MapHolder object.  Then in the annotation tool it should have create map holder button on the top.  You won't see this button unless a map holder is missing from the scene.

The reason you are not getting a lane section is because the ray casting to the collider is not working.  I'm not sure why this is happening.  Can you run the simulation and have a vehicle sit

[2020-06-11 01:29] chen1qy opened #800 "Problem about building and running from source"
Hi, I have some problem when building from source.
![Kazam_screenshot_00000](https://user-images.githubusercontent.com/41505923/84334002-d7759080-abc3-11ea-8bee-6bf7edef6eb3.png)

And the simulator doesn't work:
![Kazam_screenshot_00003](https://user-images.githubusercontent.com/41505923/84334190-579bf600-abc4-11ea-9dd7-5e640d1e322c.png)

the OS is Ubuntu16.04, and the project shows as
![Kazam_scr

[2020-06-11 01:38] chen1qy commented on #800
Is the Unity ok?
![Kazam_screenshot_00005](https://user-images.githubusercontent.com/41505923/84335173-da25b500-abc6-11ea-9ff8-1fb99713663c.png)

[2020-06-11 03:35] EricBoiseLGSVL commented on #800
@chen1qy First off you only need Linux and Windows Support.  No WebGL and no need for documentation.  Check is fine, it is more for internal development anyway.
You need to post player log so we can see errors.  Also, what environment are you trying to build?

[2020-06-11 06:59] xiao-hua-sheng opened #801 "AttributeError: 'EgoVehicle' object has no attribute 'on_comllision'"
This problem occurs in the process of reinforcement learning.

Traceback (most recent call last):
  File "./random_agent.py", line 15, in <module>
    observation, reward, done, info = env.step(action)
  File "/home/yons/anaconda3/envs/RL_LGSVL/lib/python3.6/site-packages/gym/wrappers/time_limit.py", line 16, in step
    observation, reward, done, info = self.env.step(action)
  File "/home/yons/Pr

[2020-06-11 07:15] ntutangyun commented on #801
looks like a typo:
it should be `on_collision` I guess

[2020-06-11 07:25] xiao-hua-sheng commented on #801
This is an official document. I haven't revised it. Change to "on"_ Collision "is the same mistake

[2020-06-11 08:24] daviduhm commented on #798
@hadiTab can you look into this?

[2020-06-11 08:55] #801 closed

[2020-06-11 11:47] chen1qy commented on #800
I choose the SanFrancisco and Jaguar2015XE to play the simulator. The environment built is as follows:
![Kazam_screenshot_00001](https://user-images.githubusercontent.com/41505923/84381919-526a9580-ac1c-11ea-9bd6-8f193f0255b4.png)

Sorry, I don't find the player log. Maybe I should learn about unity first.

[2020-06-11 15:18] ozguradas commented on #733
Hello All, as we talked before, we couldn't reach the goal steering on lgsvl. Now we understood some of the unit/ ratio differences between lgsvl and autoware. When we control the lgsvl via autoware ai it sub. vehicle_cmd which sends angular z. When we first checked the difference between vehicle_cmd and twist_raw's angular z we saw 1/2 ratio between them. We couldn't change it via VehicleControlS

[2020-06-11 16:56] EricBoiseLGSVL commented on #800
@chen1qy Ok, thanks.  Yes, player log from binary or editor can be found from every run and is very helpful to find errors or issues.  Still, I think the issue you have is not installing git LFS before you cloned the scenes.  Please use git lfs install (download if you haven't first), if you have downloaded it then git lfs pull.  You should be able to see the files are textures/meshes etc not text

[2020-06-11 17:09] EricBoiseLGSVL commented on #791
@daviduhm Is there any settings in collider generation that would help?

[2020-06-11 17:32] dr563105 commented on #698
@EricBoiseLGSVL @daviduhm do the changes mentioned here -- https://github.com/lgsvl/simulator/issues/698#issuecomment-623810249 integrated to the latest sim? I'd like to add the sensor and do some work on it.

[2020-06-11 18:13] tgif73 opened #802 "CANBus on ROS"
Hello,
I've seen this question being asked multiple times and looks like canbus message is not supported in ros message format. Do you have any plan to publish canbus message in ros? If not, can you share how we can publish canbus message in ros msg format so I can subscribe to the message without installing Apollo.

Thanks

[2020-06-11 18:32] dr563105 commented on #802
Hey!

I'm not sure if my answer is right.

I think you need to go in the direction of creating custom sensor plugins. You can [this ](https://github.com/lgsvl/LaneFollowingSensor)and [this](https://github.com/lgsvl/ComfortSensor) to get started. And use [this](https://www.lgsvlsimulator.com/docs/sensor-plugins/) to build your Unity project.

Hope this helps.

[2020-06-11 19:11] martins-mozeiko commented on #802
Right, adding custom sensor plugin for your needs is correct way to go if you want to maintain this sensor functionality outside of simulator code.

Alternative is to edit simulator existing code to add support for publishing CanBusData type to ROS environment, not just Apollo. Then you could submit pull request for us to include it main repository. The relevant code is here: https://github.com/lg

[2020-06-11 21:17] tgif73 commented on #802
Thank you @dr563105 @martins-mozeiko .

[2020-06-11 23:01] luqiang21 commented on #218
Hi @madhurbehl,
we recently published paper of the simulator [LGSVL Simulator: A High Fidelity Simulator for Autonomous Driving](https://arxiv.org/abs/2005.03778), it will be presented at 2020 ITSC. Feel free to cite it.

[2020-06-12 01:25] #757 closed

[2020-06-12 01:30] chen1qy commented on #800
Thanks very much for your reply. I will try it.

[2020-06-12 10:21] daviduhm commented on #698
@dr563105 Yes, those issues were fixed on the latest master as well as 2020.05 release branch.

[2020-06-12 10:29] SeymurSm opened #803 "Multiple Lidar data collection synchronization"
Hi All,
We are using 4 lidars on ego vehicle. To collect data by using PythonAPI I have use 4 different threads to collect each lidar data. The problem is there is no synchronization between output data and it is being a problem when we try to merge data of lidars on a single point cloud. This difference diverges 100 , 150 ms on some lidars. I think it is because of both capture and save latency.

[2020-06-12 15:54] rongguodong commented on #803
Currently we do not have any synchronization between sensors -- each Lidar sensor generates and publish points independently. If you use [Velodyne Lidar Sensor](https://www.lgsvlsimulator.com/docs/lidar-plugin/#velodyne-lidar-sensor-plugins), you will have timestamp for every point, which may be used to match points from different Lidar sensors.

[2020-06-12 16:56] EricBoiseLGSVL commented on #803
@SeymurSm It would be better to process the point cloud data from timestamps after collection like @rongguodong posted.  Velodyne Lidar Sensor would be best for this

[2020-06-13 01:59] AIasd opened #804 "Bridge seems to not work when running latest Apollo with LGSVL Simulator"
Hi,
I follow [the document on the LGSVL website](https://www.lgsvlsimulator.com/docs/apollo-master-instructions/) about Running latest Apollo with LGSVL Simulator. Everything seems to go well until when I come to the step of running `./scripts/bootstrap_lgsvl.sh`, It says `could not launch module monitor` (see the screenshot below). Despite this, I follow the rest of the instructions but it seems

[2020-06-13 02:38] ntutangyun commented on #804
you could try to launch the monitor separately in a terminal

[code]

and see if you could run the `monitor` manually without errors.

[2020-06-13 03:22] AIasd commented on #804
@ntutangyun I encountered the following error after manually launching the monitor separately in a terminal:
[code]

[2020-06-13 03:32] ntutangyun commented on #804
@AIasd have you successfully built everything with `bash apollo.sh build_gpu`?

[2020-06-13 03:39] lemketron commented on #804
It sounds like apollo is not built yet. But as an aside I would recommend building with `bash apollo.sh build_opt_gpu` since that will build optimized code that should perform better. I recently updated the LGSVL documentation to suggest this instead of "build_gpu".

[2020-06-13 03:49] AIasd commented on #804
Hi @ntutangyun and @lemketron ,
I actually built apollo with "Build passed". The following is the full log of building apollo, running it and running monitor separately.
[code]

[2020-06-13 04:16] rongguodong commented on #804
I got exactly same errors after pulled latest master. It seems nothing related to LGSVL. Can you just run normal bootstrap.sh? If not, please create an Apollo issue.

BTW: I tried manually append "/apollo/bazin-bin/cyber" to $PATH, and then I can run bootstrap and launch modules.

[2020-06-13 04:32] lemketron commented on #804
Strange, my (slightly out of date) apollo-master build has /apollo/bazel-bin/cyber in the $PATH; I'm curious why that wouldn't be getting added into $PATH in newer builds?

[2020-06-13 05:04] lemketron commented on #804
Try checking out https://github.com/ApolloAuto/apollo/commit/99135e093eed40957ca57e5e3dfc61e8494da5d5 (currently just two changes from tip of master) as this looks like it was broke in a very recent change.

[2020-06-13 05:32] lemketron commented on #804
bootstrap_lgsvl.sh and bridge.sh both work fine at that (HEAD^^) change, btw: https://github.com/ApolloAuto/apollo/commit/99135e093eed40957ca57e5e3dfc61e8494da5d5

[2020-06-13 07:04] hadiTab commented on #798
@Malathi15 what version of the simulator are you using?

The gym-lgsvl code expects you to be using the `Lexus2016RXHybrid (Autoware)` vehicle. Can you check the JSON configuration for that vehicle and make sure that it has a camera?

[2020-06-13 17:47] dr563105 opened #805 "Unable to start docker container -- Unknown runtime specified nvidia error"
Hello!
Yesterday I was having issues making the training script use the GPU. I then proceeded to purge the cuda, its libraries and Nvida using these commands.
[code]
Then proceeded to install the nvidia drivers through
[code]
Then I did the CUDA toolkit and cuDNNs. However, in the middle some stuff didn't go well as expected and I started following several guides. Here I might have jumbled everyth

[2020-06-13 21:12] lemketron commented on #804
Apollo master should be fixed as of this change which resolves this PATH issue: https://github.com/ApolloAuto/apollo/pull/11458

[2020-06-13 21:12] #804 closed

[2020-06-14 19:33] dr563105 commented on #805
After retracing the steps and debugging at each step, I was able narrow down the error was indeed nvidia container docker. Then I had found that I had to install "Nvidia container-runtime"  and do some modification to the systemd file as mentioned in the description -- https://github.com/NVIDIA/nvidia-container-runtime#installation

[2020-06-14 19:33] #805 closed

[2020-06-15 03:13] kxhit commented on #146
Hi guys!
I have the similar question about the semantic point clouds generation. Could I obtain semantic point clouds from this simulator? Assign every lidar point (xyz) with a semantic label (e.g. car, building, road, vegetations) like [Semantic-KITTI ](http://semantic-kitti.org/) does.
Thanks a lot if anyone could give me some guidance.

[2020-06-15 04:52] rongguodong commented on #146
Semantic-segmented point cloud is not provided at this time. But as @martins-mozeiko pointed above, you can use the output of Lidar sensor and GroundTruth3DSensor to get segmented point cloud yourself.

[2020-06-15 07:30] SeymurSm commented on #803
Hi @EricBoiseLGSVL . I have changed some parts of simulator and PythonApi to collect merged lidar data at once. It is working but it is slow as expected. Below snapshot is from visualization of merged data.
![Screenshot from 2020-06-15 10-29-27](https://user-images.githubusercontent.com/8245619/84629536-263c6680-aef3-11ea-8263-0c3f896cab21.png)
.
Could you please share the link that @rongguodong

[2020-06-15 16:14] EricBoiseLGSVL commented on #146
@khaledelmadawi @kxhit We do not have plans to implement this feature right now but we will look to see if we can add to our roadmap.  We want to users to be able to leverage the simulator for uses outside of what we intended and this is a great example.  If you start a PR while we figure out how to allocate resources to this it will speed up development.

[2020-06-15 16:18] EricBoiseLGSVL commented on #803
@SeymurSm Yes, we are saying that it would be better to do this after a simulation has run.  We can't share the code at this time but I'll see if we can point you in the right direction

[2020-06-15 16:31] rongguodong commented on #146
@khaledelmadawi @kxhit Before we support segmented Lidar sensor, you may take a look into the source code of current Lidar sensor and segmented camera sensor, and combine them to have a segmented Lidar sensor. You are welcome to contribute it here. :)

[2020-06-16 11:57] DmitryRedin commented on #791
@EricBoiseLGSVL @daviduhm, I build colliders with the same parameters, at one time creating a lane section does not work, but sometimes it unexpectedly works.

[2020-06-16 15:12] earcz opened #806 "Is launching Autoware.ai with LGSVL instructions missing?"
Hi folks,
I have joined you for a few days ago.

There is a messy and unsufficient information about using autoware.ai and LGSVL together. I have followed the [instructions here](https://www.lgsvlsimulator.com/docs/autoware-instructions/#install-lgsvl-simulator) but could not achieve autonomous driving. Although I don't know anything about simulation of autoware in LGSVL, but I can feel that this

[2020-06-16 16:00] EricBoiseLGSVL commented on #791
@DmitryRedin Please post an image of the collider you are making from the point cloud and trying to annotate.  Also, please show in the inspector panel the settings for the selected collider.  I have a feeling that there is an issue with the data and collider creation.

[2020-06-16 16:16] EricBoiseLGSVL commented on #806
@earcz Welcome to the LGSVL Simulator.  We are always trying to improve our documentation on each release.  Is your issue running Autoware,ai, Unity or the simulator?  What do you mean, "complete settings".  Have you gone over the documentation for autoware.ai [here](https://gitlab.com/autowarefoundation/autoware.ai/autoware/-/wikis/home)?  I understand that this technology is not documented compl

[2020-06-16 16:29] #802 closed

[2020-06-16 16:48] earcz commented on #806
@EricBoiseLGSVL thanks for the quick reponse. Let me explain my questions in more detailed way.

I am struggling with running autonomous driving in simulator. I go over the documentation that you provided. I implemented instructions step-by-step in the documentation but I got never chance to see an autonomous driving in simulator.

I was trying to say that what will I set under the tab of Setup, M

[2020-06-16 17:06] EricBoiseLGSVL commented on #806
@earcz Thanks for the clarification, this is helpful for us and anyone that has the same issue.  I have also added @lemketron who is working through Autoware documentation currently.  Are you running release 2020.05 or master?

[2020-06-16 18:55] earcz commented on #806
Dear @EricBoiseLGSVL,

I downloaded `lgsvlsimulator-linux64-2020.05.zip`
 under `2020.05 release` from `https://github.com/lgsvl/simulator/releases/tag/2020.05 `

[2020-06-16 19:23] hadiTab commented on #806
@earcz I will look into this and get back with some better instructions. Thanks.

[2020-06-16 19:26] earcz commented on #806
@hadiTab Thanks, I will look forward to hear from you.

[2020-06-16 22:13] hadiTab commented on #806
Replying to this on the [ROS discourse](https://discourse.ros.org/t/is-launching-autoware-ai-with-lgsvl-instructions-missing/14812).

[2020-06-17 02:56] DanielChungYi opened #807 "why UI objects doesnt show up in unity"
Hi, can anyone tell me why my object in the scene looks like this?
![image](https://user-images.githubusercontent.com/31957705/84849708-80226500-b088-11ea-800a-b7810516eaaf.png)
The environment is download from LGSVL repository without any modification. I had change the mode to shaded mode but still can't see the UI object. Any solution? Thanks a lot!

[2020-06-17 09:12] yumianhuli2 commented on #504
OK，It works！

[2020-06-17 09:29] yumianhuli2 opened #808 "Web UI Vehicles For CyberRT"
Hi ! There is an example for ROS configuration by JSON on https://www.lgsvlsimulator.com/docs/vehicles-tab/#how-to-add-a-vehicle. For example, if I want to configure JSON for CyberRT and set it to autopilot mode, how could  I configure it?Thank U!

[2020-06-17 14:35] SungYinYang opened #809 "Bridge does not connect correctly."
Hi, I got a problem similar to #804.

My bridge did not connect correctly.
I have followed the latest tutorial and build Apollo successfully today.
My apollo did not connect in the following step.

Launch bridge (inside docker container):
./scripts/bridge.sh

I would need to add sudo in order to start my bridge.sh.
After adding that, there was no information print out from the terminal.
My dreamla

[2020-06-17 15:56] #504 closed

[2020-06-17 15:58] EricBoiseLGSVL commented on #809
@luqiang21 Any idea why this is happening?

[2020-06-17 16:16] EricBoiseLGSVL commented on #807
@DanielChungYi Hello.  There are quite a few issues with this.
- You have three scenes open at once.  You should have Loader and the environment scene.  Which one are you loading? DuckieDownTown or San Francisco?
- You have a Sedan mesh in the scene in San Francisco.  If this is static, it is fine but this is not how you add an EGO vehicle.
- You need to show the console log or player log so we ca

[2020-06-17 16:26] rongguodong commented on #809
Are you using our fork of Apollo 5.0 or latest Apollo master (5.5)?
If later, please select the correct setup mode "Mkz Lgsvl".

[2020-06-17 16:29] rongguodong commented on #809
From the screenshot of Dreamview, I believe you are using Apollo master, but with a wrong setup mode. :)

[2020-06-17 17:27] SungYinYang commented on #809
Thanks! I would try it out.

[2020-06-17 20:19] lemketron commented on #809
Here's a screen shot that demonstrates the proper settings for Dreamview when using apollo-master...
![apollo-master-dreamview](https://user-images.githubusercontent.com/96521/84945986-d6010800-b09c-11ea-816b-8482f4b1a5bc.png)

[2020-06-17 20:26] EricBoiseLGSVL commented on #808
@yumianhuli2 We have default vehicle configurations for simulator when you start the WebUI.  The Lincoln2017MKZ with Apollo 5.0

[2020-06-18 01:38] DanielChungYi commented on #807
@EricBoiseLGSVL Thanks a lot for replying.
I am using Intel i9 9900K with GeForce GTX 1660.
The version of simulator is the latest. What I'm trying to do is modify the scene I download from [here](https://github.com/lgsvl/SanFrancisco) to fit my experiment. Now I realize that the latest version of the simulator must be edited with HDRP assets. So the assets in [here](https://www.lgsvlsimulator.com

[2020-06-18 06:20] SungYinYang commented on #809
@lemketron @rongguodong Thanks for your clarification!
I am able to see my Dreamview when using apollo master.

However, after I click Submit ROUTE in Dreamview, the car in the LGSVL did not move.
Any help would be appreciated.

Here are some settings of my Dreamview.

Layer Menu:
![layer menu](https://user-images.githubusercontent.com/54567577/84985077-b0dcca00-b16e-11ea-8494-6dcf8c0c3b20.png)

M

[2020-06-18 07:54] lemketron commented on #809
The hourglass in the fence indicates that Apollo auto mode is "not ready" according to the [Dreamview documentation](https://github.com/ApolloAuto/apollo/blob/master/docs/specs/dreamview_usage_table.md).

Sometimes it helps to "nudge" the car a little by hitting the up-arrow on the keyboard, but in general Apollo should start driving if everything is ready and it is communicating with the simulato

[2020-06-18 07:57] SungYinYang commented on #809
@lemketron Thanks for your fast reply.
I would try it now!

[2020-06-18 08:03] lemketron commented on #808
This is documented in [Launching Apollo alongside the Simulator](https://www.lgsvlsimulator.com/docs/apollo5-0-instructions/#launching-apollo-alongide-the-simulator), and the sample sensor configuration (if you want to add it to a different vehicle that isn't already configured for use with Apollo) can be found [here](https://www.lgsvlsimulator.com/docs/apollo5-0-json-example/).

[2020-06-18 08:40] SungYinYang commented on #809
@lemketron
I have tried multiple times in running the same routes.
I succeeded to make the car move in auto mode by nudging the car a little bit by hitting the up array for the first time.
However, all of my attempts failed after the first time.
It seems pretty not stable for me.

I notice that the "not ready" sign exists in my scenario forever.
May I know what apollo version you are using?
Do you

[2020-06-18 08:49] lemketron commented on #809
On what hardware are you running the Simulator and Apollo on and with which GPU?

If your system supports Apollo 5.0 I would recommend trying that instead, from the [LGSVL fork](https://github.com/lgsvl/apollo-5.0) as documented [here](https://www.lgsvlsimulator.com/docs/apollo5-0-instructions/).

In addition, if you are trying to run both apollo and simulator on a single machine that can sometime

[2020-06-18 08:57] SungYinYang commented on #809
I am running it with the Ubuntu system and with an RTX 2080S GPU.
Oh, I see that the requirement for Apollo 5.0 do not support my GPU.
Does my GPU support the latest Apollo (in the master)?

Currently, I am running both of them on the same machine.
Yeah, I notice that sometimes my machine would get overheated by using them together.
I would definitely put them separately later on.

Thanks again!

[2020-06-18 09:11] lemketron commented on #809
I have run apollo-master on a RTX-2070 (Razer Blade) laptop with the simulator running on the same machine (with Ubuntu 18.04) but it is definitely challenging. In particular, I usually close Chrome and anything else that might be using the gpu (see `nvidia-smi` tool for GPU memory usage).

Otherwise, one of the apollo modules that use GPU (usually perception) can crash, which would definitely pre

[2020-06-18 10:33] SungYinYang commented on #809
Thank you so much for all your help!
Your advice is very valuable to me!

[2020-06-18 11:48] ivanchristina opened #810 "Cannot run the executable "Simulator""
Error:
After clicking the simulator,  program crashed immediately.

What I do:
1. sudo add-apt-repository ppa:graphics-drivers/ppa
https://github.com/lgsvl/simulator/issues/782
result:
Press [ENTER] to continue or Ctrl-c to cancel adding it.
......
Get:29 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 DEP-11 Metadata [2.464 B]
Fetched 8.647 kB in 4s (2.307 kB/s)
Reading package

[2020-06-18 14:40] yumianhuli2 commented on #808
Got it！

[2020-06-18 14:40] yumianhuli2 commented on #808
Got it！

[2020-06-18 14:41] #808 closed

[2020-06-18 15:00] dr563105 commented on #810
Can you provide us with simulator player log? You can find the path to it in the FAQ in the lgsvl simulator docs. What is the output of `nvidia-smi` if any?

[2020-06-18 15:40] EricBoiseLGSVL commented on #810
@ivanchristina It seems you are trying to run this with VM.  This is not supported out of the box and you need a few steps to do this.  Simulator requires a GPU with minimum specs listed in the documentation.  We have a few issues covering this already but it is up to you to have GPU support for the simulator.   #708 is one example

[2020-06-18 15:46] zqzqz commented on #797
I tried to execute lgsvl and apollo on the same machine. The delay is not increasing now but there is still a constant delay of 4 seconds. With that delay the perception module cannot normally launched. This could be another issue https://github.com/lgsvl/simulator/issues/530.

[2020-06-18 16:02] EricBoiseLGSVL commented on #807
@DanielChungYi
- GTX 1660 is not enough to run simulator and an AD stack.  Minimum we recommend is 8GB GPU memory.
- No, those assets are fine and they run in the latest simulator
- Please watch [this](https://youtu.be/S0w2ahhEPbE) tutorial showing how to create a map
- It is fine to edit SF but why do you have DuckieDownTown.scene and Loader.scene in the Hierarchy?  This is not correct.  Multi-sc

[2020-06-18 16:48] EricBoiseLGSVL commented on #791
@DmitryRedin You also may need to increase the detail level of the point cloud collider.  We are working on making this more option label more informative

[2020-06-18 16:50] EricBoiseLGSVL commented on #776
@ntutangyun thanks for the help.

[2020-06-18 16:50] #776 closed

[2020-06-18 16:53] #800 closed

[2020-06-18 16:54] #755 closed

[2020-06-18 16:55] EricBoiseLGSVL commented on #803
@daviduhm any pointers to merge multiple point clouds?

[2020-06-19 01:14] yumianhuli2 opened #811 "About SimCtrl"
HI！ I have seen the behavior of creating pose based on the vehicle dynamic model. Is there a way to create pose by means of time interpolation called SimCtrl？Thank YOU！

[2020-06-19 08:07] yumianhuli2 commented on #808
HI! Do you mean that there is no need to configure any vehicle in the webUI browser，The default is Lincoln2017MKZ? What are the communication methods and parameters by default?

I think is still need to download Lincoln2017MKZ vehicle model and configuration of the json https://www.lgsvlsimulator.com/docs/apollo5-0-json-example/? But I have not found Lincoln2017MKZ on this page https://www.lgsvlsi

[2020-06-19 09:00] yumianhuli2 opened #812 "The traffic signal is red all the time"
![Screenshot from 2020-06-19 16-44-41](https://user-images.githubusercontent.com/39210837/85115396-2d92a580-b24e-11ea-96af-d0a24a5c7380.png)
Hello！The traffic signal is always red, so the car stops at the intersection all the time. Then How to solve this problem Or how to control the signal lights？Thanks！

[2020-06-19 10:29] ntutangyun commented on #812
@yumianhuli2 please check out this [issue](https://github.com/lgsvl/simulator/issues/627) and see if you're encountering same problem.

[2020-06-19 10:37] DmitryRedin opened #813 "Error when opening CubeTown in Editor"
Hello, i use Ubuntu 16.04
Simulator->Build, then i get error in console.
Platform StandaloneLinux64 with device OpenGLCore is not supported with High Definition Render Pipeline, no rendering will occur
UnityEngine.GUIUtility:ProcessEvent(Int32, IntPtr) (at /home/builduser/buildslave/unity/build/Modules/IMGUI/GUIUtility.cs:187)

[2020-06-19 10:59] #813 closed

[2020-06-19 12:24] AlexandrZabolotny opened #814 "WebUI build is completed, but not work"
Hello!
My OS - Ubuntu 18.04

When I follow step 12 `In Unity Editor run Build WebUi... in Unity: Simulator -> Build WebUI...`
I see in consol

[code]
**But I can not see "build dialog"**
And next - when I follow step 13 `Open Build... in Unity: Simulator -> Build...`
**I see error**

Exception: WebUI files are missing! Please build WebUI at least once before building Player
Simulator.Editor.Build.

[2020-06-19 12:40] DmitryRedin commented on #791
@EricBoiseLGSVL
![image](https://user-images.githubusercontent.com/45751843/85132765-1b126f00-b242-11ea-89c0-abf39b4e7828.png)
![image](https://user-images.githubusercontent.com/45751843/85132827-3da48800-b242-11ea-8acb-f06d36dfeb16.png)

Size of ply file is 7.2Mb

System OS: 16.04
RAM Memory:  32 Gb
In terminal: lspci | grep -E "VGA|3D"
00:02.0 VGA compatible controller: Intel Corporation 4th Gen

[2020-06-19 12:52] ivanchristina commented on #810
Hi, are you referring to the path here:"~/.config/unity3d/LG Silicon Valley Lab/LGSVL Simulator/Player.log"?
if yes,  it seems not exit so far, I guess maybe the player.log can only be built after the simulator is successfully install.

[2020-06-19 13:13] ivanchristina commented on #810
@EricBoiseLGSVL  if GPU is mandatory for the simulator, then the virtual machine (Orcale VirtualBox I used)might be the key, will first figure out GPU issue in Orcale VirtualBox, seems somehow impossible after first checking .

only see one run it [https://github.com/lgsvl/simulator/issues/477](url)

[2020-06-19 13:14] #810 closed

[2020-06-19 18:05] EricBoiseLGSVL commented on #791
It looks like you have a bunch of holes in the collider, this could be why you cannot create a map annotation sometimes.  If there is no collider, the map annotation will not work.
- You need to increase the mesh detail level to 5-6
- I am worried that your GPU is not enough.  You need at least 8Gb GPU to run simulator

[2020-06-19 18:09] EricBoiseLGSVL commented on #814
@AlexandrZabolotny Hello and welcome to LGSVL Simulator.  Please see #759 and see if it helps

[2020-06-19 18:11] EricBoiseLGSVL commented on #811
I'm not quite sure what you are asking for here.  Let me add @hadiTab

[2020-06-19 18:35] lemketron commented on #812
The `Traffic Light` module is not enabled in your screen shot, but needs to be in order to enable traffic light detection. Is it crashing or was it just disabled?
![image](https://user-images.githubusercontent.com/96521/85169591-e80bb380-b220-11ea-8739-9d2ab8b39d6c.png)

[2020-06-20 06:29] hadiTab commented on #811
Hi @yumianhuli2 . Can you provide more details? What do you mean by "create a pose"? Also, I don't know what SimCtrl is.

[2020-06-20 07:29] yumianhuli2 commented on #811
There are two main ways to create pose: one is based on vehicle dynamics, and the other is based on velocity planning path points. These pathpoints carry timestamps, so new poses can be obtained by interpolation calculation based on the timestamps.

[2020-06-20 07:29] #811 closed

[2020-06-21 04:40] xiao-hua-sheng opened #815 ""Ego vehicle" callback"
API has "on"_ Collision "as a collision callback," ego vehicle "ran out of the map without callback? If so, where can I find it?

[2020-06-22 02:59] yumianhuli2 commented on #812
Hello！ The traffic Light button automatically jumps to the off state

[2020-06-22 03:23] luqiang21 commented on #812
@yumianhuli2 It is possible that your GPU is not enough to run both `traffic light` and `perception` modules. You can try to run only `traffic light` to see whether it will work without running `perception`.

[2020-06-22 04:48] lemketron commented on #812
Can you show the output of `nvidia-smi`?

[2020-06-22 05:16] yumianhuli2 commented on #812
Hello！
![Screenshot from 2020-06-22 13-15-49](https://user-images.githubusercontent.com/39210837/85250947-96fef800-b48a-11ea-864f-42ff24fc812e.png)

[2020-06-22 05:59] yumianhuli2 commented on #812
![Screenshot from 2020-06-22 13-53-48](https://user-images.githubusercontent.com/39210837/85253094-01fefd80-b490-11ea-9c06-a70501dc65ce.png)
Traffic Light will still turn off automatically, and vehicle won't move even if I sending the routing request. Could you provide some error messages or logs for it?

[2020-06-22 06:29] lemketron commented on #812
You appear to only have one "mainboard" instance using the GPU, and I see that the "Perception" and "Traffic Light" switches are both disabled. Watch the "memory usage" number in the middle of `nvidia-smi` screen while you are trying to launch perception and traffic light. I would suggest running `watch -n1 nvidia-smi` so you can watch the GPU memory usage number change as you attempt to enable th

[2020-06-22 06:44] yumianhuli2 commented on #812
I think what you said is right. So for developers who don't have good machines, Could you develop a Unity simulator that only tests PNC modules?

[2020-06-22 08:23] lemketron commented on #812
Our apollo instructions are inteded to show how to run the full apollo stack running end to end turning sensor data from the simulator into control data to drive the simulated vehicle.

You can of course enable whichever apollo modules you want, and test them however you want. The simulator generates whatever sensor data you specify in the vehicle configuration. The (e.g. perception, etc.) module(

[2020-06-22 08:25] yumianhuli2 commented on #812
OK,Thanks

[2020-06-22 08:57] Eolion opened #816 "Using LGSVL with Autoware : cant't build Docker containers leveraging NVIDIA GPUs"
Hello, I want to install LGSVL with autoware on my computer under ubuntu. But the command :
docker run --gpus all nvidia/cuda:10.0-base nvidia-smi doesn't work.

My terminal displays :
docker: Error response from daemon: could not select device driver "" with capabilities: [[gpu]].
ERRO[0026] error waiting for container: context canceled

I try many things even reinstalling ubuntu. But nothing cha

[2020-06-22 09:06] lemketron commented on #812
Apollo 5.0 is more demanding on the CPU than 3.5 was. In vehicle configurations (depending on the number of sensors and modules used) it may require a more powerful computer, or an additional computer than what was specified for Apollo 3.5 -- and those are dedicated computers in the vehicle, not computers that are also running Unity and a simulator. That's why the first thing to try is to just run

[2020-06-22 09:24] AlexandrZabolotny commented on #814
Thanks!
I reinstall npm
1. sudo apt install npm
Next in /simulator/WebUI I open terminal
2. npm install
3. npm pack

And all work

[2020-06-22 11:55] SungYinYang commented on #809
@lemketron

Hey, I got a follow-up question.
Currently, I am requesting another GPU machine so I am not able to put the two programs in two computers yet.

Recently, I have tried to build Apollo 5.0 on my RTX2080S GPU machine.
I found out that I was able to build it.
However, the result is quite similar to my Apollo5.5 one.
Both of them would not start driving after I click "submit route".
I have

[2020-06-22 12:18] yumianhuli2 commented on #812
57/5000

So in theory, I don't have the vehicle's sensors in webUI and I turn off Apollo's sensing module, so I can have one machine running smoothly.

[2020-06-22 13:17] dr563105 commented on #816
First, did you install docker properly? Are you able to run other docker commands well? Is the docker version > 19.03?
Then, did you install nvidia docker, properly? -- https://github.com/NVIDIA/nvidia-docker#ubuntu-160418042004-debian-jessiestretchbuster

If you have, then can you try this? -- https://github.com/NVIDIA/nvidia-docker/issues/1034#issuecomment-520282450

[2020-06-22 13:55] Eolion commented on #816
Yes I follow all steps : "Installation methods" to install docker.
Command "docker run hello-wold" works.

I try with Driver version Nvidia-440 and terminal don't displays error just the result of nvidia-smi
but after that when I try "Autoware/docker/generic/build.sh kinetic"  my terminal displays this :

Use kinetic
./build.sh: 7: ./build.sh: nvidia-docker: not found

Even if it works I don't wan

[2020-06-22 14:27] dr563105 commented on #816
Okay docker works.

Leave Nvidia-440 for now. Have the driver version you wish installed.

These problems are nvidia-docker related. You need to have them properly installed before you go into autoware.

So,
Did you install nvidia-docker(https://github.com/NVIDIA/nvidia-docker#ubuntu-160418042004-debian-jessiestretchbuster) properly? Have you by chance installed nvidia-docker2?  Which Ubuntu versi

[2020-06-22 15:23] Eolion commented on #816
Thank you ! To fix my problem I just install nvidia-docker2

Now I can execute "sudo build.sh kinetic" but I have another error :
sometimes red line appears with this message :

debconf: delaying package configuration, since apt-utils is not installed

W: GPG error: http://packages.ros.org/ros/ubuntu xenial InRelease: The following signatures couldn't be verified because the public key is not avai

[2020-06-22 15:35] dr563105 commented on #816
The error you're getting is a common GPG error. You can overcome them by using installation steps given ros install section for the corresponding ros version page.

[2020-06-22 16:29] rongguodong commented on #812
@yumianhuli2 To better understand why perception module cannot start, you can check its log under /apollo/data/log, or manually start it by using "cyber_launch start /apollo/modules/perception/production/launch/perception.launch" (more details see: https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_perception_module_on_your_local_computer.md).

If you manually start it, you sho

[2020-06-22 16:44] luqiang21 commented on #809
@SungYinYang Looks like your planning module is not working. The car is not getting control messages from Apollo. I think the car moves because you moved it a bit, then it continues. You need to check the module status on `Module Controller` tab to see if other modules are working correctly.

[2020-06-22 17:21] EricBoiseLGSVL commented on #815
@xiao-hua-sheng we are currently creating analysis for EGO leaving the environment mesh.  It won't release for a bit so you could make a custom sensor that raycasts down on the default physics layer and if no hit then report fall off the map.

[2020-06-22 17:22] #814 closed

[2020-06-22 19:34] lemketron commented on #809
The RTX is not supported by Apollo 5.0.  If you want to run on RTX you should [build apollo master](https://www.lgsvlsimulator.com/docs/apollo-master-instructions/).

[2020-06-22 20:37] Eolion commented on #816
Although I did add the key with the command:
curl -sSL 'http://keyserver.ubuntu.com/pks/lookup?op=get&search=0xC1CF6E31E6BADE8868B172B4F42ED6FBAB17C654' | sudo apt-key add -

I try : sudo apt-key adv --keyserver 'hkp://keyserver.ubuntu.com:80' --recv-key C1CF6E31E6BADE8868B172B4F42ED6FBAB17C654
as shown on this link  : https://discourse.ros.org/t/new-gpg-keys-deployed-for-packages-ros-org/9454
too

[2020-06-23 05:14] SungYinYang commented on #809
Thanks for all of the answers!

[2020-06-23 07:04] AlexandrZabolotny opened #818 "Running latest Apollo with LGSVL Simulator"
Where I can get Vehicle JSON Configuration ( Lincoln2017MKZ)  for running latest Apollo with LGSVL Simulator.

If I will use [https://www.lgsvlsimulator.com/docs/apollo5-0-json-example/](https://www.lgsvlsimulator.com/docs/apollo5-0-json-example/)

Should I make changes to Apollo settings in this case?

[2020-06-23 08:13] lemketron commented on #818
The default `Lincoln2017MKZ (Apollo 5.0)` vehicle (and the apollo5-0-json-example settings) should work fine for latest Apollo.

[2020-06-23 08:24] ifond opened #819 "Create simulation environment based on high-precision maps in Apollo format"
Digital twins of particular environments,
How can I create a map for simulation based on a high-precision map of the real world? Thank you

[2020-06-23 09:45] AlexandrZabolotny commented on #818
Have you tried building a HD-map with these settings using /apollo/scripts/msf_simple_map_creator.sh?

[2020-06-23 13:17] dr563105 commented on #816
After adding the key did you do the 'final step' mentioned here -- https://answers.ros.org/question/325039/apt-update-fails-cannot-install-pkgs-key-not-working/ ?

[2020-06-23 13:19] Eolion commented on #816
I just added --allow-unauthenticated in dockerfile.kinetic after that no problem with key and install.
Thank you for your time and your answers. I close this issue

[2020-06-23 13:19] #816 closed

[2020-06-23 14:54] ashwinsarvesh opened #820 "Add an external camera to the Simulator"
Hello all,

I would like to add an external camera to the simulator. How can I do this?
It is an ADAS (Advanced driver assistance systems) camera used for Lane departure warning, forward collision warning, and Traffic sign recognition.

Should I follow the steps in this link? https://www.lgsvlsimulator.com/docs/sensor-plugins/
Is ROS Driver of the camera, a mandatory need to use the camera with th

[2020-06-23 16:04] rongguodong commented on #818
No. This is one of the reasons why we cannot use MSF localization but RTK.
According to this page (https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_generate_local_map_for_MSF_localization_module.md) we need to have some dataset to have this script work. But we are not clear what kind of dataset it requires. It is not clearly explained in Apollo's document.

[2020-06-23 16:10] EricBoiseLGSVL commented on #820
@ashwinsarvesh Yes, a custom sensor should be a plugin and that link is correct.  You can support any AD stack you want.  If you don't need Apollo support, then no need to add.

[2020-06-23 16:10] rongguodong commented on #820
Can you say more about the camera? What special feature does it have?

If you simply want to add one normal camera to the ego car, you can add one in JSON configuration. We have ColorCameraSensor, DepthCameraSensor, and SegmentationCameraSensor ready for your use.

[2020-06-23 16:14] rongguodong commented on #820
If you want to get camera input for perception modules to do lane detection, forward collision warning, and traffic sign recognition, you may simply use one or more ColorCamerSensor for that purpose.

If you want to output ground truth values of those, what you need is not a camera sensor, but some kind of ground truth sensor. We already have a SignalSensor for traffic sign. You can build your own

[2020-06-23 16:32] ashwinsarvesh commented on #820
Thank you so much for instant replies!!

https://www.amazon.de/MOBILEYE-630-PRO-mit-Vibrationsalarm/dp/B01I8M6K28
This is the camera.

So, my main aim is to somehow use this ADAS camera and its features(mentioned above) on the simulated ego vehicle instead of the actual on-road vehicle. For this, I need to connect this camera to the simulator/apollo. But the problem is there is no ROS driver avail

[2020-06-24 02:48] DanielChungYi commented on #807
Thanks for the reply.
I had tried the light icon before, but it doesn't work.
Do I have to change any other configuration setting in Unity to show the model?
And if I want to modify the scene with the latest simulator, do I have to run it on Windows?

[2020-06-24 03:49] gyp199009 opened #821 "Apollo 5.0 doesn't detect the traffic light"
Hello there,
I run LG simulator and Apollo 5.0 on two machines, everything seems fine but the vehicle doesn't recongnize the  traffic lights and stops whenever it runs into an intersection, it shows "NO SIGNAL" all the time in Dreamview as below:
![image](https://user-images.githubusercontent.com/32737903/85497038-eb7fb000-b60f-11ea-9e33-0d8a4fae05ae.png)
I ran _perception.sh_ in a terminnal, I go

[2020-06-24 07:56] ashwinsarvesh commented on #820
Hi, Do you mean that if I do not need Apollo support, then I do not need to have a ROS driver for the camera?

[2020-06-24 09:30] Eolion opened #822 "LGSVL crash with some sensors"
Hello,

I installed LGSVL under ubuntu 18.04 and some simulation by default don't works. I tried many manipulation and I discovered that some sensors making crash the simulator. For example with Lexus2016RXHybrid (Autoware) vehicle : main camera and IMU sensors make my simulator imediatly crash.

My environment:
    NVIDIA GTX770 Geforce
    16 gb RAM
    8 core CPU
    Ubuntu 18.04

I precise on

[2020-06-24 14:52] ashwinsarvesh opened #823 "Sensor Script for Sensor Plug in"
Hello,

In this link https://www.lgsvlsimulator.com/docs/sensor-plugins/ , it says that the sensor script must be added to the root of the prefab.

1. How to create a sensor script for my Camera which I want to plug into the LGSVL?
2. What camera-specific data do I need to create such a sensor script for my camera?

Kindly help me!

[2020-06-24 15:50] dr563105 commented on #823
Hey
You can look into these repos -- https://github.com/lgsvl/LaneFollowingSensor, https://github.com/lgsvl/ComfortSensor to know exactly how to work with sensor plugins. For camera-specific data, you would need to first figure all the variables and their ROS message types. Then convert them so that LGSVL could understand. For example in LanefollowingSensor, they use TwistStamped message type.

[2020-06-24 17:23] EricBoiseLGSVL commented on #807
@DanielChungYi Are the models actually there?  Did you clone with git lfs?  Look in the project files for the meshes that are in scene and screen shot the actual meshes please?  We support Windows and Linux Vulkan, not opengl

[2020-06-24 17:26] EricBoiseLGSVL commented on #820
@ashwinsarvesh no, sorry I didn't know you where running Apollo 3.0.  If you are using ROS then you have the topic to get the data.  I'm not sure how to get Apollo to recognize this data though, @rongguodong ideas?

[2020-06-24 17:27] EricBoiseLGSVL commented on #821
Please see this issue #812

[2020-06-24 17:33] EricBoiseLGSVL commented on #822
@Eolion I see that the GPU is way below spec to run simulator.  Windows has better performance with Unity so it makes sense that it crashes on Linux.  We recommend a GPU with 8gb memory.  It could be other driver issues as well, @lemketron any ideas?

[2020-06-24 18:45] ashwinsarvesh commented on #823
@dr563105 So, by variables do you mean x,y,z, pitch, yaw, roll and parameter values?

[2020-06-24 19:05] dr563105 commented on #823
Yes. The sensor parameters from JSON, you would want your custom plugin to read, do some computation internally and send it across through ROS. For example, look at this https://github.com/lgsvl/ComfortSensor/blob/master/ComfortSensor.cs . Several parameters are fetched from JSON and some from the vehicle or other inbuilt sensors, do some calculations and then convert ROS bridge understandable for

[2020-06-24 19:24] ashwinsarvesh commented on #823
@dr563105  Sure, but if I just want to make the camera work with the LGSVL but not need any ROS communications to Apollo, then I can use "Nobridge" and enter "null" for the PUBLISH and SUBSCRIBE topics rite?

[2020-06-24 19:25] ashwinsarvesh commented on #823
Sorry if the questions are silly, I am really new to all this

[2020-06-24 19:46] dr563105 commented on #823
I haven't worked with Apollo. So, I don't know what you have to pass as arguments. May be someone else can answer you.
However, would you not want to send those images to Apollo? CyberRT is another communication method.

[2020-06-24 20:58] lemketron commented on #823
@ashwinsarvesh Can you say more about what it is that you are trying to do? Are you using the built-in camera sensors and asking about the JSON sensor parameters? Or are you trying to create your own custom camera sensor in Unity (and if so, why do you feel the need to do that)? And what is the goal for the data generated by the camera sensor (if not to send it over a sensor bridge)?

[2020-06-25 06:35] AlexandrZabolotny commented on #818
thanks

[2020-06-25 06:35] #818 closed

[2020-06-26 06:40] lemketron commented on #806
I can work with @hadiTab to get the Autoware.AI instructions updated as needed once the issues are resolved; I see that the conversation has moved to the [ROS discourse](https://discourse.ros.org/t/is-launching-autoware-ai-with-lgsvl-instructions-missing/14812).

[2020-06-26 06:42] lemketron commented on #819
@ifond Can you tell us more about what you are wanting to do?  Are you saying that you have an HD map and you'd like to import that into the simulator? An HD map contains only high-precision information about the roads in the environment, but does not include 3D features needed to render a full "digital twin". There are several ways to create a digital twin but it is not something you can just imp

[2020-06-26 10:47] dr563105 opened #824 "Lanefollowing and LSTM - time series issue in callback part -- drive.py"
Hey everyone!

I extended the [Lanefollowing](https://github.com/lgsvl/lanefollowing) to use LSTM. Here I split the input images from the 3 camera sensors into a time series of time steps 2. Everything is fine until I use the trained model to predict the commands in the autonomous driving part([drive.py](https://github.com/lgsvl/lanefollowing/blob/master/ros2_ws/src/lane_following/drive.py)).

I u

[2020-06-26 12:31] Eolion opened #825 "How can I connect the ros2 in windows"
Hello,
I need to control a vehicle using the ROS controls. From windows it is not possible for me to launch the docker by following the information from this documentation:  https://www.lgsvlsimulator.com/docs/create-ros2-ad-stack/

How can I connect ros2 bridge to my simulation.For windows ?

[2020-06-26 14:02] dr563105 commented on #825
see issue [754](https://github.com/lgsvl/simulator/issues/754)

[2020-06-26 14:14] Eolion commented on #825
I have already read this issue. This is just for ros1 and you can't control vehicle by command. I saw it's only possible with ros 2 but the installation documentation provided requires to use dockers-CE. However, the installation of Ubuntu by Microsoft store on Windows does not allow the use of docker-CE.

[2020-06-26 15:44] dr563105 commented on #825
Indeed that guide is for ros1. You need to change where ever it is necessary to ros2.

Lanefollowing docker image is needed for that tutorial just to establish `rosbridge`. You can do that manually, outside of docker with [ros2webbridge](https://github.com/RobotWebTools/ros2-web-bridge) but I think you might run into issues installing it. If you do install it successfully, you can run the bridge i

[2020-06-26 16:47] dr563105 opened #826 "Unable to reach localhost:8080 -- asking for login"
Hey all,

I cleared data and cache of Mozilla firefox today. Since then, I'm not able to get into the WebUI. When I click 'open browser' in the simulator, I'm asked for a login. Usually I think this gets automatically rerouted to localhost but not happening now. Giving `localhost:8080` gets me to the login landing page. I have already tried deleting the `.config` and restarting the machine. Issue

[2020-06-26 17:56] lemketron commented on #826
Yes, you need to register for an account to use the simulator, but it's fast and easy to do so... thanks!

[2020-06-26 18:00] dr563105 commented on #826
Thanks. I think I registered and forgot to note down the credentials. I tried to use the forgot password feature but I don’t seem to receive any mail. It’s been about two hours.

[2020-06-26 18:39] #826 closed

[2020-06-26 19:03] EricBoiseLGSVL commented on #824
@hadiTab any ideas?

[2020-06-26 19:18] lemketron commented on #826
Often when a "forgot password" email is requested, it gets rejected with an error message such as (in this case):

[2020-06-26 19:48] dr563105 commented on #826
hah. I understand. I used a different domain now. All good.

[2020-06-26 21:31] HemaZ opened #827 "Aborted (core dumped) when running on ubuntu 18.04"
Hello lgsvl,
when I try to run the simulator on my machine which runs ubuntu 18.04
CPU: Intel i5-7200U (4) @ 3.100GHz
GPU: NVIDIA GeForce 920MX
GPU: Intel Integrated Graphics
Memory: 11882MiB
I've the latest nvidia drivers and vulkan
I can open http://localhost:8080 but when I try to run any simulation it shutdowns.

here is my log file

[code]

[2020-06-27 01:29] Martin20 commented on #741
@EricBoiseLGSVL

I found this. Does it work?

https://www.amazon.com/ASUS-ROG-STRIX-GTX1080TI-O11G-GAMING-DisplayPort-Overclocked-Graphics/dp/B06XRWYXJY/ref=pd_di_v2_sccai_6/133-3131674-6459066?_encoding=UTF8&pd_rd_i=B06XRWYXJY&pd_rd_r=3cd717aa-8df7-496b-abfa-a301f6d72efa&pd_rd_w=BE1iX&pd_rd_wg=Xfs1v&pf_rd_p=47579771-02b9-4db9-aad8-9d98476f87cf&pf_rd_r=WYXNZ71YH77T60X7G7DR&psc=1&refRID=WYXNZ71YH77

[2020-06-27 02:31] martins-mozeiko commented on #827
Crash on `k::DataBuffer::CreateResource` most likely means running out of GPU memory.
GeForce 920MX seems to have only 2GB of memory. That's probably not enough for Unity's HDRP rendering for simulation. It may run for very simple scenes (low res textures, simple meshes), but for environment simulator is using more memory is required. Using GPU with at least 8GB is recommended for Simulator.

[2020-06-27 03:14] EricBoiseLGSVL commented on #741
That works and we will soon support Apollo 5.5

[2020-06-27 03:32] martins-mozeiko commented on #741
That's 1080Ti. Should work fine with 5.0 Apollo.

[2020-06-28 01:27] yumianhuli2 opened #828 "Error response from daemon"
I changed a PC to built Apollo5.0, but the following error occurred:
XXXXXXXXXXXX:./docker/scripts/dev_into.sh
Error response from daemon: Container 39c2b25e12c9195f5a3fdd0ca151cebb7f60212ffa70d1dc4d8d5058d7fb80d8 is not running
![Screenshot from 2020-06-28 09-24-11](https://user-images.githubusercontent.com/39210837/85935244-2be97180-b921-11ea-8ea0-47790110f083.png)

![Screenshot from 2020-06-28

[2020-06-28 01:45] lemketron commented on #828
According to our [Building Apollo](https://www.lgsvlsimulator.com/docs/apollo5-0-instructions/#building-apollo-and-bridge) instructions, you need to first launch the container before you can enter it, by typing:
`./docker/scripts/dev_start.sh`

[2020-06-28 02:37] yumianhuli2 commented on #828
Hello！I have already typed:
./docker/scripts/dev_start.sh

[2020-06-28 03:26] lemketron commented on #828
Please try typing: `./docker/scripts/dev_start.sh stop`
Then type: `./docker/scripts/dev_start.sh`

If you can share the console output from both of these that might help...

[2020-06-28 03:54] yumianhuli2 commented on #828
Ｈello!
First step  :
 ./docker/scripts/dev_start.sh
[sudo] password for XXX:
[INFO] Start docker container based on local image : lgsvl/apollo-5.0:latest
yolo3d_volume-x86_64-latest: Pulling from apolloauto/apollo
Digest: sha256:33add717a675be26c86f817d2207c1ab1ec25694f0decb63e55f0fc3d14b1397
Status: Image is up to date for apolloauto/apollo:yolo3d_volume-x86_64-latest
docker.io/apolloauto/apollo:

[2020-06-28 03:55] ifond commented on #819
@lemketron yes,I have an HD map and I'd like to import that into the simulator.I only have high-definition maps here, how do I do it?thank you very much.

[2020-06-28 04:05] lemketron commented on #828
This appears to be the problem:
`docker: Error response from daemon: could not select device driver "" with capabilities: [[gpu]].`

Did you install Docker CE and nvidia-docker as described [here](https://www.lgsvlsimulator.com/docs/apollo5-0-instructions/#docker)?

Can you also try running `nvidia-smi`?

And try `nvidia-docker run nvidia/cuda:10.0-base nvidia-smi` which should help verify if nvid

[2020-06-28 04:10] lemketron commented on #819
You can import an HD map into the simulator as described [here](https://www.lgsvlsimulator.com/docs/map-annotation/#import-map-annotations) but that will not create a drivable mesh or 3D scene. The HD map contains only information about the roads and lanes.

If you want to see how to create a new environment, [this video](https://youtu.be/S0w2ahhEPbE) might help.

I'm guessing you'd like to be abl

[2020-06-28 04:10] qwetqwe opened #829 "why is the image from simulator so dark"
my sensor parameter is as follows.I use apollo cyber_visualizer to see the image from simulator camera.But the image is so dark. What is the reason? I did not see where to configure brightness in sensor parameter
 {
      "type": "Color Camera",
      "name": "Main Camera",
      "params": {
         "Width": 1920,
         "Height": 1080,
         "Frequency": 20,
         "JpegQuality": 100,

[2020-06-28 04:20] yumianhuli2 commented on #828
Hello！
Plz see this：
First:
In ubuntu18.04，Kernel version 5.3 is too high and Nvidia-SMI has problems.

So I dropped the kernel version to 4.x, and running Nvidia-SMi was OK.

Second:
I tried nvidia-docker run nvidia/cuda:10.0-base nvidia-smi
I got nvidia-docker:command not found
But:
![image](https://user-images.githubusercontent.com/39210837/85937746-14b67e00-b939-11ea-8c9b-3c14aca8625f.png)

[2020-06-28 04:54] rongguodong commented on #829
Is the left part of the screenshot from cyber_visualizer? cyber_visualizer does show the color of compressed image correctly. You can try the uncompressed channels to see the correct color.

[2020-06-28 05:02] martins-mozeiko commented on #828
You don't have nvidia docker installed. That is an error when you run `scripts/docker/dev_start.sh`

See here in your output:
![image](https://user-images.githubusercontent.com/39178216/85938385-d03bcb80-b8c1-11ea-91fc-905ec90c17d7.png)

Make sure you install nvidia-docker. Refer to its documentation for installation instructions for ubuntu version you use.

[2020-06-28 05:10] yumianhuli2 commented on #828
Got it!

[2020-06-28 05:10] yumianhuli2 commented on #828
Got it!

[2020-06-28 09:04] ifond commented on #819
@lemketron Yes, your guess is correct,I hope to be able import the HD map and create a basic environment from it.Excuse me, what does "drivable mesh" mean?What is the difference from the lane line of the high-definition map? I think that the vehicle can also plan navigation through the high-definition map.

[2020-06-28 09:16] ifond commented on #819
@lemketron It can be understood as importing a high-precision map, then creating and editing the simulation environment under this high-precision map framework, how much of this workload is possible, can it be called a reference workload evaluation method, thank you very much

[2020-06-28 09:20] ifond commented on #819
@lemketron Personally feel that it is very attractive to import high-definition maps and then create a function corresponding to the urban simulation environment

[2020-06-28 13:06] HemaZ commented on #827
ok, but can you update the docs and add minimum requirements or something.

[2020-06-28 21:43] #828 closed

[2020-06-29 00:30] qwetqwe commented on #829
@rongguodong
Thanks for your reply. RGB image channel is same as that, dark too. Is there any other way to configure brightness?

[2020-06-29 08:11] ningfeiwang commented on #688
Hello @luqiang21, I wonder what is the difference of RADAR simulation in LGSVL between navigation and standard mode. I check the Apollo source code. It seems that in the perception, there is no navigation flag. Seems that the navigation and standard modes are the same in perception.

[2020-06-29 13:40] Martin20 commented on #741
@EricBoiseLGSVL and @martins-mozeiko

Thank you.

[2020-06-29 13:46] yumianhuli2 commented on #822
my PC nvidia 8gb is not enough on linux ,12gb may be ok,and 2 pc connect is recommend.

[2020-06-29 13:55] ashwinsarvesh commented on #823
@lemketron @dr563105 I am using an ADAS camera that has Lane departure warning, traffic sign recognition, forward collision warning. I should integrate this smart camera to the LGSVL so that the input data from the simulator is fed to the camera and it uses the above features on the incoming data. I do this to evaluate camera performance.

I feel it is enough to add it as a sensor plugin without c

[2020-06-29 13:57] ashwinsarvesh commented on #823
Due to the reasons mentioned in my other comment, I do not want to send those images to Apollo.

[2020-06-29 13:59] ashwinsarvesh commented on #823
I am trying to create my own custom plugin for the camera I have. The reason and goal are mentioned in my other comment.

[2020-06-29 15:03] luqiang21 commented on #688
@ningfeiwang Our simulator doesn't have any difference in terms of implementation of RADAR for those modes in apollo. Probably you need to ask Apollo community since we don't have experience running Apollo with RADAR in standard mode. You might need to place radars according to their configurations.

[2020-06-29 15:08] qsengshu commented on #829
Anyone found a solution to this problem?

Lanedetection is currently not possible because the image is too dark.

Best regards,
qsengshu

[2020-06-29 16:22] rongguodong commented on #829
Such kind of darkness is usually because of sRGB<->linear color space mismatch. Not sure if it is a bug in our code or a bug in cyber_visualizer. We will investigate it soon.

[2020-06-29 16:28] rongguodong commented on #829
@qsengshu It seems a regression in your latest version (2020.05). If you do not need new features in 2020.05, you can temporarily use 2020.03, which should not have this dark issue.

[2020-06-29 17:27] EricBoiseLGSVL commented on #827
@HemaZ  https://www.lgsvlsimulator.com/docs/getting-started/

[2020-06-29 17:32] EricBoiseLGSVL commented on #819
@ifond We are working on this exact feature and plan to release it soon.  Look for our next release.

[2020-06-29 17:34] EricBoiseLGSVL commented on #822
@yumianhuli2 We hope to release new maps that are much less demanding on GPU.  Look for these in the next release

[2020-06-29 17:50] lemketron commented on #827
More specifically: https://www.lgsvlsimulator.com/docs/getting-started/#getting-started

True these are "recommended" but it's hard to say what the "minimum" requirements are as we do not have access to older generation GPUs, and GPU memory requirements vary based on other applications that may be running as well as the GPU requirements of the desired 3D environment being used in the simulator.

T

[2020-06-29 17:52] lemketron commented on #822
@yumianhuli2 Can you run `nvidia-smi` and see if there are other applications (e.g. Chrome?) using GPU memory? You should be able to run the simulator with 8GB on Linux, but it is often helpful to run the AD stack (or other software) on a separate system as you mentioned.

[2020-06-29 18:37] dr563105 commented on #827
I'm having the exact same issue from last night. I have 2 RTX 2080 Ti graphic cards of 11GB each and still the simulator crashes if a python script(ran from docker) also using GPU is already running. Only solution I have right now is to start simulator first and then run the script.

Also possible because HDD crashed today and had to do recovery. Docker service was affected. Had to reinstall docke

[2020-06-29 19:01] martins-mozeiko commented on #827
@dr563105 As your log shows same call stack on crash, please monitor GPU memory usage when running simulator. Check that it does not run out of memory. It maybe that you have some other software running that uses too much memory. [nvtop](https://github.com/Syllo/nvtop) is nice utility to use for monitoring memory on Nvidia GPU.

[2020-06-29 19:18] dr563105 commented on #827
Thanks @martins-mozeiko. You were right. Used `nvidia-smi` to monitor the GPU memory. When I ran the script, both GPU memories were full. Now I changed the script to use one and Sim the other. Running fine now.

[2020-06-29 19:41] #827 closed

[2020-06-30 02:47] BestMediaDeveloper opened #830 "CarSim and Physic Material"
My company has now succeeded in getting Mecanical Simulation's CarSim to run in Unity, and we've published a script for it.
https://github.com/BestMediaDeveloper/VsDotnet

We have successfully incorporated it into the LGSV simulator.
https://github.com/BestMediaDeveloper/VsDotnet/blob/master/Documents/LGSVL.md

I have one question . How do I change the friction coefficient of the PhysicMaterial fo

[2020-06-30 04:08] EricBoiseLGSVL commented on #830
@BestMediaDeveloper Excellent.  This is great that you integrated CarSim. Excellent work.
- You can create a Physics Material and apply it to the road Mesh Collider component. See [here](https://docs.unity3d.com/Manual/class-PhysicMaterial.html)
- We provide VehicleSMI as a starting point for dynamics.  You can create a dynamics class that uses IVehicleDynamics but toggle the rigidbody to kinemati

[2020-06-30 04:55] BestMediaDeveloper commented on #830
@EricBoiseLGSVL

Thank you. just set it up the usual way. I thought it was difficult to do it with programs and so on.

Yes, I'm currently modifying IVehicleDynamics a bit and creating a new CarSimSMI It is created and used.
Speed and other data can be obtained directly from CarSim, so it is outputted.

The changes are
https://github.com/BestMediaDeveloper/VsDotnet/tree/master/Samples/LGSVL

But t

[2020-06-30 04:55] #830 closed

[2020-06-30 09:03] ashwinsarvesh opened #831 "Need help to write sensor script for a custom smart camera"
I am using an ADAS camera that has Lane departure warning, traffic sign recognition, forward collision warning. I should integrate this smart camera to the LGSVL so that the input data from the simulator is fed to the camera and it uses the above features on the incoming data. I do this to evaluate camera performance. So, I do not need to communicate with Apollo.

I need help to write the methods

[2020-06-30 16:05] rongguodong commented on #831
@ashwinsarvesh I am glad to provide more information:
OnBridgeSetup setup the bridge and publisher method to send out the messages that the sensor generated. The bridge can be ROS bridge or Cyber bridge or custom bridge. You can refer to existing sensors to see how they implement OnBridgeSetup function.
OnVisualize is a helper function to visualize the sensor information inside the simulator. It h

[2020-06-30 16:13] yukitsuji opened #832 "How did you compute the min_turn_radius for lincoln mkz?"
How did you compute the `min_turn_radius` for lincoln mkz in apollo?
https://github.com/ApolloAuto/apollo/blob/master/modules/calibration/data/Lincoln2017MKZ_LGSVL/vehicle_param.pb.txt#L10

Thanks,
Yuki

[2020-06-30 17:58] EricBoiseLGSVL commented on #831
@ashwinsarvesh Just make the camera OnBridgeSetup and OnVisualize empty.  If no bridge is needed, no connection is needed.  OnVisualize is only for UX within simulator.

[2020-06-30 17:59] EricBoiseLGSVL commented on #832
@cyberphysicalrobotics can you help with this issue?

[2020-06-30 18:54] dr563105 commented on #824
Solved it. Used a FIFO queue with max length equal to time steps. Appended new images in each callback and invoked prediction only when the queue's length was equal to time steps.

[2020-06-30 18:54] #824 closed

[2020-06-30 20:54] ashwinsarvesh commented on #831
Thank you for your inputs @rongguodong @EricBoiseLGSVL
Now I know how to add the sensor plugin
How do I physically connect the camera to the simulator? Is there any standard way, like USB?

[2020-06-30 21:01] rongguodong commented on #831
Why do you want to physically connect the camera to the simulator? All "camera sensors" in our simulator are virtual. The simulator does not take any input from any physical sensors.

[2020-06-30 21:42] ashwinsarvesh commented on #831
oh, I did not know that @rongguodong
So, is it enough if I just add the sensor plugin for my camera to work on the simulated vehicle on the screen?
How does this concept work? Can you explain?

[2020-06-30 21:46] rongguodong commented on #831
You can check the current ColorCameraSensor, DepthCameraSensor, SegmentationCameraSensor to understand how they work.

The basic concept is to render the scene and to readback the GPU content as the message sent out.

[2020-06-30 21:50] lemketron commented on #831
It might help to understand what your actual goal is -- are you wanting to generate data from simulation similar to what the real camera would generate so you can then act on it (or test it) with some other software?

If I understand correctly, you could implement in your custom sensor code the ability to detect Lane departure, traffic sign recognition, and forward collision warning -- because in

[2020-06-30 22:15] ashwinsarvesh commented on #831
I want to add my Smart ADAS camera as Plugin and place it in front of the simulator screen. It has to work on the simulated vehicle just like how it will work when it is fitted in an real car. I mean it should be able to apply the lane departure feature, traffic sign recognition and forward collision on the simulated ego vehicle

I am not clear that how does this happen if I just add the camera as

[2020-06-30 22:57] lemketron commented on #831
If you're not trying to simulate that Smart ADAS camera but rather just aiming it at the simulator screen, then there's no reason to write a custom sensor plug-in for the simulator. You just need to use the PythonAPI to script the simulator to generate whatever imagery you wish to show on the screen, and then it's up to the camera to process what it sees.

[2020-07-01 08:22] ashwinsarvesh commented on #831
@lemketron ok yes. But in this case, how do I connect the camera to the simulator?
My camera has the ability to process the images for Lane departure warning, traffic sign recognition, forward collision warning. It just has to see the simulated vehicle and work
kindly help

[2020-07-01 09:28] yumianhuli2 commented on #822
The other applications shown in Nvidia-SMi take up only a few hundred megabytes.But under the 8G graphics card, the Apollo algorithm module always crashes...

[2020-07-01 09:29] yumianhuli2 commented on #822
This is a great update, and I'm looking forward to running this simulator on an 8GB or even 6GB GPU machine

[2020-07-01 15:55] rongguodong commented on #831
So, what you need is not a camera sensor plugin, but maybe a bridge plugin or nothing, depending on how you use it.

I am not sure how this smart camera works. Does it just take normal RGB images? In other words, is the optical part or other physical parts same as normal camera, just relying on algorithm in its driver to process the camera image? If so, you may simply point the camera to the scree

[2020-07-01 16:13] ashwinsarvesh commented on #831
@rongguodong I will get back to you regarding how it works
Thank you

[2020-07-01 16:24] lemketron commented on #831
I’m not understanding why you need to connect the camera to the simulator at all. The simulator will generate the image in front of the simulated ego vehicle and your camera will “see” that rendered on your display.

[2020-07-01 16:31] rongguodong commented on #831
Yes, you do not need to connect the physical camera to the simulator. Depending on how you use it, you may:
1. Simply point the physical camera to the screen; or
2. Connect the simulator to the machine running the driver of this smart camera, and send data generated by the simulator to its driver. (In this way, you do not need the physical device at all. You only need its driver.)

[2020-07-01 18:52] lemketron commented on #822
You mentioned having a GTX770... I'm not sure if Apollo supports that. I wonder if Apollo is crashing because of the 770 and not because it's running out of GPU memory. I've been able to run Simulator AND Apollo on a newer 8GB GPU without the Apollo modules crashing.

Put another way, if the problem is Apollo modules crashing, please try testing Apollo without running the simulator to see whether

[2020-07-02 12:08] nju044 opened #833 "OSM to apollo opendrive: resampling issue"
When we use map conversion feature to convert lanelet2 map to apollo opendrive format, we find the point number descrease to about 20% of the original lanelet2 map. Can anyone offer a solution to maintain the number of point while converting lanelet2 to apollo opendrive?
BTW, does LGSVL open the map conversion source code to users like me ? I don't know C#, so it's hard for me to locate where the

[2020-07-02 14:09] ashwinsarvesh commented on #831
Yes, I do not need to physically connect the camera to the simulator. Thank you for the information :)
I place the camera in front of the simulator and it captures the images from the simulated screen.
Next, I want this captured camera data to be sent to Apollo. Is it possible?

[2020-07-02 14:18] ashwinsarvesh opened #834 "Need suggestions for camera integration"
Hello all,
I need to use a real camera instead of the available virtual cameras in the simulator like ColorCameraSensor, DepthCameraSensor, and SegmentationCameraSensor.
I should place this camera in front of the simulation screen. It should capture the images and send it to apollo.(just like how it is sent now from the virtual cameras). Then apollo needs to process this data to do lane detection,

[2020-07-02 14:21] ashwinsarvesh commented on #834
I am using LGSVL simulator which is interfaced by ROS bridge to Apollo 3.0

[2020-07-02 14:58] luqiang21 commented on #833
@nju044 Our importers and exporters are implemented to provide a way to interface our internal data structure with other map formats. We can't guarantee the conversion to be very accurate due to information missing when importing from and exporting into different formats.

For importing, you can set both thresholds on the Map Importer window to be 0 to keep all points.  But Unity may crash to show

[2020-07-02 15:44] rongguodong commented on #834
It sounds nothing to do with simulator: you are using a physical camera, and you want to send its data to Apollo. You can refer to Apollo document to see how Apollo works with real camera. If you still have problems, you can raise an issue to Apollo.

[2020-07-02 23:24] lemketron commented on #831
That is a question for someone who works with Apollo. The Apollo perception module expects to read input from a camera topic ("/apollo/sensor/camera/..."). I'm not sure how Apollo would need to change to support your camera. I would suggest looking through the Apollo documentation to see if it helps you understand what you need to do -- but clearly those changes are with Apollo code and not with t

[2020-07-03 06:22] Doodle1106 opened #835 "Interpreting output from depth camera"
Hi,

I came into some questions that I hope you guys can help to clarify:

1. what is the meaning of each pixel of the output of depth camera? corresponding disparity or depth?
2. what is the intrinstic parameters(Cx, Cy, Fx, Fy) of the main camera? where can I modify them?
3. is it possible to add a  pair of stereo cameras with exact the same timestamps? is there a plugin for it?

Thanks for tryi

[2020-07-03 14:34] ashwinsarvesh commented on #831
Thank you for the guidance

[2020-07-03 14:35] ashwinsarvesh opened #836 "Camera data to the Perception module of Apollo 3.0"
Hello,

How does the camera data from the LGSVL is sent as input to the perception module of Apollo 3.0? What is the mechanism? I could not find it in the documentation.

[2020-07-03 18:03] lemketron commented on #836
The camera data (for Apollo 3.0) goes over the ROS bridge (not CyberRT as in Apollo 3.5 and later).  The topic that perception is looking at is likely "/apollo/sensor/camera/obstacle/front_6mm" as mentioned in [this document](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_apollo_2.5_perception_visualizer.md) (which is for 2.5 but there may be similar documents for 3.0). By

[2020-07-04 04:28] rongguodong commented on #835
First of all, concept in LGSVL Simulator are most from computer graphics context, instead of computer vision context. Second, the "depth" camera may be more accurately called "distance" camera, since it output "distance" (i.e. Euclidean distance between a 3D point to camera origin), not "depth" (or "z-value" in computer graphics). So the answers of your questions are:

1. Each pixel in the result

[2020-07-04 08:17] ashwinsarvesh commented on #836
Thank you. The Apollo guys replied this below:

**Processes**
The whole process is like below:

hardware -> driver -> topic(network) -> perception module
      ↑                   ↑
    camera              lgsvl

1. Lgsvl capture the picture then sent the picture from network by publish the topic to perception module.
2. Camera capture the picture by camera dirvers, and then publish the topic to p

[2020-07-04 08:20] ashwinsarvesh commented on #836
![image](https://user-images.githubusercontent.com/67329705/86508368-d3fab100-bddf-11ea-9f32-f32f65933b54.png)

Thank you
The Apollo guys replied as above

[2020-07-05 23:55] tgif73 opened #837 "ROS2 missing topics"
Hello,
I can't seem to subscribe to some of ROS2 messages. LG simulator is publishing lgsvl_msgs but I don't see those lgsvl_msgs although I've compiled those messages successfully. I'm using 2020.05 version with ROS2 dashing.
Is there something else I should do to show those messages?

Thanks for the help.

![image](https://user-images.githubusercontent.com/20801061/86544995-48b51480-bee0-11ea-8e

[2020-07-06 05:19] rongguodong commented on #837
Do you have corresponding sensors added to the ego? For example, if you want to publish BoundinggBox2D, you need to add GroundTruth2DSensor.

[2020-07-06 05:26] Doodle1106 commented on #835
Thanks @rongguodong.

[2020-07-06 05:26] #835 closed

[2020-07-06 05:51] tgif73 commented on #837
hm, I used default Ego with sample ROS2 json configuration (https://www.lgsvlsimulator.com/docs/autoware-auto-json-example/). The simulator UI shows sensors are publishing...though I don't see those topics on my subscribe node.

[2020-07-06 06:35] Doodle1106 opened #839 "Noisy point cloud recovered from depth image?"
Hi,

I tried to recover the point cloud from the depth camera and the result is noisy along the object edges.

Below is the depth image and recovered point cloud:

![depth](https://user-images.githubusercontent.com/26222197/86562381-31842e80-bf95-11ea-8fcb-5c470d6188bc.png)
![p3d](https://user-images.githubusercontent.com/26222197/86562402-38ab3c80-bf95-11ea-8c29-8f89929919c7.png)

following is a

[2020-07-06 06:50] wangludong opened #840 "Can not create waypoint."
Hi
I'd like to annotate a new map.
According to the manual here [https://www.lgsvlsimulator.com/docs/map-annotation/](url),
I try it with following steps:

1.Create an empty object and rename it to Map, then drag a MapHolder script to it.
![1](https://user-images.githubusercontent.com/167162/86563339-c76c8900-bf96-11ea-9098-ce2d173a855c.PNG)

2.Create an empty object under Map and rename it to Tra

[2020-07-06 11:08] dr563105 opened #841 "Unable to auto download maps, vehicles and simulations"
Hey all,

I was having issues with sensor HUD not appearing on the sim UI, so I deleted the lgsvl config folder. I then tried like I normally do a session and as always I expected it to auto download all the default vehicles, maps and simulations just as in a fresh run. Unfortunately, this is not happening. I tried already to restart the player. What am I doing wrong?

Attaching the player log for

[2020-07-06 11:59] dr563105 commented on #841
okay. I was using my own built simulators. I cleared config again and then used the default, built-in sim. Got downloaded.

[2020-07-06 11:59] #841 closed

[2020-07-06 12:08] dr563105 commented on #829
For my project I need the changes done in 2020.05. I can of course use 2020.03 but I need to do the changes manually. Could it be possible to give us a workaround, please, if the new release is sometime away? Also the car's hood looks weird when the camera image is taken, processed and evaluated. Can you check that as well, please?

![Screenshot from 2020-07-06 14-04-39_darkscreen](https://user-im

[2020-07-06 14:36] tekrajchhetri opened #842 "Unable to drive with autoware lgsvl in autonomous maps using vector maps"
Hi,

I am trying to drive autonomous mode using vector maps and lgsvl simulator following the instructions from https://www.lgsvlsimulator.com/docs/autoware-instructions/#driving-by-following-vector-map. I drove a little with keyboard but still I cannot see vehicle moving and driving autonomously.

Where I want to drive, path.
![image](https://user-images.githubusercontent.com/52251022/86604904-a7

[2020-07-06 16:10] rongguodong commented on #829
A temporary workaround is to use a distorted camera with all parameters set to 0:
{
    "type": "Color Camera",
    "name": "Main Camera",
    "params": {
      "Width": 1920,
      "Height": 1080,
      "Frequency": 15,
      "JpegQuality": 75,
      "FieldOfView": 50,
      "MinDistance": 0.1,
      "MaxDistance": 1000,
      "Topic": "/simulator/main_camera",
      "Frame": "camera",
      "Dis

[2020-07-06 16:55] dr563105 commented on #829
Thank you. It is little bright but not bright enough for the ego to drive without misjudging the lanes. Anyother change that could make it work? Can you also give me a fix so that the car's hood looks red than purple-ish, please? I'd like to record the simulation.